{% extends root_template if not publisher_theme else publisher_theme %}
{% import 'includes/macros.html' as MACRO %}

{% block navbar_right %}
        <form method="get" action="{{ url_for('world.ArticlesView:search') }}" class="navbar-form navbar-left">
        {# This will erase all other query parameters when submitted by HTML design #}
        <div class="input-group">
            <input class="form-control input" type="search" id='q' name='q'
                   placeholder="{{ _('Search') }} ..." value="{{ args['q']|escape }}">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </form>
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="row">
        {% for world in worlds %}
            <div class="col-md-6">
                <h3><a href="{{ url_for('world.ArticlesView:world_home', world_=world.slug) }}">{{ world.title }}</a></h3>
                <div class="well">{{ world.description|markdown }}</div>
                <dl class="dl-horizontal">
                    <dt>{{ _('Publisher') }}</dt>
                    <dd>{{ world.publisher }}</dd>
                </dl>
            </div>
            {% if loop.index is divisibleby 2 %}</div>
                <div class="row">{% endif %}
        {% endfor %}
        </div>
{% endblock %}
