{% extends "world/article_list.html" if not article_theme else article_theme %}

{% set article_type = article.type if article else args['fields'].get('type','default') %}
{% if article_form %}
    {% set type_form = article_form[article_type+'data'] %}
{% endif %}

{% if not article %}
    {% set tagline = world.title %}
    {% set title = 'New '+article_type+' article' %}
{% else %}
    {% set tagline = article.get_type_display() %}
    {% set title = article.title %}
{% endif %}

{% if request.args.has_key('markdown') %}
    {% set markdown=true %}
{% endif %}


{% block content_title %}{{ article.long_title() if article else (world or publisher) ~ ' - ' ~ title }}{% endblock %}


{% block sidebar %}
    {{ super() }}
    {% if article %}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['article'].authorize('edit')) %}
            {% include 'world/article_action_menu.html' %}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block cssimports %}
    <link href="{{ url_for('static', filename='js/trumbo/ui/trumbowyg.min.css') }}" rel="stylesheet">
    {# Add before parent so we can override trumbo's styles #}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" type="text/css" media="print"/>
{% endblock %}

{% block jsimports %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/autosize.min.js') }}"></script>
{% endblock %}


{% block opengraph %}
    {{ MACRO.OG_ARTICLE(article) }}
{% endblock %}

{% block middle %}

    {#### FORM ####}
    {% if article_form %}

        <form role="form" id='articleform' method="post" action="{{ action_url }}">
            {{ article_form.csrf_token }}

            {#
<div class="tab-content content-panel">
  <div class="tab-pane fade" id="focus"></div>

  <div class="tab-pane panel panel-default fade form-horizontal" id="metadata">
  {% for field in type_form %}
    {{ MACRO.FORM_FIELD_COLS(field, "col-sm-2", "col-sm-2") }}
  {% endfor %}
  </div>

  <div class="tab-pane panel panel-default fade row" id="relations">
  {% if article %}
    <div class="col-xs-7">
    <ul data-editable="relations" class="list-group relations" data-remote="{{url_for('.ArticleRelationsView:index', world=world.slug, article=article.slug, intent='post')}}">
      {% for articlerelation_form in article_form.relations %}
        {% include "world/articlerelation_item.html" %}
      {% endfor %}
    </ul>
    </div>
  {% endif %}
  </div>

  <div class="tab-pane panel panel-default fade row" id="details">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
    </div>
  </div>
</div>#}
            <div class="row">
                <div class="col-md-9 article_text">
                    <h1 class="article_header">
                        {{ article_form.title(autocomplete='off', class="form-control", placeholder=title) }}
                        <small>{{ tagline }}</small>
                    </h1>
                    {% if article_form.title.errors %}
                        <span class="help-block">{{ article_form.title.errors|join(' ') }}</span>
                    {% endif %}

                    {% if not markdown %}
                        <div id="content-editor"
                             placeholder="{{ _('Start writing here!') }}">{{ article_form.content.data|markdown|trim if article_form.content.data }}</div>
                    {% endif %}
                    {{ article_form.content(class="form-control", placeholder=_('Start writing here!')) }}

                </div>
                <div class="col-md-3 article_comment form-horizontal">
                    {#  <li class="active"><a href="#focus" data-toggle="tab"><span class="glyphicon glyphicon-eject"></span></a></li>
      <li><a href="#metadata" data-toggle="tab">{{ _('Metadata') }}</a></li>
      <li><a href="#relations" data-toggle="tab"><span class="glyphicon glyphicon-transfer"></span> {{ _('Relations') }}</a></li>
      <li><a href="#details" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> {{ _('Details') }}</a></li>
    #}
                    {% if not article or not article.is_published() %}
                        <button type="submit" name="status" value="published"
                                class="btn btn-sm btn-success btn-block">{{ _('Save and publish') }}</button>
                    {% endif %}

                    <button type="submit" class="btn btn-sm btn-primary btn-block">{{ _('Save changes') }}</button>

                    {{ MACRO.FORM_FIELD(article_form.featured, groupclass='oneline-checkbox') }}
                    {{ MACRO.FORM_FIELD_COLS(article_form.status, 'col-sm-3', 'col-sm-9', controlclass=' input-sm') }}
                    {{ MACRO.FORM_FIELD_COLS(article_form.created_date, 'col-sm-3', 'col-sm-9', controlclass=' input-sm flatpickr',
                        data_enabletime='true', data_enableseconds='true', data_timeFormat="h:i:S") }}

                    {{ MACRO.FORM_FIELD_COLS(article_form.type, 'col-sm-3', 'col-sm-9', controlclass=' input-sm') }}
                    {{ MACRO.FORM_FIELD_COLS(article_form.world, 'col-sm-3', 'col-sm-9', controlclass=' input-sm') }}
                    {{ MACRO.FORM_FIELD_COLS(article_form.license, 'col-sm-3', 'col-sm-9', controlclass=' input-sm') }}
                    {{ MACRO.FORM_FIELD_COLS(article_form.theme, 'col-sm-3', 'col-sm-9', controlclass=' input-sm') }}
                    {{ MACRO.FORM_FIELD(article_form.editors,controlclass=' input-sm selectize') }}
                    {{ MACRO.FORM_FIELD(article_form.readers,controlclass=' input-sm selectize') }}

                    {{ article_form.images(class='hide') }}


                    {% if g.user.id %}
                        <input type="hidden" name="creator" value="{{ g.user.id }}"/>
                    {% endif %}

                </div>
            </div>
        </form>

        {#### PAGE ####}
    {%- else -%}
        <h1 class="article_header">{{ title }}
            <small class="article_tagline">{{ tagline }}</small>
        </h1>
        <ul class="nav nav-tabs content-menu margin-below">
            {% set articlegroups = article.articlegroups|list %}
            <li class="content-menu-info" title="{{ _('Creator') }}"><span class="glyphicon glyphicon-user"></span>
                {%- if article.creator %}
                    {% if access_policy['user'].authorize('view') %}
                        <a href="{{ url_for('social.user_view', user=article.creator.identifier()) }}">{{ article.creator }}</a>
                    {% else %}
                        {{ article.creator }}{% endif %}
                {%- else -%}System{%- endif -%}</li>
            <li class="content-menu-info" title="{{ _('Created') }}"><span
                    class="glyphicon glyphicon-calendar"></span> {{ article.created_date.strftime('%Y-%m-%d') }}</li>
            {% if articlegroups or g.user %}
                <li class="content-menu-info" title="{{ _('Visibility') }}"><span
                        class="glyphicon glyphicon-lock"></span> {{ articlegroups|join(',') if articlegroups else 'All' }}
                </li>
            {% endif %}
            {% if g.user %}
                <li class="content-menu-info" title="{{ _('Relations to other articles') }}"><i
                        class="glyphicon glyphicon-export"></i> {{ article.relations|length }}</li>
                <li class="content-menu-info" title="{{ _('Other articles relation to this article') }}"><i
                        class="glyphicon glyphicon-import"></i> {{ 0 }}</li>
            {% endif %}
            {% if not article.is_published() %}
                <li class="content-menu-info" title="{{ _('Unpublished') }}"><span
                        class="glyphicon glyphicon-pencil"></span> {{ _('Print') }}</li>
            {% endif %}
            <li class="content-menu-info" title=""><a href="javascript:window.print()"><span
                    class="glyphicon glyphicon-print"></span></a></li>
        </ul>

        <ul class="list-inline" style="margin-bottom: 0px;margin-left: -14px">
            {%- if article.type=='place' -%}
                <li><span class="nav-header"
                          style="display:inline">{{ _('Lon') }}</span>{{ article.placedata.coordinate_x }}</li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Lat') }}</span>{{ article.placedata.coordinate_y }}</li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Type') }}</span>{{ article.placedata.location_type }}</li>
            {%- elif article.type=='image' -%}
                <li><span class="nav-header"
                          style="display:inline">{{ _('Type') }}</span>{{ article.imagedata.mime_type }}</li>
                <li><span class="nav-header" style="display:inline">{{ _('URL') }}</span><a
                        href="{{ article.imagedata.url }}">{{ article.imagedata.url|truncate(30, true) }}</a></li>
            {%- elif article.type=='event' -%}
                <li><span class="nav-header"
                          style="display:inline">{{ _('Started') }}</span>{{ article.eventdata.from_date }}</li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Ended') }}</span>{{ article.eventdata.to_date }}</li>
            {%- elif article.type=='person' and article.persondata -%}
                <li><span class="nav-header" style="display:inline">{{ _('Born') }}</span>{{ article.persondata.born }}
                </li>
                <li><span class="nav-header" style="display:inline">{{ _('Died') }}</span>{{ article.persondata.died }}
                </li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Gender') }}</span>{{ article.persondata.gender_name() }}</li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Occupation') }}</span>{{ article.persondata.occupation }}</li>
            {%- endif -%}
        </ul>
        </div>

        <div class="row">
            <div class="col-md-9 article_text zoom-container">
                {{ article.content|markdown if article.content else _("Content") }}
            </div>
            {#            <div class="col-md-3 article_comment">#}
            {#                <!--Example comment-->#}
            {#            </div>#}
        </div>

        {% if article.type == 'blogpost' %}
            {% include 'includes/disqus.html' %}
        {% endif %}

    {% endif %} {% endblock %}

{% block final %}
    {# Add trumbowyg before as it's used by app.js #}
    {% include 'includes/trumbowyg-icons.html' %}
    <script src="{{ url_for('static', filename='js/trumbo/trumbowyg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmlparser.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upndown.bundle.min.js') }}"></script>

    {#    <script src="{{ url_for('static', filename='js/trumbo/plugins/fileselect/trumbowyg.fileselect.js') }}"></script>#}
    {#    <script src="{{ url_for('static', filename='js/trumbo/plugins/upload/trumbowyg.upload.js') }}"></script>#}

    {% if article %}
        {{ MACRO.CONFIRM_MODAL(article.title, url_for('world.ArticlesView:delete', publisher_=publisher.slug, world_=world.slug, id=article.slug, method="DELETE"), _('delete') ) }}
    {% endif %}
    {{ super() }}

    <script>
        {% if article_form %}

            autosize($('textarea'))

            var image_select_url = "{{ url_for('assets.FileAssetsView:index', out='fragment', intent='patch', view='card',
                type='image', choice='multiple')|safe }}"
            // Load required scripts.
            {% if not markdown %}
                var und = new upndown();
                var $textarea = $('#content')
                var $editor = $('#content-editor');
                var options = {}
                $.each($('#images').find('option'), function (i, el) {
                    options[el.text.trim()] = el.value;
                })
                $editor.trumbowyg({
                            btns: ['strong', 'em', '|', 'formatting', 'unorderedList', 'orderedList', 'link', ['fileselect', 'wide', 'center', 'portrait'], 'fullscreen'],
                            autogrow: true,
                            removeformatPasted: true,
                            image_select_url: image_select_url
                        })
                        .on('tbwchange', function (e) {
                            und.convert($editor.trumbowyg('html'), function (err, markdown) {
                                if (err) {
                                    console.log(err);
                                } else {
                                    $textarea.val(markdown);
                                    autosize.update($textarea); // resize Textarea
                                    var selection = []
                                    markdown.replace(/!\[.*\]\(.*\/([^)]+)\)/g, function (string, match) {
                                        selection.push(options[match]);
                                    });
                                    $('#images').val(selection)
                                }
                            })

                        })
                $editor.trigger('tbwchange')

            {% endif %}
        {% endif %}
    </script>
{% endblock %}