{% extends "world/article_list.html" if not article_theme else article_theme %}

{% set article_type = article.type if article else args['fields'].get('type','default') %}
{% if article_form %}
    {% set type_form = article_form[article_type+'data'] %}
{% endif %}

{% if not article %}
    {% set tagline = world.title %}
    {% set title = _('New %(type)s article', type=''+article_type) %}
{% else %}
    {% set tagline = article.get_type_display() %}
    {% set title = article.title %}
{% endif %}


{#{% block header_class %}{% endblock %}#}


{% block breadcrumbs %}
    {% if world.slug=='meta' %}
        {% if article_type=='blogpost' %}
            {{ MACRO.BREADCRUMBS(
            (url_for('world.ArticlesView:publisher_home'), _('Home')),
            (url_for('world.ArticlesView:blog', world_=world.slug), _('Blog')),
            ('', title)
            ) }}
        {% else %}
            {{ MACRO.BREADCRUMBS(
            (url_for('world.ArticlesView:publisher_home'), _('Home')),
            ('', title)
            ) }}
        {% endif %}
    {% else %}
        {% if article_type=='blogpost' %}
            {{ MACRO.BREADCRUMBS(
            (url_for('world.ArticlesView:publisher_home'), _('Home')),
            (url_for('world.WorldsView:index'), _('Game Worlds')),
            (url_for('world.ArticlesView:world_home', world_=world.slug), world.title),
            (url_for('world.ArticlesView:blog', world_=world.slug), _('Blog')),
            ('', title)
            ) }}
        {% else %}
            {{ MACRO.BREADCRUMBS(
            (url_for('world.ArticlesView:publisher_home'), _('Home')),
            (url_for('world.WorldsView:index'), _('Game Worlds')),
            (url_for('world.ArticlesView:world_home', world_=world.slug), world.title),
            ('', title)
            ) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block actionbar %}
    {% if args.get('intent', None) == 'patch' %}
        {# We are editing #}
        {{ MACRO.SAVE_BUTTON('articleform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('world.ArticlesView:get', id=article.slug, world_=world.slug)) }}
        {{ MACRO.DELETE_BUTTON() }}
    {% elif args.get('intent', None) == 'post' %}
        {# We are creating new resource #}
        {{ MACRO.SAVE_BUTTON('articleform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('world.ArticlesView:get', id=article.slug, world_=world.slug)) }}
    {% else %}
        {# We are viewing #}
        {% include "world/new_article_menu.html" %}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['article'].authorize('edit', res=article)) %}
            {{ MACRO.EDIT_BUTTON(url_for('world.ArticlesView:get', id=article.slug,
            world_=world.slug, intent='patch')) }}
            {{ MACRO.DELETE_BUTTON() }}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block header_class -%}
    {% if article and article.get_header_image %}page-header-hero{% endif %}
{%- endblock %}

{% block cssimports %}
    {{ super() }}
    {% if article and article.get_header_image %}
    <style>
        .page-header-hero {
            background-image: url({{ url_for('image', slug = article.get_header_image.slug)}})
        }
    </style>
    {% endif %}
{% endblock %}


{% block opengraph %}
    {{ MACRO.OG_ARTICLE(article) }}
{% endblock %}

{% block header %}
    {% if args.get('intent', None) %}
        <form id="articleform" method="post" action="{{ action_url }}">
        {{ article_form.csrf_token }}
    {% endif %}
    {{ super() }}
{% endblock %}

{% block post_content %}
    {% if args.get('intent', None) %}
        </form>
    {% endif %}
{% endblock %}

{% block header_title %}
    {% if args.get('intent', None) %}
        <h1 class="col-lg-offset-2 col-lg-10 col-md-12 article-header">
            {{ article_form.title(autocomplete='off', class="form-control", placeholder=title) }}
        </h1>
        {% if article_form.title.errors %}
            <span class="help-block">{{ article_form.title.errors|join(' ') }}</span>
        {% endif %}
    {%- else -%}
        {{ super() }}
    {% endif %}
{% endblock %}

{#### PAGE ####}

{% block content_title %}{{ title }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block intro_class %}col-lg-2 col-md-12 col-sm-10 intro-aside{% endblock %}
{% block content_class %}col-lg-7 col-md-8 col-sm-10 content{% endblock %}

{% block intro %}
    {% if not args.get('intent', None) %}
        <ul class="nav imprint">
            <li title="{{ _('Article type') }}"><span
                    class="glyphicon glyphicon-{{ MACRO.article_glyphicons[article.type] }}"></span>
                <a>{{ article.get_type_display() }}</a>
            </li>

            {% set articlegroups = article.editors + article.readers %}
            <li title="{{ _('Creator') }}"><span class="glyphicon glyphicon-user"></span>
                {%- if article.creator %}
                    {% if access_policy['user'].authorize('view', res=article.creator) %}
                        <a href="{{ url_for('social.UsersView:get', id=article.creator.identifier()) }}">{{ article.creator }}</a>
                    {% else %}
                        <a>{{ article.creator }}</a>
                    {% endif %}
                {%- else -%}<a>{{ _('Admin') }}</a>
                {%- endif -%}</li>
            <li title="{{ _('Created') }}"><span
                    class="glyphicon glyphicon-calendar"></span>
                <a>{{ article.created_date|dateformat(format='short') }}</a>
            </li>
            {% if articlegroups or g.user %}
                <li title="{{ _('Visibility') }}"><span
                        class="glyphicon glyphicon-{{ MACRO.status_glyphicons[article.status] }}"></span>
                    <a>{{ article.get_status_display() }}</a>
                    <small>{{ articlegroups|join(', ') if articlegroups else _('Anyone') }}</small>
                </li>
            {% endif %}
            {% if article.tags %}
                <li title="{{ _('Tags') }}"><span
                        class="glyphicon glyphicon-tag"></span> {%- for t in article.tags -%}
                    <a href="{{ url_for('world.ArticlesView:index', world_=world.slug, tags=t) }}"><span
                            class="badge">{{ t }}</span></a>
                {%- endfor -%}</li>
            {% endif %}
            <li title="{{ _('Share') }}" class="social">{% include "includes/social_icons.html" %}</li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}

    {% if args.get('intent', None) %}
        <article>
            {{ article_form.content(class="form-control content-editor", placeholder=_('Start writing here!')) }}
            <small class="textarea-hint">{% trans %}You can format using{% endtrans %} <a
                    href="http://commonmark.org/help/" target="_blank">Markdown</a></small>
        </article>
    {% else %}
        <article class="article-text">
            {{ article.content|default(_('No data'), true)|markdown }}
            {% if article.type == 'blogpost' %}
                {% include 'includes/disqus.html' %}
            {% endif %}
        </article>

    {% endif %}
    {% if args.get('intent', None) %}
        <ul class="action-buttons action-buttons-footer">
            {{ self.actionbar() }}
        </ul>
    {% endif %}
{% endblock %}

{% block asides %}
    {% if args.get('intent', None) %}
        <div class="article-aside form-horizontal">
            {#  <li class="active"><a href="#focus" data-toggle="tab"><span class="glyphicon glyphicon-eject"></span></a></li>
      <li><a href="#metadata" data-toggle="tab">{{ _('Metadata') }}</a></li>
      <li><a href="#relations" data-toggle="tab"><span class="glyphicon glyphicon-transfer"></span> {{ _('Relations') }}</a></li>
      <li><a href="#details" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> {{ _('Details') }}</a></li>
    #}
            {#            {% if not article or not article.is_published() %}#}
            {#                <button type="submit" name="status" value="published"#}
            {#                        class="btn btn-sm btn-success btn-block">{{ _('Save and publish') }}</button>#}
            {#            {% endif %}#}
            {##}
            {#            <button type="submit" class="btn btn-sm btn-primary btn-block">{{ _('Save changes') }}</button>#}

            {{ MACRO.FORM_FIELD(article_form.type, labelclass='col-sm-3', controlwrap='col-sm-9', controlclass='input-sm') }}


            {{ MACRO.FORM_FIELD(article_form.status, labelclass='col-sm-3', controlwrap='col-sm-9', controlclass='input-sm') }}

            {{ MACRO.FORM_FIELD(article_form.created_date, labelclass='col-sm-3', controlwrap='col-sm-9', controlclass='input-sm flatpickr-datetime',
                        data_enabletime='true', data_enableseconds='true', data_timeFormat="h:i:S") }}

            {{ MACRO.FORM_FIELD(article_form.publisher, labelclass='col-sm-3', controlwrap='col-sm-9', controlclass='input-sm') }}
            {{ MACRO.FORM_FIELD(article_form.world, labelclass='col-sm-3', controlwrap='col-sm-9', controlclass='input-sm') }}
            {{ MACRO.FORM_FIELD(article_form.license, labelclass='col-sm-3', controlwrap='col-sm-9', controlclass='input-sm') }}
            {{ MACRO.FORM_FIELD(article_form.theme, labelclass='col-sm-3', controlwrap='col-sm-9', controlclass='input-sm') }}
            {{ MACRO.FORM_FIELD(article_form.tags, labelclass='col-sm-3', controlwrap='col-sm-12', controlclass=' input-sm selectize-tags col-sm-12') }}

            {{ MACRO.FORM_FIELD(article_form.editors, labelclass='col-sm-3', controlwrap='col-sm-12', controlclass=' input-sm selectize col-sm-12') }}
            {{ MACRO.FORM_FIELD(article_form.readers, labelclass='col-sm-3', controlwrap='col-sm-12',
                controlclass=' input-sm selectize col-sm-12', helptext=_('Empty means public read access')) }}

            {{ MACRO.FORM_FIELD(article_form.sort_priority, labelclass='col-sm-6', controlwrap='col-sm-6') }}

            {{ MACRO.FORM_FIELD(article_form.images, controlclass="fileselect", labeltext=_('Thumbnail'), data_endpoint=
               url_for('assets.FileAssetsView:file_selector', type='image', choice='multiple'), data_class='image feature-images') }}

            <small><em><a target="_blank" href="{{ url_for('world.styleguide') }}">{{_('Help on format and image sizes')}}</a></em></small>
            {% if g.user.id %}
                <input type="hidden" name="creator" value="{{ g.user.id }}"/>
            {% endif %}

        </div>
    {% else %}
        <ul class="list-inline" style="margin-bottom: 0px;margin-left: -14px">
            {%- if article.type=='place' -%}
                <li><span class="nav-header"
                          style="display:inline">{{ _('Lon') }}</span>{{ article.placedata.coordinate_x }}</li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Lat') }}</span>{{ article.placedata.coordinate_y }}</li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Type') }}</span>{{ article.placedata.location_type }}</li>
            {%- elif article.type=='image' -%}
                <li><span class="nav-header"
                          style="display:inline">{{ _('Type') }}</span>{{ article.imagedata.mime_type }}</li>
                <li><span class="nav-header" style="display:inline">{{ _('URL') }}</span><a
                        href="{{ article.imagedata.url }}">{{ article.imagedata.url|truncate(30, true) }}</a></li>
            {%- elif article.type=='event' -%}
                <li><span class="nav-header"
                          style="display:inline">{{ _('Started') }}</span>{{ article.eventdata.from_date }}</li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Ended') }}</span>{{ article.eventdata.to_date }}</li>
            {%- elif article.type=='person' and article.persondata -%}
                <li><span class="nav-header" style="display:inline">{{ _('Born') }}</span>{{ article.persondata.born }}
                </li>
                <li><span class="nav-header" style="display:inline">{{ _('Died') }}</span>{{ article.persondata.died }}
                </li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Gender') }}</span>{{ article.persondata.gender_name() }}</li>
                <li><span class="nav-header"
                          style="display:inline">{{ _('Occupation') }}</span>{{ article.persondata.occupation }}</li>
            {%- endif -%}
        </ul>
    {% endif %}
{% endblock %}

{% block final_html %}
    {{ super() }}
    {% if article %}
        {{ MACRO.CONFIRM_MODAL(article.title, url_for('world.ArticlesView:delete', world_=world.slug, id=article.slug, method="DELETE"), _('delete') ) }}
    {% endif %}
{% endblock %}