{% extends "world/article_list.html" if not article_theme else article_theme %}

{% set article_type = article.type if article else args['fields'].get('type','default') %}
{% if article_form %}
  {% set type_form = article_form[article_type+'data'] %}
{% endif %}

{% if not article %}
  {% set tagline = world.title %} {% set title = 'New '+article_type+' article' %}
{% else %}
  {% set tagline = article.get_type_display() %} {% set title = article.title %}
{% endif %}

{% if request.args.has_key('markdown') %}
 {% set markdown=true %}
{% endif %}

{% block sidebar %}
{{super()}}
{% if intent!='post' %}
{% call(privileged) MACRO.AUTHORIZED(access_policy['article'].authorize('edit')) %}
{% include 'world/article_action_menu.html' %}
{% endcall %}
{% endif %}
{% endblock %}

{% block cssimports %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/print.css')}}" type="text/css" media="print" />
{% endblock %}

{% block jsimports %}
{{ super() }}
<script src="{{ url_for('static', filename='js/autosize.min.js') }}"></script>
{% endblock %}


{% block opengraph %}
{{ MACRO.OG_ARTICLE(article) }}
{% endblock %}

{% block middle %}

{#### FORM ####}
{% if article_form %}

<form role="form" id='articleform' method="post" action="{{ action_url }}">
    {{ article_form.csrf_token }}
    {{ article_form.title(style="display:none;") }}
    <h1 class="article_header">
        <span id="header" class="contenteditable" contenteditable="true">{{ title }}</span>
        <small>{{ tagline }}</small>
  </h1>
{% if article_form.title.errors %}
    <span class="help-block">{{ article_form.title.errors|join(' ') }}</span>
{% endif %}
{#
<div class="tab-content content-panel">
  <div class="tab-pane fade" id="focus"></div>

  <div class="tab-pane panel panel-default fade form-horizontal" id="metadata">
  {% for field in type_form %}
    {{ MACRO.FORM_FIELD_COLS(field, "col-sm-2", "col-sm-2") }}
  {% endfor %}
  </div>

  <div class="tab-pane panel panel-default fade row" id="relations">
  {% if article %}
    <div class="col-xs-7">
    <ul data-editable="relations" class="list-group relations" data-remote="{{url_for('.ArticleRelationsView:index', world=world.slug, article=article.slug, intent='post')}}">
      {% for articlerelation_form in article_form.relations %}
        {% include "world/articlerelation_item.html" %}
      {% endfor %}
    </ul>
    </div>
  {% endif %}
  </div>

  <div class="tab-pane panel panel-default fade row" id="details">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
    </div>
  </div>
</div>#}
<div class="row">
  <div class="col-md-9 article_text">
    {{ article_form.content(**{'rows':article_form.content.data|rows, 'class':'hide' if not markdown else '' }) }}
    {% if not markdown %}
    <div id="content-editor" class="content{{' '}}" contenteditable="true"><p class="hide" contenteditable="false"></p>
    {{ article_form.content.data|markdown if article_form.content.data else '<p><br></p>'|safe}}
    </div>
    <span id="hinter"></span>
    <div class="bubble-bar" id="text-options">
      <div class="options">
        <span class="no-overflow">
          <span class="lengthen ui-inputs">
            <button type="button" class="url"><span class="glyphicon glyphicon-link"></span></button>
            <input class="url-input" type="text" placeholder="{{ _('Type or Paste URL here') }}"/>
            <button type="button" class="bold">b</button>
            <button type="button" class="italic">i</button>
            <button type="button" class="quote">&rdquo;</button>
          </span>
        </span>
      </div>
    </div>
    <div class="bubble-bar" id="margin-options">
      <div class="options ui-inputs">
        <a href="#" data-target=""><span class="glyphicon glyphicon-picture"></span></a>
      </div>
    </div>
    {% endif %}

  </div>
  <div class="col-md-3 article_comment">
    {#  <li class="active"><a href="#focus" data-toggle="tab"><span class="glyphicon glyphicon-eject"></span></a></li>
      <li><a href="#metadata" data-toggle="tab">{{ _('Metadata') }}</a></li>
      <li><a href="#relations" data-toggle="tab"><span class="glyphicon glyphicon-transfer"></span> {{ _('Relations') }}</a></li>
      <li><a href="#details" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> {{ _('Details') }}</a></li>
    #}
      {% if not article or not article.is_published() %}
      <button type="submit" name="status" value="published" class="btn btn-sm btn-success btn-block">{{ _('Save and publish') }}</button>
      {% endif %}

      <button type="submit" class="btn btn-sm btn-primary btn-block">{{ _('Save changes') }}</button>

    {{ MACRO.FORM_FIELD(article_form.description, controlclass=' input-sm fixed-width')}}
    {{ MACRO.FORM_FIELD(article_form.featured, groupclass='oneline-checkbox') }}
    {{ MACRO.FORM_FIELD(article_form.status, controlclass=' input-sm') }}
    {{ MACRO.FORM_FIELD(article_form.created_date, controlclass=' input-sm') }}
    {{ MACRO.FORM_FIELD(article_form.type, controlclass=' input-sm') }}
    {{ MACRO.FORM_FIELD(article_form.world,controlclass=' input-sm') }}
    {{ MACRO.FORM_FIELD(article_form.license,controlclass=' input-sm') }}
    {{ MACRO.FORM_FIELD(article_form.theme,controlclass=' input-sm') }}

    <input type="hidden" name="feature_image" id="feature_image" value="" />
    {% if g.user.id %}
      <input type="hidden" name="creator" value="{{g.user.id}}" />
    {% endif %}

  </div>
</div>
</form>

{#### PAGE ####}
{%- else -%}
<h1 class="article_header">{{ title }}
    <small>{{ tagline }}</small>
</h1>
<ul class="nav nav-tabs content-menu">
  {% set articlegroups = article.articlegroups|list %}
  <li class="content-menu-info" title="{{ _('Creator') }}"><span class="glyphicon glyphicon-user"></span>
    {%- if article.creator %}
    {% if MACRO.AUTHORIZED(access_policy['user'].authorize('view')) %}<a href="{{url_for('social.user_view', user=article.creator.identifier())}}">{{article.creator}}</a>{% else %}{{article.creator}}{%endif%}
    {%- else -%}System{%- endif -%}</li>
  <li class="content-menu-info" title="{{ _('Created') }}"><span class="glyphicon glyphicon-calendar"></span> {{article.created_date.strftime('%Y-%m-%d') }}</li>
  {% if articlegroups or g.user %}
  <li class="content-menu-info" title="{{ _('Visibility') }}"><span class="glyphicon glyphicon-lock"></span> {{ articlegroups|join(',') if articlegroups else 'All' }}</li>
  {% endif %}
  {% if g.user %}
  <li class="content-menu-info" title="{{ _('Relations to other articles') }}"><i class="glyphicon glyphicon-export"></i> {{ article.relations|length }}</li>
  <li class="content-menu-info" title="{{ _('Other articles relation to this article') }}"><i class="glyphicon glyphicon-import"></i> {{ 0 }}</li>
  {% endif %}
  {% if not article.is_published() %}
  <li class="content-menu-info" title="{{ _('Unpublished') }}"><span class="glyphicon glyphicon-pencil"></span> {{ _('Print') }}</li>
  {% endif %}
<li class="content-menu-info" title=""><a href="javascript:window.print()"><span class="glyphicon glyphicon-print"></span></a></li>
</ul>

<ul class="list-inline" style="margin-bottom: 0px;margin-left: -14px">
{%- if article.type=='place' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Lon') }}</span>{{article.placedata.coordinate_x}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Lat') }}</span>{{article.placedata.coordinate_y}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Type') }}</span>{{article.placedata.location_type }}</li>
{%- elif article.type=='image' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Type') }}</span>{{article.imagedata.mime_type}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('URL') }}</span><a href="{{article.imagedata.url}}">{{article.imagedata.url|truncate(30, true)}}</a></li>
{%- elif article.type=='event' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Started') }}</span>{{article.eventdata.from_date}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Ended') }}</span>{{article.eventdata.to_date}}</li>
{%- elif article.type=='person' and article.persondata -%}
  <li><span class="nav-header" style="display:inline">{{ _('Born') }}</span>{{article.persondata.born}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Died') }}</span>{{article.persondata.died}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Gender') }}</span>{{article.persondata.gender_name() }}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Occupation') }}</span>{{article.persondata.occupation}}</li>
{%- endif -%}
</ul>
</div>

<div class="row">
  <div class="col-md-9 article_text">
    {{ article.content|markdown if article.content else _("Content")}}
  </div>
  <div class="col-md-3 article_comment">
    <!--Example comment-->
  </div>
</div>

{% if article.type == 'blogpost' %}
{% include 'includes/disqus.html' %}
{% endif %}

{% endif %} {% endblock %}

{% block final %}
{% if article %}
{{ MACRO.DELETE_MODAL(article.title, url_for('world.ArticlesView:delete', publisher_=publisher.slug, world_=world.slug, id=article.slug, method="DELETE") ) }}
{% endif %}
{{super()}}

<script>
{% if article_form %}

  autosize($('textarea'))

  var imageselect_options = {
    csrf_token: "{{ csrf_token() }}",
    image_list_url: "{{url_for('assets.imageasset_list', order_by='-created_date', per_page='all', out='fragment')}}",
    image_upload_url: "{{url_for('assets.imageasset_new', out='json')}}"
  }

  // Load required scripts.
  {% if not markdown %}
  head.js(
    "{{ url_for('static', filename='js/utils.js') }}",
    "{{ url_for('static', filename='js/editor.js') }}",
        function(){ editor.init(); }
      );
      $('#content-editor a.lightbox').imageselect(imageselect_options);

      $('.bubble-bar .ui-inputs a').click(function(e) {
        var $block = $(editor.getActiveBlock());
        var $existing_insert = $('#insert_image_asset');
        if ($existing_insert.length) {
            $existing_insert.next('.image-selector').remove();
            $existing_insert.remove();
        }
        var $a = $('<a id="insert_image_asset" class="lightbox"><img src=""></a>');
        $block.before($a);
        $a.imageselect(imageselect_options);
      })
  {% endif %}


  $('#articleform').one('change', function(e) {
    console.log('Form has changed')
    $(window).on('beforeunload', function() {
      return "{{_('You have unsaved changes')}}";
    });
  })

	$(document).ready(
			function() {
        {% if not markdown %}
        $ta = $('#content')
        $ta.parents('form').on('submit', function(e) {
              $(window).off('beforeunload') // remove warning
              $('#content-editor .image-selector').replaceWith(function() {
                return $(this).find('.image-link')
              })
              var text = editor.exportText()
              $ta.val(text);
              var image_match = text.match(/!\[.*?\]\((.*?\/)+(.*)\)/)
              if (image_match && image_match.length > 2 && image_match[2]) {
                $('#feature_image').val(image_match[2])
              }
            }
        );
        {% endif %}
        //----------------------------------
        $('#header')
          .blur(function(e) {
            $('#title').val(this.textContent); })
          .on('paste', function(e) {
            $this = $(this)
            setTimeout(function() {
              $this.html($this.text()); // clean the html
            }, 100);})
          .focus();

        /*
        var latlng = [parseFloat($('#placedata-coordinate_x').val()), parseFloat($('#placedata-coordinate_y').val())]

        var map = L.map('map', {
          center: [-77, 660],
          zoom: 1,
          minZoom: 0,
          maxZoom: 1
        });
        L.tileLayer('//googledrive.com/host/0Bybs2FIAp3ZTUFd5RHgwS0FCU3M/map/mundana_stor_karta_{z}_{x}_{y}.png', {
          attribution: 'Map data &copy; Neogames',
        minZoom: 0,
        maxZoom: 1,
        noWrap: true,
        continuousWorld: true,
        }).addTo(map);

        var marker
        if (!isNaN(latlng[0]) && !isNaN(latlng[1])) {
          marker = L.marker(latlng).addTo(map);
          map.panTo(latlng);
        }

        function onMapClick(e) {
          $('#placedata-coordinate_x').val(e.latlng.lat);
          $('#placedata-coordinate_y').val(e.latlng.lng);
          if(!marker) {
            marker = L.marker(e.latlng).addTo(map);
          } else {
            marker.setLatLng(e.latlng);
          }
        }

        map.on('click', onMapClick);
        */
			});
{% endif %}
</script>
{% endblock %}