{% extends "world/world_item.html" if world else "world/_page.html" %}

{% set groups = articles|dummygrouper %}

{% block cssimports %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" type="text/css" media="print"/>
    <style media="print">
        .product {
            border-radius: 0;
            box-shadow: none;
            border: 1px solid gray;
            width: 230px;
            height: 324px;
            font-size: 11px;
        }

        .product-cover {
            max-height: 220px;
        }

        .product h3 {
            font-size: 14px;
            margin-bottom: 1px;
            margin-top: 3px;
        }

        .container, .content {
            padding: 0;
            margin: 0;
            float: none;
            width: 100%;
        }

        a {
            color: inherit;
        }

        .product:nth-child(9) {
            page-break-after: always;
        }

        .pagebreak {

            page-break-after: always;
        }

        .product-details, .page-header {
            display: none;
        }

    </style>
{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home', pub_host=publisher.slug), _('Home')),
        (url_for('world.WorldsView:index', pub_host=publisher.slug), _('Game Worlds')),
        (url_for('world.ArticlesView:world_home', pub_host=publisher.slug, world_=world.slug), world.title),
        (url_for('world.ArticlesView:index', pub_host=publisher.slug, world_=world.slug), _('Articles'))
    ) }}{% endblock %}

{% block asides %}{{ super() }}
    {% if filter_options %}
        {{ MACRO.LIST_CONTROLS(model, args, ['title', 'creator', 'type', 'created_date']) }}

        <h5>{% trans %}By world{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['world'] %}
                {{ MACRO.ARG_LINK(opt[1],opt[0], combine=True) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By type{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['type'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By created date{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['created_date'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>

        <h5>{% trans %}Search text{% endtrans %}</h5>
        <form method="get">
            {# This will erase all other query parameters when submitted by HTML design #}
            <div class="input-group{{ ' has-success' if args['q'] }}">
                <input class="form-control input-sm" type="search" id='q' name='q'
                       placeholder="{{ _('Text') }}" value="{{ args['q']|escape }}">
                <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="submit">{% trans %}Search{% endtrans %}</button></span>
            </div>
        </form>
        </span>
    {% endif %}
{% endblock %}


{% block content %}
    <div>
        {% for group in groups %}
            {% if group.grouper %}
                <h3>{{ _(group.grouper|capitalize) }}</h3>
            {% endif %}
            {% if not group.list %}
                <div class="jumbotron text-center">
                    <h2>{{ _('No articles found') }}</h2>
                </div>
            {% elif args['view'] == 'list' %}

                {% for article in group.list %}
                    <a class="blog-header"
                       href="{{ url_for('world.ArticlesView:get', pub_host=publisher.slug, world_=world.slug, id=article.slug, intent='patch') }}">
                        <h3>{{ article.title }}</h3></a>
                    <ul class="list-inline article-meta" style="margin-bottom: 0">
                        <li title="{{ _('Created') }}"><span
                                class="glyphicon glyphicon-calendar"></span> {{ article.created_date|dateformat(format='short') }} {{ _('by') }}
                        </li>
                        <li title="{{ _('Creator') }}">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ article.creator if article.creator else _('Admin') }}
                        </li>
                    </ul>
                    <div class="media">
                        {% if article.get_feature_image %}
                            <a class="pull-left"
                               href="{{ url_for('world.ArticlesView:get', pub_host=publisher.slug, world_=world.slug, id=article.slug, intent='patch') }}">
                                <img class="media-object"
                                     src="{{ url_for('image_thumb', slug=article.get_feature_image.slug) }}">
                            </a>
                        {% endif %}
                        <div class="media-body">
                            {% if article.description %}{{ article.description|markdown }}{% else %}
                                {{ article.content[0:500]|markdown|striptags|truncate }}{% endif %}
                            <a href="{{ url_for('world.ArticlesView:get', pub_host=publisher.slug, world_=world.slug, id=article.slug) }}"><em
                                    style="white-space: nowrap;">{{ _('Read more') }}</em></a>
                        </div>
                    </div>
                {% endfor %}

            {% elif args['view'] == 'card' %}
                <div class="cards">
                    {% for article in group.list %}
                        <div class="card"
                                {%- if article.get_feature_image -%}
                             style="background: url({{ url_for('image_thumb', slug=article.get_feature_image.slug) }}) center top/cover;"
                                {%- endif -%}>
                            <div class="card-text">
                                <h3 class="card-title">
                                    <a href="{{ url_for('world.ArticlesView:get', pub_host=publisher.slug, world_=world.slug, id=article.slug, intent='patch') }}">{{ article.title }}</a>
                                </h3>
                                {% set desc =  (article.content|markdown|striptags|replace('gallery-center','')).split('. R') %}

                                <div class="card-description">{{ desc[0] }}</div>
                                <ul class="card-details">
                                    <li class="product-type">{{ article.get_type_display() }} {{ article.created_date|dateformat(format='short') }}</li>
                                </ul>
                            </div>
                        </div>
                        {% if loop.index is divisibleby 9 %}</div>
                            <div class="pagebreak"></div>
                            <div class="cards">{% endif %}
                    {% endfor %}
                    </div>

            {% else %} {# ==table #}
                <table class="table table-hover">
                    <thead>
                    <th>{{ MACRO.ORDER_BY_LINK(model, args, 'title') }}</th>
                    <th>{{ MACRO.ORDER_BY_LINK(model, args, 'creator') }}</th>
                    <th>{{ MACRO.ORDER_BY_LINK(model, args, 'type') }}</th>
                    <th>{{ MACRO.ORDER_BY_LINK(model, args, 'created_date') }}</th>
                    </thead>
                    <tbody>

                    {% for article in group.list %}
                        <tr>
                            <td>
                                <a href="{{ url_for('world.ArticlesView:get', pub_host=publisher.slug, id=article.slug, world_=world.slug) }}">{{ article.title }}</a>
                            </td>
                            <td>{{ article.creator }}</td>
                            <td>{{ article.get_type_display() }}</td>
                            <td class="small">{{ article.created_date|datetimeformat(format='short') }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% endif %}

        {% endfor %}

    </div>
    {% include "includes/pagination.html" %}
{% endblock %}