<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    {{_('Actions')}} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  {% if op!= 'new'%}
    <li><a href="{{ url_for('.article_form_edit', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
    <li><a href="{{ url_for('.article_form_edit', world=world.slug, article=article.slug, markdown=true) }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit as Markdown') }}</a></li>
    <li><a href="#deletemodal" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}</a></li>
    <li><a href="{{ url_for('.article_view', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-align-justify"></span> {{ _('View') }}</a></li>
  {% endif %}
  </ul>
</li>