<ul class="nav nav-pills nav-stacked">
<li class="dropdown" >
  <a class="dropdown-toggle {{privileged}}" data-toggle="dropdown" href="#">
    <span class="glyphicon glyphicon-edit"></span> {{_('Article actions')}} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  {% if article %}
    <li><a href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, id=article.slug, world_=world.slug, intent='patch') }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
    <li><a href="#confirm-modal" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}</a></li>
    <li><a href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, id=article.slug, world_=world.slug, ) }}"><span class="glyphicon glyphicon-align-justify"></span> {{ _('View') }}</a></li>
  {% endif %}
  </ul>
</li>
</ul>