{% extends "world/world_item.html" if not parent_template else parent_template %}

{% if args['order_by'] and args['order_by'].endswith('type') %}
    {% set groups = articles|by_articletype %}
{% elif args['order_by'] and args['order_by'].endswith('created_date') %}
    {% set groups = articles|by_time %}
{% elif args['order_by'] and args['order_by'].endswith('title') %}
    {% set groups = articles|by_initials %}
{% else %}
    {% set groups = articles|dummygrouper %}
{% endif %}

{% block pre_content %}
<h2 class="browseArticle">{{ _('Browse') }}</h2>
{{MACRO.LIST_CONTROLS(articles[0].__class__, ['title', 'creator', 'type', 'created_date'])}}
{% endblock %}

{% block content %}
<div>
  {% for group in groups %}
    {% if group.grouper %}
    <h3>{{ _(group.grouper|capitalize) }}</h3>
    {% endif %}
    {% if args['view'] == 'list' %}

      {% for article in group.list %}
      <a class="blog_header" href="{{url_for('world.ArticlesView:get', world=world.slug, id=article.slug)}}"><h3>{{ article. title}}</h3></a>
      <ul class="list-inline article-meta" style="margin-bottom: 0px">
        <li title="{{ _('Created') }}"><span class="glyphicon glyphicon-calendar"></span> {{article.created_date.strftime('%Y-%m-%d') }} {{ _('by') }}</li>
      <li title="{{ _('Creator') }}">
      <span class="glyphicon glyphicon-user"></span>
      {{article.creator if article.creator else 'System'}}
      </li>
      </ul>
      <div class="media">
      {% if article.feature_image %}
        <a class="pull-left" href="{{url_for('world.ArticlesView:get', world=world.slug, id=article.slug)}}">
        <img class="media-object" src="{{url_for('image_thumb', slug=article.feature_image.slug)}}">
        </a>
      {% endif %}
        <div class="media-body">
          {% if article.description %}{{article.description}}{% else %}{{article.content[0:500]|markdown|striptags|truncate}}{% endif %}
          <a href="{{url_for('world.ArticlesView:get', world=world.slug, id=article.slug)}}"><em style="white-space: nowrap;">{{ _('Read more') }}</em></a>
        </div>
      </div>
      {% endfor %}

    {% elif args['view'] == 'card' %}

      {% for article in group.list %}
      <div class="col-md-4 product">
          {% if article.feature_image %}<a href="{{url_for('.ArticlesView:get', world=world.slug, id=article.slug)}}"><img class="product-image" src="{{url_for('image_thumb', slug=article.feature_image.slug)}}"></a>{% endif %}
          <ul class="product-details">
              <li class="product-type">{{article.type_name()}} {{article.created_date.strftime('%Y-%m-%d')}}</li>
          </ul>
          <div class="product-intro">
              <h3><a href="{{url_for('.ArticlesView:get', world=world.slug, id=article.slug)}}">{{ article.title }}</a></h3>
              <p>{{ article.description if article.description else article.content[0:500]|markdown|striptags|truncate }}</p>
          </div>
      </div>
      {% endfor %}

    {% else %} {# ==table #}
    <table class="table table-hover">
      {{ MACRO.TABLE_HEADER(articles[0].__class__, ['title', 'creator', 'type', 'created_date']) }}
      <tbody>

        {% for article in group.list %}
        <tr>
          <td><a href="{{ url_for('.ArticlesView:get', id=article.slug, world=world.slug, intent='patch')}}">{{article.title}}</a></td>
          <td>{{article.creator}}</td>
          <td>{{article.type_name()}}</td>
          <td class="small">{{article.created_date.strftime('%Y-%m-%d %H:%M')}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% endif %}

  {% else %}
  <div class="jumbotron text-center">
  <h2>{{ _('No articles yet!') }}</h2>
  </div>
  {% endfor %}

</div>
{% include "includes/pagination.html" %}
{% endblock %}