{% extends "world/_page.html" %}

{% block content_title %}{{ publisher.title }} - {{ _('Home') }}{% endblock %}

{% set worlds = publisher.worlds().filter(__raw__={'images': {'$gt': []}}) %}
{% set world = worlds[0] %}


{% block header %}{% endblock header %}


{% block main %}
    {# block home is not defined in root, only in a theme, and allows theme to override the main #}
    {% if self.home %}
        {{ self.home() }}
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="" id="brand-target">
                    </div>
                </div>
                <div class="col-md-6 page-header">
                    <h1 class="publisher-header">{{ publisher.title }}</h1>
                    <h2 class="publisher-tagline">{{ publisher.tagline }}</h2>
                </div>
            </div>
        </div>
        {% for world in worlds %}
            <div class="page-header page-header-hero"
                 style="background-image: url({{ url_for('image', slug=world.get_header_image.slug) }})">
                <div class="container">
                    <div class="row">
                        <a href="{{ url_for("world.ArticlesView:world_home", world_=world.slug) }}">
                            <h1 class="col-lg-offset-6 col-lg-6 col-md-12 col-sm-12">
                                {{ world.title }}
                                <small>{{ world.tagline if world.tagline }}</small>
                            </h1>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
{#        <div id="homepage-carousel" class="carousel slide" data-ride="carousel">#}
{#            <ol class="carousel-indicators">#}
{#                {% for world in worlds %}#}
{#                    <li data-target="#homepage-carousel"#}
{#                        data-slide-to="{{ loop.index0 }}" {{ 'class="active"' if loop.first }}></li>#}
{#                {% endfor %}#}
{#            </ol>#}
{#            <div class="carousel-inner" role="listbox">#}
{##}
{#                {% for world in worlds %}#}
{#                    <div class="page-header page-header-hero item {{ 'active' if loop.first }}"#}
{#                         style="background-image: url({{ url_for('image', slug=world.get_header_image.slug) }})">#}
{#                        <div class="container">#}
{#                            <div class="row">#}
{#                                <a href="{{ url_for("world.ArticlesView:world_home", world_=world.slug) }}">#}
{#                                    <h1 class="col-lg-offset-4 col-lg-8 col-md-12 col-sm-12">#}
{#                                        {{ world.title }}#}
{#                                        <small>{{ world.tagline if world.tagline }}</small>#}
{#                                    </h1>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{##}
{#            </div>#}
{#            <!-- Controls -->#}
{#            <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">#}
{#                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
{#                <span class="sr-only">}{% trans %}Previous{% endtrans %}</span>#}
{#            </a>#}
{#            <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">#}
{#                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
{#                <span class="sr-only">{% trans %}Next{% endtrans %}</span>#}
{#            </a>#}
{#        </div>#}

        <div class="container content">
            <div class="row top-line">
                <h3>{% trans %}Latest news{% endtrans %}</h3>
                <div class="col-md-12 cards margin-above">
                    {% for article in articles %}
                        {% include "world/article_card_view.html" %}
                    {% else %}
                        <div class="jumbotron text-center">
                            <h2>{{ _('No articles yet!') }}</h2>
                        </div>
                        <!-- col-lg-4 -->
                    {% endfor %}
                </div>
            </div>
{#            <div class="row top-line">#}
{#                <h3>{% trans %}Popular in webshop{% endtrans %}</h3>#}
{#                <div class="col-md-12 cards margin-above">#}
{#                    {% for article in articles %}#}
{#                        {% include "world/article_card_view.html" %}#}
{#                    {% else %}#}
{#                        <div class="jumbotron text-center">#}
{#                            <h2>{{ _('No articles yet!') }}</h2>#}
{#                        </div>#}
{#                        <!-- col-lg-4 -->#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#            <div class="row top-line">#}
{#                <h3>{% trans %}Our editors{% endtrans %}</h3>#}
{#                <div class="col-md-12 cards margin-above">#}
{#                    {% for article in articles %}#}
{#                        {% include "world/article_card_view.html" %}#}
{#                    {% else %}#}
{#                        <div class="jumbotron text-center">#}
{#                            <h2>{{ _('No articles yet!') }}</h2>#}
{#                        </div>#}
{#                        <!-- col-lg-4 -->#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
        </div>
    {% endif %}
{% endblock %}