{% extends "world/publisher_list.html" %}

{% block content_title %}{{publisher.title if publisher else _("New publisher")}}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block sidebar %}{{super()}}
{% call(privileged) MACRO.AUTHORIZED(access_policy['publisher'].authorize('edit')) %}
<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">{{ _('Actions') }}</li>
    {% if op != 'new' %}
    <li><a class="{{privileged}}" href="{{ url_for('.PublishersView:get', id=publisher.slug, intent='patch') }}"><span
            class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
    {% endif %}
</ul>
{% endcall %}
{% endblock %}

{% block content %}{% block inline %}
{% if publisher_form %}
<form method="post" action="{{publisher_form.action_url}}" enctype=multipart/form-data>
    <div class="row">
        <div class="col-md-8">
          {{ MACRO.FORM_FIELD(publisher_form.slug) }}
            {{ MACRO.FORM_FIELD(publisher_form.title) }}
            {{ MACRO.FORM_FIELD(publisher_form.description) }}
            {{ publisher_form.csrf_token }}
        </div>
        <div class="col-md-4">
          {{ MACRO.FORM_FIELD(publisher_form.feature_image, **{'data-imageselect':true})}}
        </div>
    </div>
    <div class="row form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
        <a href="{{url_for('.PublishersView:index')}}" class="btn btn-default">{{ _('Cancel') }}</a>
        {% if op != 'new' %}
        <a href="{{url_for('.publisher_delete', publisher=publisher.slug)}}"
           class="btn btn-danger pull-right">{{ _('Delete')}}</a>
        {% endif %}
    </div>
</form>
{% else %}
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <td><strong>{{ _('Domain') }}</strong></td>
                <td>
                    <small>{{ publisher.slug|default(_('No data'), true) }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Title') }}</strong></td>
                <td>
                    <small>{{ publisher.title|default(_('No data'), true) }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Description') }}</strong></td>
                <td>
                    <small>{{ publisher.description|default(_('No data'), true) }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Owner') }}</strong></td>
                <td>
                    <small>{{ publisher.owner|default(_('No data'), true) }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Publisher Home') }}</strong></td>
                <td>
                    <a href="{{ url_for('world.WorldsView:home', publisher=publisher.slug) }}">{{ url_for('world.WorldsView:home', publisher=publisher.slug) }}</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
{% endblock %}

{% block final %}
{{super()}}
<script>
var imageselect_options = {
    csrf_token: "{{ csrf_token() }}",
    image_list_url: "{{url_for('assets.imageasset_list', per_page='all', out='modal')}}",
    image_upload_url: "{{url_for('assets.imageasset_new', out='json')}}"
  }
</script>
{% endblock %}
