{% extends "world/publisher_list.html" %}

{% block content_title %}{{ publisher.title if publisher else _("New publisher") }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block actionbar %}
    {% if args.get('intent', None) == 'patch' %}
        {# We are editing #}
        {{ MACRO.SAVE_BUTTON('publisherform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('world.PublishersView:get', id=publisher.slug)) }}
{#        {{ MACRO.DELETE_BUTTON() }}#}
    {% elif args.get('intent', None) == 'post' %}
        {# We are creating new resource #}
        {{ MACRO.SAVE_BUTTON('publisherform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('world.PublishersView:get', id=publisher.slug)) }}
    {% else %}
        {# We are viewing #}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['publisher'].authorize('edit')) %}
            {{ MACRO.EDIT_BUTTON(url_for('world.PublishersView:get', id=publisher.slug, intent='patch')) }}
{#            {{ MACRO.DELETE_BUTTON() }}#}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block content %}{% block inline %}
    {% if publisher_form %}
        <form id="publisherform" method="post" action="{{ action_url }}">
            <div class="row">
                <div class="col-md-8">
                    {{ MACRO.FORM_FIELD(publisher_form.slug) }}

                    {{ MACRO.FORM_FIELD(publisher_form.publisher_code, helptext=_('2 letter code')) }}
                    {{ MACRO.FORM_FIELD(publisher_form.email) }}
                    {{ MACRO.FORM_FIELD(publisher_form.title) }}
                    {{ MACRO.FORM_FIELD(publisher_form.description, controlclass='content-editor') }}
                    {{ MACRO.FORM_FIELD(publisher_form.status) }}
                    {{ MACRO.FORM_FIELD(publisher_form.languages, controlclass='selectize') }}
                    {{ MACRO.FORM_FIELD(publisher_form.editors, controlclass='selectize') }}
                    {{ MACRO.FORM_FIELD(publisher_form.readers, controlclass='selectize', helptext=_('Empty means public read access')) }}
                    {{ publisher_form.csrf_token }}
                    <h3>{{ _('Registered address') }}</h3>
                    <div class="form-horizontal">
                        {{ MACRO.FORM_FIELD(publisher_form.address['name'], labelclass="col-sm-3", controlwrap="col-sm-9", groupclass="clearfix", autocomplete="name") }}
                        {{ MACRO.FORM_FIELD(publisher_form.address.street, labelclass="col-sm-3", controlwrap="col-sm-9", groupclass="clearfix", autocomplete="street-address") }}
                        <div class="form-group">
                            {{ MACRO.FORM_FIELD(publisher_form.address.zipcode, labelclass="col-sm-3", controlwrap="col-sm-3", autocomplete="postal-code", formgroup=false) }}
                            {{ MACRO.FORM_FIELD(publisher_form.address.city, labelclass="col-sm-1", controlwrap="col-sm-5", groupclass="clearfix", autocomplete="address-level2", formgroup=false) }}
                        </div>
                        {{ MACRO.FORM_FIELD(publisher_form.address.country, labelclass="col-sm-3", controlwrap="col-sm-9", groupclass="clearfix", autocomplete="country") }}
                    </div>
                </div>
                <div class="col-md-4">
                    {# data_end becomes data-end automatically #}
                    {{ MACRO.FORM_FIELD(publisher_form.images, controlclass="fileselect", data_endpoint=
                        url_for('assets.FileAssetsView:file_selector', pub_host=publisher.slug, type='image', choice='multiple'), data_class='image feature-images') }}
                </div>
            </div>
            <div class="row form-actions">
                <div class="col-sm-12">
                    {% if args.get('intent', None) %}
                        <ul class="action-buttons action-buttons-footer">
                            {{ self.actionbar() }}
                        </ul>
                    {% endif %}
                </div>

            </div>
        </form>
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>{{ _('Domain') }}</th>
                            <td>
                                <small>{{ publisher.slug|default(_('No data'), true) }}</small>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ _('Title') }}</th>
                            <td>
                                <small>{{ publisher.title|default(_('No data'), true) }}</small>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ _('Description') }}</th>
                            <td>
                                <small>{{ publisher.description|default(_('No data'), true)|markdown }}</small>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ _('Owner') }}</th>
                            <td>
                                <small>{{ publisher.owner|default(_('No data'), true) }}</small>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ _('Publisher Home') }}</th>
                            <td>
                                <a href="{{ url_for('world.ArticlesView:publisher_home', pub_host=publisher.slug) }}">{{ url_for('world.ArticlesView:publisher_home', pub_host=publisher.slug) }}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% endblock %}
