{% extends "world/world_list.html" if not world_theme else world_theme %}

{% if world %}
    {% set recent_articles=world.articles().order_by('-created_date')[:5] if world %}
    {% set focus_articles=world.articles().order_by('-created_date').filter(featured=true)[:5] %}
    {% set top_material=world.articles().order_by('-created_date').filter(type='material')[:5] %}
{% endif %}

{% block content_title %}{{ world.title if world else publisher.title }}{% endblock %}
{% block content_tagline %} {{ _('by') }} {{ world.publisher if world else world_form.publisher.data }}{% endblock %}


{% block cssimports %}
    {{ super() }}
    {% if world %}
        <link rel="home" type="application/rss+xml"
              href="{{ url_for('world.ArticlesView:feed', world_=world.slug, _external=true, _scheme='') }}"/>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('world.WorldsView:index'), _('Game Worlds')),
        (url_for('world.WorldsView:get', id=world.slug if world else 'post'), self.content_title())
    ) }}{% endblock %}

{% block subnavbar %}{{ super() }}
    {% if world %}
        <li>
            <a href="{{ url_for('world.ArticlesView:index', world_=world.slug) }}"><span
                    class="glyphicon glyphicon-filter"></span> {{ _('Browse') }}</a></li>
        <li>
            <a href="{{ url_for('world.ArticlesView:blog', world_=world.slug) }}"><span
                    class="glyphicon glyphicon-comment"></span> {{ _('Blog') }}</a></li>
        <li>
            <a href="{{ url_for('world.ArticlesView:random', world_=world.slug) }}"><span
                    class="glyphicon glyphicon-flash"></span> {{ _('Random article') }}</a></li>
    {% endif %}

{% endblock %}

{% block actionbar %}
    {% if args.get('intent', None) == 'patch' %}
        {# We are editing #}
        {{ MACRO.SAVE_BUTTON('worldform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('world.WorldsView:get', id=world.slug)) }}
        {{ MACRO.DELETE_BUTTON() }}
    {% elif args.get('intent', None) == 'post' %}
        {# We are creating new resource #}
        {{ MACRO.SAVE_BUTTON('worldform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('world.WorldsView:get', id=world.slug)) }}
    {% else %}
        {# We are viewing #}
        {% include "world/new_article_menu.html" %}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['world'].authorize('edit')) %}
            {{ MACRO.EDIT_BUTTON(url_for('world.WorldsView:get', intent='patch', id=world.slug)) }}
            {{ MACRO.DELETE_BUTTON() }}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if world_form %}
        <form id="worldform" method="post" action="{{ action_url }}">
            <div class="row">
                <div class="col-md-8">
                    {{ MACRO.FORM_FIELD(world_form.title) }}
                    {{ MACRO.FORM_FIELD(world_form.description, controlclass=' content-editor') }}
                    {{ MACRO.FORM_FIELD(world_form.publisher) }}
                    {{ MACRO.FORM_FIELD(world_form.rule_system) }}
                    {{ MACRO.FORM_FIELD(world_form.status) }}
                    {{ MACRO.FORM_FIELD(world_form.product_url) }}
                    {{ MACRO.FORM_FIELD(world_form.languages, controlclass='selectize') }}
                    {{ MACRO.FORM_FIELD(world_form.editors, controlclass='selectize') }}
                    {{ MACRO.FORM_FIELD(world_form.readers, controlclass='selectize', helptext=_('Empty means public read access')) }}

                    {{ world_form.csrf_token }}
                </div>
                <div class="col-md-4">
                    {# data_end becomes data-end automatically #}
                    {{ MACRO.FORM_FIELD(world_form.images, controlclass="fileselect", data_endpoint=
                        url_for('assets.FileAssetsView:file_selector', type='image', choice='multiple'), data_class='image feature-images') }}
                </div>
            </div>
            <div class="row form-actions">
                <div class="col-sm-12">
                {% if args.get('intent', None) %}
                    <ul class="action-buttons action-buttons-footer">
                        {{ self.actionbar() }}
                    </ul>
                {% endif %}
                </div>
            </div>
        </form>
    {% else %}
        <p class="worldDesc">{{ world.description|markdown }}</p>

        <div class="row">
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-exclamation-sign"></span> {% trans %}Recent updates{% endtrans %}
                </h4>
                <ul>
                    {% for a in recent_articles %}
                        <li>
                            <a href="{{ url_for('world.ArticlesView:get', id=a.slug, world_=world.slug) }}"
                               alt="{{ a.title }}">{{ a.title }}</a></li>
                    {% else %}
                        {% trans %}No data{% endtrans %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                {% if focus_articles %}
                    <h4><span class="glyphicon glyphicon-fire"></span> {% trans %}Featured articles{% endtrans %}</h4>
                    {% for a in focus_articles %}
                        <li>
                            <a href="{{ url_for('world.ArticlesView:get', id=a.slug, world_=world.slug) }}"
                               alt="{{ a.title }}">{{ a.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if top_material %}
                    <h4><span class="glyphicon glyphicon-briefcase"></span> {% trans %}Top material{% endtrans %}</h4>
                    {% for a in top_material %}
                        <li>
                            <a href="{{ url_for('world.ArticlesView:get', id=a.slug, world_=world.slug) }}"
                               alt="{{ a.title }}">{{ a.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block rightbar %}
    <p class="text-center"><a class="btn btn-lg btn-info"
                              href="{{ url_for('shop.ProductsView:index', world=world.slug) }}">
        {% trans %}Buy in shop{% endtrans %}</a></p>
    <table class="table">
        <tr>
            <th>{{ _('Publisher') }}</th>
            <td>
                <small>{{ world.publisher|default(_('No data'), true) }}</small>
            </td>
        </tr>
        <tr>
            <th>{{ _('Rule System') }}</th>
            <td>
                <small>{{ world.rule_system|default(_('No data'), true) }}</small>
            </td>
        </tr>
        {#
        <tr><td><strong>{{ _('Status') }}</strong></td>
        <td><small>{{ world.get_status_display()|default(_('No data'), true) }}</small></td></tr>
#}

    </table>
{% endblock rightbar %}