{% extends "world/_page.html" %}

{% block content_title %}{{ _('World') }}{% endblock %}
{% block content_tagline %}{{ _('any fictional world at your fingertips') }}{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('world.WorldsView:index'), _('Game Worlds'))
    ) }}{% endblock %}

{% block actionbar %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['world'].authorize('new', res=publisher)) %}
        {{ MACRO.NEW_BUTTON(url_for('world.WorldsView:get', id='post'), 'New world') }}
    {% endcall %}
{% endblock %}

{% block content %}
    <div class="cards">
        {% for world in worlds %}
            <div class="card{{ ' status-unpublished' if not world.is_published() }}"
                    {%- if world.get_feature_image -%}
                 style="background: url({{ url_for('image_thumb', slug=world.get_feature_image.slug) }}) center top/cover;"
                    {%- endif -%}>
                <a class="card-cover icon150px"
                   href="{{ url_for('world.ArticlesView:world_home', world_=world.slug) }}">
                    {% if not world.images %}
                        <svg class="fablr-icon fablr-icon-stretch">
                            <use xlink:href="#fablr-earth"></use>
                        </svg>
                    {% endif %}
                </a>
                <div class="card-text">
                    <h3 class="card-title">
                        <a href="{{ url_for('world.ArticlesView:world_home', world_=world.slug) }}">{{ world.title }}</a>
                    </h3>
                    {% set desc =  (world.description|default(_('No description'), true)|markdown|striptags|replace('gallery-center','')).split('. R') %}

                    <div class="card-description">{{ desc[0] }}</div>
                    <ul class="card-details">
                        <li class="product-type">{{ _('Created date') }}: {{ world.created_date|dateformat(format='short') }}</li>
                        <li><span
                                class="glyphicon glyphicon-{{ MACRO.status_glyphicons[world.status] }}"></span>
                        </li>
                    </ul>
                </div>
            </div>

        {% endfor %}
    </div>
    {% include "includes/pagination.html" %}
{% endblock %}
