{% extends "world/_page.html" if not parent_template else parent_template %}
{% import 'includes/macros.html' as MACRO %}

{% block cssimports %}
{{ super() }}
<link rel="home" type="application/rss+xml" href="{{url_for('.article_feed', world=world.slug, _external=true)}}" />
{% endblock %}

{% block content_title %}{{ world.title }}{{ ' - ' + article.title if article else '' }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block sidebar %}
{{super()}}

<div class="worldSideBar">
  <ul class="nav nav-pills nav-stacked">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span> {{ _('Home') }}</a></li>
      <li><a href="{{ url_for('world.article_list', world=world.slug) }}"><span class="glyphicon glyphicon-filter"></span> {{ _('Browse') }}</a></li>
      <li><a href="{{ url_for('world.article_blog', world=world.slug) }}"><span class="glyphicon glyphicon-asterisk"></span> {{ _('Blog') }}</a></li>
    {% call(privileged) MACRO.AUTHORIZED(access_policy['article'].authorize('new')) %}
      <li class="dropdown {{privileged}}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-pencil"></span> {{ _('New article') }}&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('world.article_form_new', world=world.slug, type='default')}}"><span class="glyphicon glyphicon-record"></span> {{ _('Basic') }}</a></li>
          <li><a href="{{url_for('world.article_form_new', world=world.slug, type='person')}}"><span class="glyphicon glyphicon-eye-open"></span> {{ _('Person') }}</a></li>
          <li><a href="{{url_for('world.article_form_new', world=world.slug, type='fraction')}}"><span class="glyphicon glyphicon-certificate"></span> {{ _('Fraction') }}</a></li>
          <li><a href="{{url_for('world.article_form_new', world=world.slug, type='place')}}"><span class="glyphicon glyphicon-map-marker"></span> {{ _('Place') }}</a></li>
          <li><a href="{{url_for('world.article_form_new', world=world.slug, type='event')}}"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ _('Event') }}</a></li>
          <li><a href="{{url_for('world.article_form_new', world=world.slug, type='campaign')}}"><span class="glyphicon glyphicon-flag"></span> {{ _('Campaign') }}</a></li>
          <li><a href="{{url_for('world.article_form_new', world=world.slug, type='chronicle')}}"><span class="glyphicon glyphicon-bookmark"></span> {{ _('Chronicle') }}</a></li>
          <li><a href="{{url_for('world.article_form_new', world=world.slug, type='blogpost')}}"><span class="glyphicon glyphicon-asterisk"></span> {{ _('Blog post') }}</a></li>
        </ul>
      </li>
    {% endcall %}
</ul>
</div>
{% endblock %}

{% block content %}
    {% set world_article = world.articles().clone().filter(slug=world.slug).first() %}


  <div class="row">
  {% if world_article %}
      <div class="content article_text">
       {{ world_article.content|markdown if world_article.content else _("Content")}}
      </div>
    {% else %}
    <div class="col-md-6">
      <p class="well worldDesc">{{ world.description }}</p>
    </div>
    {% endif %}
    <!--<div class="col-md-5 imgAside pull-right">{{ _('IMAGE') }}-->
    <!--</div>-->
  </div>
  <div class="row worldArticles">
  <h3>{{ _('Articles') }}</h3>
  {#{% if world.articles.count() == 0 %}No articles yet!{% else %}#}
  <ul>
    {% for article in world.articles() %}
      <li><a href="{{ url_for('world.article_view', article=article.slug, world=world.slug) }}">{{ article.title }}</a>  <span>[{{ article.type }}]</span></li>
    {% endfor %}
  </ul>
  {#{% include "includes/pagination.html" %}
  {% endif %}#}
  </div>
{% endblock %}

{% block in_table %}
{% endblock %}

{% block in_box %}
{% endblock %}