{% extends "world/_page.html" %}

{% block content_title %}{{ _('World') }}{% endblock %}
{% block content_tagline %}{{ _('any fictional world at your fingertips') }}{% endblock %}
{% block world_active %} class="active"{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home', pub_host=publisher.slug), _('Home')),
        (url_for('world.WorldsView:index', pub_host=publisher.slug), _('Game Worlds'))
    ) }}{% endblock %}

{% block actionbar %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['world'].authorize('new')) %}
        {{ MACRO.NEW_BUTTON(url_for('world.WorldsView:get', pub_host=publisher.slug, id='post'), 'New world') }}
    {% endcall %}
{% endblock %}

{% block content %}
    <div class="cards">
        {% for world in worlds %}
            <div class="card"
                    {%- if world.images -%}
                 style="background: url({{ url_for('image_thumb', slug=world.images[0].slug) }}) center top/cover;"
                    {%- endif -%}>
                <a class="card-cover gianticon"
                   href="{{ url_for('world.ArticlesView:world_home', pub_host=publisher.slug, world_=world.slug) }}">
                    {% if not world.images %}
                    <svg class="fablr-icon fablr-icon-stretch">
                        <use xlink:href="#fablr-earth"></use>
                    </svg>
                    {% endif %}
                </a>
                <div class="card-text">
                    <h3 class="card-title dobr">
                        <a href="{{ url_for('world.ArticlesView:world_home', pub_host=publisher.slug, world_=world.slug) }}">{{ world.title }}</a>
                    </h3>
                    <div class="card-description">
                        {{ world.description|markdown }}
                    </div>
                    <ul class="card-details">
                        <li class="product-type">{{ _('Publisher') }}: {{ world.publisher|default(_('No data'), true) }}</li>
                        <li class="product-type">{{ _('Rule System') }}: {{ world.rule_system|default(_('No data'), true) }}</li>
                        <li class="product-type">{{ _('Created date') }}: {{ world.created_date|dateformat(format='short') }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "includes/pagination.html" %}
{% endblock %}
