{# Recommended image size Twitter> 144x144 up 4096x4096, 1:1 #}
{# Recommended image size Facebook> 1200x630 #}
{% if article %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@helmgast">
    <meta name="twitter:url" property="og:url" content="{{ current_url(_external=true) }}">
    <meta name="twitter:title" property="og:title" content="{{ title or article.title }}">
    <meta name="twitter:description" property="og:description" content="{{ description or article.description }}">
    <meta property="og:type" content="article"/>
    {% if article.get_feature_image %}
        <meta name="twitter:image" property="og:image"
              content="{{ article.get_feature_image.feature_url(transform='w_1200,h_630,c_fill', format='fix',_external=true) }}"/>
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    {% else %}
        <meta name="twitter:image" property="og:image"
              content="{{ url_for('static', filename='img/helmgast_512px.png', _external=true) }}"/>
    {% endif %}
    <meta property="article:published_time" content="{{ article.created_date.isoformat() }}"/> {# yyyy-mm-dd #}
    <meta property="article:author" content="{{ article.user }}"/>
    <meta property="article:section" content="{{ article.world }}"/>
    <meta property="og:site_name" content="Helmgast"/>
{% endif %}