{% if pagination and pagination.pages > 1 %}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {%- for page in pagination.iter_pages() %}
        {% if page %}
            <li class="{{'active' if page == pagination.page else '' }}"><a href="{{ current_url(page=page) }}">{{ page }}</a></li>
        {% else %}
          <li><span>...</span></li>
        {% endif %}
      {%- endfor %}
      <li class="disabled"><span>{{ pagination.count }} {%trans%}results{%endtrans%}</span></li>
    </ul>
  </nav>
{% endif %}
