<a href="javascript:window.print()" title="{{ _('Print') }}">
<svg class="lore-icon lore-icon-printer">
    <use xlink:href="#lore-printer"></use>
</svg>
</a>

<a class="socialfeed" rel="home" type="application/rss+xml" href="{{url_for('world.ArticlesView:feed', world_=world.slug, _external=true, _scheme='')}}" target="_blank">
<svg class="lore-icon lore-icon-feed">
    <use xlink:href="#lore-rss2"></use>
</svg>
</a>

<a class="socialtw" href="https://twitter.com/share?url={{request.url}}" target="_blank">
<svg class="lore-icon lore-icon-twitter">
    <use xlink:href="#lore-twitter"></use>
</svg>
</a>

<a class="socialfb" href="https://www.facebook.com/sharer.php?u={{request.url}}" target="_blank">
<svg class="lore-icon lore-icon-facebook">
    <use xlink:href="#lore-facebook2"></use>
</svg>
</a>