# From Gitignore
**/*.pyc
**/*.db
**/*.log
**/*.mo
**/*.pot

config.py
google_service_account.json

front/
.idea/
.vscode/
.pydevproject/
.venv/
.env
node_modules/
__pycache__/

static/dist
static/dev
static/manifest.json

Lore.code-workspace