[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
flask-babel = "*"
flask-debugtoolbar = "*"
flask-mongoengine = "==0.9.2"
flask-wtf = {git = "https://github.com/lepture/flask-wtf.git"}
flask = "==0.12.4"
flask-classy = {git = "https://github.com/ripperdoc/flask-classy"}
gunicorn = "*"
ipaddress = "*"
markdown = "*"
Pillow = ">=7.0.0"
python-dateutil = "*"
python-magic = "*"
python-slugify = "*"
ptvsd = "*"
pyqrcode = "*"
rfc6266 = "*"
sparkpost = "*"
stripe = "*"
wtforms = "==2.1"
future = "*"
auth0-python = "*"
speaklater = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
nltk = "*"
pyphen = "*"
gspread = "*"
oauth2client = "*"
cloudinary = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
pylint-mongoengine = "*"
autopep8 = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.7"
