auth0-python
cloudinary
debugpy
flask-babel
flask-debugtoolbar
flask-mongoengine==0.9.2
flask-wtf==0.14.3
flask==0.12.4
git+https://github.com/ripperdoc/flask-classy#egg=flask-classy
google-api-python-client
gspread
gunicorn
html2text
ipaddress
jsonrpcclient[requests]
markdown
nltk
oauth2client
panflute==1.12.5
Pillow>=8.3.2
pyinstrument
pyphen
pyqrcode
python-dateutil
python-frontmatter
python-magic
python-slugify
sentry-sdk[flask]>=1.4.3
sparkpost
speaklater
stripe
werkzeug==0.16.1
wtforms==2.1