# git+git://github.com/mitsuhiko/flask#egg=Flask-dev

Babel==2.5.0
Flask-Babel==0.11.2
Flask-DebugToolbar==0.10.1
flask-mongoengine==0.9.2
#Flask-WTF==0.14.2
git+https://github.com/lepture/flask-wtf  # Fixes a py3 issue not yet release in 14.2
Flask==0.12.2
git+https://github.com/ripperdoc/flask-classy
gunicorn==19.7.1
ipaddress==1.0.17
Jinja2==2.9.5
Markdown==2.6.8
py-gfm==0.1.3
mongoengine==0.13.0
Pillow==4.2.1
pymongo==3.4.0
python-dateutil==2.6.0
python-magic==0.4.13
python-slugify==1.2.4
PyQRCode==1.2.1
rfc6266
rollbar==0.13.12
sparkpost==1.3.5
speaklater==1.3
stripe==1.48.1
WTForms==2.1
future
