{% extends "_page.html" %}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ _('Shop') }}{% endblock %}
{% block content_tagline %}{{ _('get your inspiration') }}{% endblock %}
{% block shop_active %} class="active"{% endblock %}

{% block navbar_cart %}
{% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('new')) %}
<li><a id="cart-counter" href="{{ url_for('.order_cart') }}" style="font-size: 11px; padding-bottom: 8px;" title="{{ _('Cart') }}">
  <span style="font-size: 20px" class="glyphicon glyphicon-shopping-cart"></span><span class="badge">{{ cart_items if cart_items else 0}}</span>
</a></li>
{% endcall %}
{% endblock %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
  {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('list')) %}
  <li class="{{privileged}}"><a href="{{ url_for('.product_list') }}"><span class="glyphicon glyphicon-list"></span> {{ _('All products') }}</a></li>
  {% endcall %}
  {% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('new')) %}
    <li class="{{privileged}}"><a href="{{ url_for('.order_list') }}"><span class="glyphicon glyphicon-gift"></span> {{ _('All orders') }}</a></li>
  {% endcall %}
  {% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('my_orders')) %}
    <li class="{{privileged}}"><a href="{{ url_for('.order_my_orders') }}"><span class="glyphicon glyphicon-gift"></span> {{ _('My orders') }}</a></li>
  {% endcall %}

</ul>
{% endblock %}
