{% extends root_template if not publisher_theme else publisher_theme %}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ _('Shop') }}{% endblock %}
{% block content_tagline %}{{ _('get your inspiration') }}{% endblock %}
{% block shop_active %} class="active"{% endblock %}

{% block navbar_right %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('list')) %}
    <li><a id="cart-counter" {{ 'class=highlight'if cart_items and cart_items > 0 }}
           href="{{ url_for('shop.OrdersView:cart', publisher=publisher.slug) }}" title="{{ _('Cart') }}">
        <span style="font-size: 20px" class="glyphicon glyphicon-shopping-cart"></span><span
            class="badge">{{ cart_items if cart_items else 0 }}</span>
    </a></li>
    {% endcall %}
    {{ super() }}
{% endblock %}

{% block subnavbar %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('list')) %}
        <li><a class="{{ privileged }}" href="{{ url_for('shop.ProductsView:index', publisher=publisher.slug) }}"><span
                class="glyphicon glyphicon-certificate"></span> {{ _('Products') }}</a></li>
    {% endcall %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('new')) %}
        <li><a class="{{ privileged }}" href="{{ url_for('shop.OrdersView:index', publisher=publisher.slug) }}"><span
                class="glyphicon glyphicon-list-alt"></span> {{ _('Orders') }}</a></li>
    {% endcall %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('my_orders')) %}
        <li><a class="{{ privileged }}" href="{{ url_for('shop.OrdersView:my_orders', publisher=publisher.slug) }}"><span
                class="glyphicon glyphicon-gift"></span> {{ _('My orders') }}</a></li>
    {% endcall %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for f in product_families %}
            <div class="col-md-5 col-xs-12 world_item">
                <h3><a href="{{ url_for('shop.ProductsView:index', publisher=publisher.slug, family=f) }}">{{ f }}</a>
            </div>
            {% if loop.index is divisibleby 2 %}</div>
                <div class="row">{% endif %}
        {% else %}
            <div class="jumbotron text-center">
                <h2>{{ _('No products available') }}</h2>
            </div>
        {% endfor %}
        </div>
{% endblock %}
