{% extends "_page.html" %}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ _('Shop') }}{% endblock %}
{% block content_tagline %}{{ _('get your inspiration') }}{% endblock %}
{% block shop_active %} class="active"{% endblock %}

{% block navbar_cart %}
{% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('new')) %}
<li class="active"><a href="{{ url_for('.order_cart') }}"><span class="glyphicon glyphicon-shopping-cart"></span> {{ _('Cart') }} <span class="badge">{{ cart_items if cart_items else 0}}</span>
</a></li>
{% endcall %}
{% endblock %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
  {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('list')) %}
  <li class="{{privileged}}"><a href="{{ url_for('.product_list') }}"><span class="glyphicon glyphicon-list"></span> {{ _('All products') }}</a></li>
  {% endcall %}

  {% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('list')) %}
    <li class="{{privileged}}"><a href="{{ url_for('.order_list') }}"><span class="glyphicon glyphicon-gift"></span> {{ _('Orders') }}</a></li>
  {% endcall %}

</ul>
{% endblock %}
