{% extends "shop/_page.html" %}

{% block content_title %}
    {% if order.status!='cart' %}
        {{ _('Order') }}
    {% elif args['view']=='cart' %}
        {{ _('Cart') }}
    {% elif args['view']=='details' %}
        {{ _('Your details') }}
    {% elif args['view']=='pay' %}
        {{ _('Pay') }}
    {% endif %}
{% endblock %}
{% block content_tagline %} {% if args['view'] in ['details','pay'] %}{{ _("make sure it's correct!") }}
{% endif %}{% endblock %}

{% block sidebar %}{{ super() }}
    {% if order.status != 'cart' %}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('view')) %}
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">{{ _('Actions') }}</li>
                <li>
                    <a class="{{ privileged }}" data-toggle="modal" data-target="#themodal" role="menuitem"
                       tabindex="-1"
                       href="{{ url_for('mail.mail_view', mail_type='order', user=user.id, order=order.id) }}">
                        <span class="glyphicon glyphicon-envelope"></span> {{ _('Send order mail') }}
                    </a>
                </li>
            </ul>
        {% endcall %}
    {% endif %}
{% endblock %}

{#
  What user can edit in different order stages:
  cart: editable list, editable quantity, address, editable comment
  ordered: editable comment, address
  paid: editable comment, address
  shipped: nothing editable
#}

{{ products }}

{% block content %}{% block inline %}

    {% if not order or not order.order_lines %}
        <div class="jumbotron text-center">
            <h1>{{ _('Nothing in cart, ') }}<br><a
                    href="{{ url_for('shop.ProductsView:index', publisher=publisher.slug) }}">{{ _('go shopping') }}</a>
            </h1>
        </div>
    {% else %}
        {% if order_form %}
            <form class="order-cart" method="post" action="{{ action_url }}" autocomplete="on">
            {% if order.status == 'cart' %}
            <div class="progress">
                <div class="progress-bar progress-bar{{ '-striped active' if args['view']=='cart' else '-success' }}"
                     style="width: 33%">
                    <a href="cart">{{ _('Confirm products') }}</a>
                </div>
                {% if args['view'] in ['details', 'pay'] %}
                    <div class="progress-bar progress-bar{{ '-striped active' if args['view']=='details' else '-success' }}"
                         style="width: 33%">
                        <a href="details">{{ _('Your details') }}</a>
                    </div>
                {% endif %}
                {% if args['view'] =='pay' %}
                    <div class="progress-bar progress-bar-striped active" style="width: 34%">
                        {{ _('Pay order') }}
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    <table style="width: 100%">
        {% if order.status != 'cart' %}
            {% include "shop/order_header.html" %}
        {% endif %}
        {% if order.status != 'cart' or args['view'] in ['cart','pay'] %}
            {% include "shop/order_lines.html" %}
        {% endif %}
        {% if order.status != 'cart' or args['view'] in ['details','pay'] %}
            {% include "shop/order_address.html" %}
        {% endif %}
    </table>

    {% if order_form %}
        <div class="row">
            {% if order.status != 'cart' %}

                <div class="col-md-2">
                </div>
                <div class="col-md-offset-8">
                    <a class="btn btn-warning btn-block" data-toggle="modal" data-target="#themodal"
                       href="{{ url_for('mail.mail_view', mail_type='compose', user=user.id,
                           from_field=user.email, subject=gettext('Regarding order %(order)s', order=order.id)) }}">
                        {{ _('Contact Us') }}</a>
                </div>

            {% elif args['view']== 'cart' %}

                <div class="col-md-2">
                </div>
                <div class="col-md-offset-8">
                    <button type="submit" id="save" class="btn btn-success btn-block">{{ _('Save') }}</button>
                    <button type="submit" id="submit"
                            class="btn btn-primary btn-block btn-lg"> {{ _('Your details') }}
                        <span class="glyphicon glyphicon-chevron-right"></span></button>
                    {%- if order.is_digital() -%}
                        <small>{{ _('Total shipping cost will be shown after') }}</small>
                    {%- endif -%}
                </div>

            {% elif args['view']== 'details' %}

                <div class="col-md-2">
                    <a class="btn btn-default" href="cart">{{ _("Go back") }}</a>
                </div>
                <div class="col-md-offset-8">
                    <button type="submit" id="submit"
                            class="btn btn-primary btn-block btn-lg">{{ _('Review payment') }} <span
                            class="glyphicon glyphicon-chevron-right"></span></button>
                </div>

            {% elif args['view']== 'pay' %}

                <div class="col-md-2">
                    <a class="btn btn-default" href="details">{{ _("Go back") }}</a>
                </div>
                <div class="col-md-offset-8">
{#                  <script#}
{#                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
{#                    data-key="{{stripe_key}}"#}
{#                    data-image="{{ url_for('static', filename='img/helmgast_512px.png') }}"#}
{#                    data-name="Helmgast"#}
{#                    data-description="{{order}}"#}
{#                    data-currency="{{ order.currency }}"#}
{#                    data-amount="{{ order.total_price_int() }}"#}
{#                    data-locale="auto">#}
{#                  </script>#}
                    <button type="submit" id="checkout" class="btn btn-primary btn-block btn-lg">{{ _('Pay order') }}
                        <span class="glyphicon glyphicon-credit-card"></span></button>
                    <small>For test, use VISA 4242424242424242, any expiry and CVC</small>
                </div>

            {% endif %}
        </div>
        {{ order_form.csrf_token }}
        {{ order_form.stripe_token(type='hidden') if order_form.stripe_token }}
        </form>
    {% else %}
        <div class="row">
            <div class="col-md-offset-8">
                <a class="btn btn-warning" data-toggle="modal" data-target="#themodal" href="{{ url_for('mail.mail_view', mail_type='compose', user=user.id,
            from_field=user.email, subject=gettext('Regarding order %(order)s', order=order.id)) }}">
                    {{ _('Contact Us') }}</a>
            </div>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}{% endblock %}

{% block final %}
    {{ super() }}
    {% if order_form and order.status=='cart' %}
        {% if args['view'] == 'cart' %}
        <script>
            $('#save').on('click', function (e) {
                var action = $(e.target).parents('form').attr('action')
                $(e.target).parents('form').attr('action', action+'?method=patch')
            });
        </script>
        {% elif args['view'] == 'pay' %}
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script>
                var handler = StripeCheckout.configure({
                    key: '{{stripe_key}}',
                    image: "{{ url_for('static', filename='img/helmgast_512px.png') }}",
                    locale: 'auto',
                    token: function (token) {
                        $('#stripe_token').val(token.id)
                        $('.order-cart').submit()
                    }
                });

                $('#checkout').on('click', function (e) {
                    e.preventDefault();
                    handler.open({
                        name: 'Helmgast',
                        description: '{{order}}',
                        currency: '{{ order.currency }}',
                        amount: {{ order.total_price_int() }},
                        panelLabel: "{{ _('Pay') }}",
                        email: "{{order.email}}"
                    });
                });

                // function calcTotal(e) {
                //   var $prod = $(e.delegateTarget)
                //   var qty = parseInt((e.target && e.target.value) || "0")
                //   var price = parseFloat(/[0-9.,]+/.exec($prod.find('.product-price').text())[0])
                //   var total = $prod.find('.product-total').text()
                //   total = total.replace(/[0-9.,]+/, qty*price)
                //   $prod.find('.product-total').text(total)
                //   calcGrandtotal()
                // }
                // function calcGrandtotal(e) {
                //   var grandtot = $('.product-subtotals .product-price')
                //   var sum = 0.0, num=0
                //   $('.product').each(function() {
                //     sum += parseFloat(/[0-9.,]+/.exec($(this).find('.product-total').text())[0])
                //     num += parseInt($(this).find('.product-quantity').val())
                //   })
                //   grandtot.text(grandtot.text().replace(/[0-9.,]+/, sum))
                //   $('#cart-counter').text(num)
                // }
                // $('.product').on('change', '.product-quantity', calcTotal)
                // $('.product-list').on('rac.removed', calcGrandtotal)
                // $('.product').each(function() {
                //   calcTotal({delegateTarget:this,target:$(this).find('.product-quantity')[0]})
                // })
            // $('#formsave').click(function(e){
            //   $.post('{{order_form.action_url}}', $('.order-cart').serialize());
            // })
        </script>
        {% endif %}
    {% endif %}
{% endblock %}