{% extends "shop/_page.html" if not parent_template else parent_template %}

{% block content_title %}{{ _('Orders') }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% set order_statuses = {
  'cart' : _('Cart'),
  'ordered' : _('Ordered'),
  'paid' : _('Paid'),
  'shipped' : _('Shipped'),
  'error' : _('Error')}
%}

{% block content_subheader %}
{{ MACRO.LIST_CONTROLS() }}
{% endblock %}

{% block content %}

{% if orders %}
<table class="table table-hover">
<thead>
	<tr>
		<th><a href="?order_by=order">{{_('Order')}}</a></th>
		<th><a href="?order_by=user">{{_('User')}}</a></th>
		<th><a href="?order_by=created">{{_('Created')}}</a></th>
		<th><a href="?order_by=updated">{{_('Updated')}}</a></th>
		<th><a href="?order_by=status">{{_('Status')}}</a></th>
	</tr>
</thead>
<tbody>
	{% for order in orders %}
	<tr>
		<td><a href="{{ url_for('.order_form_edit', order=order.id)}}">{{order}}</a></td>
		<td>{{order.user}}</td>
		<td>{{order.created.strftime('%Y-%m-%d %H:%M')}}</td>
		<td>{{order.updated.strftime('%Y-%m-%d %H:%M')}}</td>
		<td>{{order_statuses[order.status]}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% include "includes/pagination.html" %}

{% else %}
<h3>{{_('You have not made any orders yet!')}}</h3>
{% endif %}
{% endblock %}
