{% extends "shop/_page.html" if not parent_template else parent_template %}

{% block content_title %}{{ _('Orders') }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% set order_statuses = {
  'cart' : _('Cart'),
  'ordered' : _('Ordered'),
  'paid' : _('Paid'),
  'shipped' : _('Shipped'),
  'error' : _('Error')}
%}

{% block content_subheader %}
{% if orders %}
{{ MACRO.LIST_CONTROLS(model, ['id','user', 'created', 'updated','status', 'total_price']) }}
{% endif %}
{% endblock %}


{% block content %}

{% if orders %}
{% if request.args.get('view', 'table') == 'table' %}
<table class="table table-hover">
{{ MACRO.TABLE_HEADER(orders[0].__class__, ['id','user', 'created', 'updated','status', 'total_price']) }}
<tbody>
	{% for order in orders %}
	<tr>
		<td><a href="{{ url_for('.order_form_edit', order=order.id)}}">{{order}}</a></td>
		<td>{{order.user.username}}</td>
		<td class="small">{{order.created.strftime('%Y-%m-%d %H:%M')}}</td>
		<td class="small">{{order.updated.strftime('%Y-%m-%d %H:%M')}}</td>
		<td>{{order_statuses[order.status]}}</td>
    <td>{{order.total_price}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% else %}
<div class="cards">
<div class="row">
{% for order in orders %}
<div class="col-md-4 product">
    {% if order.order_lines[0].product.feature_image %}<img class="product-image" src="{{url_for('image_thumb', slug=order.order_lines[0].product.feature_image.slug)}}"></a>{% endif %}
    <div class="product-intro">
        <h3><a href="{{ url_for('.order_form_edit', order=order.id)}}">{{order}}</a></h3>
    </div>
    <ul class="product-details">
        <li class="product-type">{{order.user.username}}</li>
        <li class="product-type">{{order.updated.strftime('%Y-%m-%d %H:%M')}}</li>
        <li class="product-price">{{ order.total_price }}</li>
    </ul>
</div>
{% if loop.index is divisibleby 3 %}</div><div class="row">{% endif %}
{% endfor %}
</div></div>
{% endif %}
{% include "includes/pagination.html" %}

{% else %}
<h3>{{_('You have not made any orders yet!')}}</h3>
{% endif %}
{% endblock %}
