<style type="text/css">
    .order_info {
        width: 40%;
        padding-right: 10%
    }

    @media only screen and (max-width: 600px) {
        .order_info {
            display: block !important;
            width: 100% !important;
        }
    }
</style>

<!-- Order info-->
<tr>
    <td>
    <table width="100%">
        <tr>
            <!-- Order/customer info-->
            <td align="center" valign="top" class="order_info">
                <h3>{{ _('Order Info') }}</h3>
                <table class="table table-condensed">
                    <tr>
                        <th width="30%">{{ _('Order ID') }}</th>
                        <td>
                            <small>{{ order.id }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th width="30%">{{ _('Name') }}</th>
                        <td>{{ order.user.realname|default(_('No name'), true) }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Email') }}</th>
                        <td>{{ order.user.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Created') }}</th>
                        <td>{{ order.created|datetimeformat(format='short') }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Updated') }}</th>
                        <td>{{ order.updated|datetimeformat(format='short') }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Status') }}</th>
                        <td>{{ order.get_field_display('status') }}</td>
                    </tr>
                </table>
            </td>
            <!-- Seller info-->
            <td align="center" valign="top" class="order_info">
                <h3>{{ _('Seller Info') }}</h3>
                <table class="table table-condensed">
                    <tr>
                        <th width="30%">{{ _('Publisher') }}</th>
                        <td>{{ publisher.address.name if publisher.address else publisher.title }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Email') }}</th>
                        <td><a href="mailto:{{ publisher.email }}">{{ publisher.email }}</a></td>
                    </tr>
                    <tr>
                        <th>{{ _('Address') }}</th>
                        <td>
                            {% if publisher.address %}
                                <address>
                            {{ publisher.address.street }}<br>
                            {{ publisher.address.zipcode }} {{ publisher.address.city }}<br>
                            {{ get_locale().territories[publisher.address.country] }}
                                </address>
                            {% else %}
                                {{ _('No data') }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
        </td>
</tr>
