{% extends "shop/_page.html" %}

{# Unicode codes representing Bootstrap glyphicons #}
{% set product_icons = {'book':"\ue043",'item':"\ue102",'digital':"\ue172",'shipping':"\ue040"} %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home', publisher_=publisher.slug), _('Home')),
        (url_for('shop.shop_home', publisher=publisher.slug), _('Shop')),
        (url_for('shop.ProductsView:index', publisher=publisher.slug), _('Products'))
    ) }}{% endblock %}

{% block actionbar %}{{ super() }}
    {% if not product %}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('new')) %}
            <li><a class="btn btn-primary"
                   href="{{ url_for('shop.ProductsView:get', publisher=publisher.slug, id='post') }}"><span
                    class="glyphicon glyphicon-plus-sign"></span> {{ _('New product') }}</a></li>
        {% endcall %}
    {% endif %}

{% endblock %}

{% block asides %}{{ super() }}

    {% if filter_options %}
        {{ MACRO.LIST_CONTROLS(model, args, ['title', 'description', 'type', 'world', 'created', 'price'], set_view=args['view'], default='card') }}

        <h5>{% trans %}By world{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['world'] %}
                {{ MACRO.ARG_LINK(opt[1],opt[0], combine=True) }}
            {% endfor %}
        </div>
        <h5>{% trans %}By time{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['created'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By type{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['type'] %}
                {{ MACRO.ARG_LINK(opt[1],opt[0], combine=True) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By price{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['price'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block content %}

    {% if products %}
        {% if args['view'] == 'list' %}

            {% for product in products %}
                <a class="blog_header"
                   href="{{ url_for('shop.ProductsView:get', publisher=publisher.slug, id=product.slug) }}">
                    <h3>{{ product.title }}</h3></a>
                <ul class="list-inline article-meta" style="margin-bottom: 0">
                    <li title="{{ _('Created') }}"><span
                            class="glyphicon glyphicon-calendar"></span> {{ product.created|dateformat(format='short') }}
                    </li>
                </ul>
                <div class="media">
                    {% if product.get_feature_image %}
                        <a class="pull-left"
                           href="{{ url_for('shop.ProductsView:get', publisher=publisher.slug, id=product.slug) }}">
                            <img class="media-object"
                                 src="{{ url_for('image_thumb', slug=product.get_feature_image.slug) }}">
                        </a>
                    {% endif %}
                    <div class="media-body">
                        {{ product.description|markdown }}
                        <a href="{{ url_for('shop.ProductsView:get', publisher=publisher.slug, id=product.slug) }}"><em
                                style="white-space: nowrap;">{{ _('Read more') }}</em></a>
                    </div>
                </div>
            {% endfor %}

        {% elif args['view'] == 'table' %}
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'title') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'description') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'type') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'world') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'created') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'price') }}</th>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <a href="{{ url_for('shop.ProductsView:get', publisher=publisher.slug, id=product.slug) }}">{{ product.title }}</a>
                        </td>
                        <td>{{ product.description|markdown }}</td>
                        <td>{{ product.get_field_display('type') }}</td>
                        <td>{{ product.world|default(_('No data'),true) }}</td>
                        <td class="nobr">{{ product.created|dateformat(format='short') }}</td>
                        <td class="product-price">{{ product.price|currencyformat(product.currency.upper()) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

        {% else %} {# ==table #}
            <div class="cards">
                {% for product in products %}
                    <div class="card"
                            {%- if product.get_feature_image -%}
                         style="background: url({{ url_for('image_thumb', slug=product.get_feature_image.slug) }}) center top/cover;"
                            {%- endif -%}>
                        <a class="card-cover gianticon"
                           href="{{ url_for('shop.ProductsView:get', publisher=publisher.slug, id=product.slug) }}">
                            {{ product_icons[product.type] if not product.get_feature_image else "&nbsp;"|safe }}
                        </a>
                        <div class="card-text">
                            <h4 class="card-title dobr">
                                <a href="{{ url_for('shop.ProductsView:get', publisher=publisher.slug, id=product.slug) }}">{{ product.title }}</a>
                            </h4>
                            <div class="card-description">{{ product.description|markdown }}</div>
                            <ul class="card-details">
                                <li class="product-type">{{ product.get_field_display('type') }}</li>
                                <li class="product-price">{{ product.price|currencyformat(product.currency.upper()) }}</li>
                                <li><a id="{{ product.slug }}" class="btn btn-xs btn-primary buy-link"
                                       href="{{ url_for('shop.OrdersView:cart', publisher=publisher.slug) }}">{{ _('Add to cart') }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% include "includes/pagination.html" %}
    {% else %}
        <div class="jumbotron text-center">
            <h2>{{ _('No products available') }}</h2>
        </div>
    {% endif %}
{% endblock %}

{% block final %}
    <script>
        var SHOP_URL = "{{ url_for('shop.OrdersView:buy', publisher=publisher.slug)}}"
    </script>
    {{ super() }}
{% endblock %}
