{% extends "shop/product_list.html" %}

{% block content_title %}{{ product.title if product else _("New product") }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block sidebar %}{{ super() }}

    {% if product %}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('edit')) %}
            <ul class="nav nav-pills nav-stacked">
                <li><a class="{{ privileged }}"
                       href="{{ url_for('shop.ProductsView:get', publisher=publisher.slug, id=product.slug, intent='patch') }}"><span
                        class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
            </ul>
        {% endcall %}
        {% include 'includes/social_icons.html' %}

    {% endif %}
{% endblock %}

{% block content %}{% block inline %}
    {% if product_form %}
        <form method="post" action="{{ action_url }}">
            <div class="row">
                <div class="col-md-8">
                    {{ MACRO.FORM_FIELD(product_form.title) }}
                    {{ MACRO.FORM_FIELD(product_form.product_number) }}
                    {{ MACRO.FORM_FIELD(product_form.project_code) }}
                    {{ MACRO.FORM_FIELD(product_form.description, controlclass=' content-editor') }}
                    {{ MACRO.FORM_FIELD(product_form.publisher) }}
                    {{ MACRO.FORM_FIELD(product_form.world) }}
                    {{ MACRO.FORM_FIELD(product_form.family) }}
                    {{ MACRO.FORM_FIELD(product_form.created, controlclass="flatpickr-datetime") }}
                    {{ MACRO.FORM_FIELD(product_form.type) }}
                    {{ MACRO.FORM_FIELD(product_form.price, required=true) }}
                    {{ MACRO.FORM_FIELD(product_form.currency, required=true) }}
                    {{ MACRO.FORM_FIELD(product_form.tax, required=true) }}
                    {{ MACRO.FORM_FIELD(product_form.status) }}
                    {{ MACRO.FORM_FIELD(product_form.stock_count) }}
                    {{ product_form.csrf_token }}
                </div>
                <div class="col-md-4">
                    {# data_end becomes data-end automatically #}
                    {{ MACRO.FORM_FIELD(product_form.images, controlclass='fileselect', data_endpoint=
                        url_for('assets.FileAssetsView:file_selector', type='image', choice='multiple'), data_class='image feature-images') }}

                    {{ MACRO.FORM_FIELD(product_form.downloadable_files, controlclass='fileselect', data_endpoint=
                        url_for('assets.FileAssetsView:file_selector', type='document', choice='multiple'), data_class='document feature-images') }}
                </div>
            </div>
            <div class="row form-actions">
                <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
                <a href="{{ url_for('shop.ProductsView:index', publisher=publisher.slug) }}"
                   class="btn btn-default">{{ _('Cancel') }}</a>
                {% if product %}
                    <a class="btn btn-danger pull-right" href="#confirm-modal" data-toggle="modal">{{ _('Delete') }}</a>
                {% endif %}
            </div>
        </form>
        {% if product %}
            {{ MACRO.CONFIRM_MODAL(product.title, url_for('shop.ProductsView:delete', publisher=publisher.slug, id=product.slug, method="DELETE"), _('delete') ) }}
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <tr>
                        <td><strong>{{ _('Title') }}</strong></td>
                        <td>
                            <small>{{ product.title }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Product Number') }}</strong></td>
                        <td>
                            <small>{{ product.product_number }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Project Code') }}</strong></td>
                        <td>
                            <small>{{ product.project_code }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Publisher') }}</strong></td>
                        <td>
                            <small>{{ product.publisher }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('World') }}</strong></td>
                        <td>
                            {% if product.world %}
                            <a href="{{ url_for('world.WorldsView:get', publisher_=publisher.slug, id=product.world.slug) }}">{{ product.world }}</a>
                            {% else %}
                                {% trans %}No data{% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Family') }}</strong></td>
                        <td>{{ product.family }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Created') }}</strong></td>
                        <td>{{ product.created|datetimeformat(format='short') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Updated') }}</strong></td>
                        <td>{{ product.updated|datetimeformat(format='short') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Type') }}</strong></td>
                        <td>
                            <small>{{ product.get_field_display('type') }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Price') }}</strong></td>
                        <td>
                            <small>{{ product.price|currencyformat(product.currency.upper()) }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Currency') }}</strong></td>
                        <td>
                            <small>{{ product.get_field_display('currency') }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Tax') }}</strong></td>
                        <td>
                            <small>{{ product.tax*100 }}%</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Status') }}</strong></td>
                        <td>
                            <small>{{ product.get_field_display('status') }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ _('Remaining Stock') }}</strong></td>
                        {% if access_policy['product'].authorize('edit') %}
                            <td class="privileged">
                                <small>{{ stock.stock_count.get(product.slug, _('Unknown')) }}</small>
                            </td></tr>
                        {% else %}
                            <td>
                                <small>{{ stock.display_stock(product.slug) if stock else _('Unknown') }}</small>
                            </td></tr>
                        {% endif %}
                    <tr>
                        <td><strong>{{ _('Times purchased') }}</strong></td>
                        <td>
                            <small>{{ product.in_orders().count() }}</small>
                        </td>
                    </tr>
                </table>

                <div class="well">{{ product.description|markdown }}</div>
                {% if product.downloadable_files %}
                    <div class="well"><strong>{{ _('Downloadable files') }}</strong>
                        {% for file_asset in product.downloadable_files %}
                            <div>{% if product.is_owned_by_current_user() %}<a
                                    href="{{ url_for('download', fileasset=file_asset.slug) }}"><span
                                    class="glyphicon glyphicon-download"></span> <strong>{{ file_asset.title }}</strong></a>{% else %}
                                <strong>{{ file_asset.slug }}</strong>{% endif %}{% if file_asset.description %}:
                                {{ file_asset.description|markdown }}{% endif %}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <a id="{{ product.slug }}" class="btn btn-block btn-primary buy-link"
                   href="{{ url_for('shop.OrdersView:cart', publisher=publisher.slug) }}">{{ _('Add to cart') }}</a>
                <br>
                <div class="gallery feature-images">
                    {% for img in product.images %}
                        <a class="gallery-item zoomable" style="{{ MACRO.GALLERY_ITEM_STYLE(img.aspect_ratio()) }}"
                           href="{{ url_for('image', slug = img.slug) }}"><img
                                src="{{ url_for('image', slug = img.slug) }}"></a>
                    {% else %}
                        <span class="glyphicon glyphicon-{{ product_icons[product.type] }} gianticon"></span>
                    {% endfor %}
                </div>

                <!--<a id="{{product.slug}}" class="btn btn-buy btn-primary buy-link" href="{{ url_for('shop.OrdersView:cart', publisher=publisher.slug)}}">{{ _('Add to cart') }}</a>-->
            </div>
        </div>
        {% if product.status != 'hidden' %}
            {% include 'includes/disqus.html' %}
        {% endif %}

    {% endif %}
{% endblock %}{% endblock %}