{% extends "shop/_page.html" if not parent_template else parent_template %}

{% set currencies = {
  'eur' : '€ %s',
  'sek' : '%s :-'
}%}

{% set prod_types = {
  'book':_('Book'),
  'item':_('Item'),
  'digital':_('Digital'),
  'shipping':_('Shipping fee')}
%}


{% block sidebar %}{{super()}}
  {% if not product %}
  {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('new')) %}
<ul class="nav nav-pills nav-stacked">
  <li class="{{privileged}}"><a href="{{ url_for('.product_form_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> {{ _('New product') }}</a></li>
  </ul>
  {% endcall %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="cards">
  <div class="row">
    {% if 'table' in request.args %}
      <table class="table table-hover">
      <thead>
        <tr>
          <th><a href="?order_by=title">{% trans %}Title{% endtrans %}</a></th>
          <th><a href="?order_by=description">{% trans %}Description{% endtrans %}</a></th>
          <th><a href="?order_by=type">{% trans %}Type{% endtrans %}</a></th>
          <th><a href="?order_by=publisher">{% trans %}Publisher{% endtrans %}</a></th>
          <th><a href="?order_by=price">{% trans %}Price{% endtrans %}</a></th>
        </tr>
      </thead>
      {% for product in products %}
        <tr>
          <td><a href="{{ url_for('.product_view', product=product.slug)}}">{{ product.title }}</a></td>
          <td>{{ product.description }}</td>
          <td>{{prod_types[product.type]}}</td>
          <td>{{ product.publisher }}</td>
          <td class="product-price">{{ currencies[product.currency] % product.price|currency }}</td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      {% for product in products %}
      <div class="col-md-4 product">
          {% if product.feature_image %}<a href="{{ url_for('.product_view', product=product.slug)}}"><img class="product-image" src="{{url_for('image_thumb', slug=product.feature_image.slug)}}"></a>{% endif %}
          <div class="product-intro">
              <h3><a href="{{ url_for('.product_view', product=product.slug)}}">{{ product.title }}</a></h3>
              <p>{{ product.description }}</p>
          </div>
          <ul class="product-details">
              <li class="product-type">{{ product.publisher }}</li>
              <li class="product-price">{{ currencies[product.currency] % product.price|currency }}</li>
              <li><a id="{{product.slug}}" class="btn btn-sm btn-primary buy-link" href="{{ url_for('.order_cart')}}">{{ _('Buy') }}</a></li>
          </ul>
      </div>
      {% if loop.index is divisibleby 3 %}</div><div class="row">{% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% include "includes/pagination.html" %}
</div>
{% endblock %}

{% block final %}
{{super() }}
<script>
$('.buy-link').click(function(e) {
    var jqxhr = $.ajax({
        url: "{{ url_for('.order_cart', out='json')}}",
        type: 'post',
        data: {product: this.id},
        headers: { 'X-CSRFToken': "{{ csrf_token() }}" },
        dataType: 'json',
        success: function (data) {
          $c = $('#cart-counter')
          $c.addClass("bounce").one('animationend webkitAnimationEnd oAnimationEnd', function() {
            $c.removeClass("bounce");
            $c.find('.badge').html(data.item)
          });
    }})
    .fail(function(jqXHR) {
        var res = JSON.parse(jqXHR.responseText)
        flash_error(res.message, 'danger')
    });
    e.preventDefault();
});
</script>
{% endblock %}
