{% extends "base.html" %}

{% block content_title %}Social{% endblock %}
{% block content_tagline %}bringing you closer to other gamers{% endblock %}
{% block social_active %} class="active"{% endblock %}

{% block sidebar %}
  <ul class="nav nav-list">
    <li><a href="{{ url_for('.index') }}"><span class="glyphicon glyphicon-home"></span> Main</a></li>
    <li><a href="{{ url_for('.user_list') }}"><span class="glyphicon glyphicon-user"></span> Gamers</a></li>
    <li><a href="{{ url_for('.group_list') }}"><span class="glyphicon glyphicon-globe"></span> Groups</a></li>
    <li><a href="{{ url_for('.conversation_list') }}"><span class="glyphicon glyphicon-bullhorn"></span> Forum</a></li>
  </ul>
{% endblock %}

{% block content %}
  <p>
  {% if session.logged_in %}
  Welcome <strong>{{ g.user.realname }}</strong>!
  {% endif %}
  Here you can interact with other gamers, create and manage your game groups,
  events, etc.</p>
  
  <h3>Messages from those you follow</h3>
  <ul class="list-unstyled">
    {% for message in following_message_list %}
      <li>{% include "social/message_item.html" %}</li>
    {% endfor %}
  </ul>
  
{% endblock %}
