{% extends "social/base.html" if not parent_template else parent_template %}

{% set members=group.members if group else [] %}

{% block content_title %}{{group.name if group}}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block sidebar %}{{super()}}
<ul class="nav nav-list">
<li class="nav-header">{{ _('Actions') }}</li>
<li><a href="{{ url_for('.group_form_new') }}"><span class="glyphicon glyphicon-pencil"></span> {{ _('New') }}</a></li>
{% if op!='new' %}
<li><a href="{{ url_for('.group_form_edit', group=group.slug) }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
{% endif %}
</ul>
{%endblock%}

{% block content %}{% block inline %}
{% if group_form %}<form method="post" action="{{group_form.action_url}}">{% endif %}
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped"
    {%- if group_form -%} data-editable="members" data-remote="{{url_for('.member_form_new', group=group.slug)}}"
    {%- endif -%}>
      <thead>
        <tr>
          <th>{{ _('Username') }}</th>
          <th>{{ _('Real name') }}</th>
          <th>{{ _('Role') }}</th>
        </tr>
      </thead>
      <tbody>
      {%- for member in members -%}
        {% set member_form = group_form.members[loop.index0] if group_form %}
        {% include "social/member_item.html" %}      
      {%- endfor -%}
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h5>{{ _('Details') }}</h5>
    <div class="well">{{ group_form.description(style="width: 100%") if group_form else group.description }}</div>
    <table class="table">
      <tr><td><strong>{{ _('Name') }}</strong></td>
      <td>{{ group_form.name if group_form else group.name }}</td></tr>
      <tr><td><strong>{{ _('Location') }}</strong></td>
      <td><small>{{ group_form.location if group_form else group.location }}</small></td></tr>
      <tr><td><strong>{{ _('Members') }}</strong></td>
      <td><span class="badge">{{members|length if group else 0}}</span></td></tr>
      <tr><td><strong>{{ _('Meetings') }}</strong></td>
      <td><span class="badge">0</span></td></tr>
    </table>
  </div>
</div>
{% if group_form %}
{{ group_form.csrf_token }}
<div class="row form-actions">
    <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
    <a href="{{url_for('.group_list')}}" class="btn btn-default">{{ _('Cancel') }}</a>
    {% if op!='new' %}
    <a href="{{url_for('.group_delete', group=group.slug)}}" class="btn btn-danger pull-right">{{ _('Delete') }}</a>
    {% endif %}
</div></form>{% endif %}
{% endblock %}{% endblock %}

{% block final %}{{super()}}
<script>

</script>
{% endblock %}