{% extends "social/social.html" %}

{% block content_title %}Groups{% endblock %}

{% block content %}

  <div class="row-fluid">
    <h2>My groups</h2>
    {% for group in my_master_groups %}
    <div class="span4">
      <h3>{{ group.name }}</h3>
      {% set members=group.members() %}
      {% include "social/group_member_view.html" %}
    </div>
    {% endfor %}
  </div>

  <div class="row-fluid">
    <div class="span4">
      <h3>All groups</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Group name</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr class="user-tablerow">
              <td><strong><a href="{{ url_for('social.group_detail', slug=group.slug) }}">{{group.name}}</a></strong></td>
              <td>{{group.location}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "includes/pagination.html" %}
    </div>
  </div>
{% endblock %}