{% extends "social/base.html" %}

{% block content_title %}{{ _('Groups') }}{% endblock %}

{% block sidebar %}{{super()}}
<ul class="nav nav-list">
<li class="nav-header">{{ _('Actions') }}</li>
<li><a href="{{ url_for('.group_form_new') }}"><span class="glyphicon glyphicon-pencil"></span> {{ _('New') }}</a></li>
</ul>
{% endblock %}

{% block content %}

  <div class="row">
    <h2>{{ _('My groups') }}</h2> 
    {% for group in my_master_groups %}
    <div class="col-md-4 well">
      <h3>{{ group.name }}</h3>
      {% set members=group.members() %}
      {% include "social/group_member_view.html" %}
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>{{ _('All groups') }}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ _('Group name') }}</th>
            <th>{{ _('Location') }}</th>
          </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr class="user-tablerow">
              <td><strong><a href="{{ url_for('.group_view', group=group.slug) }}">{{group.name}}</a></strong></td>
              <td>{{group.location}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include "includes/pagination.html" %}
{% endblock %}