<table class="table table-striped table-narrow m_view m_view-groupmembers">
<thead>
  <tr>
    <th>Username</th>
    <th>Real name</th>
    <th>Role</th>
  </tr>
</thead>
<tbody>
{% block inline %}
{%- for gm in members -%}
  <tr class="user-tablerow m_instance">
    <td class="m_field" name="username" data-value="{{gm.user.username}}">
      <a href="{{ url_for('.user_get', user=gm.user.username) }}">
      <img class="avatar" src="{{ gm.user.gravatar_url() }}" />
      <strong class="message_name">{{gm.user.username}}</strong>
    </a></td>
    <td>{{gm.user.realname}}</td>
    <td>{{gm.role}}</td>
    {% if False and resource.form %}<td> {# TODO avoiding to show form fields #}
      {% if False and resource.form and gm.status != 1 %}
        <button type="button" class="btn btn-small m_action" data-action-type="modal" href="{{ url_for('social.group_members_change', slug=group.slug, action='remove', players=gm.member.username, view='m_group_member_view') }}">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        {% if gm.status==2 %}<button type="button" class="btn btn-xs m_action" data-action-type="modal" href="{{ url_for('social.group_members_change', slug=group.slug, action='add', masters=gm.member.username, view='m_group_member_view') }}">
          Make master?
        </button>{% endif %}
      {% endif %}
    </td>{% endif %}
  </tr>
{%- endfor -%}
{% endblock %}

</tbody>

<!-- Deprecated -->
<!--
{% if False and resource.form -%}
<tfoot><tr><td colspan="4">
  <label>Add players</label>
  <ul class="typeahead-list typeahead-user">
    <li class="typeahead-input"><input class="typeahead-user-input" type="text" data-provide="typeahead" data-exclude-view=".m_view-groupmembers" /></li>
  </ul><button type="button" class="btn btn-primary m_action" href="{{ url_for('social.group_members_change', slug=group.slug, action='add', view='m_group_member_view') }}">Add</button>
</td></tr></tfoot>
<script>
  jQuery.getJSON('/api/username/', function(data) { $('.typeahead-user input').typeahead({source: data.objects}) })
</script>
{% endif %}

-->
</table>
