{% extends "social/social.html" %}

{% block content_title %}Group{{ bubbba if modal }}{% endblock %}

{% block content %}
  {% if group %}
  <div class="row-fluid">
    <div class="span4">
      <h3>{{ group.name }}</h3>
      {% include "includes/group_list.html" %}
    </div>
  </div>
  {% endif %}
  
  {% if form %}
  <form method="post" action="">
    {% for field in form %}
      <p>{{ field.label }} {{ field }}</p>
    {% endfor %}
    <p><button type="submit">Save</button> or <a href="{{ url_for('social.groups') }}">cancel</a></p>
  </form>
  {% endif %}

{% endblock %}