<div class="message
{%- if is_conversation -%}
  {%- if user.username == message.user.username -%} bubble_mine
  {%- else -%} bubble_others
  {%- endif -%}
{%- endif -%}">
    <a href="{{ url_for('.user_view', user=message.user.username) }}">
      <img class="avatar" src="{{ message.user.gravatar_url() }}" />
    </a>
    <span class="message_name">
      <a href="{{ url_for('.user_view', user=message.user.username) }}">
        <strong>{{message.user.username}}</strong>
      </a>
      <small>{{ message.pub_date.strftime('%Y-%m-%d %H:%M') }}</small>
    </span>
    <p class="message_content">{{ message.content|urlize }}</p>
</div>

