<table class="table table-striped m_view">
  <thead>
    <tr>
      <th>{{ _('Username') }}</th>
      <th>{{ _('Real name') }}</th>
      <th>{{ _('Location') }}</th>
      <th>{{ _('Actions') }}</th>
    </tr>
  </thead>
  <tbody>
      {% for user in users %}
      <tr class="user-tablerow m_instance">
        <td><a href="{{ url_for('social.user_view', user=user.identifier()) }}">
          <img class="avatar" src="{{ user.gravatar_url() }}" />
          <strong class="message_name">{{user}}</strong>
        </a></td>
        <td>{{user.realname|hidenone}}</td>
        <td>{{user.location|hidenone}}</td>
        <td>
        {#
        <div class="btn-toolbar">
        {% if user %}
          {% if current_use and user.username != current_user.username %}
            <button type="button" class="btn btn-sm m_action
              {% if current_user|is_following(user) %}" href="{{url_for('social.user_unfollow', username=user.username)}}">{{ _('Unfollow') }}
              {% else %}btn-primary" href="{{url_for('social.user_follow', username=user.username)}}">{{ _('Follow') }} ...
              {% endif %}</button>
            <div class="btn-group">
            <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
              {{ _('Add to group') }}<span class="caret"></span>
            </a>
            {% include "social/group_member_selector.html" %}
            </div>
          <button type="button" class="btn btn-sm btn-primary m_action" href="#TODO" data-action-type="modal">{{ _('Send message') }}</button>
          {% else %}
          <button class="btn disabled">{{ _("It's you!") }}</button>
          {% endif %}
 
        {% endif %}
        </div>#}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>