{% extends "social/base.html" if not parent_template else parent_template %}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ user }}{% endblock %}
{% block content_tagline %}{{ user.realname if user.username else ''}}{% endblock %}

{% block sidebar %}{{super()}}
  {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('edit', user)) %}
  <ul class="nav nav-list" style="float:left">
    <li class="nav-header">{{ _('Actions') }}</li>
    <li class="{{privileged}}"><a href="{{ url_for('.user_form_edit', user=user.identifier()) }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
  </ul>
  {% endcall %}
{%endblock%}

{% block content %}
{% if user_form %}<form class="form-horizontal" role="form" id='userform' method="post" action="{{ user_form.action_url }}">{%endif%}
<div class="row">
  <div class="col-md-4">
    <img src="{{ user.gravatar_url(256) }}" class="img-polaroid img-responsive"/>
    {% if user_form or g.user==user %}
      {{ _('Pick your avatar at') }} <a href="https://en.gravatar.com/site/signup/">Gravatar</a>
    {% endif %}
    {#<h4 class="pagination-centered">{{ user.exp }} XP</h4>#}
    <div class="btn-toolbar">
{#        {% if resouxrce.op == 'view' %}
      <button type="button" class="btn btn-small m_action
        {% if g.user|is_following(user) %}" href="{{url_for('social.user_unfollow', username=user.username)}}">{{ _('Unfollow') }}
        {% else %}btn-primary" href="{{url_for('social.user_follow', username=user.username)}}">{{ _('Follow') }} ...
        {% endif %}</button>
      <div class="btn-group">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
        {{ _('Add to group') }}<span class="caret"></span></a>
        {% include "social/group_member_selector.html" %}
      </div>
      <button type="button" class="btn btn-small btn-primary m_action" href="{{url_for('social.conversation_new', recipients=user.username, fixed_recipients=True)}}" data-action-type="modal">{{ _('Send message') }}</button>
    {% endif %}
#}
    </div>
  </div>
  <div class="col-md-8">
    {% if user_form %}
      {% if user and user==g.user %}
        {{ MACRO.FORM_FIELD_COLS(user_form.username, 'col-sm-3', 'col-sm-9')}}
{#        {{ MACRO.FORM_FIELD_COLS(user_form.password, 'col-sm-3', 'col-sm-9')}}
        {{ MACRO.FORM_FIELD_COLS(user_form.confirm, 'col-sm-3', 'col-sm-9')}} #}
      {% endif %}
{#      {{ FORM_FIELD_COLS(user_form.email, 'col-sm-3', 'col-sm-9')}} #}
      {{ MACRO.FORM_FIELD_COLS(user_form.realname, 'col-sm-3', 'col-sm-9')}}
      {{ MACRO.FORM_FIELD_COLS(user_form.location, 'col-sm-3', 'col-sm-9')}}
      {{ MACRO.FORM_FIELD_COLS(user_form.description, 'col-sm-3', 'col-sm-9')}} 
    {% else %}
    <table class="table">
      <tr><td><strong>{{ _('Email') }}</strong></td>
      <td><small>{{ user.email }}</small></td></tr>      
      <tr><td><strong>{{ _('Username') }}</strong></td>
      <td><small>{{ user.username|hidenone }}</small></td></tr>      
      <tr><td><strong>{{ _('Name') }}</strong></td>
      <td>{{ user.realname|hidenone }}</td></tr>
      <tr><td><strong>{{ _('Location') }}</strong></td>
      <td>{{ user.location|hidenone }}</td></tr>
      <tr><td><strong>{{ _('Joined') }}</strong></td>
      <td>{{ user.join_date.strftime('%Y-%m-%d %H:%M') }}</td></tr>
      {% call MACRO.IS_ADMIN() %}
      <tr><td><strong>{{ _('Authentication') }}</strong></td>
        <td>{{ user.auth_type() }}
          <a href="{{url_for('.reset_auth', user_id=user.identifier())}}"
             class="btn btn-danger pull-right">{{ _('Reset authentication') }}</a>
        </td></tr>
      <tr><td><strong>{{ _('Join link') }}</strong></td>
        <td style="max-width: 200px; word-wrap: break-word;"><a
        href="{{ url_for('auth.join', email=user.email, email_token=user.create_token(), next=url_for('shop.order_list'), reset=True, username=user.username, location=user.location, realname=user.realname) }}">{{
          url_for('auth.join', email=user.email, email_token=user.create_token(), next=url_for('shop.order_list'), reset=True, username=user.username, location=user.location, realname=user.realname) }}</a></td>
      </tr>
      {% endcall %}
      {#
      <tr><td><strong>{{ _('Following') }}</strong></td>
      <td><span class="badge">N/A</span></td></tr>
      <tr><td><strong>{{ _('Followers') }}</strong></td>
      <td><span class="badge">N/A</span></td></tr>
      #}
    </table>
    <div class="well">{{ user_form.description(style="width:100%") if user_form else user.description|hidenone(_('Empty...')) }}</div>
    {% endif %}
  </div>
</div> 

{% if user_form %}
<div class="row form-actions">
  {{ user_form.csrf_token }}
  <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
  <a href="{{ url_for('.user_view', user=user.identifier()) }}" class="btn btn-default">{{ _('Cancel') }}</a>
  {#{% if op!='new' %}
  <a href="{{url_for('.user_delete', user=user.identifier())}}" class="btn btn-danger pull-right">{{ _('Delete') }}</a>
  {% endif %}#}
</div></form>{%endif%}
{#
<div class="row">
  <div class="col-md-5">
  <h4>{{ _('Groups') }}</h4>
  {% set groups = user.groups() %}
  {% if groups and groups|length > 0 %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ _('Group name') }}</th>
        <th>{{ _('Location') }}</th>
        <th>{{ _('Members') }}</th>
        <th>{{ _('Role') }}</th>
      </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr class="user-tablerow">
          <td><strong><a href="{{ url_for('social.group_view', group=group.slug) }}">{{group.name}}</a></strong></td>
          <td>{{group.location}}</td>
          <td><span class="badge badge-info">{{group.members|length }}</span></td>
          <td>#TODO</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}{{ _('Not member of any groups yet!') }}{% endif %}
  </div>
  <div class="col-md-5">
    {% set message_list = user.messages() %}
    {% if message_list.count() > 0  %}
    <h4>{{ _('Messages to followers') }}</h4>
      <ul class="list-unstyled">
      {% for message in message_list %}
        <li>{% include "social/message_item.html" %}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
#}
{% endblock %}
