{% if not modal %}{% extends "social/social.html" %}
{% else %}{% extends "includes/partial.html" %}{% endif %}
{% set person = resource.instance if resource.instance %}
{% block content_title %}{{ person.username }}{% endblock %}
{% block content_tagline %}{{ person.realname }}{% endblock %}

{% block content %}
{% if resource.op == 'edit' or resource.op == 'new' %}<form method="post">{% endif %}
<div class="row m_instance m_userdetail m_inplace">
  <div class="span5">
    <div class="row">
      <div class="span4">
        <img src="{{ person.gravatar_url(128) }}" class="img-polaroid"/>
        {% if form %}<p class="pagination-centered"><a href="http://www.gravatar.com/site/signup/{{person.email}}">Change</a></p>{% endif %}
        <h4 class="pagination-centered">{{ person.exp }} XP</h4>
      </div>
      <div class="span8">
        <table class="table">
          {% if resource.op == 'edit' or resource.op == 'new' %}
          <tr><td><strong>Name</strong></td>
          <td>{{ resource.field('realname') }}</td></tr>
          <tr><td><strong>Email</strong></td>
          <td><small>{{ resource.field('email') }}</small></td></tr>
          <tr><td><strong>Password</strong></td>
          <td><input id="password" name="password" type="text" value=""><input id="password" name="password" type="text" value=""></td></tr>     
          {% endif %}
          <tr><td><strong>Location</strong></td>
          <td>{{ resource.field('location') }}</td></tr>
          <tr><td><strong>Joined</strong></td>
          <td>{{ person.join_date.strftime('%Y-%m-%d %H:%M') }}</td></tr>
          <tr><td><strong>Following</strong></td>
          <td><span class="badge">{{person.following().count() }}</span></td></tr>
          <tr><td><strong>Followers</strong></td>
          <td><span class="badge">{{person.followers().count() }}</span></td></tr>
        </table>
        <div class="btn-toolbar">
        {% if resource.op == 'view' %}
          <button type="button" class="btn btn-small m_action
            {% if user|is_following(person) %}" href="{{url_for('social.user_unfollow', username=person.username)}}">Unfollow
            {% else %}btn-primary" href="{{url_for('social.user_follow', username=person.username)}}">Follow ...
            {% endif %}</button>
          <div class="btn-group">
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            Add to group<span class="caret"></span></a>
            {% include "social/group_member_selector.html" %}
          </div>
          <button type="button" class="btn btn-small btn-primary m_action" href="{{url_for('social.conversation_new', recipients=person.username, fixed_recipients=True)}}" data-action-type="modal">Send message</button>
        {% endif %}
        </div>
      </div>
    </div>
  </div> 
  <div class="span5">
    <div class="well">{{ resource.field('description') }}
    </div>
  </div>
</div>
{% if resource.op == 'edit' or resource.op == 'new' %}<div class="row form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="{{url_for('social.user_detail', username=person.username)}}" class="btn">Cancel</a>
    </div></form>{% endif %}
<div class="row">
  <div class="span5">
  <h4>Groups</h4>
  {% set groups = user.groups() %}
  {% if groups.count() > 0 %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Group name</th>
        <th>Location</th>
        <th>Members</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr class="user-tablerow">
          <td><strong><a href="{{ url_for('social.group_detail', groupslug=group.slug) }}">{{group.name}}</a></strong></td>
          <td>{{group.location}}</td>
          <td><span class="badge badge-info">{{group.members().count() }}</span></td>
          <td>{{group.get_member(person).status_text()|capitalize }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}Not member of any groups yet!{% endif %}
  </div>
  <div class="span5">
    {% set message_list = user.messages() %}
    {% if message_list.count() > 0  %}
    <h4>Messages to followers</h4>
      <ul class="unstyled">
      {% for message in message_list %}
        <li>{% include "includes/message.html" %}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
