{% extends "_page.html" %} {# Doesn't use root_template object as this will never be served as modal or fragment #}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}
	{% if op=='login' %}
		{{ _('Please sign in') }} 
	{% elif opp=='verify' %}
		{{ _('Complete your account') }}
	{% else %}
		{{ _('Login') }}
	{% endif %}
{% endblock %}
  

{% block jsimports %}
  <script type="text/javascript" async 
    src="https://plus.google.com/js/client:plusone.js?onload=start"></script>
  {{super()}}

{#
  <script type="text/javascript">
    (function () {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
  </script>
  #}
{% endblock %}

{#
{% elif op=='login' %}
  {% set title = _('Please sign in') %}
  {% set submit = _('Sign in') %}
  {% set action = '' %}
  {% set option_args = {'disabled': true} %}
{% elif op=='verify' %}
  {% block content_title %}{{ _('Complete your account') }}{% endblock %}
  {% set title = _('Complete your account') %}
  {% set submit = _('Join') %}
  {% set action = url_for('auth.join') %}
  {% set option_args = {} %}
{% endif %}
#}

{% block navbar %}
{{super()}}
<script>
  // This is called with the results from from FB.getLoginStatus().
  // function statusChangeCallback(response) {
  //   console.log('statusChangeCallback');
  //   console.log(response);
  //   // The response object is returned with a status field that lets the
  //   // app know the current login status of the person.
  //   // Full docs on the response object can be found in the documentation
  //   // for FB.getLoginStatus().
  //   if (response.status === 'connected') {
  //     // Logged into your app and Facebook.
  //     testAPI();
  //   } else if (response.status === 'not_authorized') {
  //     // The person is logged into Facebook, but not your app.
  //     document.getElementById('status').innerHTML = 'Please log ' +
  //       'into this app.';
  //   } else {
  //     // The person is not logged into Facebook, so we're not sure if
  //     // they are logged into this app or not.
  //     document.getElementById('status').innerHTML = 'Please log ' +
  //       'into Facebook.';
  //   }
  // }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  // function checkLoginState() {
  //   FB.getLoginStatus(function(response) {
  //     statusChangeCallback(response);
  //   });
  // }

  window.fbAsyncInit = function() {
    console.log('FB was inited');
    FB.init({
      appId      : '1511162782440441',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.0' // use version 2.0
    });

    $('#facebook-signin').click(function(e){
      FB.getLoginStatus(function(response){
        if(response.status==='connected') {
          facebookCallback(response)
        } else {
          FB.login(function(response) {
            if(response.authResponse) {
              facebookCallback(response)
            } else{
              console.log('Error in Facebook login process')
            }
          }, {scope: 'public_profile,email'})
        }
      });
    });

    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    // FB.getLoginStatus(function(response) {
    //   statusChangeCallback(response);
    // });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  // function testAPI() {
  //   console.log('Welcome!  Fetching your information.... ');
  //   FB.api('/me', function(response) {
  //     console.log('Successful login for: ' + response.name);
  //     document.getElementById('status').innerHTML =
  //       'Thanks for logging in, ' + response.name + '!';
  //   });
  // }
</script>
{% endblock %}


{% block final %}
{{super()}}
<script>

$('#password-signin').click(function(e){
	$('#signin-buttons').addClass('hide')
	$('#password-inputs').removeClass('hide')
    $('#optional-inputs input').attr('disabled', false)
  	$('#optional-inputs').removeClass('hide')
  	$('#signin-submit').attr('disabled', false)
});

//----------------------------------------------------------//

$('#google-signin').click(googleInit);

function googleInit() {
	gapi.auth.signIn({
    'clientid': "852791556464-vbn49e0lkc9tvpferm4otdtbpjbk11r1.apps.googleusercontent.com",
    'scope': "https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read",
    'redirecturi':"postmessage",
    'cookiepolicy': "single_host_origin",
    'callback':"googleCallback"
	});
}

function googleCallback(authResult) {  
  if (authResult['code']) {
    $('#signin-buttons').addClass('hide')
    $('#password-inputs').addClass('hide').find('input').attr('disabled', true)
    $('#optional-inputs input').attr('disabled', false)
  	$('#optional-inputs').removeClass('hide')

    gapi.client.load('plus','v1', function(){
      var request = gapi.client.plus.people.get( {'userId' : 'me'} );
      request.execute( function(profile) {
        $('#profile').empty();
        if (profile.error) {
          $('#profile').append(profile.error);
          return;
        }
        $('#auth_code').val(authResult['code'])
        $('#external_service').val('google')
        $('#realname').val(profile.displayName)
        var form_email = $('#email').val()
        var google_email = profile.emails.length && profile.emails[0].value
        if (!form_email)
        	$('#email').val(google_email)
        if(profile.placesLived)
          $('#location').val(profile.placesLived.length && profile.placesLived[0].value)
        var profileEl = '<img class="pull-left" src=\"' + profile.image.url + '\">'+
        	'<p>{{_("Authorized with Google as")}} ' + profile.displayName + ', {{_("associated email")}} '+google_email+'!</p>'
        $('#profile').html(profileEl);
        $('#signin-submit').attr('disabled', false)
        // var signout = $('<button class="btn" type="button">Sign out from Google</button>')
        //   .click(function(e) {
        //     gapi.auth.signOut();
        //   })
        // $('#profile').append(signout)
      });
    });
  } else {
    var error = authResult['error'] || "Network problem"
    console.log(error)
    // if (error!='immediate_failed') { // couldn't auto-signin
    //   alert('Error: '+error)      
    // }
  }
}

//----------------------------------------------------------//

function facebookCallback(response) {
  console.log(response)
  $('#signin-buttons').addClass('hide')
  $('#password-inputs').addClass('hide').find('input').attr('disabled', true)
  $('#optional-inputs').removeClass('hide')
  $('#optional-inputs input').attr('disabled', false)
  $('#external_service').val('facebook')
  $('#auth_code').val(response.authResponse.accessToken)
  FB.api('/me', function(response) {
    // console.log(response)
    $('#realname').val(response.name)
    var form_email = $('#email').val()
    if (!form_email)
    	$('#email').val(response.email)
    var profileEl = 
    	'<p>{{_("Authorized with Facebook as")}} '+ response.name + ', {{_("associated email")}} '+response.email+'!</p>'
    $('#profile').empty().append(profileEl);
    FB.api('/me/picture?redirect=true', function(response) {
    	$('#profile').prepend('<img class="pull-left" src=\"' + response.data.url + '\">')
  	})
  	$('#signin-submit').attr('disabled', false)
  });
}

</script>
{% endblock %}