{% extends "auth/_page.html" if not parent_template else parent_template %}
{% import 'includes/macros.html' as MACRO %}

{% block title %}{{_('Login')}}{% endblock %}

{% block mainblock %}
<form id="auth-form" method="post" action="" class="col-sm-6 col-sm-offset-3" role="form">
  <h2 class="form-signin-heading">{{ _('Please sign in') }}</h2>
  <input type="hidden" name="next" value="{{ next }}" />

  <div id="signin-buttons">
    <div class="popover right popover-external-auth">
      <div class="arrow"></div>
      <h3 class="popover-title">{{_('Problem signing in?')}}</h3>
      <div class="popover-content">
        <p>
        {%- trans -%}Pick the method you signed up with. If you forgot
        your method or password, click below!
        {%- endtrans -%}
        <a href="{{url_for('auth.remind')}}" class="btn btn-success btn-block">{{_('Remind login')}}</a>
        </p>
      </div>
    </div>
    <span class="help-block">{{_('Join')}} {{_('with external provider (safer!)')}}</span>
    <button type="button" id="google-signin" class="btn btn-danger btn-signin">{{_('Login via Google')}}</button>
    <button type="button" id="facebook-signin" class="btn btn-primary btn-signin">{{_('Login via Facebook')}}</button>
  </div>

  <hr>
  <div class="clearfix" id="profile"></div>

  <div id="password-inputs">
    <span class="help-block">{{_('Use own password')}}</span>
    {{ MACRO.FORM_FIELD(form.email, controlclass="input-lg", inline=true, required=true, autofocus=true) }}
    {{ MACRO.FORM_FIELD(form.password, controlclass="input-lg", inline=true, required=true) }}
    <span class="help-block">{{_('Minimum 8 characters!')}}</span>
  </div>
  {{ form.external_service }}
  {{ form.auth_code }}
  {{ form.csrf_token }}

  <button class="btn btn-signin btn-success btn-block" type="submit">{{ _('Sign in') }}</button>
</form>
{% endblock %}