{% extends "_page.html" %}

{% block cssimports %}
    {{ super() }}
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon/mundana.ico') }}"> -->
    <style>
{#        @font-face {#}
{#            font-family: 'Ringbearer-Medium';#}
{#            src: url('{{ url_for('static', filename='fonts/Ringbearer-Medium.ttf.woff') }}') format('woff');#}
{#            font-weight: normal;#}
{#            font-style: normal;#}
{#        }#}
{#        h1, h2, h3, h4, h5, h6 {#}
{#            font-family: 'Ringbearer-Medium', sans-serif;#}
{#            font-weight: 900;#}
{#            color: #333;#}
{#        }#}
        .container {
            font-family: 'Gentium Book Basic', sans-serif;
            font-weight: 400;
            font-size: 18px;
        }
    .hero-unit {
    background-image: url({{ url_for('static', filename='img/themes/ht-1200x600.min.jpg') }});
width: 100%;
    height: 400px;
    background-size: cover;
    margin-top: -15px;
    }

    .btn-info {
            background-color: #b54456;
    border-color: #242a38;
    }

        .btn-info:hover {
            background-color: #D14D61;
    border-color: #242a38;
    }

    </style>
{% endblock %}

{% block navbar %}
    {{ super() }}
    <div class="row hero-unit">
    </div>
{% endblock %}

{% block sidebar %}
{{super()}}
    <a href="https://www.facebook.com/hjaltarnastid/"><img class="center-block" src="{{ url_for('static', filename='img/icon/fb_like_icon_144px.png') }}"></a>
{#    <p class="text-center"><a class="btn btn-lg btn-info" href="">#}
{#                    Förhandsbeställ</a></p>#}
{% include 'includes/social_icons.html' %}
{% endblock %}