{% extends root_template %}
{% import 'includes/macros.html' as MACRO %}

{% block cssimports %}
    {{ super() }}
    <style>
        @import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic);
        @import url(//fonts.googleapis.com/css?family=Eczar:700);

        .page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6,
        .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
            font-family: 'Eczar', 'Gentium Basic', sans-serif;
            font-weight: 700;
            color: #333;
        }

        article {
            font-family: 'Gentium Basic', 'Georgia', sans-serif;
            font-size: 16px;
        }

    </style>
{% endblock %}

{% block content_title %}Helmgast{% endblock %}
{% block container_class %}container{% endblock %}

{% block navbar_brand %}
    <a class="navbar-brand" href="{{ url_for('world.ArticlesView:publisher_home', publisher_=publisher.slug) }}">
        <img class="img-responsive" src="{{ url_for('static', filename='img/helmgast_512px_bw.png', _external=true, _scheme='') }}"
             style="margin-top: -18px;">
    </a>
{% endblock navbar_brand %}

{% block navbar_left %}
    <li{% block world_active %}{% endblock %}><a
            href="{{ url_for('world.WorldsView:index', publisher_=publisher.slug) }}"><span
            class="glyphicon glyphicon-globe"></span> {{ _('Game Worlds') }}</a></li>
    <li{% block pub_blog_active %}{% endblock %}><a
            href="{{ url_for('world.ArticlesView:blog', publisher_=publisher.slug, world_='meta') }}"><span
            class="glyphicon glyphicon-comment"></span> {{ _('Blog') }}</a></li>
    <li{% block ext_shop_active %}{% endblock %}><a href="http://webshop.helmgast.se"
                                                    target="_blank"><span
            class="glyphicon glyphicon-shopping-cart"></span> {{ _('Shop') }}</a></li>
    <li><a href="http://www.rollspel.nu/forum/neogames" target="_blank"><span
            class="glyphicon glyphicon-bullhorn"></span> {{ _('Forum') }}</a></li>
    {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('edit', user)) %}
    <li{% block shop_active %}{% endblock %}><a class="{{ privileged }}"
            href="{{ url_for('shop.shop_home', publisher=publisher.slug) }}"><span
            class="glyphicon glyphicon-list-alt"></span> {{ _('New') }} {{ _('Shop') }}</a></li>
    {% endcall %}
{% endblock navbar_left %}


{% block footer %}
    <div class="row">
        <div class="col-xs-4">
            <ul class="list-unstyled">
                <li><a data-toggle="modal" data-target="#themodal" href="{{ url_for('mail.mail_view', mail_type='compose', user=user.id,
        from_field=user.email, subject=gettext('Question'), intent='post') }}">{% trans %}Contact Us{% endtrans %}</a>
                </li>
                <li><a href="http://eepurl.com/RuMH1">{% trans %}Newsletter{% endtrans %}</a></li>
                <li class="margin-above">
                    <div class="social">
                        <a class="socialtw" href="https://twitter.com/helmgast" target="_blank">
                            <svg class="fablr-icon fablr-icon-twitter">
                                <use xlink:href="#fablr-twitter"></use>
                            </svg>
                        </a>
                        <a class="socialfb" href="https://www.facebook.com/helmgast"
                           target="_blank">
                            <svg class="fablr-icon fablr-icon-facebook">
                                <use xlink:href="#fablr-facebook2"></use>
                            </svg>
                        </a></div>
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <ul class="list-unstyled">
                <li><a href="{{ url_for('world.ArticlesView:blog', publisher_=publisher.slug, world_='meta') }}">
                    {% trans %}Blog{% endtrans %}</a></li>
                <li>
                    <a href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, world_='meta', id='om-helmgast') }}">
                        {% trans %}About{% endtrans %}</a></li>
{#                <li>#}
{#                    <a href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, world_='meta', id='media') }}">#}
{#                        {% trans %}Media{% endtrans %}</a></li>#}
                <li>
                    <a href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, world_='meta', id='arbeta-med-oss') }}">
                        {% trans %}Work with us{% endtrans %}</a></li>
            </ul>
        </div>
        <!-- --/col-lg-3 ---->

        <div class="col-xs-4">
            <ul class="list-unstyled">
                {#                    <li><a href="">{% trans %}Tour{% endtrans %}</a></li>#}
                <li>
                    <a href="http://webshop.helmgast.se/sv/villkor-info.html">
                        {% trans %}Terms of Service{% endtrans %}</a></li>
                <li>
                    <a href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, world_='meta', id='sakerhet-och-kakor') }}">
                        {% trans %}Security and cookie policy{% endtrans %}</a></li>
                <li class="margin-above">{% include 'includes/language_chooser.html' %}</li>
            </ul>
        </div>
        <!-- --/col-lg-3 ---->
    </div>
    <!-- --/row ---->
{% endblock %}


{% block home %}
    <div class="container">
    <div class="jumbotron helmgast-header">
        <h1>HELMGAST</h1>
        <h2>Vi tar spel på allvar</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>{{ _('Welcome to') }} Helmgast</h1>
            <h4><i>Ny utgivare av klassiska rollspelen Eon, Neotech <br> med många fler i pipelinen!</i></h4>
        </div>
        <div class="col-md-6">
            {% include "newsletter.html" %}
        </div>
    </div>
    <div class="row">
        {% for article in articles %}
            <div class="col-lg-4 col-sm-6 col-xs-12" style="padding-bottom: 20px;">
                <a class="blog_header"
                   href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, world_=world.slug, id=article.slug) }}">
                    <h3>{{ article.title }}</h3></a>
                {% if article.get_feature_image %}
                    <a class="pull-left"
                       href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, world_=world.slug, id=article.slug) }}">
                        <img class="media-object"
                             src="{{ url_for('image_thumb', slug=article.get_feature_image.slug) }}">
                    </a>
                {% endif %}
                <p class="lead">{% if article.description %}{{ article.description|markdown }}{% else %}
                    {{ article.content[0:500]|markdown|striptags|truncate }}{% endif %}
                    <a href="{{ url_for('world.ArticlesView:get', publisher_=publisher.slug, world_=world.slug, id=article.slug) }}"><em
                            style="white-space: nowrap;">{{ _('Read more') }}</em></a></p>
                <hr-d>
                    <ul class="list-inline article-meta" style="margin-bottom: 0;">
                        <li title="{{ _('Created') }}"><span class="glyphicon glyphicon-calendar"></span>
                            {{ article.created_date|dateformat(format='short') }} {{ _('by') }}
                        </li>
                        <li title="{{ _('Creator') }}">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ article.creator if article.creator else _('Admin') }}
                        </li>
                    </ul>
                </hr-d>
            </div>
        {% else %}
            <div class="jumbotron text-center">
                <h2>{{ _('No articles yet!') }}</h2>
            </div>
            <!-- col-lg-4 -->
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Visioner av våra spel</h2>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port01.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port01.jpg') }}"
                    alt="">
            </a>

            <p>RUINERNA</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port02.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port02.jpg') }}"
                    alt="">
            </a>

            <p>FÅNGARNA</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port03.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port03.jpg') }}"
                    alt="">
            </a>

            <p>SLAGFÄLTET</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port04.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port04.jpg') }}"
                    alt="">
            </a>

            <p>ARKETYPEN LÄRD</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port05.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port05.jpg') }}"
                    alt="">
            </a>

            <p>ARKETYPEN MYSTIKER</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port06.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port06.jpg') }}"
                    alt="">
            </a>

            <p>ARKETYPEN KRIGARE</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port07.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port07.jpg') }}"
                    alt="">
            </a>

            <p>PSYCHO TRIBE</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port08.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port08.jpg') }}"
                    alt="">
            </a>

            <p>NATURAL CHILD</p>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 desc">
            <a class="zoomable" href="{{ url_for('static', filename='img/front/port09.jpg') }}"><img
                    class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port09.jpg') }}"
                    alt="">
            </a>

            <p>LIVET I MING ESTATES</p>
        </div>
    </div>
    </div>
{% endblock %}