{% extends "world/world_list.html" %}

{% block cssimports %}
    {{ super() }}
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon/mundana.ico') }}"> -->
    <style>
        @import url(//db.onlinewebfonts.com/c/bec1dc061960782df16e73f9881c9829?family=Ringbearer);

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Ringbearer', sans-serif;
            font-weight: 900;
            color: #333;
        }

        .container {
            font-family: 'Gentium Book Basic', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
    .hero-unit {
    background-image: url({{ url_for('static', filename='img/themes/jarn_cover_wide.jpeg') }});
}
    </style>
{% endblock %}

{% block cover %}
    <div class="row hero-unit">
    </div>
{% endblock cover %}