{% extends "world/world_list.html" %}

{% block cssimports %}
{{super()}}
<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon/mundana.ico') }}"> -->
<style>

@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);

@font-face {
  font-family: 'Vinque';
  src: url({{ url_for('static', filename=assets['css/vinque.woff']) }}) format('woff'),
       url({{ url_for('static', filename=assets['css/vinque.ttf']) }}) format('truetype');
}

/* needs !important to overwrite other css classes */
.sidebar a {
    font-family: Vinque, serif;
    text-decoration: none;
    color: #8f0011;
    font-size: 13px;
}

.article_text {
    font-family: 'Goudy Bookletter 1911', serif;
}

.article_text a {
    text-decoration: none;
    color: #8f0011;
}

.article_header, .page-header h1, .page-header h2 {
    font-family: Vinque, serif;
}

.hero-unit {
    background-image: url({{ url_for('static', filename='img/front/main01_cover.jpg') }});
}

</style>
{% endblock %}

{% block cover %}
    <div class="row hero-unit">
    </div>
{% endblock cover %}