{% extends "asset/_page.html" if not parent_template else parent_template %}

{% block content %}
{% if files %}
<table class="table">
<thead>
	<tr>
		<td>{{_('File')}}</td>
		<td>{{_('Title')}}</td>
		<td>{{_('Description')}}</td>
		<td>{{_('File name')}}</td>
		<td>{{_('Attachment file name')}}</td>
		<td>{{_('Attachment file name')}}</td>
		<td>{{_('Access type')}}</td>
	</tr>
</thead>
<tbody>
	{% for file in files %}
	<tr>
		<td><a href="{{ url_for('.fileasset_form_edit', fileasset=file.id)}}">{{file.slug}}</a></td>
		<td>{{file.title}}</td>
		<td>{{file.description}}</td>
		<td>{{file.source_filename}}</td>
		<td>{{file.attachment_filename}}</td>
		<td>{{file.file_data}}</td>
		<td>{{file.access_type_name()}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% include "includes/pagination.html" %}

{% else %}
<h3>{{_('No file assets available!')}}</h3>
{% endif %}
{% endblock %}
