{% extends "asset/_page.html" if not parent_template else parent_template %}
{% import 'includes/macros.html' as MACRO %}

{% block content_title %}{{product.title if product else _("New product")}}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block sidebar %}{{super()}}
<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">{{ _('Actions') }}</li>
    {% if op != 'new' %}
    <li><a href="{{ url_for('.fileasset_form_edit', fileasset=fileasset.slug) }}"><span
            class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
    {% endif %}
</ul>
{%endblock%}

{% block content %}{% block inline %}
{% if fileasset_form %}
<form method="post" action="{{fileasset_form.action_url}}" enctype=multipart/form-data>
    <div class="row">
        <div class="col-md-8">
            {{ MACRO.FORM_FIELD(fileasset_form.title) }}
            {{ MACRO.FORM_FIELD(fileasset_form.description) }}
            {{ MACRO.FORM_FIELD(fileasset_form.access_type) }}
            {{ fileasset_form.file_data }}
            {{ MACRO.FORM_FIELD(fileasset_form.attachment_filename) }}
            {{ fileasset_form.csrf_token }}
        </div>
    </div>
    <div class="row form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
        <a href="{{url_for('.fileasset_list')}}" class="btn btn-default">{{ _('Cancel') }}</a>
        {% if op != 'new' %}
        <a href="{{url_for('.fileasset_delete', fileasset=fileasset.slug)}}"
           class="btn btn-danger pull-right">{{ _('Delete')}}</a>
        {% endif %}
    </div>
</form>
{% else %}
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <td><strong>{{ _('File') }}</strong></td>
                <td>
                    <small>{{ fileasset.slug }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Title') }}</strong></td>
                <td>
                    <small>{{ fileasset.title }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Description') }}</strong></td>
                <td>
                    <small>{{ fileasset.description }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Access type') }}</strong></td>
                <td>
                    <small>{{ fileasset.access_type_name() }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Source filename') }}</strong></td>
                <td>
                    <small>{{ fileasset.source_filename }}</small>
                </td>
            </tr>
            <tr>
                <td><strong>{{ _('Attachment file name') }}</strong></td>
                <td>
                    <small>{{ fileasset.attachment_filename }}</small>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
{% endblock %}
