{% extends "world/base.html" %}

{% block content %}
    <div class="row">
    {% if model.count() == 0 %}No articles yet!{% else %}

    {% if groupby=='type' %}
        {% set groups = model|by_articletype %}
    {% elif groupby=='title' %}
        {% set groups = model|by_initials %}
    {% elif groupby=='time' %}
        {% set groups = model|by_time %}
    {% endif %}
    <dl>
        {% for group in groups %}
        <dt>{{ group.grouper|capitalize }}</dt>
        <dd><ul class="unstyled">
        {% for article in group.list %}
            <li><a href="{{ url_for('.article_get', article=article.slug, world=world.slug) }}">{{article.title}}</a>
                {%- if groupby=='title' -%}
                    <small>{{" ["+article.type_name()+"]"}}</small>
                {%- elif groupby=='time' -%}
                    <small>{{" ["+article.created_date.strftime('%Y-%m-%d %H:%M')+"]"}}</small>
                {%- endif %}</li>
            {% endfor %}
        </ul></dd>
        {% endfor %}
    </dl>
    {% endif %}
    </div>
{% endblock %}
