{% extends "world/world_item.html" if not parent_template else parent_template %}

{% from 'includes/components.html' import form_field, form_fields %}

{% if op == 'new' %}
  {%set tagline = world.title %} {% set title = 'New article!' %}
{% else %}
  {% set tagline = article.type_name() %} {% set title = article.title %}
{% endif %}

{% set article_type_name = article.type_name().lower() if article else '' %}

{% block cssimports %}
{{ super() }}
<link href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
<![endif]-->
{% endblock %}

{% block jsimports %}{{super()}}
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endblock %}

{% block middle %}

{#### FORM ####}
{% if article_form %}
{% include "includes/flash.html" %}

<form role="form" id='articleform' method="post" action="{{ article_form.action_url }}">
  {{ article_form.csrf_token }}
  {{ article_form.title(style="display:none;") }}
  <h1 class="article_header">
    <span id="editable_title" class="contenteditable" contenteditable="True">{{title }}</span>
        <small>{{ tagline }}</small>
  </h1>
<ul class="nav nav-tabs content-menu">
  <li class="content-menu-info">Banan</li>
  <li class="active"><a href="#focus" data-toggle="tab"><span class="glyphicon glyphicon-eject"></span></a></li>
  <li><a href="#metadata" data-toggle="tab">Metadata</a></li>
  <li><a href="#relations" data-toggle="tab"><span class="glyphicon glyphicon-transfer"></span> Relations</a></li>
  <li><a href="#details" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Details</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {% if op!= 'new'%}
      <li><a href="{{ url_for('.article_form_edit', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
      <li><a href="#deletemodal" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}</a></li>
      <li><a href="{{ url_for('.article_view', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-align-justify"></span> {{ _('View') }}</a></li>
    {%endif%}   
    </ul>
  </li>
  <li class="articlesave"><button type="submit" class="btn btn-sm btn-primary">{{ _('Save changes') }}</button></li>
</ul>

<div class="tab-content content-panel">
  <div class="tab-pane fade" id="focus"></div>

  <div class="tab-pane panel panel-default fade form-horizontal" id="metadata">
  {% if article_type_name == 'person' %}
    {% set type_form = article_form.personarticle %}
  {% elif article_type_name == 'fraction' %}
    {% set type_form = article_form.fractionarticle %}
  {% elif article_type_name == 'place' %}
    {% set type_form = article_form.placearticle %}
  {% elif article_type_name == 'event' %}
    {% set type_form = article_form.eventarticle %}
  {% elif article_type_name == 'campaign' %}
    {% set type_form = article_form.pcampaignarticle %}
  {% endif %}
  {% for field in type_form %}
    <div class="form-group">
      {{ field.label(class="col-sm-2 control-label") }}
      <div class="col-sm-2">
        {{ field(class="form-control")}}
      </div>
    </div>
  {% endfor %}
  </div>

  <div class="tab-pane panel panel-default fade row" id="relations">
  {% if article %}
    <div class="col-xs-7">
    <ul data-editable="relations" class="list-group relations" data-remote="{{url_for('.articlerelation_form_new', world=world.slug, article=article.slug)}}">
      {% for articlerelation_form in article_form.relations %}
        {% include "world/articlerelation_item.html" %}
      {% endfor %}
    </ul>
    </div>
  {% endif %}
  </div>

  <div class="tab-pane panel panel-default fade row" id="details">
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="description">Description</label>
        {{ article_form.description(class="form-control", rows=4) }}
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="type">Type</label>
          {{ article_form.type(class="form-control input-sm") }}
      </div>
      <div class="form-group">
        <label class="control-label" for="world">World</label>
        {{ article_form.world(**{'data-role':'chosen'}) }}
      </div>
      {% if g.user.id %}
        <input type="hidden" name="creator" value="{{g.user.id}}" />
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9 article_text">
    <div class=" hide" id="editor">{{ article_form.content.data|markdown if article_form.content.data else '<p><br></p>'|safe}}</div>
    <span id="hinter"></span>
    {{ article_form.content(**{'rows':article_form.content.data|rows, 'data-editable':'textarea', 'data-target':'#editor'}) }}
  </div>
  <div class="col-md-3">
    Example comment
  </div>
</div>
</form>

{#### PAGE ####}
{%- else -%}

<h1 class="article_header">{{title}}
    <small>{{ tagline }}</small>
</h1>
<ul class="nav nav-tabs content-menu">
  {% set articlegroups = article.articlegroups|list %}
  <li class="content-menu-info" title="Creator"><span class="glyphicon glyphicon-user"></span> {% if article.creator %}<a href="{{url_for('social.user_view', user=article.creator.username)}}">{{article.creator}}</a>{% else %}System{%endif%}</li>
  <li class="content-menu-info" title="Created"><span class="glyphicon glyphicon-calendar"></span> {{article.created_date.strftime('%Y-%m-%d') }}</li>
  <li class="content-menu-info" title="Visibility"><span class="glyphicon glyphicon-lock"></span> {{ articlegroups|join(',') if articlegroups else 'All' }}</li>
  <li class="content-menu-info" title="Relations to other articles"><i class="glyphicon glyphicon-export"></i> {{ article.relations|length }}</li>
  <li class="content-menu-info" title="Other articles relation to this article"><i class="glyphicon glyphicon-import"></i> {{ 0 }}</li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {% if op!= 'new'%}
      <li><a href="{{ url_for('.article_form_edit', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
      <li><a href="#deletemodal" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}</a></li>
      <li><a href="{{ url_for('.article_view', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-align-justify"></span> {{ _('View') }}</a></li>
    {%endif%}   
    </ul>
  </li>
</ul>

<ul class="list-inline" style="margin-bottom: 0px;margin-left: -14px">
{% set article_type = article.type_name().lower() %}
{%- if article_type_name=='place' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Lon') }}</span>{{article.coordinate_x}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Lat') }}</span>{{article.coordinate_y}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Type') }}</span>{{article.location_type }}</li>
{%- elif article_type_name=='image' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Type') }}</span>{{article.mime_type}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('URL') }}</span><a href="{{article_type.url}}">{{article.url|truncate(30, True)}}</a></li>
{%- elif article_type_name=='event' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Started') }}</span>{{article.from_date}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Ended') }}</span>{{article.to_date}}</li>
{%- elif article_type_name=='person' and article.personarticle -%}
  <li><span class="nav-header" style="display:inline">{{ _('Born') }}</span>{{article.personarticle.born}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Died') }}</span>{{article.personarticle.died}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Gender') }}</span>{{article.personarticle.gender_name() }}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Occupation') }}</span>{{article.personarticle.occupation}}</li>
{%- endif -%}
</ul>
</div>

{% include "includes/flash.html" %}

<div class="row">
  <div class="col-md-9 article_text">
    {{ article.content|markdown }}
  </div>
  <div class="col-md-3">
    Example comment
  </div>
</div>

{% if article_type_name == 'blogpost' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'fablr'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}

{% endif %} {% endblock %}

{% block final %}
{% if article %}
<div class="modal fade bs-modal-sm" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ _('Are you sure you want to delete') }} {{article.title}}?</h4>
      </div>
      <div class="modal-body">
        <form id='deleteform' method="post" action="{{ url_for('.article_delete', world=world.slug, article=article.slug, op="DELETE")}}">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
          <button type="submit" class="btn btn-primary">{{ _('Yes') }}</button> 
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{{super()}}

{% if article_form %}
<script>
	$(document).ready(
			function() {
        //----------------------------------
        $('#editable_title')
          .blur(function(e) {
            $('#title').val(this.textContent); })
          .on('paste', function(e) {
            $this = $(this)
            setTimeout(function() {
              $this.html($this.text()); // clean the html
            }, 100);})
          .focus();

        //----------------------------------
				// Get the initial value
				var $el = $('.m_action2');
				$el.data('oldVal', '#' + $el.find('option:selected').text()
						+ 'article_form');

				$el.change(function() {
					//store new value
					var $this = $(this);
					var newValue = '#' + $this.find('option:selected').text()
							+ 'article_form'
					$(newValue).toggleClass('hide')
					$($this.data('oldVal')).toggleClass('hide')
					$this.data('oldVal', newValue)
				})

        /*        
        var latlng = [parseFloat($('#placearticle-coordinate_x').val()), parseFloat($('#placearticle-coordinate_y').val())]

        var map = L.map('map', {
          center: [-77, 660],
          zoom: 1,
          minZoom: 0,
          maxZoom: 1
        });
        L.tileLayer('//googledrive.com/host/0Bybs2FIAp3ZTUFd5RHgwS0FCU3M/map/mundana_stor_karta_{z}_{x}_{y}.png', {
          attribution: 'Map data &copy; Neogames',
        minZoom: 0,
        maxZoom: 1,
        noWrap: true,
        continuousWorld: true,
        }).addTo(map);

        var marker
        if (!isNaN(latlng[0]) && !isNaN(latlng[1])) {
          marker = L.marker(latlng).addTo(map);
          map.panTo(latlng);
        }

        function onMapClick(e) {
          $('#placearticle-coordinate_x').val(e.latlng.lat);
          $('#placearticle-coordinate_y').val(e.latlng.lng);
          if(!marker) {
            marker = L.marker(e.latlng).addTo(map);
          } else {
            marker.setLatLng(e.latlng);
          }
        }

        map.on('click', onMapClick);
        */

			});
</script>
{% endif %}
{% endblock %}
