{% extends "world/world_item.html" if not parent_template else parent_template %}

{% block content %}
    <div class="row">
    {% if articles.count() == 0 %}No articles yet!{% else %}

    {% if request.args.get('groupby')=='type' %}
        {% set groups = articles|by_articletype %}
    {% elif request.args.get('groupby')=='time' %}
        {% set groups = articles|by_time %}
    {% else %} {# request.args.get('groupby')=='title' #}
        {% set groups = articles|by_initials %}
    {% endif %}
    <dl>
        {% for group in groups %}
        <dt>{{ group.grouper|capitalize }}</dt>
        <dd><ul class="unstyled">
        {% for article in group.list %}
            <li><a href="{{ url_for('.article_get', article=article.slug, world=world.slug) }}">{{article.title}}</a>
                {%- if groupby=='title' -%}
                    <small>{{" ["+article.type_name()+"]"}}</small>
                {%- elif groupby=='time' -%}
                    <small>{{" ["+article.created_date.strftime('%Y-%m-%d %H:%M')+"]"}}</small>
                {%- endif %}</li>
            {% endfor %}
        </ul></dd>
        {% endfor %}
    </dl>
    {% endif %}
    </div>
{% endblock %}
