{% extends "world/world_item.html" if not parent_template else parent_template %}

{% block cssimports %}
{{ super() }}
<link href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block pre_content %}{% endblock %}

{% block content %}
{% if articles|length == 0 %}{{ _('No articles yet!') }}{% else %}
	{% for article in articles %}
	<a class="blog_header" href="{{url_for('world.article_view', world=world.slug, article=article.slug)}}"><h2>{{article.title}}</h2></a>
	<ul class="list-inline article-meta" style="margin-bottom: 0px">
    <li title="{{ _('Created') }}"><span class="glyphicon glyphicon-calendar"></span> {{article.created_date.strftime('%Y-%m-%d') }} {{ _('by') }}</li>
    <li title="{{ _('Creator') }}"><span class="glyphicon glyphicon-user"></span> {% if article.creator %}{% if g.feature and g.feature["social"] %}<a href="{{url_for('social.user_view', user=article.creator.username)}}">{{article.creator}}</a>{% else %}{{article.creator}}{%endif%}{% else %}System{%endif%}</li>
	</ul>
	<div class="media">
	{% if article.feature_image %}
  	<a class="pull-left" href="{{url_for('world.article_view', world=world.slug, article=article.slug)}}">
  	<img class="media-object" src="{{url_for('asset_thumb', slug=article.feature_image.slug)}}">
		</a>
	{% endif %}
		<div class="media-body">
			{% if article.description %}{{article.description}}{% else %}{{article.content[0:500]|markdown|striptags|truncate}}{% endif %}
			<a href="{{url_for('world.article_view', world=world.slug, article=article.slug)}}"><em style="white-space: nowrap;">{{ _('Read more') }}</em></a>
		</div>
	</div>
	{% endfor %}
{% endif %}
{% endblock %}