{% if template_parent %}{% extends template_parent %} {% else %}{% extends "world/world_view.html" %}{% endif %}

{% from 'includes/components.html' import form_field, form_fields %}

{% if op == 'new' %}
  {%set tagline = world.title %} {% set title = 'New article!' %}
{% else %}
  {% set tagline = article.type_name() %} {% set title = article.title %}
{% endif %}

{% set article_type_name = article.type_name() if article else '' %}

{% block cssimports %}
{{ super() }}
<link href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->
{% endblock %}

{% block jsimports %}{{super()}}
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endblock %}

{%- block article_actions -%}{{ super() }}
<li><a href="{{ url_for('world.edit_article', world_slug=world.slug, article_slug=article.slug) }}"><i class="glyphicon glyphicon-edit"></i>Edit</a></li>
<li><a href="{{ url_for('world.delete_article', world_slug=world.slug, article_slug=article.slug) }}" 
  class="m_action" data-action-type="modal"><i class="glyphicon glyphicon-trash"></i>Delete</a></li>
<li><a href="{{ url_for('world.view_article', world_slug=world.slug, article_slug=article.slug) }}"><i class="glyphicon glyphicon-align-justify"></i>View</a></li>
{%- endblock -%}

{% block middle %}
{% if article_form %}
<form id='articleform' method="post" action="{{ action_url }}">
{{ article_form.title }}{{ article_form.world }}
<div class="page-header" style="margin-bottom: 5px;">
  <h1 class="article_header"><span id="editable_title" class="contenteditable" contenteditable="True">{{title }}</span></h1>
</div>
{% include "includes/flash.html" %}
<div class="row">
<div class="col-md-7 article_text">
  {% if article and article.is_media() %}
  <img src="{{article.get_type().url}}" />
  {% endif %}
		<div class="btn-toolbar" data-role="editor-toolbar"
			data-target="#editor">
			<div class="btn-group btn-group-sm">
        <a class="btn btn-default" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="glyphicon glyphicon-bold"></i></a>
        <a class="btn btn-default" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="glyphicon glyphicon-italic"></i></a>
      </div>
      
		</div>
		<div id="editor" class="wysiwyg-control">{{ article_form.content.data|safe if article_form.content.data else '<p><br/></p>'|safe}}
    {{ article_form.content(value="text") }}
    </div>
    <div id="hinter" class="article_text"></div>
</div>
<div class="col-md-5 metadata">
  <button type="submit" class="btn btn-sm btn-primary">Save changes</button>
  <a href="{{ url_for('world.index') }}" class="btn btn-sm">Cancel</a>

  <h4>Metadata</h4>
  <fieldset style="margin-bottom: 10px">
  {{ form_field(article_form.articlegroups) }}
  {{ form_field(article_form.type, class="m_action2")}}
</fieldset>
  <div id="personarticle_form" {{ ' class=hide ' if article_type_name!='person'}}>{% include "models/personarticle_view.html" %}</div>
  <div id="mediaarticle_form" {{ ' class=hide ' if
    article_type_name!='media'}}>{% include
    "models/mediaarticle_view.html" %}</div>
  <div id="eventarticle_form" {{ ' class=hide ' if
    article_type_name!='event'}}>{% include
    "models/eventarticle_view.html" %}</div>
  <div id="placearticle_form" {{ ' class=hide ' if
    article_type_name!='place'}}>{% include
    "models/placearticle_view.html" %}</div>
  <div id="fractionarticle_form" {{ ' class=hide ' if
    article_type_name!='fraction'}}>{% include
    "models/fractionarticle_view.html" %}</div>
  <h4 style="display:inline">Relations</h4>
  {%- if op == 'new' -%}
    <button id="addrow" class="btn btn-info btn-sm disabled" style="margin-left: 10px; margin-bottom: 5px;">Add relation</button>
  {%- else -%}
    <button id="addrow" class="btn btn-info btn-sm" style="margin-left: 10px; margin-bottom: 5px;">Add relation</button>
  {%- endif -%}
    <table class="m_view">
    <tr class="m_instance"></tr>
    {% for articlerelation_form in article_form.outgoing_relations %}
      {% include "models/articlerelation_view.html" %}
    {% endfor %}
    <tr class="m_control"><td></td></tr>
  </table>
</div>
</div>
</form>


{%- else -%}


<div class="page-header">
    <h1 class="article_header">{{title }}
        <small>{{ tagline }}</small>
    </h1>
<ul class="list-inline" style="margin-bottom: 0px">
  {% set articlegroups = article.articlegroups|list %}
  <li><i class="glyphicon glyphicon-user"></i> Martin</li>
  <li><i class="glyphicon glyphicon-calendar"></i> {{article.created_date.strftime('%Y-%m-%d') }}</li>
  <li><i class="glyphicon glyphicon-lock"></i> {{ articlegroups|join(',') if articlegroups else 'All' }}</li>
</ul>
<ul class="list-inline" style="margin-bottom: 0px;margin-left: -14px">
{% set article_type = article.get_type() %}
{%- if article_type_name=='place' -%}
  <li><span class="nav-header" style="display:inline">Lon</span>{{article_type.coordinate_x}}</li>
  <li><span class="nav-header" style="display:inline">Lat</span>{{article_type.coordinate_y}}</li>
  <li><span class="nav-header" style="display:inline">Type</span>{{article_type.location_type }}</li>
{%- elif article_type_name=='media' -%}
  <li><span class="nav-header" style="display:inline">Type</span>{{article_type.mime_type}}</li>
  <li><span class="nav-header" style="display:inline">URL</span><a href="{{article_type.url}}">{{article_type.url|truncate(30, True)}}</a></li>
{%- elif article_type_name=='event' -%}
  <li><span class="nav-header" style="display:inline">Started</span>{{article_type.from_date}}</li>
  <li><span class="nav-header" style="display:inline">Ended</span>{{article_type.to_date}}</li>
{%- elif article_type_name=='person' -%}
  <li><span class="nav-header" style="display:inline">Born</span>{{article_type.born}}</li>
  <li><span class="nav-header" style="display:inline">Died</span>{{article_type.died}}</li>
  <li><span class="nav-header" style="display:inline">Gender</span>{{article_type.gender_name() }}</li>
  <li><span class="nav-header" style="display:inline">Occupation</span>{{article_type.occupation}}</li>
{%- endif -%}
</ul>
</div>

{% include "includes/flash.html" %}
<div class="article col-md-9 article_text">
	{% if article.is_media() %} <img src="{{article.get_type().url}}" />
	{% endif %} {{ article.content|wikify|markdown }}
</div>
{% endif %} {% endblock %}

{% block final %} {{super()}}
{% if article_form %}
<script>
	$(document).ready(
			function() {
        var $e = $('#editor');
        $e.wysiwyg();
        //$("#content").val($e.cleanHtml()); // have to load it once!
				// $e.wysiwyg().blur(function(e){
				// 	$("#content").val($e.cleanHtml());
				// });

        $e.on('paste', function(e) {
          $this = $(this)
          setTimeout(function() {
            $this.cleanHtml();
          }, 100);
        });

        $('#articleform').on('submit', function(e) {
          $("#content").val($e.cleanHtml());
        });

        $e.on('keydown', $e.doKey);

        $('#editable_title').blur(function(e) {
          $('#title').val(this.textContent)
        }).on('paste', function(e) {
          $this = $(this)
          setTimeout(function() {
            $this.html($this.text()); // clean the html
          }, 100);
        }).focus();

        $('#addrow').click(function(e){
          $this = $(this);
          var nr = $('.m_view input[type="hidden"]').last().attr('id')
          if(nr !== undefined && nr.length > 0) {
            nr = parseInt(nr.split('-')[1])+1 // will look for highest id in articlerelation list and add to it
          } else {
            nr = 0
          }
          $.get('{{ url_for('.new_articlerelation', world_slug=world.slug, article_slug=article.slug) }}?nr='+nr, function(data) {
            var $d = $(data)
            $d.insertAfter($('.m_view .m_instance').last())
            $d.find('select[data-role="chosenblank"]').chosen()
          });
          e.preventDefault(); return false;  
        });

        $('.m_view').on('click','.removerow',function(e) {
          $(this).closest('.m_instance').remove();
          e.preventDefault(); return false;  
        });

				// Get the initial value
				var $el = $('.m_action2');
				$el.data('oldVal', '#' + $el.find('option:selected').text()
						+ 'article_form');

				$el.change(function() {
					//store new value
					var $this = $(this);
					var newValue = '#' + $this.find('option:selected').text()
							+ 'article_form'
					$(newValue).toggleClass('hide')
					$($this.data('oldVal')).toggleClass('hide')
					$this.data('oldVal', newValue)
				})
        
        var latlng = [parseFloat($('#placearticle-coordinate_x').val()), parseFloat($('#placearticle-coordinate_y').val())]

        var map = L.map('map', {
          center: [-77, 660],
          zoom: 1,
          minZoom: 0,
          maxZoom: 1
        });
        L.tileLayer('//googledrive.com/host/0Bybs2FIAp3ZTUFd5RHgwS0FCU3M/map/mundana_stor_karta_{z}_{x}_{y}.png', {
          attribution: 'Map data &copy; Neogames',
        minZoom: 0,
        maxZoom: 1,
        noWrap: true,
        continuousWorld: true,
        }).addTo(map);

        var marker
        if (!isNaN(latlng[0]) && !isNaN(latlng[1])) {
          marker = L.marker(latlng).addTo(map);
          map.panTo(latlng);
        }

        function onMapClick(e) {
          $('#placearticle-coordinate_x').val(e.latlng.lat);
          $('#placearticle-coordinate_y').val(e.latlng.lng);
          if(!marker) {
            marker = L.marker(e.latlng).addTo(map);
          } else {
            marker.setLatLng(e.latlng);
          }
        }

        map.on('click', onMapClick);

			});
</script>
<script type="text/javascript">
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document); 
</script>
{% endif %}
{% endblock %}
