{% extends "world/world_item.html" if not parent_template else parent_template %}

{% from 'includes/components.html' import FORM_FIELD %}

{% set article_type = article.type if article else prefill['type'] %}
{% if article_form %}
  {% set type_form = article_form[article_type+'data'] %}
{% endif %}

{% if op == 'new' %}
  {% set tagline = world.title %} {% set title = 'New '+article_type+' article' %}
{% else %}
  {% set tagline = article.type %} {% set title = article.title %}
{% endif %}

{% if request.args.has_key('markdown') %}
 {% set markdown=true %}
{% endif %}

{% block cssimports %}
{{ super() }}
<link href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
<![endif]-->
{% endblock %}

{% block jsimports %}{{super()}}
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/imagelightbox.min.js') }}"></script>
{% endblock %}

{% block middle %}

{#### FORM ####}
{% if article_form %}
{% include "includes/flash.html" %}

<form role="form" id='articleform' method="post" action="{{ article_form.action_url }}">
  {{ article_form.csrf_token }}
  {{ article_form.title(style="display:none;") }}
  <h1 class="article_header">
    <span id="header" class="contenteditable" contenteditable="True">{{title }}</span>
        <small>{{ tagline }}</small>
  </h1>
<ul class="nav nav-tabs content-menu">
  {#<li class="content-menu-info">Banan</li>#}
  <li class="active"><a href="#focus" data-toggle="tab"><span class="glyphicon glyphicon-eject"></span></a></li>
  <li><a href="#metadata" data-toggle="tab">Metadata</a></li>
  <li><a href="#relations" data-toggle="tab"><span class="glyphicon glyphicon-transfer"></span> Relations</a></li>
  <li><a href="#details" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Details</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {% if op!= 'new'%}
      <li><a href="{{ url_for('.article_form_edit', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
      <li><a href="#deletemodal" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}</a></li>
      <li><a href="{{ url_for('.article_view', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-align-justify"></span> {{ _('View') }}</a></li>
    {% endif %}
    </ul>
  </li>
  <li class="articlesave"><button type="submit" class="btn btn-sm btn-primary">{{ _('Save changes') }}</button></li>
</ul>

<div class="tab-content content-panel">
  <div class="tab-pane fade" id="focus"></div>

  <div class="tab-pane panel panel-default fade form-horizontal" id="metadata">
  {% for field in type_form %}
    {{FORM_FIELD(field, type="cols", cols=("col-sm-2", "col-sm-2"))}}
  {% endfor %}
  </div>

  <div class="tab-pane panel panel-default fade row" id="relations">
  {% if article %}
    <div class="col-xs-7">
    <ul data-editable="relations" class="list-group relations" data-remote="{{url_for('.articlerelation_form_new', world=world.slug, article=article.slug)}}">
      {% for articlerelation_form in article_form.relations %}
        {% include "world/articlerelation_item.html" %}
      {% endfor %}
    </ul>
    </div>
  {% endif %}
  </div>

  <div class="tab-pane panel panel-default fade row" id="details">
    <div class="col-xs-6">
      {{ FORM_FIELD(article_form.description)}}
    </div>
    <div class="col-xs-6">
      {{ FORM_FIELD(article_form.type) }}
      {{ FORM_FIELD(article_form.world) }}
      <input type="hidden" name="feature_image" id="feature_image" value="" />
      {% if g.user.id %}
        <input type="hidden" name="creator" value="{{g.user.id}}" />
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9 article_text">
    {{ article_form.content(**{'rows':article_form.content.data|rows, 'class':'hide' if not markdown else '' }) }}
    {% if not markdown %}
    <div id="content-editor" class="content{{' '}}" contenteditable="true"><p class="hide" contenteditable="false"></p>
    {{ article_form.content.data|markdown if article_form.content.data else '<p><br></p>'|safe}}
    </div>
    {% endif %}
    <span id="hinter"></span>
    <div class="bubble-bar" id="text-options">
      <div class="options">
        <span class="no-overflow">
          <span class="lengthen ui-inputs">
            <button type="button" class="url"><span class="glyphicon glyphicon-link"></span></button>
            <input class="url-input" type="text" placeholder="Type or Paste URL here"/>
            <button type="button" class="bold">b</button>
            <button type="button" class="italic">i</button>
            <button type="button" class="quote">&rdquo;</button>
          </span>
        </span>
      </div>
    </div>
    <div class="bubble-bar" id="margin-options">
      <div class="options ui-inputs">
            <a data-toggle="modal" href="{{url_for('imageasset_form_new')}}" data-target="#itsafuckingmodal"><span class="glyphicon glyphicon-picture"></span></a>
      </div>
    </div>

   </div>
  <div class="col-md-3 article_comment">
    Example comment
  </div>
</div>
</form>

{#### PAGE ####}
{%- else -%}
<h1 class="article_header">{{title}}
    <small>{{ tagline }}</small>
</h1>
<ul class="nav nav-tabs content-menu">
  {% set articlegroups = article.articlegroups|list %}
  <li class="content-menu-info" title="{{ _('Creator') }}"><span class="glyphicon glyphicon-user"></span> {% if article.creator %}{% if g.feature and g.feature["social"] %}<a href="{{url_for('social.user_view', user=article.creator.username)}}">{{article.creator}}</a>{% else %}{{article.creator}}{%endif%}{% else %}System{%endif%}</li>
  <li class="content-menu-info" title="{{ _('Created') }}"><span class="glyphicon glyphicon-calendar"></span> {{article.created_date.strftime('%Y-%m-%d') }}</li>
  {% if articlegroups or g.user %}
  <li class="content-menu-info" title="{{ _('Visibility') }}"><span class="glyphicon glyphicon-lock"></span> {{ articlegroups|join(',') if articlegroups else 'All' }}</li>
  {% endif %}
  {% if g.user %}
  <li class="content-menu-info" title="{{ _('Relations to other articles') }}"><i class="glyphicon glyphicon-export"></i> {{ article.relations|length }}</li>
  <li class="content-menu-info" title="{{ _('Other articles relation to this article') }}"><i class="glyphicon glyphicon-import"></i> {{ 0 }}</li>
  {% endif %}
  {% call IS_USER() %}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Actions <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      {% if op!= 'new'%}
        <li><a href="{{ url_for('.article_form_edit', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
        <li><a href="#deletemodal" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}</a></li>
        <li><a href="{{ url_for('.article_view', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-align-justify"></span> {{ _('View') }}</a></li>
      {% endif %}
      </ul>
    </li>
  {% endcall %}
</ul>

<ul class="list-inline" style="margin-bottom: 0px;margin-left: -14px">
{%- if article.type=='place' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Lon') }}</span>{{article.placedata.coordinate_x}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Lat') }}</span>{{article.placedata.coordinate_y}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Type') }}</span>{{article.placedata.location_type }}</li>
{%- elif article.type=='image' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Type') }}</span>{{article.imagedata.mime_type}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('URL') }}</span><a href="{{article.imagedata.url}}">{{article.imagedata.url|truncate(30, True)}}</a></li>
{%- elif article.type=='event' -%}
  <li><span class="nav-header" style="display:inline">{{ _('Started') }}</span>{{article.eventdata.from_date}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Ended') }}</span>{{article.eventdata.to_date}}</li>
{%- elif article.type=='person' and article.persondata -%}
  <li><span class="nav-header" style="display:inline">{{ _('Born') }}</span>{{article.persondata.born}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Died') }}</span>{{article.persondata.died}}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Gender') }}</span>{{article.persondata.gender_name() }}</li>
  <li><span class="nav-header" style="display:inline">{{ _('Occupation') }}</span>{{article.persondata.occupation}}</li>
{%- endif -%}
</ul>
</div>

{% include "includes/flash.html" %}

<div class="row">
  <div class="col-md-9 article_text">
    {{ article.content|markdown if article.content else _("Content")}}
  </div>
  <div class="col-md-3 article_comment">
    <!--Example comment-->
  </div>
</div>

{% if article.type == 'blogpost' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'fablr'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}

{% endif %} {% endblock %}

{% block final %}
{% if article %}
<div class="modal fade bs-modal-sm" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ _('Are you sure you want to delete') }} {{article.title}}?</h4>
      </div>
      <div class="modal-body">
        <form id='deleteform' method="post" action="{{ url_for('.article_delete', world=world.slug, article=article.slug, op="DELETE")}}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
          <button type="submit" class="btn btn-primary">{{ _('Yes') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{{super()}}

<script>
{% if article_form %}
  // Load required scripts.
  {% if not markdown %}
  head.js(
    "{{ url_for('static', filename='js/utils.js') }}",
    "{{ url_for('static', filename='js/editor.js') }}",
        function(){
          // Initiate ZenPen
          editor.init();
        }
      );
  {% endif %}

	$(document).ready(
			function() {
        $ta = $('#content')
        $ta.parents('form').on('submit', function(e) {
              var text = editor.exportText()
              $ta.val(text);
              var image_match = text.match(/!\[.*?\]\((.*?\/)+(.*)\)/)[2]
              if (image_match) {
                $('#feature_image').val(image_match)
              }
            }
        );
        //----------------------------------
        $('#header')
          .blur(function(e) {
            $('#title').val(this.textContent); })
          .on('paste', function(e) {
            $this = $(this)
            setTimeout(function() {
              $this.html($this.text()); // clean the html
            }, 100);})
          .focus();

        /*
        var latlng = [parseFloat($('#placedata-coordinate_x').val()), parseFloat($('#placedata-coordinate_y').val())]

        var map = L.map('map', {
          center: [-77, 660],
          zoom: 1,
          minZoom: 0,
          maxZoom: 1
        });
        L.tileLayer('//googledrive.com/host/0Bybs2FIAp3ZTUFd5RHgwS0FCU3M/map/mundana_stor_karta_{z}_{x}_{y}.png', {
          attribution: 'Map data &copy; Neogames',
        minZoom: 0,
        maxZoom: 1,
        noWrap: true,
        continuousWorld: true,
        }).addTo(map);

        var marker
        if (!isNaN(latlng[0]) && !isNaN(latlng[1])) {
          marker = L.marker(latlng).addTo(map);
          map.panTo(latlng);
        }

        function onMapClick(e) {
          $('#placedata-coordinate_x').val(e.latlng.lat);
          $('#placedata-coordinate_y').val(e.latlng.lng);
          if(!marker) {
            marker = L.marker(e.latlng).addTo(map);
          } else {
            marker.setLatLng(e.latlng);
          }
        }

        map.on('click', onMapClick);
        */

			});
{% else %}
  // only load lightbox if we are viewing an article
   $( function()
    {
        $( '.article_text a' ).imageLightbox();
    });
{% endif %}
</script>
{% endblock %}
