{% if not partial %}{% extends "world/world_detail.html" %}
{% else %}{% extends "includes/partial.html" %}{% endif %}

{% if article.op_is_new() %}
  {% set action_url = url_for('world.article_new', worldslug=world.slug, partial=partial) %}
  {% set tagline = world.title %}
  {% set title = 'New article!' %}
{% else %}
  {% set action_url = url_for('world.article_edit', slug=article.instance.slug, worldslug=world.slug, partial=partial) %}
  {% set tagline = article.instance.type_name() + " [" + world.title + "]" %}
  {% set title = article.instance.title %}
{% endif %}

{% block middle %}
  {% if article.form %}
      <form method="post" action="{{ action_url }}">
      <div class="row form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="{{ url_for('world.index') }}" class="btn">Cancel</a>
      </div>
      {{ super() }}
      <div class="row form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="{{ url_for('world.index') }}" class="btn">Cancel</a>
      </div>
      </form>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block content_title %}{{ title }}{% endblock %}
 
{% block content_tagline %}{{ tagline }}{% if article.form %}<div style="float: left">{{ article.form.title }}{{ article.form.type }}{{ article.form.world }}</div>{% endif %}{% endblock %}

{% block content %}
  {% if article.form %}
  	{% if article.instance.type == 2 %}
		  	{% include "world/article_person_detail.html" %}
		  {% endif %}
    <div class="edit">
      <div style="float: right">{{ article.form.metadata(rows=10) }}</div>
      {{ article.form.content(rows=30) }}<br/>
    </div>
  {% endif %}
  {% if article.instance %}
  <div class="article">
    <div style="float: right; border: 1px solid black; padding: 4px; margin: 4px;">
      Metadata
      {{ article.instance.metadata }}
    </div>
  {{ article.instance.content|wikify|markdown }}
  </div>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {{ super() }}
  <h4>Alternatives</h4>
    <ul class="nav nav-list">
      {% if article.instance %}
        <li><a href="{{ url_for('world.article_edit', worldslug=world.slug, slug=article.instance.slug) }}">Edit</a></li>
        <li><a href="{{ url_for('world.article_delete', worldslug=world.slug, slug=article.instance.slug) }}" class="m_action" data-action-type="modal">Delete</a></li>
        <li><a href="{{ url_for('world.article_relate', worldslug=world.slug, slug=article.instance.slug) }}">Relate</a></li>
      {% endif %}
    </ul>
{% endblock %}