{% extends "world/world_item.html" if not parent_template else parent_template %}

{% if request.args.get('order_by')=='type' %}
    {% set groups = articles|by_articletype %}
    {% set type_tab = ' class=active' %}
{% elif request.args.get('order_by')=='created_date' %}
    {% set groups = articles|by_time %}
    {% set time_tab = ' class=active' %}
{% else %} {# request.args.get('groupby')=='title' #}
    {% set groups = articles|by_initials %}
    {% set title_tab = ' class=active' %}
{% endif %}

{% block pre_content %}
<h2 class="browseArticle">{{ _('Browse') }}</h2>
<ul class="nav nav-tabs content-menu">
    <li{{title_tab}}><a href="{{ url_for('.article_list', world=world.slug, order_by='title') }}"><span class="glyphicon glyphicon-book"></span> {{ _('By title') }}</a></li>
    <li{{type_tab}}><a href="{{ url_for('.article_list', world=world.slug, order_by='type') }}"><span class="glyphicon glyphicon-tag"></span> {{ _('By type') }}</a></li>
    <li{{time_tab}}><a href="{{ url_for('.article_list', world=world.slug, order_by='created_date') }}"><span class="glyphicon glyphicon-calendar"></span> {{ _('By time') }}</a></li>
 {#}   <li><a href="{{ url_for('.article_list', world=world.slug, groupby='relation') }}"><span class="glyphicon glyphicon-resize-small"></span> {{ _('By relation') }}</a></li>#}
</ul>
{% endblock %}

{% block content %}
    <div class="panel panel-default item-list">
    {% for group in groups %}
        <h3>{{ _(group.grouper|capitalize) }}</h3>
        <div class="row">
        {% for article in group.list %}
            <div class="media col-sm-6">
                <a href="{{url_for('.article_view', world=world.slug, article=article.slug)}}">
                    <h4>{{ VISIBILITY(visibility.is_private(article)) }}{{ article.title }}
                    {%- if not article.is_published() -%}
                    <small>{{" ["+article.status_name()+"]"}}</small>
                    {%- endif %}
                    {%- if groupby=='title' -%}
                    <small>{{" ["+article.type+"]"}}</small>
                    {%- elif groupby=='time' -%}
                    <small>{{" ["+article.created_date.strftime('%Y-%m-%d %H:%M')+"]"}}</small>
                    {%- endif %}</h4>
                </a>
                {% if article.feature_image %}
                <a class="pull-left" href="{{url_for('.article_view', world=world.slug, article=article.slug)}}">
                <img class="media-object" src="{{url_for('asset_thumb', slug=article.feature_image.slug)}}">
                </a>
                {% endif %}
      
                {{ article.description if article.description else article.content[0:500]|markdown|striptags|truncate }}
                <a href="{{url_for('.article_view', world=world.slug, article=article.slug)}}"><em style="white-space: nowrap;">{{ _('Read more') }}</em></a>
            </div> 
        {% if not loop.last and loop.index is divisibleby 2 %}</div><div class="row">{% endif %}
        {% endfor %}
        </div>
    {% else %}
    <div class="jumbotron text-center">
      <h2>{{ _('No articles yet!') }}</h2>
    </div>
    {% endfor %}
    </div>
    {% include "includes/pagination.html" %}
{% endblock %}
