{% extends "world/world_item.html" if not parent_template else parent_template %}

{% from 'includes/components.html' import form_field, form_fields %}

{% if op == 'new' %}
  {%set tagline = world.title %} {% set title = 'New article!' %}
{% else %}
  {% set tagline = article.type_name() %} {% set title = article.title %}
{% endif %}

{% set article_type_name = article.type_name().lower() if article else '' %}

{% block cssimports %}
{{ super() }}
<link href="http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
<![endif]-->
{% endblock %}

{% block jsimports %}{{super()}}
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endblock %}

{%- block article_actions -%}{{ super() }}
{% if op!= 'new'%}
<li><a href="{{ url_for('.article_form_edit', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
<li><a href="#deletemodal" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
<li><a href="{{ url_for('.article_view', world=world.slug, article=article.slug) }}"><span class="glyphicon glyphicon-align-justify"></span> View</a></li>
{%endif%}
{%- endblock -%}

{% block middle %}

{#### FORM ####}
{% if article_form %}
<form id='articleform' method="post" action="{{ article_form.action_url }}">
{{ article_form.title(style="display:none;") }}
<div class="page-header" style="margin-bottom: 5px;">
  <h1 class="article_header"><span id="editable_title" class="contenteditable" contenteditable="True">{{title }}</span></h1>
</div>

{% include "includes/flash.html" %}
<div class="row">
<div class="col-md-7 article_text">
  {% if article and article.is_image() %}
  <img src="{{article.imagearticle.url}}" />
  {% endif %}
		<div class="btn-toolbar" data-role="editor-toolbar"
			data-target="#editor">
			<div class="btn-group btn-group-sm">
        <a class="btn btn-default" data-edit="bold" title="Bold" data-original-title="Bold (Ctrl/Cmd+B)"><span class="glyphicon glyphicon-bold"></span></a>
        <a class="btn btn-default" data-edit="italic" title="Italic" data-original-title="Italic (Ctrl/Cmd+I)"><span class="glyphicon glyphicon-italic"></span></a>
      </div>
      
		</div>
		<div id="editor">{{ article_form.content.data|safe if article_form.content.data else '<p><br></p>'|safe}}</div>
    {{ article_form.content(value="text",style="display:none;") }}
</div>
<div class="col-md-5 metadata">
  {% if g.user.id %}
  <input type="hidden" name="creator" value="{{g.user.id}}" />
  {% endif %}
  {{ article_form.csrf_token }}
  <button type="submit" class="btn btn-sm btn-primary">Save changes</button>
  <a href="{{ url_for('world.index') }}" data-dismiss="back" class="btn btn-sma">Cancel</a>
{{ article_form.world(**{'data-role':'chosen'}) }} {# Makes nice select widget#}
  <h4>Metadata</h4>
  <fieldset style="margin-bottom: 10px">
  {#  {{ form_field(article_form.articlegroups) }} #}
  {{ form_field(article_form.type, class="m_action2")}}
  </fieldset>
  <div id="imagearticle_form" {{ ' class=hide ' if article_type_name!='image'}}>
  {{ form_fields(article_form.imagearticle) }}
  </div>
  <div id="personarticle_form" {{ ' class=hide ' if article_type_name!='person'}}>
  {{ form_fields(article_form.personarticle) }}
  </div>
  <div id="fractionarticle_form" {{ ' class=hide ' if article_type_name!='fraction'}}>
  {{ form_fields(article_form.fractionarticle) }}
  </div>
  <div id="placearticle_form" {{ ' class=hide ' if article_type_name!='place'}}>
  {{ form_fields(article_form.placearticle) }}
  </div>
  <div id="eventarticle_form" {{ ' class=hide ' if article_type_name!='event'}}>
  {{ form_fields(article_form.eventarticle) }}
  </div>
  <div id="campaignarticle_form" {{ ' class=hide ' if article_type_name!='campaign'}}>
  {{ form_fields(article_form.campaignarticle) }}
  </div>

  <h4 style="display:inline">Relations ({{ article.relations|length if article }})</h4>
  {{ article_form.relations() }}
  {%- if op == 'new' -%}
    <button id="addrow" class="btn btn-info btn-sm disabled" style="margin-left: 10px; margin-bottom: 5px;">Add relation</button>
  {%- else -%}
    <button id="addrow" class="btn btn-info btn-sm" style="margin-left: 10px; margin-bottom: 5px;">Add relation</button>
  {%- endif -%}
</div>
</div>
</form>


{#### PAGE ####}
{%- else -%}

<div class="page-header">
    <h1 class="article_header">{{title }}
        <small>{{ tagline }}</small>
    </h1>
<ul class="list-inline" style="margin-bottom: 0px">
  {% set articlegroups = article.articlegroups|list %}
  <li title="Creator"><span class="glyphicon glyphicon-user"></span> {% if article.creator %}<a href="{{url_for('social.user_view', user=article.creator.username)}}">{{article.creator}}</a>{% else %}System{%endif%}</li>
  <li title="Created"><span class="glyphicon glyphicon-calendar"></span> {{article.created_date.strftime('%Y-%m-%d') }}</li>
  <li title="Visibility"><span class="glyphicon glyphicon-lock"></span> {{ articlegroups|join(',') if articlegroups else 'All' }}</li>
  <li title="Relations to other articles"><i class="glyphicon glyphicon-export"></i> {{ article.relations|length }}</li>
  <li title="Other articles relation to this article"><i class="glyphicon glyphicon-import"></i> {{ 0 }}</li>
</ul>
<ul class="list-inline" style="margin-bottom: 0px;margin-left: -14px">
{% set article_type = article.type_name().lower() %}
{%- if article_type_name=='place' -%}
  <li><span class="nav-header" style="display:inline">Lon</span>{{article.coordinate_x}}</li>
  <li><span class="nav-header" style="display:inline">Lat</span>{{article.coordinate_y}}</li>
  <li><span class="nav-header" style="display:inline">Type</span>{{article.location_type }}</li>
{%- elif article_type_name=='image' -%}
  <li><span class="nav-header" style="display:inline">Type</span>{{article.mime_type}}</li>
  <li><span class="nav-header" style="display:inline">URL</span><a href="{{article_type.url}}">{{article.url|truncate(30, True)}}</a></li>
{%- elif article_type_name=='event' -%}
  <li><span class="nav-header" style="display:inline">Started</span>{{article.from_date}}</li>
  <li><span class="nav-header" style="display:inline">Ended</span>{{article.to_date}}</li>
{%- elif article_type_name=='person' and article.personarticle -%}
  <li><span class="nav-header" style="display:inline">Born</span>{{article.personarticle.born}}</li>
  <li><span class="nav-header" style="display:inline">Died</span>{{article.personarticle.died}}</li>
  <li><span class="nav-header" style="display:inline">Gender</span>{{article.personarticle.gender_name() }}</li>
  <li><span class="nav-header" style="display:inline">Occupation</span>{{article.personarticle.occupation}}</li>
{%- endif -%}
</ul>
</div>

{% include "includes/flash.html" %}
{% if article.description %}
<div class="col-md-9">{{article.description}}</div>
{% endif %}
<div class="article col-md-9 article_text">
	{% if article.is_image() %} <img src="{{url_for('.image', slug=article.slug)}}" />
	{% endif %} {{ article.content|wikify|markdown }}
</div>
{% endif %} {% endblock %}

{% block final %}
{% if article %}
<div class="modal fade bs-modal-sm" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete {{article.title}}?</h4>
      </div>
      <div class="modal-body">
        <form id='deleteform' method="post" action="{{ url_for('.article_delete', world=world.slug, article=article.slug, op="DELETE")}}">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button> 
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{{super()}}

{% if article_form %}
<script>
	$(document).ready(
			function() {
        var $e = $('#editor');
        $e.wysiwyg();

        $e.on('paste', function(e) {
          $this = $(this)
          setTimeout(function() {
            $this.cleanHtml();
          }, 100);
        });

        $('#articleform').on('submit', function(e) {
          $("#content").val($e.cleanHtml());
        });

        $e.on('keydown', $e.doKey);

        //----------------------------------
        $('#editable_title')
          .blur(function(e) {
            $('#title').val(this.textContent); })
          .on('paste', function(e) {
            $this = $(this)
            setTimeout(function() {
              $this.html($this.text()); // clean the html
            }, 100);})
          .focus();

        //----------------------------------
        {% if article %} {# TODO should work also when article is None! #}
        var getButtonObj = function() {
          var $button = $("<button>");
          $button.addClass("removerow btn btn-danger btn-xs").css("float", "right");
          $button.append($("<span>").addClass("glyphicon glyphicon-remove"));
          $button.click(function() {
              $button.parent("li").remove();
          });
          return $button;
        };
        $("ul#relations > li").prepend(getButtonObj());

        $('#addrow').click(function(e){
          $this = $(this);
          var nr = $('.m_view input[type="hidden"]').last().attr('id')
          if(nr !== undefined && nr.length > 0) {
            nr = parseInt(nr.split('-')[1])+1 // will look for highest id in articlerelation list and add to it
          } else {
            nr = 0
          }
          var currentCount = $("#relations li").length;
          $.get('{{ url_for('.articlerelation_form_new', world=world.slug, article=article.slug) }}', function(data) {
            var $d = $(data);
            var prefix = "relations-"+currentCount+"-";
            $d.first("label").html("Relations-"+currentCount);
            $d.find("*[id]").attr("id", prefix+$el.attr("id"));
            $d.find("*[for]").attr("for", prefix+$el.attr("for"));
            $d.find("*[name]").attr("name", prefix+$el.attr("name"));
            
            $("#relations").append($("<li>").append(getButtonObj()).append($d));
            // $d.insertAfter($('.m_view .m_instance').last())
            // $d.find('select[data-role="chosenblank"]').chosen()
          });
          e.preventDefault(); return false;  
        });

        $('.m_view').on('click','.removerow',function(e) {
          $(this).closest('.m_instance').remove();
          e.preventDefault(); return false;  
        });
        {% endif %}

        //----------------------------------
				// Get the initial value
				var $el = $('.m_action2');
				$el.data('oldVal', '#' + $el.find('option:selected').text()
						+ 'article_form');

				$el.change(function() {
					//store new value
					var $this = $(this);
					var newValue = '#' + $this.find('option:selected').text()
							+ 'article_form'
					$(newValue).toggleClass('hide')
					$($this.data('oldVal')).toggleClass('hide')
					$this.data('oldVal', newValue)
				})

        /*        
        var latlng = [parseFloat($('#placearticle-coordinate_x').val()), parseFloat($('#placearticle-coordinate_y').val())]

        var map = L.map('map', {
          center: [-77, 660],
          zoom: 1,
          minZoom: 0,
          maxZoom: 1
        });
        L.tileLayer('//googledrive.com/host/0Bybs2FIAp3ZTUFd5RHgwS0FCU3M/map/mundana_stor_karta_{z}_{x}_{y}.png', {
          attribution: 'Map data &copy; Neogames',
        minZoom: 0,
        maxZoom: 1,
        noWrap: true,
        continuousWorld: true,
        }).addTo(map);

        var marker
        if (!isNaN(latlng[0]) && !isNaN(latlng[1])) {
          marker = L.marker(latlng).addTo(map);
          map.panTo(latlng);
        }

        function onMapClick(e) {
          $('#placearticle-coordinate_x').val(e.latlng.lat);
          $('#placearticle-coordinate_y').val(e.latlng.lng);
          if(!marker) {
            marker = L.marker(e.latlng).addTo(map);
          } else {
            marker.setLatLng(e.latlng);
          }
        }

        map.on('click', onMapClick);
        */

			});
</script>
{% endif %}
{% endblock %}
