{% if not modal %}{% extends "world/worlds.html" %}
{% else %}{% extends "includes/partial.html" %}{% endif %}

{% if article.op_is_new() %}
  {% set action_url = url_for('world.article_new', worldslug=world.slug, modal=modal) %}
  {% set tagline = world.title %}
  {% set title = 'New article!' %}
{% else %}
  {% set action_url = url_for('world.article_edit', slug=article.instance.slug, worldslug=world.slug, modal=modal) %}
  {% set tagline = world.title %}
  {% set title = article.instance.title %}
{% endif %}

{% block content_title %}{{ title }}{% endblock %}
 
{% block content_tagline %}{{ tagline }}{% endblock %}

{% block content %}
  {% if article.instance %}
  <div class="article">
      {{ article.instance.type_name() }}, is person: {{ article.instance.is_person() }}
      {{ article.instance.content|wikify|markdown }}
  </div>
  {% endif %}

{% if article.form %}<form method="post" action="{{action_url}}">
  <div class="edit">
      {% for field in article.form %}
        <p>{{ field.label }} {{ field }}</p>
      {% endfor %}
  </div>
<div class="row form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="{{url_for('world.index')}}" class="btn">Cancel</a>
    </div></form>{% endif %}

{% endblock %}

{% block sidebar %}
  {{ super() }}
  <h4>Alternatives</h4>
    <ul class="nav nav-list">
      <li><a href="{{ url_for('world.article_edit', worldslug=world.slug, slug=article.instance.slug) }}">Edit</a></li>
      {% if article.instance %}
        <li><a href="{{ url_for('world.article_delete', worldslug=world.slug, slug=article.instance.slug) }}">Delete</a></li>
      {% endif %}
    </ul>
{% endblock %}