{% extends 'includes/row.html' %}

{% block content %}{% block inline %}
<tr class="m_instance">
    <td>{{ article.slug }} is a 
        {{ articlerelation_form.relation_type(class="input-medium") if articlerelation_form else articlerelation.relation_type }}
        {{ articlerelation_form.article(class="input-medium") if articlerelation_form else articlerelation.article }}</td>
    <td><button class="removerow btn btn-danger btn-mini"><i class="icon-remove">Icon-remove</i></button></td>
</tr>
{% endblock %}{% endblock %}
