{% extends "base.html" %}

{% block content_title %}World{% endblock %}
{% block content_tagline %}any fictional world at your fingertips{% endblock %}
{% block world_active %} class="active"{% endblock %}

{% block sidebar %}
<h4>Actions</h4>
<ul class="list-unstyled">
  <li><a href="{{ url_for('world.index') }}"><i class="glyphicon glyphicon-book"></i> All worlds</a></li>
  <li><a href="{{ url_for('world.index') }}"><i class="glyphicon glyphicon-book"></i> My worlds</a></li>
</ul>
{% endblock %}

{% block content %}
    <div class="row">
    {% for world in object_list %}
    <div class="col-md-6">
        <h3><a href="{{ url_for('world.view_world', world_slug=world.slug)}}">{{ world.title }}</a></h3>
        <div class="well">{{ world.description }}</div>
        <dl class="dl-horizontal">
            <dt>Publisher</dt>
            <dd>{{ world.publisher }}</dd>
        </dl>
    </div>
    {% if loop.index is divisibleby 2 %}</div><div class="row">{% endif %}
    {% endfor %} 
  </div>
  {% include "includes/pagination.html" %}
{% endblock %}
