{% extends "base.html" %}

{% block content_title %}World{% endblock %}
{% block content_tagline %}any fictional world at your fingertips{% endblock %}
{% block world_active %} class="active"{% endblock %}

{% block content %}
  <ul>
    {% for article in object_list %}
    <li><a href="{{ url_for('world.detail', title=article.title) }}">{{ article.title }}</a>, {{ article.type_name() }} in {{ article.world.name }}
    </li>
    {% endfor %}
  </ul>

  {% include "world/pagination.html" %}
{% endblock %}
