{% extends "world/base.html" if not parent_template else parent_template %}

{% block content %}
    <div class="row">
    {% for world in blubb %}
    <div class="col-md-5 col-xs-6 world_item">
        <h3><a href="{{ url_for('.world_view', world=world.slug)}}">{{ world.title }}</a>
        <br><small>{{ world.description }}</small></h3>
        <hr>
        <dl class="dl-horizontal">
            <dt>{{ _('Publisher') }}</dt>
            <dd>{{ world.publisher }}</dd>
            <dt>{{ _('Rule System') }}</dt>
            <dd>{{ world.rule_system }}</dd>
            <dt>{{ _('Created date') }}</dt>
            <dd>{{ world.created_date.strftime('%Y-%m-%d') }}</dd>
        </dl>
    </div>
    {% if loop.index is divisibleby 2 %}</div><div class="row">{% endif %}
    {% else %}
    <div class="jumbotron text-center">
    <h2>{{_('Aeon is working on some worlds, please check back later!')}}</h2>
    </div>
    {% endfor %} 
  </div>
  {% include "includes/pagination.html" %}
{% endblock %}