{% extends "world/base.html" if not parent_template else parent_template %}

{% block content %}
    <div class="row">
    {% for world in worlds %}
    <div class="span6">
        <h3><a href="{{ url_for('.world_view', world=world.slug)}}">{{ world.title }}</a></h3>
        <div class="well">{{ world.description }}</div>
        <dl class="dl-horizontal">
            <dt>Publisher</dt>
            <dd>{{ world.publisher }}</dd>
        </dl>
    </div>
    {% if loop.index is divisibleby 2 %}</div><div class="row">{% endif %}
    {% endfor %} 
  </div>
{% endblock %}