{% extends "world/worlds.html" %}

{% block content_title %}{{world.title}}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block sidebar %}
  <h4>Alternativ</h4>
    <ul class="nav nav-list">
        <li><a href="{{ url_for('world.article_new', worldslug=world.slug) }}"><i class="icon-book"></i><strong>New article</strong></a></li>
        <li><a href="{{ url_for('world.world_browse', slug=world.slug, groupby='type') }}"><i class="icon-book"></i>Browse by type</a></li>
        <li><a href="{{ url_for('world.world_browse', slug=world.slug, groupby='title') }}"><i class="icon-book"></i>Browse by title</a></li>
        <li><a href="{{ url_for('world.world_browse', slug=world.slug, groupby='time') }}"><i class="icon-book"></i>Browse by time</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
    {% if object_list.count() == 0 %}No articles yet!{% else %}

    {% if groupby=='type' %}
        {% set groups = object_list|by_articletype %}
    {% elif groupby=='title' %}
        {% set groups = object_list|by_initials %}
    {% elif groupby=='time' %}
        {% set groups = object_list|by_time %}
    {% endif %}
    <dl>
        {% for group in groups %}
        <dt>{{ group.grouper|capitalize }}</dt>
        <dd><ul class="unstyled">
        {% for article in group.list %}
            <li><a href="{{ url_for('world.article_detail', slug=article.slug, worldslug=world.slug) }}">{{article.title}}</a>
                {%- if groupby=='title' -%}
                    <small>{{" ["+article.type_name()+"]"}}</small>
                {%- elif groupby=='time' -%}
                    <small>{{" ["+article.created_date.strftime('%Y-%m-%d %H:%M')+"]"}}</small>
                {%- endif %}</li>
            {% endfor %}
        </ul></dd>
        {% endfor %}
    </dl>
    {% endif %}
    {% include "world/pagination.html" %}
    </div>
{% endblock %}
