{% extends "base.html" %}

{% block content_title %}World{% endblock %}
{% block content_tagline %}any fictional world at your fingertips{% endblock %}
{% block world_active %} class="active"{% endblock %}

{% block sidebar %}
  <h3>Navigation</h3>
    <ul class="nav nav-list">
      <li><a href="{{ url_for('world.index') }}"><i class="icon-book"></i>All worlds</a></li>
      <li><a href="{{ url_for('world.myworlds') }}"><i class="icon-book"></i>My worlds</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
    {% for world in object_list %}
    <div class="span6">
        <h3><a href="{{ url_for('world.world_detail', slug=world.slug)}}">{{ world.title }}</a></h3>
        <div class="well">{{ world.description }}</div>
        <dl class="dl-horizontal">
            <dt>Publisher</dt>
            <dd>{{ world.publisher }}</dd>
        </dl>
    </div>
    {% if loop.index is divisibleby 2 %}</div><div class="row">{% endif %}
    {% endfor %} 
  </div>
  {% include "world/pagination.html" %}
{% endblock %}
