{% extends "base.html" %}

{% block content_title %}Campaign{% endblock %}
{% block content_tagline %}manage YOUR game{% endblock %}
{% block campaign_active %} class="active"{% endblock %}

{% block sidebar %}
  <h3>Navigation</h3>
    <ul class="nav nav-list">
      <li><a href="{{ url_for('campaign.index') }}"><span class="glyphicon glyphicon-book"></span> Campaigns</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> My sessions</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Chronicles</a></li>
    </ul>
{% endblock %}

{% block content %}
  <p>
  {% if session.logged_in %}
  Welcome <strong>{{ user.realname }}</strong>!
  {% endif %}
  In this section you can manage the campaigns and scenarios that you play.</p>
{% endblock %}
