{% extends "campaign/campaign.html" %}

{% block content_title %}Campaigns{% endblock %}
{% block content_tagline %}where the magic happens{% endblock %}
{% block campaign_active %} class="active"{% endblock %}

{% block content %}
  <div class="row">
  {% for c in campaigns %}
    <div class="span6">
      <h3><a href="{{ url_for('campaign.campaign_detail', slug=c.slug)}}">{{ c.name }}</a></h3>
      <div class="well">{{ c.description }}</div>
      <dl class="dl-horizontal">
        <dt>Group</dt>
        <dd><a href="{{ url_for('social.group_detail', groupslug=c.group.slug) }}">{{c.group}}</a></dd>
        <dt>World</dt>
        <dd>{{ c.world }}</dd>
        <dt>Rules</dt>
        <dd>{{ c.rule_system }}</dd>
      </dl>
    </div>
    {% if loop.index is divisibleby 2 %}</div><div class="row">{% endif %}
  {% endfor %} 
  </div>
{% endblock %}
