{% if not inline %}{% extends "campaign/campaign.html" %}
{% else %}{% extends "includes/inline.html" %}{% endif %}

{% if resource.op_is_new() %}
  {% set action_url = url_for('campaign.campaign_new', inline=inline) %}
  {% set title = 'New campaign' %}
{% else %}
  {% set action_url = url_for('campaign.campaign_detail', slug=resource.instance.slug, inline=inline) %}
  {% set title = 'Campaign' %}
  {% set tagline = resource.instance.name %}
{% endif %}

{% block content_title %}{{ title }}{% endblock %}
{% block content_tagline %}{{ tagline }}{% endblock %}

{% block content %}{% block modal_body %}
{% if resource.form %}<form method="post" action="{{action_url}}">{% endif %}
<div class="row m_inplace m_view{{ ' modal-body' if inline }}">
  <div class="span6">
      <div class="well">{{ resource.field('description') }}</div>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ resource.field('name') }}</dd>
        <dt>Group</dt>
        <dd>{% if resource.form %}{{ resource.form.group }}{% else %}<a href="{{ url_for('social.group_detail', slug=resource.instance.group.slug) }}">{{resource.instance.group}}</a>{% endif %}</dd>
        <dt>World</dt>
        <dd>{{ resource.field('world') }}</dd>
        <dt>Rules</dt>
        <dd>{{ resource.field('rule_system') }}</dd>
        <dt>Sessions</dt>
        <dd><span class="badge">{{ resource.instance.sessions.count() }}</span></dd>
      </dl>
  </div>
</div>

<h3>Scenes <small>(reorder the tree of scenes as you like!)</small></h3>
{% import 'includes/scene.html' as m %}
<div class="dd" id="nestable">
    <ol class="dd-list">
    {% for scene in resource.scenes recursive %}
    <li class="dd-item dd3-item" data-id="{{scene.id}}" id="scene{{scene.id}}">
        <div class="dd-handle dd3-handle">Drag</div>
        <div class="dd3-content">
            {{ m.render_scene(scene, None) }}
        </div>
        {% if scene.children.count() >0 %}
            <ol class="dd-list">{{loop(scene.ordered_children())}}</ol>
        {% endif %}
    </li>
    {% endfor %}
    </ol>
    <input type="hidden" name="scene_tree" value="" />
</div>
<div>
{{ m.render_scene(None, sceneform) }}
</div>

{% if resource.form %}<div class="row form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="{{url_for('campaign.campaigns')}}" class="btn">Cancel</a>
    </div></form>{% endif %}

<script type="text/javascript">
$(document).ready(function () {
    $('#nestable').nestable()
    $('form').on('submit', function(e) {
        if (window.JSON) {
            $('#nestable input').val(window.JSON.stringify($('#nestable').nestable('serialize')));
        } else {
            console.log('JSON browser support required for this demo.');
        }
        return true
    })
})   
</script>
{% endblock %}{% endblock %}