{% extends "campaign/campaign.html" %}

{% block content_title %}Campaigns{% endblock %}
{% block content_tagline %}where the magic happens{% endblock %}
{% block campaign_active %} class="active"{% endblock %}

{% block content %}
  <div class="row">
  {% for c in campaigns %}
    <div class="span6">
      <h3>{{ c.campaign.title }}</h3>
	  <div class="well">{{ c.campaign.description }}</div>
      <dl class="dl-horizontal">
        <dt>Group</dt>
        <dd>{% if false %}<a href="{{ url_for('social.group_get', slug=c.group.slug) }}">{{c.group}}</a>{% endif %}{{c.group}}</dd>
        <dt>World</dt>
        <dd>{{ c.campaign.world }}</dd>
        <dt>Rules</dt>
        <dd>{{ c.rule_system }}</dd>
      </dl>
    </div>
    {% if loop.index is divisibleby 2 %}</div><div class="row">{% endif %}
  {% endfor %} 
  </div>
{% endblock %}
