{% extends "base.html" %}

{% block content_title %}Campaign{% endblock %}
{% block content_tagline %}manage YOUR game{% endblock %}
{% block campaign_active %} class="active"{% endblock %}

{% block sidebar %}
  <h3>Navigation</h3>
  {% if false %}
    <ul class="list-unstyled">
      <li><a href="{{ url_for('campaign.index') }}"><i class="glyphicon glyphicon-book"></i>Campaigns</a></li>
      <li><a href="{{ url_for('campaign.sessions') }}"><i class="glyphicon glyphicon-book"></i>Your sessions</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-book"></i>Chronicles</a></li>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
  <p>
  {% if session.logged_in %}
  Welcome <strong>{{ user.realname }}</strong>!
  {% endif %}
  In this section you can manage the campaigns and scenarios that you play.</p>
{% endblock %}
