{% if not modal %}{% extends "campaign/campaign.html" %}
{% else %}{% extends "includes/partial.html" %}{% endif %}

{% block content_title %}{{'New ' if not campaign}}Campaign{% endblock %}

{% block content_tagline %}{{ campaign.name if campaign }}{% endblock %}

{% if campaign %}
  {% set action_url = url_for('campaign.campaign_detail', slug=campaign.slug, modal=modal) %}
{% else %}
  {% set action_url = url_for('campaign.campaign_new', modal=modal) %}
{% endif %}

{% block content %}{% block modal_body %}
{% if form %}<form method="post" action="{{action_url}}">{% endif %}
<div class="row m_inplace m_view{{ ' modal-body' if modal }}">
  <div class="span6">
      <div class="well">{{ form.description if form else campaign.description }}</div>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ form.name if form else campaign.name }}</dd>
        <dt>Group</dt>
        <dd>{% if form %}{{ form.group }}{% else %}<a href="{{ url_for('social.group_detail', groupslug=campaign.group.slug) }}">{{campaign.group}}</a>{% endif %}</dd>
        <dt>World</dt>
        <dd>{{ form.world if form else campaign.world }}</dd>
        <dt>Rules</dt>
        <dd>{{ form.rule_system if form else campaign.rule_system }}</dd>
        <dt>Sessions</dt>
        <dd><span class="badge">{{campaign.sessions.count() }}</span></dd>
      </dl>
  </div>
</div>

<h3>Scenes <small>(reorder the tree of scenes as you like!)</small></h3>
{% import 'includes/scene.html' as m %}
<div class="dd" id="nestable">
    <ol class="dd-list">
    {% for scene in scenes recursive %}
    <li class="dd-item dd3-item" data-id="{{scene.id}}" id="scene{{scene.id}}">
        <div class="dd-handle dd3-handle">Drag</div>
        <div class="dd3-content">
            {{ m.render_scene(scene, None) }}
        </div>
        {% if scene.children.count() >0 %}
            <ol class="dd-list">{{loop(scene.ordered_children())}}</ol>
        {% endif %}
    </li>
    {% endfor %}
    </ol>
    <input type="hidden" name="scene_tree" value="" />
</div>
<div>
{{ m.render_scene(None, sceneform) }}
</div>

{% if form %}<div class="row form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="{{url_for('campaign.campaigns')}}" class="btn">Cancel</a>
    </div></form>{% endif %}

<script type="text/javascript">
$(document).ready(function () {
    $('#nestable').nestable()
    $('form').on('submit', function(e) {
        if (window.JSON) {
            $('#nestable input').val(window.JSON.stringify($('#nestable').nestable('serialize')));
        } else {
            console.log('JSON browser support required for this demo.');
        }
        return true
    })
})   
</script>
{% endblock %}{% endblock %}