{% extends "campaign/campaign.html" %}

{% block content_title %}{{ _('Sessions') }}{% endblock %}
{% block content_tagline %}{{ _('upcoming and already done') }}{% endblock %}
{% block campaign_active %} class="active"{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div id="calendar"></div>
    <script type="text/javascript">
      $(document).ready(function(){
          var evnts = function(){
              return {
                      "event":
                          [
                          {% for s in sessions %}
                          {"date":"{{s.play_start}}","title":"{{s.campaign.name}}","id":"{{s.id}}"},
                          {% endfor %}
                          ]
                      }
          };
         var changeDay = function(event) {$('#sessionform').load('{{ url_for('campaign.session_new', inline=True) }}'+'&play_start='+
              event.year.valueOf() +'-'+ event.month.valueOf() +'-'+ event.day.valueOf())
           $('.calendar .selected').removeClass('selected');
           $('#day_'+event.day).addClass('selected');
          };
         $('#calendar').Calendar({ 'events': evnts, 'weekStart': 1 })
         .on('changeDay', changeDay)
         .on('onEvent', function(event) { 
            if(event.id){ $('#sessionform').load('{{ url_for('campaign.sessions') }}'+event.id+'?inline') }
          })
      });
    </script>
  </div>
  <div class="col-md-6" id="sessionform">
    <h3 id="test">{{ _('Book sessions') }}</h3>
  </div>
</div>
<div class="row">
  <h3>{{ _('Past events') }}</h3>
  <table class="table table-striped m_view">
    <thead>
      <tr>
        <th>{{ _('Campaign') }}</th>
        <th>{{ _('Group') }}</th>
        <th>{{ _('Start') }}</th>
        <th>{{ _('End') }}</th>
        <th>{{ _('Location') }}</th>
        <th>{{ _('Description') }}</th>
        <th>{{ _('Present') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sessions %}
        <tr><td>{{s.campaign.name}}</td><td><a href="{{ url_for('social.group_detail', slug=s.campaign.group.slug) }}">{{s.campaign.group}}</a></td><td>{{s.play_start}}</td><td>{{s.play_end}}</td><td>{{s.location}}</td><td>{{s.description}}</td><td></td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
{% block final %} {{super()}}
<script type="text/javascript">
  $('#sessionform').load('{{ url_for('campaign.session_new', inline=True) }}');
  $('.date-widget').datepicker({format: 'yyyy-mm-dd'});
</script>
{% endblock %}