{% if not inline %}{% extends "campaign/campaign.html" %}
{% else %}{% extends "includes/inline.html" %}{% endif %}

{% if resource.op_is_new() %}
  {% set action_url = url_for('campaign.session_new', inline=inline) %}
  {% set title = 'New session' %}
{% else %}
  {% set action_url = url_for('campaign.session_detail', id=resource.instance.id, inline=inline) %}
  {% set title = 'Session' %}
  {% set tagline = resource.instance.campaign.name %}
{% endif %}

{% block content_title %}{{ title }}{% endblock %}
{% block content_tagline %}{{ tagline }}{% endblock %}

{% block content %}{% block modal_body %}
{% if resource.form %}<form method="post" action="{{action_url}}">{% endif %}
<div class="row m_inplace m_view{{ ' modal-body' if inline }}">
  <div class="span6">
    <table class="table">
      <tr><td><strong>Campaign</strong></td>
      <td>{{ resource.field('campaign') }}</td></tr>
      <tr><td><strong>Location</strong></td>
      <td><small>{{ resource.field('location') }}</small></td></tr>
      <tr><td><strong>Start time</strong></td>
      <td>{{ resource.field('play_start') }}</td></tr>
      <tr><td><strong>End time</strong></td>
      <td>{{ resource.field('play_end') }}</td></tr>
    </table>
    <div class="well">{{ resource.field('description', rows=10) }}</div>
  </div>
</div>
{% if resource.form %}<div class="row form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="{{url_for('campaign.sessions')}}" class="btn">Cancel</a>
    </div></form>{% endif %}
{% endblock %}{% endblock %}