html {
  position: relative;
  min-height: 100%;
}

html,body {
	background-color: #fff;
}

body {
  min-height: 100%;
	padding-top: 60px;
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  margin-top: 15px;
}


footer p {
  margin-top: 10px;
}
/* The white background content wrapper */
.content {
	background-color: #fff;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

div.form-wrapper {
	width: 100%;
	overflow: auto;
}

form input[type="text"].datetime-widget {
	width: 100px;
	margin-right: 10px;
}

.chosen-container {
	min-width:250px !important; /* Customize to meet your needs */
}

.relation-type-selector+.chosen-container {
	min-width:90px !important; /* Customize to meet your needs */
}

div.sidebar li.active {
	font-weight: bold;
}

.table tr:first-of-type {
	border-top: none;
}

thead {
	font-weight: 700;
}

.td-bottom {
	vertical-align: bottom !important;
}
 
.table tr:first-of-type td {
  border-top: none !important; 
}

table.table-striped td.links .inline {
	margin: 0;
}

table.table-striped td.links .inline li {
	display: inline-block;
}

table.table-striped td.links .inline li a {
	border-right: 1px solid #DDDDDD;
	padding-right: 5px;
}

table.table-striped td.links .inline li:last-child a {
	border-right: medium none;
}

table.table-narrow {
	width: inherit;
}

.bs-icon {
	float: left;
	margin: 18px 10px 0 0;
	opacity: .8;
}

.avatar {
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.message {
	position: relative;
	min-height: 56px;
	width: 300px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.bubble_mine {
	background-color: #e5ffe5;
}

.bubble_others {
	margin-right: 0px;
	margin-left: auto;
	background-color: #f5f5f5;
}

.btn-alternative {
	display: inline;
	margin-right: 5px;
}

.btn-alternative .btn {
	margin-left: 0px !important;
}

.message_content {
	margin-left: 56px;
	margin-top: -24px;
	margin-bottom: 0px;
}

.message_name {
	position: absolute;
	margin-left: -20px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	padding: 0px 2px;
}


.message_name small {
	font-size: 80%;
}

.user-tablerow {
	height: 60px
}

.modal form {
	margin-bottom: 0px;
}

.typeahead-list {
	border: 1px solid #CCC;
	border-radius: 3px;
	height: 20px;
	width: 400px;
	border-spacing: 4px 5px;
	font-size: 12px;
	margin-left: 0px;
	display: table;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.typeahead-focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.typeahead-input {
	display: table-cell;
	width: 100%;
}

.typeahead-input input {
	border: none;
	padding: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0px;
	width: 100%;
	font-size: 12px;
}

.typeahead-input input:focus {
	outline: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.typeahead-item {
	position: relative;
	padding: 0 5px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #CAD8F3;
	background: #DEE7F8;
	cursor: default;
	display: table-cell;
	margin-right: 5px;
}

.typeahead-item:hover {
	background: #ccc;
}

.metadata .panel-heading, .metadata .panel-body {
	padding: 4px 8px;
}

.metadata .panel-heading .panel-title {
	font-size: 12px;
	text-transform: uppercase;
}



#editor, textarea  {
	/*
	border: 1px solid #bbb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
	width: 100%;
}

a .icon-ok {
	margin-left: -15px;
	margin-right: 2px;
}

.m_deselected .icon-ok {
	visibility: hidden;
}

.m_action:hover .icon-ok {
	visibility: visible;
	background-position: -24px -96px; /* minus */
}

.m_deselected:hover .icon-ok {
	visibility: visible;
	background-position: 0 -96px; /* plus */
}

.dropdown-menu .disabled>a:hover {
	text-decoration: none;
	cursor: default;
	background-color: transparent;
	background-image: none;
}

/* makes alerts fill their popover parents if there */
.popover-alert .alert {
	margin: -9px -14px;
	font-size: 14px;
	padding: 9px;
}
/* removes x to close when in poppover */
.popover-alert .alert .close {
	display: none;
}

.hero-unit {
	padding: 30px;
}

@media ( max-width : 767px) {
	.hero-unit h1 {
		font-size: 38.5px;
	}
}

/*
.alert-popover {
  padding: 0px;
}

.alert-popover .alert {
  margin-bottom: 0px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}*/
.alert-error
+
.arrow
+
{
border-right-color
:

#f2dede

!
important
;


}
.alert-info+.arrow {
	border-right-color: #d9edf7 !important;
}

.alert-success+.arrow {
	border-right-color: #dff0d8 !important;
}

.alert-message+.arrow {
	border-right-color: #fcf8e3 !important;
}

.m_userdetail table {
	margin-bottom: 0px;
}

.m_inplace input,.m_inplace textarea {
	margin-bottom: 0px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}

.form-actions {
	margin-top: 0px;
}

/*
.contenteditable, #editor{
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	padding: 5px;
}*/

/* helpers */
.hidden {
	display: none;
}

.calendar .selected {
	background-color: #ddd;
}

.metadata label, .metadata input, .metadata select, .metadata textarea {
	font-size: 11px !important;
}

.metadata label, .metadata input, .metadata textarea {
	line-height: 13px !important;
/*	height: 13px !important; makes inputs too small */
}

.metadata select {
	line-height: 23px !important;
	height: 23px !important;
	padding: 0px 1px;
}


.article_header {
	font-family: Gentium Book Basic, serif;
	font-size: 36px;
	margin-top: 40px;
}

.blog_header {
	color: #000;
}

.blog_header h2 {
	font-family: Gentium Book Basic, serif;
	font-size: 36px;
}

.blog_header:hover {
	text-decoration: none;
}

.article_text {
	font-family: Gentium Book Basic, serif;
	font-size: 20px;
	margin-top: 20px;
}

.fixed-width {
    max-width: 100%;
}

#hinter {
	color: #bbb;
  	position: absolute;
	pointer-events: none;
}

/* Per */

.world_item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 3px 3px 9px 3px;
  padding: 15px;
}

.world_item h3 {
  margin: 0px;
}

.nav-header {
  padding: 3px 0px;
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
  margin-right: 10px;
}

.worldheader .navbar-brand {
	margin-left: 0px !important;
}

.nav.content-menu {
	font-size: 12px !important;
	margin-left: 4px;
	margin-right: 4px;
}

.nav.content-menu  a {
	padding: 6px 10px;
}

.content-menu .content-menu-info a {
	display: inline;
	margin-right: 0px;
	padding: 0px;
}

.content-menu-info {
	padding: 6px 10px;
	color: #999;
}

.content-panel .panel {
	padding: 10px;
	border-top: none;
}

.articlesave {
	float: right !important;
	top: -4px;
	right: 10%;
}

#editor-toolbar {
	position: absolute;
	z-index: 1050;
}

#editor-toolbar .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: -10px;
  left: 50%;
  margin-left: -7px;
  border-width: 10px 10px 0;
  border-top-color: #428bca;
}

.article-meta {
	color: #999;
	margin-bottom: 20px;
}

.popover-content p {
  font-weight: 600;
  color: #999;
  margin: -15px;
}

.popover-content .close {
  margin-top: -15px;
}

.popover-content .alert-message {
  margin-bottom: 0;
}

.wysiwyg-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.product {
	min-height: 100px;
	padding-top: 10px;
}

.product:hover {
	background-color: #eee;
}

.product-image {
	max-width: 80px;
	max-height: 150px;
	padding: 5px 10px;
	float: left;
}

@media (max-width: 767px) {
	.product-image {
		float: right;
	}
}

.product-intro h3 {
	margin-top: 5px;
	font-size: 18px;
}

.product-details {
	list-style: none;
	display: flex; 
	justify-content: space-between;
	align-items: center;
	padding: 0px;
}
.product-details li {
	display: inline-block;
	padding-right: 5px;
}


.product-publisher {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	color: #aaa;
}

.product-price {
	font-size: 18px;
	color: #000;
}

.product-subtotals {
	text-align: right;
}

.product-comment {
border: 1px solid rgba(0,0,0,0);
resize: none;
border-radius: 4px;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.product-comment:hover {
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

tr:hover .btn-delete, 
li:hover .btn-delete,
.image-preview:hover .btn-delete,
.row:hover .btn-delete {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-delete {
	position: absolute;
	right: 0; top: 0; bottom: 0;
	margin-top: auto;
 	margin-bottom: auto;
	margin-right: -12px;
	height: 24px;
}

.image-preview .btn-delete {
	margin-right: 5px;
	margin-top: 5px;
	height: 40px;

}

.image-selector {
	text-align: center;
	position: relative;
}

.image-upload label {
	font-size: 190px;
	line-height: 200px;
	height: 200px;
	overflow: hidden;
	color: #fff;
	cursor: pointer;
	text-align: center;
	display: block;
	position: relative;
	background: #bbb;
	border-radius: 4px;
}

.image-upload label:hover {
	color: #ddd;
}

.image-upload .btn {
	width: 100%;
	margin-top: 5px;
}

.image-preview-caption {
	display: block;
	width: 100%;
	height: 20px;
	padding: 6px 12px;
	font-size: 10px;
	/* line-height: 1.428571429; */
	/* color: #555; */
	background-color: rgba(255, 255, 255, .90);
	background-image: none;
	border: 1px solid #ccc;
	position: absolute;
	bottom: 0px;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all .5s ease-in-out;
}

.image-container:hover .image-preview-caption {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.image-selector .image-preview {
	display: none;
	position: relative;
	overflow: hidden;
}

.image-selector .selected {
	display: inline-block;
}

.image-selector .selected + .image-upload {
	display: none;
}

.image-selector .image-preview img {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 300px;
}

.article_text .thumb {
	display: block;
	float: right;
	margin: 10px;
}

#content-editor p:hover {
	background-color: #eee;	
}

.gallerylist {
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.gallerylist .gallery-row {
	margin-bottom: .5rem;
	overflow: hidden;
 	width: 150%;
}

.gallerylist .gallery-row:last-child { margin: 0; }
.gallerylist .gallery:first-child { margin-left: 0; }
.gallerylist .gallery:last-child  { margin-right: 0; }

.gallerylist .gallery {
	display: block;
	float: left;
	margin: 0 .25rem;
}

.gallerylist figure {
	margin: 0;
	overflow: hidden;
	position: relative;
	-webkit-backface-visibility: hidden; /* To fix webkit 1px rendering bug */
}

.gallery input[type="radio"] {
	display: none;
}

.gallery label {
	margin-bottom: 0px;
	display: inline;
}

.gallerylist figcaption {
	background-color: rgba(255, 255, 255, .75);
	box-sizing: border-box;
	font-size: .75rem;
	padding: .5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all .5s ease-in-out;
}

.gallery a {
  border: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.gallerylist .gallery:hover figcaption {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.gallery img {
	display: block;
	max-width: 100%;
	transition: all .25s ease-in-out;
}

input[type="radio"]:checked + img {
 	border: 6px solid rgba(102,175,233,1)
}

#modalgallery {
	overflow-y: scroll; 
	height: 360px;
}

.media-object {
	max-height: 80px;
	margin-right: 10px;
}

.item-list {
	padding: 6px 10px;
}

.item-list .media {
	margin-top: 0px;
}
