html, body {
  background-color: #fff;
}
body {
  padding-top: 60px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

/* modeladmin filters */
form.modeladmin-filters { margin: 0; }
form.modeladmin-filters ul { list-style-type: none; }
form.modeladmin-filters select.field { margin-right: 10px; }

div.form-wrapper { width: 100%; overflow: auto; }

form input[type="text"].datetime-widget { width: 100px; margin-right: 10px; }

div.sidebar li.active { font-weight: bold; }

table.table-striped td.links .inline { margin: 0; }
table.table-striped td.links .inline li { display: inline-block; }
table.table-striped td.links .inline li a {
  border-right: 1px solid #DDDDDD;
  padding-right: 5px;
}
table.table-striped td.links .inline li:last-child a {
  border-right: medium none;
}

.bs-icon {
  float: left;
  margin: 18px 10px 0 0;
  opacity: .8;
}

.avatar         { position: absolute; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;}
.message        { width: 300px; height: 56px}
.bubble {
  margin-left: 200px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.ownbubble {
  margin-left: 0px;
  background-color: #e5ffe5;
}
.message_name, .message_content { margin-left: 56px}
.user-tablerow  {height: 60px}
.

/* helpers */
.hidden { display: none; }
