 {%- macro action_buttons(submit_title, cancel_title="Cancel", submit_class="primary") -%}
<div class="actions">
  <input type="submit" class="btn {{submit_class}}" value="{{submit_title}}">
  &nbsp;
  <button type="reset" class="btn">{{cancel_title}}</button>
</div>
{%- endmacro -%}

{%- macro FORM_FIELD2(field) -%}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{%- endmacro -%}

{%- macro FORM_FIELD(field, controlclass="", labelclass="", groupclass="") -%}
  {% set fieldargs = {'class':'form-control '+controlclass} %}
  {% do fieldargs.update({'required':True}) if field.flags.required %}  
  {% do fieldargs.update(kwargs) if kwargs %}
  <div class="form-group{{ ' has-error has-feedback' if field.errors }}{{' '+groupclass if groupclass}}">
    {{ field.label(class="control-label "+labelclass) if field.label }}
    {{ field(**fieldargs) }}
    {%- if field.errors -%}
    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    {%- endif -%}
  </div>
{%- endmacro -%}

{%- macro FORM_FIELD_INLINE(field, controlclass="", labelclass="", groupclass="") -%}
  {% set fieldargs = {'class':'form-control '+controlclass, 'placeholder':field.label.text} %}
  {% do fieldargs.update({'required':True}) if field.flags.required %}  
  {% do fieldargs.update(kwargs) if kwargs %}
  <div class="form-group{{ ' has-error has-feedback' if field.errors }}{{' '+groupclass if groupclass}}">
    {{ field.label(class="sr-only control-label "+labelclass) if field.label }}
    {{ field(**fieldargs) }}
    {%- if field.errors -%}
    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    <span class="help-block">{{ field.errors|join(' ') }}</span>
    {%- endif -%}
  </div>
{%- endmacro -%}

{%- macro FORM_FIELD_COLS(field, labelcol, inputcol, controlclass="", labelclass="", groupclass="") -%}
  {% set fieldargs = {'class':'form-control '+controlclass} %}
  {% do fieldargs.update({'required':True}) if field.flags.required %}  
  {% do fieldargs.update(kwargs) if kwargs %}
  <div class="form-group{{ ' has-error has-feedback' if field.errors }}{{' '+groupclass if groupclass}}">
    {{ field.label(class="control-label "+labelclass+" "+labelcol) if field.label }}
    <div class="{{inputcol}}">
    {{ field(**fieldargs) }}
      {%- if field.errors -%}
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      {%- endif -%}
    </div>
  </div>
{%- endmacro -%}

{%- macro IS_USER(user=None) -%}
  {% if g.user and (not user or g.user == user or g.user.admin) %}
     {{ caller() }}
  {% endif %}
{%- endmacro -%}

{%- macro IS_ADMIN() -%}
  {% if g.user and g.user.admin %}
     {{ caller() }}
  {% endif %}
{%- endmacro -%}

 {%- macro IS_ENABLED(feature) -%}
  {% if g.feature and g.feature[feature] %}
     {{ caller() }}
  {% endif %}
{%- endmacro -%}

{%- macro VISIBILITY(condition) -%}
  {%- if condition -%}<small title="{{_('Your access rights allow you to view this resource in this view')}}"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;</small>{%- endif %}
{%- endmacro -%}
