 {%- macro action_buttons(submit_title, cancel_title="Cancel", submit_class="primary") -%}
<div class="actions">
  <input type="submit" class="btn {{submit_class}}" value="{{submit_title}}">
  &nbsp;
  <button type="reset" class="btn">{{cancel_title}}</button>
</div>
{%- endmacro -%}
 
{%- macro FORM_FIELD(field, type="plain", label=True, cols=None, addlabelcls="", addcontrolcls="") -%}
  {% set labelcls = "control-label"+addlabelcls %}
  {% if type=="inline" %}{% set labelcls= labelcls+" sr-only"%}{%endif%}
  {% if cols %}{% set labelcls= labelcls+" "+cols[0]%}{%endif%}
  {% set controlcls = "form-control"+addcontrolcls %}

  <div class="form-group{{ ' has-error has-feedback' if field.errors }}">
    {{ field.label(class=labelcls) if label }}
    {% if type=="cols" %}<div class="{{cols[1]}}">{% endif %}
    {{ field(class=controlcls) }}
    {%- if field.errors -%}<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>{% endif %}
    {% if type=="cols" %}</div>{% endif %}
  </div>
{%- endmacro -%}