<div class="modal-header">
	<button type="btn btn-default" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>{{action|capitalize}} {{field}}?</h3>
</div>
<form action="{{ url }}" method="post">
	<div class="modal-body">Are you sure you want to {{action}} 
		{% for k,v in model_objs.items() -%}
		{% if v %}{{k}} <strong>{{v|join(', ')}}</strong>,{% endif %}
		{%- endfor -%}?
	</div>
	{%- for k,v in model_objs.items() -%}
	{% if v %}<input type="hidden" class="hide" name="{{k}}" value="{{v|join(', ')}}" />{% endif %}
	{%- endfor -%}
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button type="submit" class="btn btn-primary">Confirm</button>
	</div>
</form>