<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Real name</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    {% for person in group.masters() %}
      <tr class="user-tablerow">
        <td><a href="{{ url_for('social.user_detail', username=person.username) }}">
          <img class="avatar" src="{{ person.gravatar_url() }}" />
          <strong class="message_name">{{person.username}}</strong>
        </a></td>
        <td>{{person.realname}}</td>
        <td>Game master</td>
      </tr>
    {% endfor %}
    
    {% for person in group.players() %}
      <tr class="user-tablerow">
        <td><a href="{{ url_for('social.user_detail', username=person.username) }}">
          <img class="avatar" src="{{ person.gravatar_url() }}" />
          <strong class="message_name">{{person.username}}</strong>
        </a></td>
        <td>{{person.realname}}</td>
        <td>Player</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
