{% extends "base.html" %}

{% block mainblock %}

<form method="post" action="" class="form-signin" role="form">
  <h2 class="form-signin-heading">{{ _('Please sign in') }}</h2>
  <input type="hidden" name="next" value="{{ next }}" />
  {% set css_class = "form-control" %}
  {{ form['username'](class="form-control",placeholder=_("Username"), required="", autofocus="")}}
  {{ form['password'](class="form-control",placeholder=_("Password"), required="")}}
  {{ form.csrf_token }}
{#  <label class="checkbox">
    <input type="checkbox" value="remember-me"> {{ _('Remember me') }}
  </label> #}
{% include "includes/flash.html" %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Sign in') }}</button>
</form>

{% endblock %}
