<div class="message
{% if conversation %} bubble{% endif %}
{% if user.username == message.user.username %} ownbubble {% endif %}">
  <div class="message-content">
    <a href="{{ url_for('social.user_detail', username=message.user.username) }}">
      <img class="avatar" src="{{ message.user.gravatar_url() }}" />
      <strong class="message_name">{{message.user.username}}</strong>
    </a>
    <small>{{ message.pub_date.strftime('%Y-%m-%d %H:%M') }}</small>
    <p class="message_content">{{ message.content|urlize }}</p>
  </div>
</div>

