{% macro render_scene(scene, form) -%}
{%- if scene -%}
    <button type="button" class="btn btn-link scene_counter {{ 'collapsed' if not form }}" data-toggle="collapse" data-target="#scene{{scene.id}} .scene-text">{#<span class="glyphicon glyphicon-chevron-up"></span> #}Scene</button>
{%- endif -%}
<h3>{{ form.name if form else scene.name }}</h3>
{%- if scene -%}
    <div class="btn-group"><a class="btn btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a><a class="btn btn-xs" title="Remove"><span class="glyphicon glyphicon-trash"></span></a></div>
{%- endif -%}
<div class="collapse scene-text {{ 'in' if form }}">{{ form.description if form else scene.description }}</div>
{%- endmacro -%}