<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Real name</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for person in user_list %}
      <tr class="user-tablerow">
        <td><a href="{{ url_for('social.user_detail', username=person.username) }}">
          <img class="avatar" src="{{ person.gravatar_url() }}" />
          <strong class="message_name">{{person.username}}</strong>
        </a></td>
        <td>{{person.realname}}</td>
        <td>{{person.location}}</td>
        <td>
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#">Follow</a>
          </li>
          <li><a href="#">Add to group</a></li>
          <li><a href="#">Send message</a></li>
        </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
