<table class="table table-striped m_view">
  <thead>
    <tr>
      <th>Username</th>
      <th>Real name</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for person in user_list %}
      <tr class="user-tablerow m_instance">
        <td><a href="{{ url_for('social.user_detail', username=person.username) }}">
          <img class="avatar" src="{{ person.gravatar_url() }}" />
          <strong class="message_name">{{person.username}}</strong>
        </a></td>
        <td>{{person.realname}}</td>
        <td>{{person.location}}</td>
        <td>
        <div class="btn-toolbar">
        {% if user %}
          {% if person.username != user.username %}
            {% set resources={'user':person.username}%}
            <button type="button" class="btn btn-small m_action
              {% if user|is_following(person) %}" href="{{url_for('social.user_unfollow', username=person.username)}}">Unfollow
              {% else %}btn-primary" href="{{url_for('social.user_follow', username=person.username)}}">Follow ...
              {% endif %}</button>
            <div class="btn-group">
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
              Add to group<span class="caret"></span>
            </a>
            <ul class="dropdown-menu m_field">
              {% for group in mastered_groups %}
                {% set gm_hash=person.username~"_"~group.id %} {# to lookup in dict #}
                <li>
                {% if gm_hash in mastered_members %}
                  <a href="
                  {%- if mastered_members[gm_hash].status > 2 -%}
                    {{url_for('social.group_members_change',groupslug=group.slug,action='remove',players=person.username)}}" class="m_action" data-action-type="modal"
                  {%- else -%}"{% endif %}>
                  <i class="icon-ok"></i>{{ group.name }} <small class="hidden-menuitem">({{mastered_members[gm_hash].status_text()}})</small></a>
                {% else %}
                  <a href="{{url_for('social.group_members_change',groupslug=group.slug,action='add',players=person.username)}}" class="m_action m_deselected" data-action-type="modal"><i class="icon-ok"></i>{{ group.name }}</a>
                {% endif %}
                </li>
              {% endfor %}
              {% if mastered_groups %}<li class="divider"></li>{% endif %}
              <li><a href="{{url_for('social.group_new')}}">New group...</a></li>
            </ul>
            </div>
          <button type="button" class="btn btn-small btn-primary m_action" href="{{url_for('social.conversation_new', recipients=person.username, fixed_recipients=True)}}" data-action-type="modal">Send message</button>
          {% else %}
          <button class="btn disabled">It's you!</button>
          {% endif %}
 
        {% endif %}
        </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>