{% extends "world/publisher_root.html" if not publisher_theme else publisher_theme %}

{# NAV #}

{% block navbar_right %}
    {% if publisher.webshop_activated %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('list', res=publisher)) %}
    <li><a id="cart-counter" {{ 'class=highlight' if cart_items and cart_items > 0 }}
           href="{{ url_for('shop.OrdersView:cart') }}" title="{{ _('Cart') }}">
        <span style="font-size: 20px" class="glyphicon glyphicon-shopping-cart"></span><span
            class="badge">{{ cart_items if cart_items else 0 }}</span>
    </a></li>
    {% endcall %}
    {% endif %}
    {{ super() }}
{% endblock %}

{% block subnavbar %}
    <li><a class="{{ privileged }}" href="{{ url_for('shop.ProductsView:index') }}"><span
            class="glyphicon glyphicon-certificate"></span> {{ _('All Products') }}</a></li>
    {% call(privileged) MACRO.IS_ADMIN() %}
        <li><a class="{{ privileged }}" href="{{ url_for('shop.OrdersView:index') }}"><span
                class="glyphicon glyphicon-list-alt"></span> {{ _('All Orders') }}</a></li>
    {% endcall %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('my_orders')) %}
        <li><a class="{{ privileged }}" href="{{ url_for('shop.OrdersView:my_orders') }}"><span
                class="glyphicon glyphicon-gift"></span> {{ _('My orders') }}</a></li>
    {% endcall %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('my_products')) %}
        <li><a class="{{ privileged }}" href="{{ url_for('shop.ProductsView:my_products') }}"><span
                class="glyphicon glyphicon-book"></span> {{ _('My library') }}</a></li>
    {% endcall %}
{% endblock %}

{# LAYOUT #}

{# CONTENT #}

{% block content_title %}{{ _('Shop') }}{% endblock %}
{% block content_tagline %}{{ _('get your inspiration') }}{% endblock %}

{% block content %}
    <div class="row">
        {% for f in product_families %}
            <div class="col-md-5 col-xs-12 world_item">
                <h3><a href="{{ url_for('shop.ProductsView:index', family=f) }}">{{ f }}</a>
            </div>
            {% if loop.index is divisibleby 2 %}</div>
                <div class="row">{% endif %}
        {% else %}
            <div class="jumbotron text-center">
                <h2>{{ _('No products available') }}</h2>
            </div>
        {% endfor %}
        </div>
{% endblock %}
