{% extends "shop/order_list.html" if not parent_template else parent_template %}

{# NAV #}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('shop.shop_home'), _('Catalogue')),
        (url_for('shop.OrdersView:index'), _('Orders'))
    ) }}{% endblock %}

{# LAYOUT #}

{% block asides_class %}hide{% endblock %}

{# CONTENT #}

{% block content_title %}{{ _('My orders') }}{% endblock %}

{% block content %}
    <p><em>{{ _('Here are all orders you\'ve done with Helmgast. It includes crowdfunders and <a href="%(webshop)s">webshop</a>.', webshop="https://webshop.helmgast.se")}}<br>
    {{_('Check <a href="%(href)s">My library</a> for an easy overview of all your books.', href=url_for('shop.ProductsView:my_products'))}}</em></p>
    <p><strong>{%trans%}Many orders include digital files, click through to download them!{%endtrans%}</strong></p>
    {% if orders %}

        {% if args.get('view', none) == 'card' %}NEO-110
            <div class="cards">
                {% for order in orders %}
                    <div class="card"
                            {%- if order.order_lines|length and order.order_lines[0].product.get_feature_image -%}
                         style="background: url({{ order.order_lines[0].product.get_feature_image.feature_url() }}) center top/cover;"
                            {%- endif -%}>
                        <a class="card-cover icon150px"
                           href="{{ url_for('shop.OrdersView:get', id=order.id) }}">
                            {{ "\uE032" if not (order.order_lines|length and order.order_lines[0].product.get_feature_image) else "&nbsp;"|safe }}
                        </a>
                        <div class="card-text">
                            <h3 class="card-title dobr">
                                <a href="{{ url_for('shop.OrdersView:get', id=order.id) }}">{{ order }}</a>
                            </h3>
                            <ul class="card-details">
                                <li class="product-type">{{ order.updated|datetimeformat(format='short') }}</li>
                                <li class="product-price">{{ order.total_price_display() }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'id') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'external_key') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'created') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'status') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'total_price') }}</th>
                <th class="nobr">{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'total_items') }}</th>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{{ url_for('shop.OrdersView:get', id=order.id) }}">{{ order }}</a>
                        </td>
                        <td>{{ order.external_key }}</td>
                        <td class="small">{{ order.created|datetimeformat(format='short') }}</td>
                        <td>{{ order.get_status_display() }}</td>
                        <td>{{ order.total_price|currencyformat(order.currency.upper()) if order.currency }}
{#                            {{ currencies.get(order.currency,'%s') % order.total_price|currency }} #}
                        </td>
                        <td><a href="{{ url_for('shop.OrdersView:get', id=order.id, _anchor='products') }}">{{ order.total_items }}{% if order.has_downloads() %}
                        <span class="glyphicon glyphicon-download"></span>{% endif %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}
        {% include "includes/pagination.html" %}

    {% else %}
        <div class="jumbotron text-center">
            <h2>{{ _('No orders found') }}</h2>
        </div>
    {% endif %}
    <p><small><em>{{_('Are you missing orders? They might be associated with another email, 
    <a href="%(href)s">check here</a> to connect more emails or contact support! 
    Note that the Kickstarter for Kult Divinity Lost is not currently available here.', 
    href=url_for('social.UsersView:get', id=g.user.identifier(), intent='patch'))}}</em></small></p>

{% endblock %}
