
<!-- Items -->
<tr>
    <td>

        <h3 id="products">{{ _('Products') }}</h3>
        <table class="table table-condensed" {{ 'data-editable data-option-add=off data-each-item=.product' if args and args['view'] == 'cart' and order_form and order_form.order_lines }}>
            <tr>
                <th colspan=2></th>
                <th style="text-align:left; vertical-align:bottom">{{ _('Quantity') }}</th>
                <th style="text-align:left; vertical-align:bottom">{{ _('Price') }}</th>
            </tr>
            {% for line in order.order_lines %}
                    <tr class="product{{ ' subproduct' if not line.has_price else '' }}">
                        {% if line.product.get_feature_image %}
                        <td>
                            <a href="{{ url_for('shop.ProductsView:get', id=line.product.slug, _external=true, _scheme='') }}">
                            <img class="media-object" src="{{ line.product.get_feature_image.feature_url(transform='w_160,h_160,c_limit,q_auto') }}">
                            </a>
                        </td>
                        <td>
                        {% else %}
                        <td colspan=2>
                        {% endif %}
                            <h4>
                                {% if line.product %}
                                <a href="{{ url_for('shop.ProductsView:get', id=line.product.slug, _external=true, _scheme='') }}">{{ line.product.title }}</a>
                                {% else %}
                                    {{ line.get_title }}
                                {% endif %}
                                {# <small>{{ line.product.get_type_display() }}</small> #}
                            </h4>
                            {# <p>{{ line.product.description|markdown }}</p> #}
                            {% if order and order.is_paid_or_shipped() %}
                                {% if line.product.downloads %}
                                    <div><strong>{{ _('Downloads') }}</strong>
                                        {% for file_asset in line.product.downloads %}
                                            <div>
                                                <a href="{{ url_for('download', fileasset=file_asset.slug, _external=true, _scheme='') }}"><span
                                                        class="glyphicon glyphicon-download"></span>
                                                    <strong>{{ file_asset }}</strong>
                                                </a>{% if file_asset.description %}:
                                                {{ file_asset.description|markdown }}{% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if order_form and (args and args['view']=='pay') %}
                                {% if order_form.order_lines[loop.index0].comment %}
                                    <div class="form-group">
                                        <label class="control-label clickable-label " for="order_lines-{{ loop.index0 }}-comment">
                                            {% if line.product.comment_instruction %}{{ line.product.comment_instruction }}
                                            {% else %}
                                                {{ _('Add comment') }}
                                            {% endif %}
                                        <span class="glyphicon glyphicon-triangle-bottom"></span></label>
                                            {{ order_form.order_lines[loop.index0].comment(class="form-control discrete-input") }}
                                    </div>
                                {% endif %}
                            {% elif line.comment %}
                                {{ _('Name')+': '+line.comment }}
                            {% endif %}
                        </td>
                        <td class="product-price">
                            {% if order_form and order.status=='cart' and order_form.order_lines[loop.index0].quantity %}
                                {{ order_form.order_lines[loop.index0].quantity(type="number", min="0", max="100", style="width: 40px", class="product-quantity") }}
                            {% else %}
                                {{ line.quantity }}
                            {% endif %}
                        </td>
                        <td class="product-price">{% if line.has_price %}{{ line.price|currencyformat(order.currency.upper()) }}{% endif %}</td>
                    </tr>
            {% endfor %}
            {% if order.status != 'cart' or (args and args['view'] == 'pay') %}
            {% if order.shipping_line %}
            <tr>
                <td colspan=2 style="text-align:right">
                    <small>{{ _('Shipping') if order.shipping_line.title == "Shipping" else order.shipping_line.title }}</small>
                </td>
                <td></td>
                <td class="product-price">
                    <small>{% if order.shipping_line.has_price %}{{ order.shipping_line.price|currencyformat(order.currency.upper()) }}{% endif %}</small>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan=2 style="border-top: none; text-align:right">
                    <small>{{ _('Including tax') }}</small>
                </td>
                <td></td>
                <td class="product-price">
                    <small>{{ order.total_tax|currencyformat(order.currency.upper()) }}</small>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan=2 style="border-top: none; text-align:right">{{ _('Total') }}</td>
                <td></td>
                <td class="product-price">{{ order.total_price|currencyformat(order.currency.upper()) }}</td>
            </tr>
        </table>
    </td>
</tr>