{% extends "shop/_root.html" %}

{% block content_title %}{{ _('Products') }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('shop.shop_home'), _('Shop')),
        (url_for('shop.ProductsView:index'), _('Products'))
    ) }}{% endblock %}

{% block actionbar %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('new', res=publisher)) %}
        {{ MACRO.NEW_BUTTON(url_for('shop.ProductsView:get', id='post'), 'New product') }}
    {% endcall %}
{% endblock %}

{% block intro_class %}hide{% endblock %}
{% block content_class %}col-lg-9 col-md-8 col-sm-10 content{% endblock %}

{% block asides %}{{ super() }}

    {% if filter_options %}
        <div class="filter-options">
        {{ MACRO.LIST_CONTROLS(model, args, ['title', 'description', 'type', 'world', 'created', 'price'], set_view=args['view'], default='card') }}

        <h5>{% trans %}By world{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['world'] %}
                {{ MACRO.ARG_LINK(opt[1],opt[0], combine=True) }}
            {% endfor %}
        </div>
        <h5>{% trans %}By time{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['created'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By type{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['type'] %}
                {{ MACRO.ARG_LINK(opt[1],opt[0], combine=True) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By price{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['price'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>
        </div>
    {% endif %}

{% endblock %}

{% block content %}
    {% if products %}
        {% if args['view'] == 'list' %}
            {% for product in products %}
                {% include "shop/product_list_view.html" %}
            {% endfor %}

        {% elif args['view'] == 'table' %}
            {% include "shop/product_table_view.html" %}

        {% else %} {# ==cards #}
            <div class="cards">
                {% for product in products %}
                    {% include "shop/product_card_view.html" %}
                {% endfor %}
            </div>
        {% endif %}
        {% include "includes/pagination.html" %}
    {% else %}
        <div class="jumbotron text-center">
            <h2>{{ _('No products available') }}</h2>
        </div>
    {% endif %}
{% endblock %}

{% block js_globalvars %}
    {{ super() }}
    var SHOP_URL = "{{ url_for('shop.OrdersView:buy') }}"
{% endblock %}
