<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <th>{{_('Title')}}</th>
        <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'product_number') }}</th>
        <th>{{_('Description')}}</th>
        <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'type') }}</th>
        <th>{{_('World')}}</th>
        <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'created') }}</th>
        <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'price') }}</th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr {{ 'class=status-unpublished' if product.status == 'hidden' }}>
                <td>
                    <a href="{{ url_for('shop.ProductsView:get', id=product.slug) }}">{{ product.title }}</a>
                </td>
                <td><a href="{{ url_for('shop.ProductsView:get', id=product.slug) }}">{{ product.product_number }}</a></td>
                <td>{{ product.description|default(_('No description'), true)|markdown }}</td>
                <td>{{ product.get_type_display() }}</td>
                <td>{{ product.world|default(_('No data'),true) }}</td>
                <td class="nobr">{{ product.created|dateformat(format='short') }}</td>
                <td class="product-price">{{ product.get_price()|currencyformat(product.currency.upper()) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>