{% extends "mail/one_column_mail.html" %}

{% set invite_url = url_for('auth.join', email=to_field, email_token=token, _external=True) %}

{% block preview %}{{subject}}{% endblock %}

{% block content %}
<p>{%- trans -%}
We would be very happy if you would join us as user of Helmgast.se! It's a web platform
for roleplaying gamers; game masters, players and publishers alike. If you want to
join, just click below and register!
{%- endtrans -%}</p>
<table>
    <tr>
        <td class="padding">
            <p><a class="btn btn-primary " title="{{_('Verify email')}}" href="{{invite_url}}" target="_blank">{% trans %}Join Helmgast{% endtrans %}</a></p>
        </td>
    </tr>
</table>
{% endblock %}

{% block footer_content %}
<p><a href="https://www.facebook.com/helmgast"><img alt="Facebook logo" style="vertical-align: middle;margin-right: 5px;" width="72" height="30" src="https://gallery.mailchimp.com/4412a3ce4ac556de77513666b/images/adc42642-7da1-49c2-b9af-b7e9a3a41a97.png">Helmgast {{_('on')}} Facebook!</a></p>
    <p><em>Copyright © 2015 Helmgast AB, All rights reserved.<br>
    Surbrunnsgatan 33, Stockholm 113 48, Sweden</em></p>
</p>
{% endblock %}
