{% extends "mail/one_column_mail.html" %}

{% block preview %}{% trans %}Order confirmation on helmgast.se{% endtrans %}{% endblock %}

{% block content %}

<p>{% trans user=user.display_name() %}Thank you {{user}} for your order at helmgast.se! Please see your receipt below:{% endtrans %}</p>

<table style="width: 100%">
    {% include "shop/order_header.html" %}
    {% include "shop/order_lines.html" %}
    {% include "shop/order_address.html" %}
</table>

<p><em>{%- trans termslink=url_for('world.ArticlesView:get', publisher_=publisher.slug, world_='meta', id='terms_of_service', _external=true, _scheme='') -%}
    You received this email as a confirmation of your purchase order at helmgast.se.
    Please read the terms and conditions of purchase <a href="{{ termslink }}">here</a>.{%- endtrans -%}</em></p>
{% endblock %}