{# To be sent from sign up procedure if we need to verify email. 
Should also work as invite mail. #}

{% extends "mail/one_column_mail.html" %}

{% set verification_url = url_for('auth.join', email=user.email, email_token=user.create_token(), reset=true, username=user.username, location=user.location, realname=user.realname, _external=true) %}

{% block preview %}{% trans %}Verify your email to complete registration on helmgast.se{% endtrans %}{% endblock %}

{% block content %}
<p>{% trans user=user.display_name(), email=user.email, auth=user.auth_type() %}Thank you, {{user}}, for registering at Helmgast.se!
    You registered this email ({{email}}) and authentication method was: {{auth}}{% endtrans %}</p>

<p>{% trans %}We just need to verify that you own this email, and then you can start using your account:{% endtrans %}</p>
<table>
    <tr>
        <td class="padding">
            <p><a class="btn btn-primary " title="Verify email" href="{{verification_url}}" target="_blank">{% trans %}Verify email{% endtrans %}</a></p>
        </td>
    </tr>
</table>


<p>{% trans %}Or, paste this link into your browser:{% endtrans %} <br><a style="word-break: break-all;" href="{{verification_url}}">{{verification_url}}</a><p>
<p>{% trans %}As a user of Helmgast you will be able to interact with the worlds of Helmgast
as well as purchasing Helmgast products. The platform is constantly evolving so
we will be sending you updates by email whenever major changes have happened.{% endtrans %}</p>
<p><strong>{% trans %}Many thanks for your support!{% endtrans %}</strong></p>

<p><em>{% trans %}If you did not initiate this email, please ignore it as it may have been someone typing your
    mail by mistake. If you believe there is suspicious activity, please contact us
    directly at{% endtrans %} <a href="mailto:info@helmgast.se">info@helmgast.se</a></em></p>
{% endblock %}

{% block recipient%}{{user.email if user}}{% endblock %}