<!DOCTYPE html>
<html lang="{{ get_locale().language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ self.content_title() }}{% endblock %}</title>
    {% for locale in g.configured_locales.values() %}
        <link rel="alternate" hreflang="{{locale.language}}" href="{{current_url(lang=locale.language, _external=true)}}" />
    {% endfor %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon/favicon.ico') }}">
    {% if args and args.get('intent',None) %}
        {#            Turn off Pinterest pinning from image galleries on editable pages#}
        <meta name="pinterest" content="nopin"/>
    {% endif %}

    {% block opengraph %}
        <meta name="twitter:card" content="summary">
        <meta property="og:type" content="website"/>
        <meta name="twitter:site" content="@helmgast">
        <meta name="twitter:url" property="og:url" content="{{ current_url(_external=true) }}">
        <meta name="twitter:title" property="og:title" content="{{ self.content_title() }}">
        <meta name="twitter:description" property="og:description" content="">
        <meta name="twitter:image" property="og:image"
              content="{{ url_for('static', filename='img/helmgast_512px.png', _external=true) }}">
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=News+Cycle:400,700|Raleway:400,700
    {%- block googlefonts -%}{%- endblock -%}">

    {% block cssimports %}
        <link rel="stylesheet" href="{{url_for('static', filename=assets['app.css'])}}">
    {% endblock %}
</head>

{% import 'includes/macros.html' as MACRO %}

<body>
{% block topjs %}
    {% if not debug %}
        <script>
            window.ga = window.ga || function () {
                (ga.q = ga.q || []).push(arguments)
            };
            ga.l = +new Date;
            ga('create', 'UA-49513153-1', 'none')
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    {% endif %}
    <script>
        var set_aspect = function (el) {
            var a = el.width / el.height;
            while ((el = el.parentElement) && !el.classList.contains('gallery-item')) ;
            if (el) {
                el.style.width = 100 * a / 4.0 + '%';
                el.style["flex-grow"] = a;
            }
        }
        // Polyfill for "matches" function
        // https://developer.mozilla.org/en-US/docs/Web/API/Element/matches
        if (!Element.prototype.matches) {
            Element.prototype.matches =
                Element.prototype.matchesSelector ||
                Element.prototype.mozMatchesSelector ||
                Element.prototype.msMatchesSelector ||
                Element.prototype.oMatchesSelector ||
                Element.prototype.webkitMatchesSelector ||
                function (s) {
                    var m = (this.document || this.ownerDocument).querySelectorAll(s),
                        i = m.length;
                    while (--i >= 0 && m.item(i) !== this) {}
                    return i > -1;
                };
        }
        // Important to set listener on body and using useCapture = true
        document.body.addEventListener('load', function (e) {
            if (e.target.matches('.gallery img'))
                set_aspect(e.target);
        }, true)
    </script>
{% endblock topjs %}

<script>
    {% block js_globalvars %}
        // Global defaults. Be careful to change as lots of JS depends on it!
        // TODO some of below will be unique for each request, stopping caching
        var IMAGE_URL = "{{  url_for('image', slug = 'replace') }}"
        var LINK_URL = "{{  url_for('link', fileasset = 'replace') }}"
        var STATIC_URL = "{{  url_for('static', filename = 'replace') }}"
        var IMAGE_SELECT_URL = "{{ url_for('assets.FileAssetsView:index', out='fragment', intent='patch', view='card',
                    type='image', choice='multiple')|safe }}"
        var CSRF_TOKEN = "{{ csrf_token() }}"
        var USER="{{ g.user.email if g.user else ''}}"
        {% if config['SENTRY_DSN'] and config['SENTRY_DSN'] != 'SECRET' %}
        const SENTRY_DSN = "{{config['SENTRY_DSN']}}";
        var SENTRY_USER = {}
        {% if g.user %}
        SENTRY_USER = {
            id: "{{ g.user.id }}",
            email: "{{ g.user.email }}",
            username: "{{ g.user.display_name() }}"
        }
        {% endif %}
        {% endif %}
    {% endblock %}
</script>

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".my-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand my-collapse collapse in">
                {% block publisher_brand %}
                    <a href="{{ url_for('world.homepage') }}">
                        <svg class="lore-icon" style="fill: #a00; width: 60px; height: 60px;">
                            <use xlink:href="#lore-lore"></use>
                        </svg>
                    </a>
                {% endblock publisher_brand %}
            </div>
        </div>
        <div class="collapse navbar-collapse my-collapse">
            <ul class="nav navbar-nav navbar-nav-top">
                {% block navbar_left %}
                    {% call(privileged) MACRO.AUTHORIZED(access_policy['publisher'].authorize('list', res=user)) %}
                        <li{% block publishers_active %}{% endblock %}>
                            <a href="{{ url_for('world.PublishersView:index') }}">
                                <span class="glyphicon glyphicon-asterisk"></span> {{ _('Publishers') }}
                            </a>
                        </li>
                    {% endcall %}
                    {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('list', res=user)) %}
                        <li{% block social_active %}{% endblock %}>
                            <a href="{{ url_for('social.UsersView:index') }}">
                                <span class="glyphicon glyphicon-user"></span> {{ _('Users') }} </a>
                        </li>
                    {% endcall %}
                {% endblock navbar_left %}
            </ul>

            <ul class="nav navbar-nav navbar-nav-top navbar-right">
                {% block navbar_right %}
                    {% include 'includes/language_chooser.html' %}
                    {% if not g.user %}
                        <li>
                            <a href="{{ auth0_url(next=request.url) }}">{{ _('Log In') }}</a>
                        </li>
                        {% call MACRO.IS_ENABLED("join") %}
                            <li><a href="{{ url_for('auth.join') }}">{{ _('Join') }}</a></li>
                        {% endcall %}
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><span
                                    class="glyphicon glyphicon-user"></span> {{ g.user }} <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a {% call MACRO.IS_USER() %}href="{{ url_for('social.UsersView:get', id=g.user.identifier(), intent='patch') }}"{% endcall %}> {{ _('My account') }}</a>
                                </li>
                                {% call(privileged) MACRO.AUTHORIZED(access_policy['order'].authorize('my_orders')) %}
                                    <li><a class="{{ privileged }}"
                                           href="{{ url_for('shop.OrdersView:my_orders') }}">{{ _('My orders') }}</a>
                                    </li>
                                {% endcall %}
                                {% call(privileged) MACRO.AUTHORIZED(access_policy['product'].authorize('my_products')) %}
                                    <li><a class="{{ privileged }}"
                                           href="{{ url_for('shop.ProductsView:my_products') }}">{{ _('My library') }}</a>
                                    </li>
                                {% endcall %}
                                {% call(privileged) MACRO.IS_ADMIN() %}
                                    <li role="separator" class="divider"></li>
                                    <li><a class="privileged"
                                           href="{{ url_for('assets.FileAssetsView:index') }}">{{ _('Files') }}</a>
                                    </li>
                                    <li><a class="privileged" href="{{ url_for('admin.ShortcutsView:index') }}">{{ _('Shortcuts') }}</a>
                                    </li>
                                {% endcall %}


                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{{ url_for('auth.logout', next='/') }}">{{ _('Log Out') }}</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endblock navbar_right %}
            </ul>
        </div>
        <div class="collapse navbar-collapse my-collapse navbar-sub">
            <ul class="nav navbar-nav">
                <li class="breadcrumb-item nobr">{% block breadcrumbs %}{% endblock %}</li>
            </ul>
            <ul class="nav navbar-nav navbar-right actionbar">
                {% block subnavbar %}
                {% endblock subnavbar %}
                {% block actionbar %}
                {% endblock actionbar %}
            </ul>
        </div>

    </nav>
    <button class="betaribbon" id="feedback-ribbon">
        <span class="glyphicon glyphicon-exclamation-sign"></span> {% trans %}Give feedback{% endtrans %}!<br><span
            style="font-variant: small-caps">Beta</span>
    </button>
    {% include "includes/flash.html" %}

{% endblock navbar %}

{% block header %}
    <div class="page-header margin-below-large {% block header_class %}{% endblock %}">
        <div class="container">
            <div class="row">
                {% block header_title %}
                    <h1 class="col-lg-12 col-md-12 col-sm-12">{% block content_title %}{% endblock %}
                        <small>{% block content_tagline %}{% endblock %}</small>
                    </h1>
                {% endblock header_title %}
            </div>
        </div>
    </div>
{% endblock header %}

{% block main %}{% block mainsub %}
    <div class="container">
        <div class="row">
            {% block intro_parent %}
            <aside class="{% block intro_class %}col-lg-2 col-md-12 col-sm-10 intro-aside{% endblock %}">
                {% block intro %}
                {% endblock intro %}
            </aside>
            {% endblock intro_parent %}

            <div class="{% block content_class %}col-lg-7 col-md-8 col-sm-10 content{% endblock %}">
                {% block content %}{% endblock content %}
            </div>

            <aside class="{% block asides_class %}col-lg-3 col-md-4 col-sm-10{% endblock %}">
                {% block asides %}
                {% endblock asides %}
            </aside>
        </div>
        {% block post_content %}{% endblock post_content %}
    </div>
{% endblock mainsub %}{% endblock main %}

<footer>
    <div class="container">
        {% block footer %}{% endblock %}
        <div class="row">
            {# <div class="col-sm-6">
                <ul class="list-unstyled">{% include 'includes/language_chooser.html' %}</ul>
            </div> #}
            <div class="col-sm-offset-6 col-sm-6"><p class="pull-right">
                {% trans %}Design and code{% endtrans %} © {{ now().strftime("%Y") }} Helmgast AB<br>
                {% trans %}Built using {% endtrans %}<a
                    href="{{ url_for('world.homepage', _external=true, _scheme='') }}">Lore</a>,
                version {{ config['VERSION'] }}
            </p>
            </div>
        </div>
    </div>
</footer>

{% block final_html %}

    {# Standard modal element, don't touch #}
    {# TODO data-remote='' cancels out remote setting from data-toggle=modal to stop remote loading#}
    <div class="modal fade" id="themodal" data-remote="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">Modal loading...</div>
        </div>
    </div>
{% endblock %}

{% block js_bottom %}
    <script src="{{ url_for('static', filename=assets['app.js']) }}"></script>
    <script>
    $.get("{{ url_for('static', filename=assets['spritemap.svg']) }}", function(data) {
        var div = document.createElement("div");
        div.innerHTML = new XMLSerializer().serializeToString(data.documentElement);
        div.style = "display: none";
        document.body.insertBefore(div, document.body.childNodes[0]);
    });
    </script>
    
{% endblock %}

{% block tour %}
{% endblock %}

</body>
</html>
