<table class="table table-hover">
    <thead>
    <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'title') }}</th>
    <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'type') }}</th>
    <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'world.title_i18n.sv') }}</th>
    <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'creator.realname') }}</th>
    <th>{{ MACRO.ORDER_BY_LINK(filterable_fields, args, 'created_date') }}</th>
    <th></th>
    </thead>
    <tbody>

    {% for article in articles %}
        <tr {{ ' class=status-unpublished' if not article.is_published() }}>
            <td>
                <span title="{{ article.get_status_display() }}"
                      class="glyphicon glyphicon-{{ MACRO.status_glyphicons[article.status] }}"></span>&nbsp;&nbsp;
                <a href="{{ url_for('world.ArticlesView:get', id=article.slug, world_=world.slug) }}">{{ article.title }}</a>
            </td>
            <td><span
                    class="glyphicon glyphicon-{{ MACRO.article_glyphicons[article.type] }}"></span> {{ article.get_type_display() }}
            </td>
            <td>{{ article.world|default('Meta', true) }}</td>
            <td>{{ article.creator if article.creator else _('Admin') }}</td>
            <td>{{ article.created_date|datetimeformat(format='short') }}
            </td>
            <td style="position: relative">
                {% if article.available_languages() %}
                <ul class="flag-list">
                {% for loc in article.available_languages().values() %}
                    <li><img title="{{ loc.phrases['available_in'] }}" src="/static/img/icon/{{loc.territory}}.png"></li>
                {% endfor %}
                </ul>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>