{% extends "world/article_list.html" if not article_theme else article_theme %}

{% set article_type = article.type if article else args['fields'].get('type','default') %}
{% if article_form %}
    {% set type_form = article_form[article_type+'data'] %}
{% endif %}

{% if not article %}
    {% set tagline = world.title %}
    {% set title = _('New %(type)s article', type=''+article_type) %}
{% else %}
    {% set tagline = article.get_type_display() %}
    {% set title = article.title %}
{% endif %}

{% block cssimports %}
    {{ super() }}
    {% if article and article.get_header_image %}
    <style>
        .page-header-hero {
            background-image: url( {{ article.get_header_image.feature_url(format='wide') }} )
        }
    </style>
    {% endif %}
{% endblock %}

{% block opengraph %}
    {% include "includes/opengraph.html" with context %}
{% endblock %}

{# NAV #}

{% block breadcrumbs %}
    {% if world.slug=='meta' %}
        {% if article_type=='blogpost' %}
            {{ MACRO.BREADCRUMBS(
            (url_for('world.ArticlesView:publisher_home'), _('Home')),
            (url_for('world.ArticlesView:blog', world_=world.slug), _('Blog')),
            ('', title)
            ) }}
        {% else %}
            {{ MACRO.BREADCRUMBS(
            (url_for('world.ArticlesView:publisher_home'), _('Home')),
            ('', title)
            ) }}
        {% endif %}
    {% else %}
        {% if article_type=='blogpost' %}
            {{ MACRO.BREADCRUMBS(
            (url_for('world.ArticlesView:publisher_home'), _('Home')),
            (url_for('world.WorldsView:index'), _('Game Worlds')),
            (url_for('world.ArticlesView:world_home', world_=world.slug), world.title),
            (url_for('world.ArticlesView:blog', world_=world.slug), _('Blog')),
            ('', title)
            ) }}
        {% else %}
            {{ MACRO.BREADCRUMBS(
            (url_for('world.ArticlesView:publisher_home'), _('Home')),
            (url_for('world.WorldsView:index'), _('Game Worlds')),
            (url_for('world.ArticlesView:world_home', world_=world.slug), world.title),
            ('', title)
            ) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block actionbar %}
    {% if article and article.type=='topic' %}
        {# Can't edit topics at the moment so don't show those buttons #}
        {% include "world/new_article_menu.html" %}
    {% elif args.get('intent', None) == 'patch' %}
        {# We are editing #}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['article'].authorize('edit', res=article)) %}
        {{ MACRO.SAVE_BUTTON('articleform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('world.ArticlesView:get', id=article.slug, world_=world.slug)) }}
        {{ MACRO.DELETE_BUTTON() }}
        {% endcall %}
    {% elif args.get('intent', None) == 'post' %}
        {# We are creating new resource #}
        {{ MACRO.SAVE_BUTTON('articleform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('world.ArticlesView:get', id=article.slug, world_=world.slug)) }}
    {% else %}
        {# We are viewing #}
        {% include "world/new_article_menu.html" %}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['article'].authorize('edit', res=article)) %}
            {{ MACRO.EDIT_BUTTON(url_for('world.ArticlesView:get', id=article.slug,
            world_=world.slug, intent='patch')) }}
            {{ MACRO.DELETE_BUTTON() }}
        {% endcall %}
    {% endif %}
{% endblock %}

{# LAYOUT #}

{% block header_class -%}
    {% if article and article.get_header_image %}page-header-hero{% endif %}
    {% if article and not article_form and article.hide_header_text %}page-header-hide-text{% endif %}
{%- endblock %}

{% block header %}
    {% if args.get('intent', None) %}
        <form id="articleform" method="post" action="{{ action_url }}">
        {{ article_form.csrf_token }}
    {% endif %}
    {{ super() }}
{% endblock %}

{% block header_title %}
    {% if args.get('intent', None) %}
        <h1 class="col-lg-offset-2 col-lg-10 col-md-12 article-header">
            {{ article_form.title(autocomplete='off', class="form-control", placeholder=title) }}
        </h1>
        {% if article_form.title.errors %}
            <span class="help-block">{{ article_form.title.errors|join(' ') }}</span>
        {% endif %}
    {%- else -%}
        {{super()}}
    {% endif %}
{% endblock %}

{% block title_class %}col-lg-offset-2 col-lg-10 col-md-12 col-sm-12{% endblock %}
{% block intro_class %}col-lg-2 col-md-12 col-sm-12 intro-aside{% endblock %}
{% block content_class %}col-lg-7 col-md-8 col-sm-12 content{% endblock %}

{% block post_content %}
    {% if args.get('intent', None) %}
        </form>
    {% endif %}
{% endblock %}

{# CONTENT #}

{% block content_title %}{{ title }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% if topic %}
{# need to remove occurrences not used #}
{% set creator = topic.find_occurrences(kind="lore.pub/t/creator", first=True) %}
{% set topic_article = topic.article %}
{% set map_point = topic.find_occurrences(kind="lore.pub/t/map_point", first=True) %}
{% set rest_of_content = topic.occurrences_except_content([creator.content, topic_article, map_point.content]) %}
{% endif %}

{% block intro %}
    {% if not args.get('intent', None) %}
        <ul class="nav imprint">
            <li title="{{ _('Article type') }}">
                {% if topic.kind %}
                    <span class="glyphicon glyphicon-{{ MACRO.topic_icons[topic.kind.pk]|default('tag') }}"></span>
                    <span class="imprint-info">{{ topic.kind.pk|lookup(topic_names)|attr("name") }}</span>
                {% else %}
                    <span class="glyphicon glyphicon-{{ MACRO.article_glyphicons[article.type] }}"></span>
                    <span class="imprint-info">{{ article.get_type_display() }}</span>
                {% endif %}
            </li>
            {% if article.world %}
            <li title="{{ _('World') }}"><span class="glyphicon glyphicon-globe }}"></span>
                <a href="{{url_for('world.ArticlesView:world_home', world_=article.world.slug)}}">{{ article.world }}</a>
            </li>
            {% endif %}
            {% set articlegroups = article.editors + article.readers %}
            <li title="{{ _('Creator') }}"><span class="glyphicon glyphicon-user"></span>
                {%- if article.creator %}
                    {% if access_policy['user'].authorize('view', res=article.creator) %}
                        <a href="{{ url_for('social.UsersView:get', id=article.creator.identifier()) }}">{{ article.creator }}</a>
                    {% else %}
                        <a>{{ article.creator }}</a>
                    {% endif %}
                {%- else -%}
                    {% if topic %}
                    {% endif %}
                    <span class="imprint-info">&nbsp;{{ creator.content if creator else _('Admin') }}</span>
                {%- endif -%}</li>
            <li title="{{ _('Created') }}"><span
                    class="glyphicon glyphicon-calendar"></span>
                <span class="imprint-info">{{ article.created_date|dateformat(format='short') }}</span>
            </li>
            {% if articlegroups or g.user %}
                <li title="{{ _('Visibility') }}"><span
                        class="glyphicon glyphicon-{{ MACRO.status_glyphicons[article.status] }}"></span>
                    <span class="imprint-info">{{ article.get_status_display() }}</span>
                    {#<small>{{ articlegroups|join(', ') if articlegroups else _('Anyone') }}</small>#}
                </li>
            {% endif %}
            {% if article.tags %}
                <li title="{{ _('Tags') }}"><span class="glyphicon glyphicon-tag"></span>{%- for t in article.tags -%}
                    <a href="{{ url_for('world.ArticlesView:index', world_=world.slug, tags=t) }}">
                        <span class="badge">{{ t }}</span></a>
                {%- endfor -%}</li>
            {% endif %}
            {% for loc in article.available_languages().values() %}
                {% if article.translations_i18n.get(loc.language, none) %}
                <li title="{{ loc.phrases['read_in'] }}">
                    <a href="{{ url_for('world.ArticlesView:get', world_=world.slug, id=article.translations_i18n[loc.language].slug) }}">
                        <img src="https://www.countryflags.io/{{loc.territory}}/flat/16.png"> {{ loc.phrases['display_in'] }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}            
            <li title="{{ _('Share') }}" class="social">{% include "includes/social_icons.html" %}</li>
        </ul>
        {% if article.shortcut %}
        <div class="form-group form-group-noncolumn">
        <input class="form-control input-sm" type="text" id="shortcut" readonly value="{{article.shortcut.short_url()}}"/>
        <img src="{{ url_for('qrcode', code=article.shortcut.slug) }}">
        </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if args.get('intent', None) %}
        <article>
            {{ article_form.content(class="form-control content-editor", placeholder=_('Start writing here!')) }}
            <small class="textarea-hint">{% trans %}You can format using{% endtrans %} <a
                    href="http://commonmark.org/help/" target="_blank">Markdown</a></small>
        </article>
    {% else %}
        <article class="article-text">
        {% if not topic.article or article.content %}
        <section class="{{ 'drop-caps' if article.content|first_p_length >300 }}">
            {{ article.content|default(_('No content yet'), true)|safe|markdown }}
        </section>
        {% endif %}
        {% if topic.article %}
        <section>
            <ul class="nav nav-tabs nav-occurrence">
                <li role="presentation" class="nav-info canon">{% trans %}Canon content{% endtrans %}</li>
            </ul>
            {{ topic.article|default(_('No content yet'), true)|safe|markdown }}
        </section>
        {% endif %}

        {% for o in rest_of_content %}
            <section>
            <ul class="nav nav-tabs nav-occurrence">
                <li role="presentation" class="nav-info {{o.contribution_scope().pk.rsplit('/')[-1]}}">{% trans %}Community content{% endtrans %} {% if o.creator() -%} {% trans %}by{% endtrans %} {{o.creator().pk|lookup(topic_names)|attr("name")|replace("@", "")}}{% endif %}</li>
                <li role="presentation" class="pull-right">{%- if o.uri -%}<a href="{{o.uri}}">source</a>{%- endif -%}</li>
            </ul>

            {% if o.content %}
            {{o.content|safe|markdown }}
            {% elif o.kind.pk == "lore.pub/t/image" %}
            <img src="{{o.uri}}">
            {% else %}
            <p>
            <span class="glyphicon glyphicon-{{ MACRO.topic_icons[o.kind.pk] }}"></span> 
                {% if o.uri %}<a href="{{o.uri}}">{% endif %}
                {{o.kind.pk|lookup(topic_names)|attr("name")}}
                {% if o.uri %}</a>{% endif %}
            </p>
            {% endif %}
            </section>
        {% endfor %}
        </article>

    {% endif %}
    {% if args.get('intent', None) %}
        <ul class="action-buttons action-buttons-footer">
            {{ self.actionbar() }}
        </ul>
    {% endif %}
{% endblock %}

{% block asides %}
    {% if args.get('intent', None) %}
        <div class="article-aside">
        <div class="form-compact">
            {#  <li class="active"><a href="#focus" data-toggle="tab"><span class="glyphicon glyphicon-eject"></span></a></li>
      <li><a href="#metadata" data-toggle="tab">{{ _('Metadata') }}</a></li>
      <li><a href="#relations" data-toggle="tab"><span class="glyphicon glyphicon-transfer"></span> {{ _('Relations') }}</a></li>
      <li><a href="#details" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> {{ _('Details') }}</a></li>
    #}
            {#            {% if not article or not article.is_published() %}#}
            {#                <button type="submit" name="status" value="published"#}
            {#                        class="btn btn-sm btn-success btn-block">{{ _('Save and publish') }}</button>#}
            {#            {% endif %}#}
            {##}
            {#            <button type="submit" class="btn btn-sm btn-primary btn-block">{{ _('Save changes') }}</button>#}

            {{ MACRO.FORM_FIELD(article_form.type, controlclass='input-sm') }}


            {{ MACRO.FORM_FIELD(article_form.status, controlclass='input-sm') }}

            {{ MACRO.FORM_FIELD(article_form.created_date, controlclass='input-sm flatpickr-datetime',
                        data_enabletime='true', data_enableseconds='true', data_timeFormat="h:i:S") }}

            {{ MACRO.FORM_FIELD(article_form.publisher, controlclass='input-sm') }}
            {{ MACRO.FORM_FIELD(article_form.world, controlclass='input-sm') }}
            {{ MACRO.FORM_FIELD(article_form.language, controlclass='input-sm') }}

            {{ MACRO.I18N_FORM_FIELD(article_form.translations_i18n, controlclass='input-sm selectize', skip_key=article_form.language.data) }}

            {{ MACRO.FORM_FIELD(article_form.license, controlclass='input-sm') }}
            {{ MACRO.FORM_FIELD(article_form.theme, controlclass='input-sm') }}
            <div class="form-horizontal">
            {{ MACRO.FORM_FIELD(article_form.sort_priority, labelclass='col-sm-8', controlwrap='col-sm-4', controlclass='input-sm') }}
            {{ MACRO.FORM_FIELD(article_form.hide_header_text, labelclass='col-sm-8', controlwrap='col-sm-4', controlclass='input-sm') }}
            </div>

            {{ MACRO.FORM_FIELD(article_form.tags, labelclass="compact-above-label", controlclass=' input-sm selectize-tags') }}

            {{ MACRO.FORM_FIELD(article_form.editors, controlclass=' input-sm selectize') }}
            {{ MACRO.FORM_FIELD(article_form.readers, 
                controlclass=' input-sm selectize', helptext=_('Empty means public read access')) }}

            {{ MACRO.FORM_FIELD(article_form.images, controlclass="fileselect", labeltext=_('Thumbnail'), data_endpoint=
               url_for('assets.FileAssetsView:file_selector', type='image', choice='multiple'), data_class='image feature-images') }}
            
            <small><em><a target="_blank" href="{{ url_for('world.styleguide') }}">{{_('Help on format and image sizes')}}</a></em></small>
            {% if g.user.id %}
                <input type="hidden" name="creator" value="{{ g.user.id }}"/>
            {% endif %}

            {% if article %}
                {% if article.shortcut %}
                <div class="form-group">
                <label class="control-label" for="shortcut">{% trans %}Short URL / QR{% endtrans %}</label>
                <input class="form-control input-sm" type="text" id="shortcut" readonly value="{{url_for('shorturl', code=article.shortcut.slug, _external=true)}}"/>
                <img src="{{ url_for('qrcode', code=article.shortcut.slug) }}">
                </div>
                {% else %}
                <div class="form-group">
                <label class="control-label" for="shortcut">{% trans %}Create short URL{% endtrans %}</label>
                <div class="">
                    <div class="input-group input-group-sm">
                    <span class="input-group-addon input-group-addon-xs">{{url_for('shorturl', code='', _external=true)}}</span>
                    <input class="form-control" type="text" id="shortcut" maxlength=7 minlength=2 size=7 value=""/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary shortcut-save" type="button" data-post="{{url_for('admin.ShortcutsView:post')}}" data-article="{{article.id}}">{%trans%}Set{%endtrans%}</button>
                    </span>
                    </div>
                    <span class="help-block">
                    {% trans %}Try: {% endtrans %}
                    {% for suggestion in article.shortcut_suggestions() %}
                        <button class="btn btn-default btn-xs setval" data-target="#shortcut" type="button">{{suggestion}}</button>
                    {% endfor %}
                    </span>
                </div>
                {% endif %}
            {% endif %}
        </div>
        </div>
    {% else %}
        {% if topic %}
            <div class="well"><small><em>{% trans %}This is a read-only preview of Helmgast's Lore, a database of Helmgast's worlds{% endtrans %}</em></small></div>
            {# <ul class="nav nav-pills nav-xs">
                <li role="presentation" class="active"><a class="btn btn-default btn-xs" href="#canon" data-toggle="tab">Canon</a></li>
                <li role="presentation"><a class="btn btn-success btn-xs" href="#community" data-toggle="tab">Ola</a></li>
                <li role="presentation"><a class="btn btn-warning btn-xs" href="#suggest" data-toggle="tab">Joel</a></li>
            </ul> #}

            {% set alt_names = topic.alt_names(topic.name) %}
            {% if alt_names %}
            <h5>{{_("Alternative names")}}</h5>
            <ul>
            {% for n in alt_names %}
                <li title="{%if n.scopes -%} 
                [{%- for s in n.scopes -%}{{s.pk|lookup(topic_names)|attr("name")}}{{ ', ' if not loop.last }}{%- endfor -%}]
                {%- endif -%}">{{n.name}}
                </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% if map_point %}
            <div class="map-square"><img class="img-responsive" src="{{map_point.uri}}"><span class="glyphicon glyphicon-map-marker"></span></div>
            {% endif %}

            {% set ass_dict = topic.associations_by_r1(topic_names) %}
            {% for role, ass in ass_dict.items() %}
                {% set role_title = ass[0].kind.pk|lookup(topic_names) %}
                <h5>{{role_title.find_names(scopes=[role.pk])[0].name}}</h5>
                <div class="btn-set">
                {% for a in ass %}
                    {% set at = a.t2.pk|lookup(topic_names) %}
                    {% if loop.index == 30 %}  {# hide more than 30 associations under more button #}
                        <a role="button" data-toggle="collapse" href="#{{role.pk|safe_id}}" class="btn btn-primary btn-xs">{{_("more ...")}}</a>
                        <div class="collapse" id="{{role.pk|safe_id}}">
                    {% endif %}
                    <a title="{{at}}" {%- if at.as_article_url is defined -%}href="{{at.as_article_url()}}"{%- endif -%} class="btn btn-default btn-xs {{a.contribution_scope().pk.rsplit('/')[-1]}}">
                    {%- if at.kind.pk in MACRO.topic_icons -%}
                    <span class="glyphicon glyphicon-{{ MACRO.topic_icons[at.kind.pk] }}"></span>
                    {%- endif -%}
                    {{at.name or at}}
                    </a>
                {% endfor %}
                {% if ass|length >= 30 %}</div>{% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block final_html %}
    {{ super() }}
    {% if article %}
        {{ MACRO.CONFIRM_MODAL(article.title, url_for('world.ArticlesView:delete', world_=world.slug, id=article.slug, method="DELETE"), _('delete') ) }}
    {% endif %}
{% endblock %}