{% extends "world/world_item.html" if not parent_template else parent_template %}

{# NAV #}

{% block breadcrumbs %}
    {% if world.slug=='meta' %}
    {{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('world.ArticlesView:blog', world_=world.slug), _('Blog'))
    ) }}
    {% else %}
    {{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('world.WorldsView:index'), _('Game Worlds')),
        (url_for('world.ArticlesView:world_home', world_=world.slug), world.title),
        (url_for('world.ArticlesView:blog', world_=world.slug), _('Blog'))
    ) }}
    {% endif %}
{% endblock %}

{# LAYOUT #}

{# CONTENT #}

{% block content_title %}{{ _('The %(world)s blog', world=world.title) }}{% endblock %}
{% block content_tagline %} {{ _('by') }} {{ world.publisher }}{% endblock %}

{% block content %}
	{% for article in articles %}
        {% include "world/article_list_view.html" %}
	{% else %}
    <div class="jumbotron text-center">
      <h2>{{ _('No articles yet!') }}</h2>
    </div>
	{% endfor %}
{% include "includes/pagination.html" %}
{% endblock %}