{% extends "world/article_list.html" if not parent_template else parent_template %}

{# NAV #}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('world.ArticlesView:search'), _('Search'))
    ) }}{% endblock %}

{# CONTENT #}

{% block content_title %}{{ _('Search results:') if args['q'] else _('Search')}}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block content %}
    <form method="get" class="margin-below">
        {# This will erase all other query parameters when submitted by HTML design #}
        <div class="input-group">
            <input class="form-control input-lg" type="search" id='q' name='q'
                   placeholder="{{ _('Text') }}" value="{{ args['q']|escape }}">
            <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="submit">{% trans %}Search{% endtrans %}</button>
            </span>
        </div>
    </form>
    {{ super() }}
{% endblock %}