{% extends "world/world_item.html" %}

{# NAV #}

{% block breadcrumbs %}
    {% if world.slug == 'meta' %}
        {{ MACRO.BREADCRUMBS(
        (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('world.ArticlesView:index', world_=world.slug), _('Articles'))
    ) }}
    {% else %}
        {{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('world.WorldsView:index'), _('Game Worlds')),
        (url_for('world.ArticlesView:world_home', world_=world.slug), world.title),
        (url_for('world.ArticlesView:index', world_=world.slug), _('Articles'))
    ) }}
    {% endif %}
{% endblock %}

{# LAYOUT #}

{% block title_class %}col-lg-9 col-md-8 col-sm-12{% endblock %}
{% block intro_class %}hide{% endblock %}
{% block content_class %}col-lg-9 col-md-8 col-sm-12 content{% endblock %}
{% block asides_class %}col-lg-3 col-md-4 col-sm-12{% endblock %}

{# CONTENT #}

{% block content_title %}{{ _('Articles in %(world)s', world=world.title) }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block asides %}{{ super() }}
    {% if filter_options %}
        <div class="filter-options">
        {{ MACRO.LIST_CONTROLS(filterable_fields, args) }}

        <h5>{% trans %}By world{% endtrans %}</h5>
        <div class="btn-set" id="tour-filter">
            {% for opt in filter_options['world'] %}
                {{ MACRO.ARG_LINK(opt[1], opt[0], combine=False) }}
            {% else %}
                <button disabled class="btn btn-default btn-xs">{{ _('None') }}</button>
            {% endfor %}
        </div>

        <h5>{% trans %}By language{% endtrans %}</h5>
        <div class="btn-set" id="tour-filter">
            {% for opt in filter_options['language'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% else %}
                <button disabled class="btn btn-default btn-xs">{{ _('None') }}</button>
            {% endfor %}
        </div>

        <h5>{% trans %}By type{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['type'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% else %}
                <button disabled class="btn btn-default btn-xs">{{ _('None') }}</button>
            {% endfor %}
        </div>

        <h5>{% trans %}By status{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['status'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% else %}
                <button disabled class="btn btn-default btn-xs">{{ _('None') }}</button>
            {% endfor %}
        </div>

        <h5>{% trans %}By created date{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['created_date'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By tag{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['tags'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% else %}
                <button disabled class="btn btn-default btn-xs">{{ _('None') }}</button>
            {% endfor %}
        </div>

        <h5>{% trans %}Search text{% endtrans %}</h5>
        <div class="input-group{{ ' has-success' if args['q'] }}">
            <input class="form-control input-sm" type="search" id='q' name='q'
                    placeholder="{{ _('Text') }}" value="{{ args['q']|escape }}">
            <span class="input-group-btn">
                <a id="q-btn" href="{{ current_url(q=none) }}" class="btn btn-default btn-sm">{% trans %}Search{% endtrans %}</a>
            </span>
        </div>
        </span>
        </div>
    {% endif %}
{% endblock %}

{% set groups = articles|dummygrouper %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{{'active' if '/articles' in request.url}}"><a href="{{url_for('world.ArticlesView:index', world_=world.slug)}}">{% trans %}Articles{% endtrans %}</a></li>
        <li role="presentation" class="{{'active' if '/topics' in request.url}}"><a href="{{url_for('world.ArticlesView:topics', world_=world.slug)}}">{% trans %}Topics{% endtrans %}</a></li>
    </ul>
    {% for group in groups %}
        {% set articles = group.list %}
        {% if group.grouper %}
            <h3>{{ _(group.grouper|capitalize) }}</h3>
        {% endif %}
        {% if not articles %}
            <div class="jumbotron text-center">
                <h2>{{ _('No articles found') }}</h2>
            </div>
        {% elif args['view'] == 'list' %}

            {% for article in articles %}
                {% include "world/article_list_view.html" %}
            {% endfor %}

        {% elif args['view'] == 'card' %}
            <div class="cards">
                {% for article in articles %}
                    {% include "world/article_card_view.html" %}
{#                        {% if loop.index is divisibleby 9 %}#}
{#                            <div class="pagebreak"></div>#}
{#                            {% endif %}#}
                {% endfor %}
                </div>

        {% else %} {# ==table #}
            {% include "world/article_table_view.html" %}
        {% endif %}
    {% endfor %}
    {% include "includes/pagination.html" %}
{% endblock %}

{% block post_content %}{% endblock %}