{% extends "world/publisher_root.html" if not publisher_theme else publisher_theme %}

{% block content_title %}{{ publisher.title }} - {{ _('Home') }}{% endblock %}

{% block header %}{% endblock header %}

{# What to display on a publisher home
    - Publisher description
    - Worlds
    - Latest news / blog
    - Stats: total articles & topics across types?
    - Facebook page (iframe)
#}

{% block main %}
    {# block home is not defined in root, only in a theme, and allows theme to override the main #}
    {% if self.home %}
        {{ self.home() }}
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="zoombrand-from">
                    </div>
                </div>
                <div class="col-md-6 page-header">
                    <h1 class="publisher-header">{{ publisher.title }}</h1>
                    <h2 class="publisher-tagline">{{ publisher.tagline }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-6 col-md-5">
                    <a href="#latestnews" class="pull-right news-link">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> {{ _('Latest news') }}
                    </a>
                </div>
            </div>
        </div>
        {% for world in worlds %}
            {% if world and world.get_header_image %}
            <a href="{{ url_for('world.ArticlesView:world_home', world_=world.slug) }}">
                <div class="page-header page-header-hero parallax-border {{ 'page-header-hide-text' if world.hide_header_text }}"
                     style="background-image: url({{world.get_header_image.feature_url(format='wide') }})">
                    <div class="container">
                        <h1 class="col-lg-offset-2 col-lg-10 col-md-12 col-sm-12">
                            {{ world.title }}
                            <small>{{ world.tagline if world.tagline }}</small>
                        </h1>
                    </div>
                </div>
            </a>
            {% endif %}

        {% endfor %}

        <div class="container content">
            <div class="row">
                <h3 id="latestnews" class="anchor">{% trans %}Latest news{% endtrans %}</h3>
                <div class="col-md-12 cards margin-above">
                    {% for article in articles %}
                        {% include "world/article_card_view.html" %}
                    {% else %}
                        <div class="jumbotron text-center">
                            <h2>{{ _('No articles yet!') }}</h2>
                        </div>
                        <!-- col-lg-4 -->
                    {% endfor %}
                </div>
                <a href="{{ url_for('world.ArticlesView:blog', world_='meta') }}"
                   class="pull-right"> {{ _('Read more') }}</a>

            </div>
            {#            <div class="row top-line">#}
            {#                <h3>{% trans %}Popular in webshop{% endtrans %}</h3>#}
            {#                <div class="col-md-12 cards margin-above">#}
            {#                    {% for article in articles %}#}
            {#                        {% include "world/article_card_view.html" %}#}
            {#                    {% else %}#}
            {#                        <div class="jumbotron text-center">#}
            {#                            <h2>{{ _('No articles yet!') }}</h2>#}
            {#                        </div>#}
            {#                        <!-- col-lg-4 -->#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="row top-line">#}
            {#                <h3>{% trans %}Our editors{% endtrans %}</h3>#}
            {#                <div class="col-md-12 cards margin-above">#}
            {#                    {% for article in articles %}#}
            {#                        {% include "world/article_card_view.html" %}#}
            {#                    {% else %}#}
            {#                        <div class="jumbotron text-center">#}
            {#                            <h2>{{ _('No articles yet!') }}</h2>#}
            {#                        </div>#}
            {#                        <!-- col-lg-4 -->#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
        </div>
    {% endif %}
{% endblock %}