{% set initial = args["fields"]["names__0__name__istartswith"][0] %}
<h1 class="drop-cap">
{{ initial if not initial == "[" else "#"}}
</h1>
<dl class="book-index">
    {% for topic in topics %}
        <dt><a data-toggle="tooltip" title="{{ topic.description.content }}" href="{{ topic.as_article_url() }}">{{ topic.name }}</a></dt>
        {% for bibref in topic.bibrefs %}
        <dd class="index-row"><span class="index-term">{{bibref.content|replace(": ", '</span><span class="index-page">')|safe}}</span></dd>
        {% endfor %}
    {% endfor %}
</dl>