{% extends "world/publisher_root.html" if not publisher_theme else publisher_theme %}

{% block content_title %}{{ _('Game Worlds') }}{% endblock %}
{% block content_tagline %}{{ _('any fictional world at your fingertips') }}{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.ArticlesView:publisher_home'), _('Home')),
        (url_for('world.WorldsView:index'), _('Game Worlds'))
    ) }}{% endblock %}

{% block actionbar %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['world'].authorize('new', res=publisher)) %}
        {{ MACRO.NEW_BUTTON(url_for('world.WorldsView:get', id='post'), _('New world')) }}
    {% endcall %}
{% endblock %}

{% block intro_class %}hide{% endblock %}
{% block content_class %}col-lg-12 col-md-12 col-sm-12 content{% endblock %}
{% block asides_class %}hide{% endblock %}


{% block content %}
    <div class="cards">
        {% for world in worlds %}
            <div class="card{{ ' status-unpublished' if not world.is_published() }}"
                    {%- if world.get_feature_image -%}
                 style="background: url({{ world.get_feature_image.feature_url(format='card') }}) center top/cover;"
                    {%- endif -%}>
                <a class="card-cover icon150px"
                   href="{{ url_for('world.ArticlesView:world_home', world_=world.slug) }}">
                    {% if not world.images %}
                        <svg class="lore-icon lore-icon-stretch">
                            <use xlink:href="#lore-earth"></use>
                        </svg>
                    {% endif %}
                </a>
                <div class="card-text">
                    <h3 class="card-title">
                        <a href="{{ url_for('world.ArticlesView:world_home', world_=world.slug) }}">{{ world.title }}</a>
                    </h3>
                    {% if world.description %}
                        {% set desc =  (world.description|markdown|striptags|replace('gallery-center',''))|truncate(80) %}
                    {% elif world.tagline %}
                        {% set desc =  world.tagline|truncate(80) %}
                    {% else %}
                        {% set desc = _('No description') %}
                    {% endif %}

                    <div class="card-description">{{ desc }}</div>
                    <ul class="card-details">
                        <li class="product-type">{{ _('Created date') }}: {{ world.created_date|dateformat(format='short') }}</li>
                        {% if not world.is_published() %}
                            <li><span
                                    class="glyphicon glyphicon-{{ MACRO.status_glyphicons[world.status] }}"></span>
                            </li>
                        {% endif %}
                        {% call(privileged) MACRO.AUTHORIZED(access_policy['world'].authorize('edit', res=world)) %}
                            <li>
                                {{ MACRO.EDIT_BUTTON(url_for('world.WorldsView:get', intent='patch', id=world.slug), btnclass='btn-sm') }}
                            </li>
                        {% endcall %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="jumbotron text-center">
                <h2>{{ _("No worlds found") }}</h2>
            </div>
        {% endfor %}
    </div>
    {% include "includes/pagination.html" %}
{% endblock %}
