{% extends 'includes/row.html' %}

{% block content %}{% block inline %}
<tr class="m_instance">
    <td>{{ articlerelation_form.from_article(class="input-medium") if articlerelation_form else articlerelation.from_article }}
        {{ articlerelation_form.relation_type(class="input-medium") if articlerelation_form else articlerelation.relation_type }}
        {{ articlerelation_form.to_article(class="input-medium") if articlerelation_form else articlerelation.to_article }}</td>
    <td><button class="removerow btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>
</tr>
{% endblock %}{% endblock %}
