{#- EventArticle, row form. Expects: action_url, typeform -#}
{% if template_parent %}{% extends template_parent %}
{% elif template_parent == 'base' %}{% extends "world/base.html" %}{% endif %}

{% block content %}{% block inline %}
<table class="table">
  <tr>
    <td><strong>From</strong></td>
    <td>{{ article_form.eventarticle.from_date }}</td>
</tr><tr>
    <td><strong>To</strong></td>
    <td><small>{{ article_form.eventarticle.to_date }}</small></td>
</tr>
</table>
{% endblock %}{% endblock %}
