{#- Group, full form. Expects: action_url, group, members=group.members() -#}

{% if resource.form %}<form method="post" action="{{action_url}}">{% endif %}
<div class="row m_inplace m_view{{ ' modal-body' if inline }}">
  <div class="col-md-6">
    <div class="well">{{ resource.field('description', rows=10) }}</div>
    <table class="table">
      <tr><td><strong>Name</strong></td>
      <td>{{ resource.field('name') }}</td></tr>
      <tr><td><strong>Location</strong></td>
      <td><small>{{ resource.field('location') }}</small></td></tr>
      <tr><td><strong>Members</strong></td>
      <td><span class="badge">{{members.count() if group else 0}}</span></td></tr>
      <tr><td><strong>Meetings</strong></td>
      <td><span class="badge">0</span></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    {% include "social/group_member_view.html" %}
  </div>
</div>
{% if resource.form %}
<div class="row form-actions">
  <button type="submit" class="btn btn-primary">Save changes</button>
  <a href="{{url_for('social.group_detail', slug=group.slug)}}" class="btn btn-default">Cancel</a>
  <a href="{{url_for('social.group_delete', slug=group.slug)}}" class="btn btn-danger">Delete</a>
</div></form>{% endif %}