{#- GroupMember, row form. Expects: group, gm -#}

<tr class="user-tablerow m_instance">
  <td class="m_field" name="username" data-value="{{gm.member.username}}">
    <a href="{{ url_for('social.user_detail', username=gm.member.username) }}">
    <img class="avatar" src="{{ gm.member.gravatar_url() }}" />
    <strong class="message_name">{{gm.member.username}}</strong>
  </a></td>
  <td>{{gm.member.realname}}</td>
  <td>{{gm.status_text()}}</td>
  {% if form %}<td>
    {% if form and gm.status != 1 %}
      <button type="button" class="btn btn-sm m_action" data-action-type="modal" href="{{ url_for('social.group_members_change', slug=group.slug, action='remove', players=gm.member.username, view='m_group_member_view') }}">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      {% if gm.status==2 %}<button type="button" class="btn btn-xs m_action" data-action-type="modal" href="{{ url_for('social.group_members_change', slug=group.slug, action='add', masters=gm.member.username, view='m_group_member_view') }}">
        Make master?
      </button>{% endif %}
    {% endif %}
  </td>{% endif %}
</tr>