{#- MediaArticle, row form. Expects: action_url, typeform -#}
{% if template_parent %}{% extends template_parent %}
{% elif template_parent == 'base' %}{% extends "world/base.html" %}{% endif %}

{% block content %}{% block inline %}
<table class="table">
  <tr>
    <td><strong>MIME-type</strong></td>
    <td>{{ article_form.mediaarticle.mime_type }}</td>
</tr><tr>
    <td><strong>URL</strong></td>
    <td><small>{{ article_form.mediaarticle.url }}</small></td>
</tr>
</table>
{% endblock %}{% endblock %}