{#- MediaArticle, row form. Expects: action_url, typeform -#} {% if
template_parent %}{% extends template_parent %} {% elif template_parent
== 'base' %}{% extends "world/base.html" %}{% endif %} {% block content
%}{% block inline %}
<table class="table imageContainer">
	<tr>
		<td><strong>Upload file</strong></td>
		<td><input type="filepicker-dragdrop"
			data-fp-apikey="AJ0nNHF0uT7yP7zkI0d3Kz" /></td>
	</tr>
	<tr>
		<td><strong>URL</strong></td>
		<td><small>{{ article_form.mediaarticle.url }}</small></td>
	</tr>
	<tr>
		<td><strong>MIME-type</strong></td>
		<td>{{ article_form.mediaarticle.mime_type }}</td>
	</tr>
</table>
{% if article and article.is_media() %}
<p>
	<img src="{{article.get_type().url}}" />
</p>
{% endif %}{% endblock %}{% endblock %}

<script type="text/javascript">
	var $parent = $(".imageContainer");
	$parent.find("input[type='filepicker-dragdrop']").change(
			function(e) {
				var file = e.originalEvent.fpfile;
				$parent.find("input[name='mediaarticle-mime_type']").val(
						file.mimetype);
				$parent.find("input[name='mediaarticle-url']").val(file.url);
			});
</script>