{% extends 'includes/row.html' %}

{% block content %}{% block inline %}

<table class="table imageContainer">
	<tr>
		<td><strong>Upload file</strong></td>
		<td><input type="filepicker-dragdrop"
			data-fp-apikey="AJ0nNHF0uT7yP7zkI0d3Kz" /></td>
	</tr>
	<tr>
		<td><strong>URL</strong></td>
		<td><small>{{ article_form.url }}</small></td>
	</tr>
	<tr>
		<td><strong>MIME-type</strong></td>
		<td>{{ article_form.mime_type }}</td>
	</tr>
</table>
{% endblock %}{% endblock %}

<script type="text/javascript">
	var $parent = $(".imageContainer");
	$parent.find("input[type='filepicker-dragdrop']").change(
			function(e) {
				var file = e.originalEvent.fpfile;
				$parent.find("input[name='imagearticle-mime_type']").val(
						file.mimetype);
				$parent.find("input[name='imagearticle-url']").val(file.url);
			});
</script>