{#- PlaceArticle, row form. Expects: action_url, typeform -#}

<table class="table">
  <tr>
    <td><strong>Coordinate X</strong></td>
    <td>{{ articletype.form.coordinate_x if articletype.form else articletype.coordinate_x }}</td>
</tr><tr>
    <td><strong>Coordinate Y</strong></td>
    <td><small>{{ articletype.form.coordinate_y if articletype.form else articletype.coordinate_y }}</small></td>
</tr><tr>
    <td><strong>Location Type</strong></td> 
    <td><small>{{ articletype.form.location_type if articletype.form else articletype.location_type }}</small></td>
</tr>
</table>