{#- PlaceArticle, row form. Expects: action_url, typeform -#}
{% if template_parent %}{% extends template_parent %}
{% elif template_parent == 'base' %}{% extends "world/base.html" %}{% endif %}

{% block content %}{% block inline %}
<table class="table">
  <tr>
    <td><strong>Coordinate X</strong></td>
    <td>{{ article_form.placearticle.coordinate_x }}</td>
</tr><tr>
    <td><strong>Coordinate Y</strong></td>
    <td><small>{{ article_form.placearticle.coordinate_y }}</small></td>
</tr><tr>
    <td><strong>Location Type</strong></td> 
    <td><small>{{ article_form.placearticle.location_type }}</small></td>
</tr>
</table>
{% endblock %}{% endblock %}