{% extends "shop/base.html" if not parent_template else parent_template %}

{% block content %}
<table class="table">
<thead>
	<tr>
		<td>{{_('ID')}}</td>
		<td>{{_('User')}}</td>
		<td>{{_('Created')}}</td>
		<td>{{_('Updated')}}</td>
		<td>{{_('Status')}}</td>
	</tr>
</thead>
<tbody>
	{% for o in orders %}
	<tr>
		<td><a href="{{ url_for('.order_view', order=o.id)}}">{{o.id}}</a></td>
		<td>{{o.user}}</td>
		<td>{{o.created.strftime('%Y-%m-%d %H:%M')}}</td>
		<td>{{o.updated.strftime('%Y-%m-%d %H:%M')}}</td>
		<td>{{o.status}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endblock %}
