{% extends "shop/base.html" if not parent_template else parent_template %}

{% from 'includes/components.html' import FORM_FIELD, FORM_FIELD_COLS, FORM_FIELD_INLINE %}

{% block content_title %}{{ _('Cart') }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block content %}{% block inline %}
<form method="post" action="{{order_form.action_url}}">
    <div class="row">
      <div class="col-xs-2 col-md-2"></div>
      <div class="col-xs-10 col-md-10">
        <div class="col-md-offset-6">
         <ul class="product-details">
              <li>{{_('Publisher')}}</li>
              <li>{{_('Price')}}</li>
              <li>{{_('Quantity')}}</li>
              <li>{{_('Total')}}</li>
        </ul>
        </div>
      </div>
    </div>
    <div class="product-list" data-editable data-option-add="off" data-each-item=".product">
    {% for line in order_form.order_lines %}
    <div class="product row">
      <div class="col-xs-2 col-md-2">
        {% if line.data.product.feature_image %}<a href="{{ url_for('.product_view', product=line.data.product.slug)}}"><img class="product-image" src="{{url_for('asset_thumb', slug=line.data.product.feature_image.slug)}}"></a>{% endif %}
      </div>
      <div class="col-xs-10 col-md-10">
        <div class="row">
          <div class="col-md-6 product-intro">
            <h3><a href="{{ url_for('.product_view', product=line.data.product.slug)}}">{{ line.data.product.title }}</a></h3>
            <p>{{ line.data.product.description }}</p>
          </div>
          <div class="col-md-6">
            <ul class="product-details">
              <li class="product-publisher">{{ line.data.product.publisher }}</li>
              <li class="product-price">{{ line.data.price|int }}:-</li>
              <li>{{line.quantity(type="number", min="1", max="100", style="width: 40px", class="product-quantity")}}</li>
              <li class="product-price product-total">0:-</li>
            </ul>
            {{ FORM_FIELD_INLINE(line.comment, controlclass="product-comment") }}
          </div>   
        </div>
      </div>

    </div>
    {% endfor %}
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-7 col-md-offset-1">
      {{FORM_FIELD_COLS(order_form.shipping_address.street, "col-sm-2", "col-sm-10", groupclass="clearfix") }}
      {{FORM_FIELD_COLS(order_form.shipping_address.zipcode, "col-sm-2", "col-sm-4") }}
      {{FORM_FIELD_COLS(order_form.shipping_address.city, "col-sm-1", "col-sm-5", groupclass="clearfix") }}
      {{FORM_FIELD_COLS(order_form.shipping_address.country, "col-sm-2", "col-sm-10", groupclass="clearfix") }}
      </div>
      <div class="col-md-4">
        <table class="table product-subtotals">
          <tr><td>{{_('Grand Total')}}</td><td class="product-price">12:-</td></tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8">
      {% if order %}
        <a href="{{url_for('.order_delete', order=order.id)}}" class="btn btn-danger">{{ _('Delete') }}</a>
      {% endif %}
      <button type="submit" class="btn btn-primary btn-lg">{{ _('Checkout') }}</button>
      </div>
    </div>
    {{ order_form.csrf_token }}
</form>
{% endblock %}{% endblock %}

{% block final %}
{{super()}}
<script>
function calcTotal(e) {
  var $prod = $(e.delegateTarget)
  var qty = parseInt(e.target.value)
  var price = parseFloat(/[0-9.,]+/.exec($prod.find('.product-price').text())[0])
  var total = $prod.find('.product-total').text()
  total = total.replace(/[0-9.,]+/, qty*price)
  $prod.find('.product-total').text(total)
  calcGrandtotal()
}
function calcGrandtotal(e) {
  var grandtot = $('.product-subtotals .product-price')
  var sum = 0.0, num=0
  $('.product').each(function() {
    sum += parseFloat(/[0-9.,]+/.exec($(this).find('.product-total').text())[0])
    num += parseInt($(this).find('.product-quantity').val())
  })
  grandtot.text(grandtot.text().replace(/[0-9.,]+/, sum))
  $('#cart-counter').text(num)
}
$('.product').on('change', '.product-quantity', calcTotal)
$('.product-list').on('rac.removed', calcGrandtotal)
$('.product').each(function() {
  calcTotal({delegateTarget:this,target:$(this).find('.product-quantity')[0]})
})
</script>
{% endblock %}