{% extends "shop/_page.html" if not parent_template else parent_template %}

{% block content_title %}{{ _('Orders') }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% set order_statuses = {
  'cart' : _('Cart'),
  'ordered' : _('Ordered'),
  'paid' : _('Paid'),
  'shipped' : _('Shipped'),
  'error' : _('Error')}
%}

{% block content %}
{% if orders %}
<table class="table">
<thead>
	<tr>
		<td>{{_('Order')}}</td>
		<td>{{_('User')}}</td>
		<td>{{_('Created')}}</td>
		<td>{{_('Updated')}}</td>
		<td>{{_('Status')}}</td>
	</tr>
</thead>
<tbody>
	{% for order in orders %}
	<tr>
		<td><a href="{{ url_for('.order_form_edit', order=order.id)}}">{{order}}</a></td>
		<td>{{order.user}}</td>
		<td>{{order.created.strftime('%Y-%m-%d %H:%M')}}</td>
		<td>{{order.updated.strftime('%Y-%m-%d %H:%M')}}</td>
		<td>{{order_statuses[order.status]}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% include "includes/pagination.html" %}

{% else %}
<h3>{{_('You have not made any orders yet!')}}</h3>
{% endif %}
{% endblock %}
