{% extends "shop/base.html" if not parent_template else parent_template %}

{% from 'includes/components.html' import FORM_FIELD, FORM_FIELD_COLS, FORM_FIELD_INLINE %}

{% block content_title %}{{ _('Cart') if order.status=='cart' else _('Order') }}{% endblock %}
{% block content_tagline %}{{ '%s %s, %s %s' % (_('by'), order.user, _('placed'), order.created.strftime('%Y-%m-%d %H:%M')) if order.status != 'cart' }} 
{% endblock %}

{% set prod_types = {
  'book':_('Book'),
  'item':_('Item'),
  'digital':_('Digital'),
  'shipping':_('Shipping fee')}
  %}

{% set currencies = {
  'eur' : '€ %s',
  'sek' : '%s :-'
}%}
{#
  What user can edit in different order stages:
  cart: editable list, editable quantity, address, editable comment
  ordered: editable comment, address
  paid: editable comment, address
  shipped: nothing editable
#}

{% block content %}{% block inline %}
<a href="{{ url_for('auth.join', email=order.user.email, email_token=order.user.create_token(), next=request.path) }}">Temporär länk till användaren</a> (länk till registreringen, hitta på ett lösenord, fungerar högst en gång per användare)
{% if order_form %}<form class="order-cart" method="post" action="{{order_form.action_url}}"> {% endif %}
  {% if order.order_lines %}
    <div class="row underline-row">
      <div class="col-xs-2 col-md-2"></div>
      <div class="col-xs-10 col-md-10">
        <div class="col-md-offset-6">
         <ul class="product-details">
              <li><strong>{{_('Product Type')}}</strong></li>
              <li><strong>{{_('Price')}}</strong></li>
              <li><strong>{{_('Quantity')}}</strong></li>
              <li><strong>{{_('Total')}}</strong></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="product-list"{{ 'data-editable data-option-add=off data-each-item=.product' if order.status == 'cart'}}>
    {% for line in order.order_lines %}
    <div class="product row underline-row">
      <div class="col-xs-2 col-md-2">
        {% if line.product.feature_image %}<a href="{{ url_for('.product_view', product=line.product.slug)}}"><img class="product-image" src="{{url_for('asset_thumb', slug=line.product.feature_image.slug)}}"></a>{% endif %}
      </div>
      <div class="col-xs-10 col-md-10">
        <div class="row">
          <div class="col-md-6 product-intro">
            <h3><a href="{{ url_for('.product_view', product=line.product.slug)}}">{{ line.product.title }}</a> <small>{{line.product.publisher}}</small></h3>
            <p>{{ line.product.description }}</p>
            {% if line.product.status == 'ready_for_download' and line.product.type == 'digital' %}
            <h4><a href="{{ url_for('.download_pdf', product=line.product.slug)}}"><span class="glyphicon glyphicon-download"></span> {{_('Download')}}</a>
            </h4>
            {% endif%}
          </div>
          <div class="col-md-6">
            <ul class="product-details">
              <li class="product-type">{{ prod_types[line.product.type] }}</li>
              <li class="product-price">{{ currencies[line.product.currency] % line.product.price|currency if order.status=='cart' else currencies[line.product.currency] % line.price|currency }}</li>
              <li>
              {% if order_form and order.status=='cart' %}
                {{order_form.order_lines[loop.index0].quantity(type="number", min="1", max="100", style="width: 40px", class="product-quantity")}}
              {% else %}
                {{ line.quantity }}
              {% endif %}
              </li>
              <li class="product-price product-total">{{ currencies[line.product.currency] % (line.quantity*line.price)|currency}}</li>
            </ul>
            
            {% if order_form and line.product.acknowledgement %}
            <div class="form-group">
            <label class="control-label " for="order_lines-{{loop.index0}}-comment">{{_('Name in Acknowledgement')}}</label>
            {{order_form.order_lines[loop.index0].comment(class="form-control")}}</div>
            {% endif %}
          </div>   
        </div>
      </div>

    </div>
    {% endfor %}
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-8">
      {% if order_form and order.status != 'shipping' %}
        {{FORM_FIELD_COLS(order_form.shipping_address['name'], "col-sm-2", "col-sm-10", groupclass="clearfix") }}
        {{FORM_FIELD_COLS(order_form.shipping_address.street, "col-sm-2", "col-sm-10", groupclass="clearfix") }}
        {{FORM_FIELD_COLS(order_form.shipping_address.zipcode, "col-sm-2", "col-sm-4") }}
        {{FORM_FIELD_COLS(order_form.shipping_address.city, "col-sm-1", "col-sm-5", groupclass="clearfix") }}
        {{FORM_FIELD_COLS(order_form.shipping_address.country, "col-sm-2", "col-sm-10", groupclass="clearfix") }}
        {{FORM_FIELD_COLS(order_form.shipping_mobile, "col-sm-2", "col-sm-10", groupclass="clearfix") }}
      {% else %}
        <div class="form-group clearfix">
          <div class="col-sm-2"><strong>{{_('Name')}}</strong></div>
          <div class="col-sm-10 large-text">{{order.shipping_address.name}}</div>
        </div>
        <div class="form-group clearfix">
          <div class="col-sm-2"><strong>{{_('Street')}}</strong></div><div class="col-sm-10 large-text">{{order.shipping_address.street}}</div>
        </div>
        <div class="form-group clearfix">
          <div class="col-sm-2"><strong>{{_('Zip Code')}}</strong></div>
          <div class="col-sm-4 large-text">{{order.shipping_address.zipcode}}</div>
          <div class="col-sm-1"><strong>{{_('Country')}}</strong></div>
          <div class="col-sm-5 large-text">{{order.shipping_address.city}}</div>
        </div>
        <div class="form-group clearfix">
          <div class="col-sm-2"><strong>{{_('Country')}}</strong></div>
          <div class="col-sm-10 large-text">{{order.shipping_address.country}}</div>
        </div>
         <div class="form-group clearfix">
          <div class="col-sm-2"><strong>{{_('SMS Number')}}</strong></div>
          <div class="col-sm-10 large-text">{{order.shipping_mobile}}</div>
        </div>
      {% endif %}
      </div>
      <div class="col-md-4">
        <table class="table product-subtotals">
          <tr><td>{{_('Tax')}}</td><td class="product-price">{{ currencies.get(order.currency,'%s') % (0.06*order.total_price)|currency}}</td></tr>
          <tr><td>{{_('Grand Total')}}</td><td class="product-price">{{ currencies.get(order.currency,'%s') % order.total_price|currency}}</td></tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 pull-right">    
        <button type="submit" class="btn btn-primary btn-lg">{{ _('Save') }}</button>

      {% if order_form and order.status == 'cart' %}
        <button type="submit" class="btn btn-primary btn-lg">{{ _('Checkout') }}</button>
      {% endif %}
      </div>
    </div>
    {{ order_form.csrf_token if order_form }}
    {% else %}
    <div class="jumbotron text-center">
      <h1>{{_('Nothing in cart, ')}}<br><a href="{{url_for('.product_list')}}">{{_('go shopping')}}</a></h1>
    </div>
    {% endif %}
</form>
{% endblock %}{% endblock %}

{% block final %}
{{super()}}
{% if order_form %}
<script>
{% if False and order.status=='cart' %}
  function calcTotal(e) {
    var $prod = $(e.delegateTarget)
    var qty = parseInt((e.target && e.target.value) || "0")
    var price = parseFloat(/[0-9.,]+/.exec($prod.find('.product-price').text())[0])
    var total = $prod.find('.product-total').text()
    total = total.replace(/[0-9.,]+/, qty*price)
    $prod.find('.product-total').text(total)
    calcGrandtotal()
  }
  function calcGrandtotal(e) {
    var grandtot = $('.product-subtotals .product-price')
    var sum = 0.0, num=0
    $('.product').each(function() {
      sum += parseFloat(/[0-9.,]+/.exec($(this).find('.product-total').text())[0])
      num += parseInt($(this).find('.product-quantity').val())
    })
    grandtot.text(grandtot.text().replace(/[0-9.,]+/, sum))
    $('#cart-counter').text(num)
  }
  $('.product').on('change', '.product-quantity', calcTotal)
  $('.product-list').on('rac.removed', calcGrandtotal)
  $('.product').each(function() {
    calcTotal({delegateTarget:this,target:$(this).find('.product-quantity')[0]})
  })
{% endif %}
// $('#formsave').click(function(e){
//   $.post('{{order_form.action_url}}', $('.order-cart').serialize());
// })
</script>
{% endif %}
{% endblock %}