{% extends "shop/base.html" if not parent_template else parent_template %}

{% block content %}
    <div class="row">

    {% for product in products %}
    <div class="col-md-4 product">
        {% if product.feature_image %}<a href="{{ url_for('.product_view', product=product.slug)}}"><img class="product-image" src="{{url_for('asset_thumb', slug=product.feature_image.slug)}}"></a>{% endif %}
        <div class="product-intro">
            <h3><a href="{{ url_for('.product_view', product=product.slug)}}">{{ product.title }}</a></h3>
            <p>{{ product.description }}</p>
        </div>
        <ul class="product-details">
            <li class="product-publisher">{{ product.publisher }}</li>
            <li class="product-price">{{ product.price|currency }}:-</li>
            <li><a id="{{product.slug}}" class="btn btn-sm btn-primary buy-link" href="{{ url_for('.order_cart')}}">{{ _('Buy') }}</a></li>
        </ul>
    </div>
    {% if loop.index is divisibleby 3 %}</div><div class="row">{% endif %}
    {% endfor %} 
  </div>
  {% include "includes/pagination.html" %}
{% endblock %}

{% block final %}
{{super() }}
<script>
$('.buy-link').click(function(e) {
    var csrftoken = "{{ csrf_token() }}";
    $.ajax({
        url: "{{ url_for('.order_cart', out='json')}}",
        type: 'post',
        data: {product: this.id},
        headers: { 'X-CSRFToken': csrftoken },
        dataType: 'json',
        success: function (data) {
            $c = $('#cart-counter')
            $c.html(data.item)
        },
        error: function (jqXHR, textStatus, errorThrown) {
            flash_error(errorThrown)
        }
    });
    e.preventDefault();
});
</script>
{% endblock %}