{% extends "shop/base.html" if not parent_template else parent_template %}

{% block content %}
    <div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <h3><a href="{{ url_for('.product_view', product=product.slug)}}">{{ product.title }}</a>
        <br><small>{{ product.description }}</small></h3>
        <hr>
        <dl class="dl-horizontal">
            <dt>{{ _('Publisher') }}</dt>
            <dd>{{ product.publisher }}</dd>
            <dt>{{ _('Price') }}</dt>
            <dd>{{ product.price }}</dd>
            <dt>{{ _('Created date') }}</dt>
            <dd>{{ product.created.strftime('%Y-%m-%d') }}</dd>
        </dl>
        <h4><a class="buy-link" href="{{ url_for('.order_cart')}}">{{ _('Buy') }}</a></h4>
    </div>
    {% if loop.index is divisibleby 3 %}</div><div class="row">{% endif %}
    {% endfor %} 
  </div>
  {% include "includes/pagination.html" %}
{% endblock %}

{% block final %}
{{super() }}
<script>
$('.buy-link').click(function(e) {
    $c = $('#cart-counter')
    $c.html(parseInt($c.html())+1)
    e.preventDefault();
});
</script>
{% endblock %}