@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Gentium+Book+Basic:400,400italic,700,700italic);

html {
	position: relative;
	height: 100%;
	background-color: #fff;
}

body {
	background-color: #fff;
	min-height: 100%;
	padding-top: 60px;
}
/*
body div:hover,ul:hover,ol:hover,form:hover{
	border: 1px solid #f00 !important;
	background-color: #f00 !important;
}*/

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

footer {
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #333;
	color: #fff !important;
}

footer h4 {
  color: #fff !important;
}

footer p {
  margin-top: 10px;
}

.longtext {
	word-break: break-all;
}

.betaribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  z-index: 1090;
  right: -60px;
  bottom: 20px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
	-webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
  color: #fff;
  padding: 2px 50px 2px 50px;
  text-align: center;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.betaribbon:focus {outline:0;} /* Removes blue border around button */

@-ms-keyframes wiggle{0%{-ms-transform:rotate(-42deg);}50%{-ms-transform:rotate(-48deg);}100%{-ms-transform:rotate(-42deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(-42deg);}50%{-moz-transform:rotate(-48deg);}100%{-moz-transform:rotate(-42deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(-42deg);}50%{-webkit-transform:rotate(-48deg);}100%{-webkit-transform:rotate(-42deg);}}
@keyframes wiggle{0%{transform:rotate(-42deg);}50%{transform:rotate(-48deg);}100%{transform:rotate(-42deg);}}

.betaribbon:hover {
	-ms-animation:wiggle .3s 2;
	-moz-animation:wiggle .3s 2;
	-webkit-animation:wiggle .3s 2;
	animation:wiggle .3s 2;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.caret-up {
	border-bottom: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top: none;
}



.nav>li>a {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar {
  margin-top: 40px;
}

/* The white background content wrapper */
.content {
	background-color: #fff;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.modal-content .form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

div.form-wrapper {
	width: 100%;
	overflow: auto;
}

form input[type="text"].datetime-widget {
	width: 100px;
	margin-right: 10px;
}

.chosen-container {
	min-width:250px !important; /* Customize to meet your needs */
}

.relation-type-selector+.chosen-container {
	min-width:90px !important; /* Customize to meet your needs */
}

div.sidebar li.active {
	font-weight: bold;
}

/*.table tr:first-of-type {
	border-top: none;
}*/

thead {
	font-weight: 700;
}

th a {
	color: inherit;
}

th a:hover {
	color: inherit;
	text-decoration: inherit;
}

.td-bottom {
	vertical-align: bottom !important;
}

/*
.table tr:first-of-type td {
  border-top: none !important;
}*/

table.table-striped td.links .inline {
	margin: 0;
}

table.table-striped td.links .inline li {
	display: inline-block;
}

table.table-striped td.links .inline li a {
	border-right: 1px solid #DDDDDD;
	padding-right: 5px;
}

table.table-striped td.links .inline li:last-child a {
	border-right: medium none;
}

table.table-narrow {
	width: inherit;
}

.underline-row {
	border-bottom: 1px solid #DDDDDD;
}

.large-text {
	font-size: 16px;
}

.gianticon {
	font-size: 10em;
	color: #aaa;
}

.bs-icon {
	float: left;
	margin: 18px 10px 0 0;
	opacity: .8;
}

.avatar {
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.message {
	position: relative;
	min-height: 56px;
	width: 300px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.bubble_mine {
	background-color: #e5ffe5;
}

.bubble_others {
	margin-right: 0px;
	margin-left: auto;
	background-color: #f5f5f5;
}

.btn-alternative {
	display: inline;
	margin-right: 5px;
}

.btn-alternative .btn {
	margin-left: 0px !important;
}

.message_content {
	margin-left: 56px;
	margin-top: -24px;
	margin-bottom: 0px;
}

.message_name {
	position: absolute;
	margin-left: -20px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	padding: 0px 2px;
}


.message_name small {
	font-size: 80%;
}

.user-tablerow {
	height: 60px
}

.modal form {
	margin-bottom: 0px;
}

.typeahead-list {
	border: 1px solid #CCC;
	border-radius: 3px;
	height: 20px;
	width: 400px;
	border-spacing: 4px 5px;
	font-size: 12px;
	margin-left: 0px;
	display: table;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.typeahead-focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.typeahead-input {
	display: table-cell;
	width: 100%;
}

.typeahead-input input {
	border: none;
	padding: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0px;
	width: 100%;
	font-size: 12px;
}

.typeahead-input input:focus {
	outline: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.typeahead-item {
	position: relative;
	padding: 0 5px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #CAD8F3;
	background: #DEE7F8;
	cursor: default;
	display: table-cell;
	margin-right: 5px;
}

.typeahead-item:hover {
	background: #ccc;
}

.metadata .panel-heading, .metadata .panel-body {
	padding: 4px 8px;
}

.metadata .panel-heading .panel-title {
	font-size: 12px;
	text-transform: uppercase;
}



#editor, textarea  {
	/*
	border: 1px solid #bbb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
	width: 100%;
}

a .icon-ok {
	margin-left: -15px;
	margin-right: 2px;
}

.m_deselected .icon-ok {
	visibility: hidden;
}

.m_action:hover .icon-ok {
	visibility: visible;
	background-position: -24px -96px; /* minus */
}

.m_deselected:hover .icon-ok {
	visibility: visible;
	background-position: 0 -96px; /* plus */
}

.dropdown-menu .disabled>a:hover {
	text-decoration: none;
	cursor: default;
	background-color: transparent;
	background-image: none;
}

/* makes alerts fill their popover parents if there */
.popover-alert .alert {
	margin: -9px -14px;
	font-size: 14px;
	padding: 9px;
}
/* removes x to close when in poppover */
.popover-alert .alert .close {
	display: none;
}

.hero-unit {
	padding: 30px;
}

@media ( max-width : 767px) {
	.hero-unit h1 {
		font-size: 38.5px;
	}
}

/*
.alert-popover {
  padding: 0px;
}

.alert-popover .alert {
  margin-bottom: 0px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}*/
.alert-error
+
.arrow
+
{
border-right-color
:

#f2dede

!
important
;


}
.alert-info+.arrow {
	border-right-color: #d9edf7 !important;
}

.alert-success+.arrow {
	border-right-color: #dff0d8 !important;
}

.alert-message+.arrow {
	border-right-color: #fcf8e3 !important;
}

.m_userdetail table {
	margin-bottom: 0px;
}

.m_inplace input,.m_inplace textarea {
	margin-bottom: 0px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}

.form-actions {
	margin-top: 0px;
}

/*
.contenteditable, #editor{
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	padding: 5px;
}*/

/* helpers */
.hidden {
	display: none;
}

.calendar .selected {
	background-color: #ddd;
}

.label-control {
	display: inline-block;
}

.metadata label, .metadata input, .metadata select, .metadata textarea {
	font-size: 11px !important;
}

.metadata label, .metadata input, .metadata textarea {
	line-height: 13px !important;
/*	height: 13px !important; makes inputs too small */
}

.metadata select {
	line-height: 23px !important;
	height: 23px !important;
	padding: 0px 1px;
}


.article_header {
	font-family: Gentium Book Basic, serif;
	font-size: 36px;
	margin-top: 40px;
}

.blog_header {
	color: #000;
}

.blog_header h3 {
	font-family: Gentium Book Basic, serif;
	font-size: 30px;
  margin-top: 40px;
}

.blog_header:hover {
	text-decoration: none;
}

.article_text {
	font-family: Gentium Book Basic, serif;
	font-size: 20px;
	margin-top: 20px;
}

.fixed-width {
    max-width: 100%;
}

#hinter {
	color: #bbb;
  	position: absolute;
	pointer-events: none;
}

/* Per */

.world_item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 3px 3px 9px 3px;
  padding: 15px;
}

.world_item h3 {
  margin: 0px;
}

@media (min-width: 768px) {
	.navbar-right {
		margin-right: 0px !important;
	}
}


.nav-header {
  padding: 3px 0px;
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
  margin-right: 10px;
}

.worldheader .navbar-brand {
	margin-left: 0px !important;
}

.nav.content-menu {
	font-size: 12px !important;
	margin-left: 4px;
	margin-right: 4px;
}

.nav.content-menu  a {
	padding: 6px 10px;
}

.content-menu .content-menu-info a {
	display: inline;
	margin-right: 0px;
	padding: 0px;
}

.content-menu-info {
	padding: 6px 10px;
	color: #999;
}

.content-panel .panel {
	padding: 10px;
	border-top: none;
}

.articlesave {
	float: right !important;
	top: -4px;
	right: 10%;
	padding-left: 8px;
}

#editor-toolbar {
	position: absolute;
	z-index: 1050;
}

#editor-toolbar .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: -10px;
  left: 50%;
  margin-left: -7px;
  border-width: 10px 10px 0;
  border-top-color: #428bca;
}

.article-meta {
	color: #999;
	margin-bottom: 20px;
	border-top: dashed 1px #999;
	padding-top: 5px;
}

/*.popover-content p {
  font-weight: 600;
  color: #999;
  margin: -15px;
}

.popover-content .close {
  margin-top: -15px;
}

.popover-content .alert-message {
  margin-bottom: 0;
}*/

.wysiwyg-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.cards .row {
  display: flex;
}

.product {
	min-height: 100px;
	padding: 15px;
}

.cards .product {
  display: flex;
  flex-direction: column;
}

.product:hover {
	background-color: #eee;
}

.product-image {
	max-width: 80px;
	max-height: 150px;
	padding: 5px 10px;
	float: left;
}

@media (max-width: 767px) {
	.product-image {
		float: right;
	}
}

.product-intro {
  flex: 1 0 auto;
}

.product-intro h3 {
	margin-top: 5px;
	font-size: 18px;
}

.product-details {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
}
.product-details li {
	display: inline-block;
	padding-right: 5px;
}


.product-type {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: #aaa;
}

.product-price {
	font-size: 18px;
	color: #000;
	white-space: nowrap;
}

.product-subtotals {
	text-align: right;
}

.product-comment {
border: 1px solid rgba(0,0,0,0);
resize: none;
border-radius: 4px;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.product-comment:hover {
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

tr:hover>td>.btn-delete,
li:hover .btn-delete,
.image-preview:hover .btn-delete {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-delete {
	position: absolute;
	right: 0; top: 0; bottom: 0;
	margin-top: auto;
 	margin-bottom: auto;
	margin-right: -12px;
	height: 24px;
}

.image-preview .btn-delete {
	margin-right: 5px;
	margin-top: 5px;
	height: 40px;

}

.image-selector {
	text-align: center;
	position: relative;
}

.image-upload label {
	font-size: 190px;
	line-height: 200px;
	height: 200px;
	overflow: hidden;
	color: #fff;
	cursor: pointer;
	text-align: center;
	display: block;
	position: relative;
	background: #bbb;
	border-radius: 4px;
}

.image-upload label:hover {
	color: #ddd;
}

.image-upload .btn {
	width: 100%;
	margin-top: 5px;
}

.image-preview-caption {
	display: block;
	width: 100%;
	height: 20px;
	padding: 6px 12px;
	font-size: 10px;
	/* line-height: 1.428571429; */
	/* color: #555; */
	background-color: rgba(255, 255, 255, .90);
	background-image: none;
	border: 1px solid #ccc;
	position: absolute;
	bottom: 0px;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all .5s ease-in-out;
}

.image-container:hover .image-preview-caption {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.image-selector .image-preview {
	display: none;
	position: relative;
	overflow: hidden;
}

.image-selector .selected {
	display: inline-block;
}

.image-selector .selected + .image-upload {
	display: none;
}

.image-selector .image-preview img {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 300px;
}

.social {
  padding-left: 25px;
  padding-top: 10px;
}

.social a:hover {
  text-decoration: none;
}

.social-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
  margin-right: 5px;
}

.socialtw svg:hover #twitter{
  fill: #55acee;
}

.socialfb svg:hover #facebook {
  fill: #44609d;
}

.socialgoogle svg:hover #google {
  fill: #dd4b39;
}

.socialfeed svg:hover #feed {
  fill: #FF6600;
}

.article_text .thumb {
	display: block;
	float: right;
	margin: 10px;
}

.article_text img {
  max-width: 100%;
}

#content-editor {
  border: 1px solid #eee;
  padding: 4px;
}

#content-editor p:hover {
	background-color: #eee;
}

.gallery {
	list-style: none;
	overflow: hidden;
	width: 100%;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
/*
.gallery .gallery-row {
	margin-bottom: .5rem;
	overflow: hidden;
 	width: 150%;
}

.gallery .gallery-row:last-child { margin: 0; }
.gallery .gallery:first-child { margin-left: 0; }
.gallery .gallery:last-child  { margin-right: 0; }

.gallery .gallery {
	display: block;
	float: left;
	margin: 0 .25rem;
}*/

.gallery figure {
	margin: 0;
  display: block;
	overflow: hidden;
	position: relative;
	-webkit-backface-visibility: hidden; /* To fix webkit 1px rendering bug */
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.gallery input:checked + figure:after {
  content: ''; position: absolute; top: 0; left: 0;
  width: 100%; height: 100%; background: rgba(255,255,255,0.7);
  background-image: url("../img/lnr-checkmark-circle.svg");
background-position: center;
background-repeat: no-repeat;
background-size: 70% 70%;
}

.gallery input[type="radio"] {
	display: none;
}

.gallery figcaption {
	background-color: rgba(255, 255, 255, .75);
	box-sizing: border-box;
	font-size: .75rem;
	padding: .5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all .5s ease-in-out;
}
/*
.gallery a {
  border: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}*/

.gallery figure:hover figcaption {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.gallery figure img {
	max-width: 100%;
  height: auto;
	/*transition: all .25s ease-in-out;*/
}

#modalgallery {
	overflow-y: scroll;
	height: 360px;
}

.media-object {
	max-height: 80px;
	margin-right: 10px;
}

.item-list {
	padding: 6px 10px;
}

.item-list .media {
	margin-top: 0px;
}

.loading:before {
	content: "";
  	display: inline-block;
	position: absolute;
	height:25px;
	width:25px;
	border:5px dotted #ccc;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-radius:50%;
	animation: loader 3s infinite linear;
	-webkit-animation: loader 3s infinite linear;
}

.loading.loading-large:before {
	content: "";
  	display: inline-block;
	position: absolute;
	height:50px;
	width:50px;
	border:10px dotted #ccc;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-radius:50%;
	animation: loader 3s infinite linear;
	-webkit-animation: loader 3s infinite linear;
}

.loading {
	position: relative;
}

@keyframes loader{
0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
50% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
100% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}

@-webkit-keyframes loader{
0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@-moz-keyframes loader{
0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
}

.btn-buy {
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.33;
	border-radius: 6px;
	width: 80%;
	margin-top: 20px;
}

.btn-signin {
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 6px;
	width: 100%;
	margin-bottom: 10px;
}

#google-signin {
	background-color: #dd4b39;
}

#signin-buttons {
	position: relative;
}



.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}

#profile img {
	max-width: 70px;
	margin-right: 15px;
}

#profile {
	margin-bottom: 15px;
}

/*
.privileged>a:hover:before {
  display: block;
  position: absolute;
  padding: .4em;
  max-width: 60px;
  text-align: center;
  width: auto;
  height: auto;
  right: -20px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color: #fff;
  font-size: .7em;
  z-index: 900;
}

.privileged>a {
	background-color: #eee;
	color: #2a6496;
}
*/
.privileged:after {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1.428571429;
  content: "\e033";
	color: #ccc;
	/*margin-left: 10px;
	margin-top: 1px; */
	float: right;
}


.popover.popover-external-auth {
	display: block;
	position: relative;
	max-width: 100%;
}
.popover.popover-external-auth>.arrow {
	display: none;
}

/* This makes the position to be on the right incl and arrow if screen is wide */
@media (min-width: 768px) {
  .popover.popover-external-auth {
	right: -240px;
	max-width: 220px;
	left: auto;
	position: absolute;
  }
  .popover.popover-external-auth>.arrow {
	display: block;
}
}

.helmgast-header {
	margin-top: -60px;
}

body.template-helmgast {
    background-color: #f2f2f2;
    font-family: 'Gentium Book Basic', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
/*    padding-top: 0 !important;
*/
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}

.template-helmgast .navbar-default {
	background-color: rgba(0,0,0,0.2);
	border-color: transparent;
}

.template-helmgast .navbar-default:hover {
	background-color: rgba(0,0,0,0.5);
}

.template-helmgast .navbar-default .navbar-brand {
	color: #fff;
}

.navbar-nav-top a {
  border-bottom: 4px solid transparent;
  padding-bottom: 11px;
}


.navbar-nav-top a:hover, .navbar-nav-top .active a {
  border-bottom: 4px solid #a00;
  transition: border-color 1s ease-out;
}


.template-helmgast .navbar-default .navbar-nav>li>a {
	color: #fff;
}

.template-helmgast .navbar-default .navbar-brand:hover,
.template-helmgast .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.template-helmgast h1,
.template-helmgast h2,
.template-helmgast h3,
.template-helmgast h4,
.template-helmgast h5,
.template-helmgast h6 {
    font-family: 'Gentium Book Basic', sans-serif;
    font-weight: 900;
    color: #333;
}

.template-helmgast .h-shadow{
  text-shadow: black 3px 3px 6px;
}

.template-helmgast .helmgast-header {
	background: url(../img/front/laura_4_header.jpg) no-repeat center top;
	padding-top: 50px;
	background-attachment: relative;
	background-position: center center;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.template-helmgast .helmgast-header h1 {
	margin-top: 60px;
	color: white;
	font-size: 80px;
	letter-spacing: 1px;
}

.template-helmgast .helmgast-header h2 {
	color: white;
}

.template-helmgast .lead {
	font-family: 'Gentium Book Basic', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
