{% extends "_page.html" %} {# Doesn't use root_template object as this will never be served as modal or fragment #}

{% block content_title %}{{ _('Home') }}{% endblock %}
{% block container_class %}container{% endblock %}

{% block main %}
    <div class="container">
    {{ self.content() }}
    </div>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="jumbotron" style="background-image: url(//i.imgur.com/9i3wbSZ.jpg); background-size: cover;">
        <h1>{{ _('Soon opening:') }} Fablr</h1>
{#        {% include "newsletter.html" %}#}
        <p style="background-color: rgba(240,240,240,0.9); padding: 4px; border-radius: 5px;">{{ _('This is the digital engine to keep stories going - role-playing, fiction, TV-series.') }}</p>
    </div>
    <h1>{{ _('For game masters') }}</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-magic-wand"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _('Plan your campaigns and game sessions') }}</h3>
                    {{ _('Not only schedule sessions, but create and organize the content you need,
      such as handouts, images, music, texts, etc. Use it as your notes for playing,
      but also easily share it on a screen or with the players during a session!') }}
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-group"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _('Manage your group and find new players') }}</h3>
                    {{ _('Manage your groups and campaigns. Find new players based on their location
      and preferences and invite them! Easily communicate with the whole group.') }}
                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-read"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _('Read and write about the game world') }}</h3>
                    {{ _('The game is a wiki, and you can both build your own content, and merge it
       with the official content. Together with other game masters, you are constantly
       evolving the game world!') }}
                </div>
            </div>

        </div>
    </div>
    <h1>{{ _('For players') }}</h1>
    <div class="row">
        <div class="col-md-4">

            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-mobile"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _('Use on your phone or tablet when gaming!') }}</h3>
                    {{ _('Have your character digitally on your phone, and update instantly as you
       increase in level or evolve your character.') }}
                </div>
            </div>


        </div>
        <div class="col-md-4">

            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-images"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _('See handouts for the current scene') }}</h3>
                    {{ _('Access all the content for a scene in the game, such as NPC portraits,
       maps, articles, etc. Excellent to read up and make use of those times
       your character is not active in the game.') }}
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-envelope"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _('Send messages and take notes') }}</h3>
                    {{ _('Use a super-simple messaging function to send secret notes to the game
        master, other players or to take shorter side discussions. Let your
        character events be auto-shared with the others. Take easy notes.') }}
                </div>
            </div>


        </div>
    </div>
    <h1>{{ _('For game authors') }}</h1>
    <div class="row">
        <div class="col-md-4">

            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-book"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _('Publish your game digitally and interactively!') }}</h3>
                    {{ _('People use laptops, tablets and phones at the game sessions all the time.
        Let people read and browse your game right there. Go beyond boring PDFs
        and offer content with hyperlinks and videos.') }}
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-earth"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _("Offer a world that changes as player's explore it") }}</h3>
                    {{ _('Your game can be an instant wiki, where people can edit and even things
       that happen in sessions can be auto-posted back to the world. Your game
       world is alive!') }}
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left">
                    <svg class="fablr-icon">
                        <use xlink:href="#fablr-share"></use>
                    </svg>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ _('Build a social community around your game') }}</h3>
                    {{ _("Build a social following around your game, that doesn't limit you to only
       one platform. Make it easy for people to share articles and game sessions
       on their social networks.") }}
                </div>
            </div>


        </div>
    </div>
    <div class="row">
    <hr>
        <div class="col-md-6">
        <a href="{{ url_for('world.ArticlesView:publisher_home', pub_host='helmgast.se') }}"><img class="img-responsive" src="{{
                url_for('static', filename='img/logo-helmgast.svg', _external=true, _scheme='') }}"></a>
        </div>
        <div class="col-md-6">
         <h2>{{ _('Check out the first publisher on the platform:') }}</h2>
{#        {% include "newsletter.html" %}#}
            <h1><a href="{{ url_for('world.ArticlesView:publisher_home', pub_host='helmgast.se') }}">Helmgast</a></h1>
        </div>
    </div>
{##}
{#    <h1>{{ _('Our publishers') }}</h1>#}
{#    <div class="row">#}
{#        {% for publisher in publishers %}#}
{#            <div class="col-md-5 world_item">#}
{#                <h3>#}
{#                    <a href="{{ url_for('world.ArticlesView:publisher_home', pub_host=publisher.slug) }}">{{ publisher.title }}</a>#}
{#                    <br>#}
{#                    <small>{{ publisher.description|markdown }}</small>#}
{#                </h3>#}
{#            </div>#}
{#            {% if loop.index is divisibleby 2 %}</div>#}
{#                <div class="row">{% endif %}#}
{#        {% else %}#}
{#            <div class="jumbotron text-center">#}
{#                <h2>{{ _('No publishers setup yet') }}</h2>#}
{#            </div>#}
{#        {% endfor %}#}
{#        </div>#}
{#    {% include "includes/pagination.html" %}#}
{% endblock %}