{% extends root_template if not parent_template else parent_template %}

{% block cssimports %}{{ super() }}
    <meta name="pinterest" content="nopin"/>
{% endblock %}

{% block content_title %}{{ _('Image Gallery') }}{% endblock %}


{% block content %}
    {% set patch = args.get('intent',None)=='patch' %}
    <div class="gallery">
        {% for group in groups %}
            {% set space = (group[0]|length)*0.5 %} {# takes space for 0.5% margin-right on each item #}
            {% for imageasset in group[0] %}
                {% set aspect = imageasset.image.width/imageasset.image.height %}
                {% set csswidth = 'class=gallery-item style=width:' ~ (100.0-space)*aspect/group[1] ~ '%' %}
                {% if patch %}
                    <label  {{ csswidth }}>
                    <input type="checkbox" name="images" value="{{ imageasset.slug }}">
                {% endif %}
            <figure {{ csswidth if not patch }}>
                <img src="{{ url_for('image', slug = imageasset.slug) }}">
                <figcaption>{{ imageasset.title }}
                    <br>[{{ imageasset.created_date.strftime("%Y-%m-%d") }} {{ imageasset.image.width }}x{{ imageasset.image.height }}px]
                </figcaption>
            </figure>
            {% if args.get('intent',None)=='patch' %}
                </label>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% if pagination and pagination.has_next %}
        <ul class="loadlink pagination">
            <li><a href="{{ current_url(page=pagination.next_num) }}">{% trans %}Show more{% endtrans %}</a></li>
        </ul>
    {% endif %}

{% endblock %}
