{% extends "_page.html" if not parent_template else parent_template %}

{% block content_title %}{{_('Image Gallery')}}{% endblock %}


{% block content %}
<div class="gallery">
  {% for imageasset in images %}
  <label>
    <input type="radio" name="images" value="{{imageasset.slug}}">
    <figure>
        <img src="{{url_for('image', slug = imageasset.slug)}}" width="{{imageasset.image.width}}" height="{{imageasset.image.height}}">
  	<figcaption>{{imageasset.title}} [{{imageasset.image.width}}x{{imageasset.image.height}}]</figcaption>
    </figure>
  </label>

  {% endfor %}
</div>
{% include "includes/pagination.html" %}
{% endblock %}
