<div id="mc_embed_signup" class="well" style="width: 300px; height: 130px">
<form id="mc-embedded-subscribe-form" action="//helmgast.us8.list-manage.com/subscribe/post?u=4412a3ce4ac556de77513666b&amp;id=8cef8e8de6" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">{{ _('Subscribe to our mailing list')}}</label>
    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL"
           placeholder="{{ _('email address') }}" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_4412a3ce4ac556de77513666b_8cef8e8de6"
                                                           value=""></div>
    <div class="clear" style="width: 100%; padding-top: 5px;"><input type="submit" value="{{ _('Subscribe') }}" name="subscribe" id="mc-embedded-subscribe"
                              class="btn btn-primary pull-right"></div>
  </form>
</div>
