{% extends root_template if not publisher_theme else publisher_theme %}
{% import 'includes/macros.html' as MACRO %}

{#{% block navbar %}#}
{% block navbar_brand %}
    <a class="navbar-brand navbar-collapse"
       href="#">
        <img id="zoombrand" data-from="#brand-target" data-to=".navbar-brand" class="img-responsive"
             src="{{ url_for('static', filename='img/logo-helmgast.svg', _external=true, _scheme='') }}">
    </a>
{% endblock navbar_brand %}

{% block navbar_left %}
    <li>
        <a href="{{ url_for('world.PublishersView:index') }}">
            <span class="glyphicon glyphicon-asterisk"></span> Navleft1
        </a>
    </li>
    <li class="active">
        <a href="{{ url_for('world.PublishersView:index') }}">
            <span class="glyphicon glyphicon-asterisk"></span> Navleft2
        </a>
    </li>
{% endblock navbar_left %}

{% block navbar_right %}
    <li>
        <a href="#"> Navright1</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false"><span
                class="glyphicon glyphicon-user"></span> Dropdown <span
                class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#"> {{ _('Profile') }}</a>
            </li>
            <li><a class="{{ privileged }}"
                   href="#">{{ _('My orders') }}</a>
            </li>

            <li role="separator" class="divider"></li>
            <li><a class="privileged"
                   href="#">{{ _('Files') }}</a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a href="#">{{ _('Log Out') }}</a></li>
        </ul>
    </li>
{% endblock navbar_right %}

{#{% endblock navbar %}#}

{#{% block pre_content %}#}
{% block content_title %}Content title {% endblock %}
{% block content_tagline %}Content tagline, as it may be {% endblock %}
{#{% endblock pre_content %}#}

{#{% block mainblock %}#}

{% block subnavbar %}
    <li><a class="privileged" href="#"><span
            class="glyphicon glyphicon-globe"></span> Subnav1</a></li>
    <li><a class="" href="#"><span
            class="glyphicon glyphicon-globe"></span> Subnav2</a></li>
    <li><a class="" href="#"><span
            class="glyphicon glyphicon-globe"></span> Subnav3</a></li>
{% endblock %}

{% block breadcrumbs -%}{{ MACRO.BREADCRUMBS(
    ('#', 'Publisher'),
    ('#', 'World'),
    ('#', 'Article'),
    )}}{%- endblock %}


{% block actionbar %}
        <li><a class="btn btn-info" href="#"><span class="glyphicon glyphicon-plus-sign"></span> New</a></li>
        <li><a class="btn btn-success" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
        <li><a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
{% endblock actionbar %}

{% block home %}
    Home
{% endblock home %}

{% block intro %}
    <div class="well">Intro</div>
{% endblock %}

{% block content %}
<article class="article_text">

{% filter markdown %}
"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by
the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are
bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same
as saying through shrinking from toil and pain.

# Heading 1
## Heading 2
### Heading 3
#### Heading 4

> These cases are perfectly simple and easy to distinguish.

In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best,
every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of
duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances
accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures
to secure other greater pleasures, or else he endures pains to avoid worse pains."


[Link to something](http://google.com)

- A
- B
- C

Normal image
----

    ![This the first image](http://placehold.it/350x150.png)


should be rendered as:

    <img src="http://placehold.it/350x150.png" alt="This the first image">

![This the first image](http://placehold.it/350x150.png)


Gallery Center
----

    - gallery-center
    - ![This the 2nd image](/link/image.jpg)
    - ![This the 3rd image](http://placehold.it/200x400.png)

is rendered as:

    <ul>
    <li class="hide">gallery-center</li>
    <li title="This the 2nd image"><img src="http://placehold.it/350x150.png" alt="This the 2nd image"></li>
    <li title="This the 3rd image"><img src="http://placehold.it/200x400.png" alt="This the 3rd image"></li>
    </ul>

- gallery-center
- ![This the 2nd image](http://placehold.it/350x150.png)
- ![This the 3rd image](http://placehold.it/200x400.png)

Gallery Wide
----

    - gallery-wide
    - ![This is the 4th image](http://placehold.it/1200x600.png)

is rendered as:

    <ul>
    <li class="hide">gallery-center</li>
    <li title="This is the 4th image"><img src="http://placehold.it/1200x600.png" alt="This is the 4th image"></li>
    </ul>

- gallery-wide
- ![This is the 4th image](http://placehold.it/1200x600.png)

Gallery Side
----

    - gallery-side
    - ![This is a file](/link/file.pdf)
    - ![This is the 6th image](http://placehold.it/200x400.png)

is rendered as:

    <ul>
    <li class="hide">gallery-center</li>
    <li title="This is the 5th image"><a href="/link/file.pdf" title="This is a file">file.pdf</a></li>
    <li title="This is the 6th image"><img src="http://placehold.it/200x400.png" alt="This is the 6th image"></li>
    </ul>

- gallery-side
- [This is a file](/link/file.pdf)
- ![This is the 6th image](http://placehold.it/200x400.png)

"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by
the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are
bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same
as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free
hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best,
every pleasure is to be welcomed and every pain avoided."

[video](http://www.youtube.com/watch?v=zqnh_YJBvOI)

Here is a file: [File to download](https://www.dropbox.com/s/khiaz7obybc1cfp/Att%20r%C3%A4dda%20en%20kotte%2020170427.pdf?dl=0)

And another: [File to download](http://ler.letras.up.pt/uploads/ficheiros/6089.zip)

{% endfilter %}
</article>
{% endblock content %}

{% block asides %}
    <div class="well">Asides</div>
{% endblock asides %}

{#{% endblock mainblock %}#}

{% block footer %}
    Footer
{% endblock footer %}