{% extends "base.html" %}
{% import 'includes/macros.html' as MACRO %}

{% block content_title %}{{ _('Admin') }}{% endblock %}
{% block container_class %}container{% endblock %}

{% block mainblock %}
{{ self.content() }}
{% endblock %}

{% block content %}
<div class="row">
<form method="post" action="{{ url_for('admin') }}" role="form">
  <div class="col-md-4">
    {{ MACRO.FORM_FIELD2(config.state) }}
    {{ MACRO.FORM_FIELD2(config.features) }}
  </div>
  <div class="col-md-4">
      <dl>
        <dt>{{_('Databases')}}</dt>
        {% for db in databases %}
        <dd>{{ db }}</dd>
        {% endfor %}
      </dl>
    {{ MACRO.FORM_FIELD2(config.backup) }}
    {{ MACRO.FORM_FIELD2(config.backup_name) }}
  </div>
  <div class="col-md-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="btn btn-lg btn-primary" type="submit">{{ _('Save') }}</button>
  </div>
</form>
</div>
<div class="row">
<div class="col-md-4">
<form role="form" id='articleform' method="post" action="{{ url_for('admin', action='mail') }}">
  {{ MACRO.FORM_FIELD(email.to_field) }}
  {{ MACRO.FORM_FIELD(email.subject) }}
  {{ MACRO.FORM_FIELD(email.message) }}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <button class="btn btn-lg btn-primary" type="submit">{{ _('Send') }}</button>
</form>
</div>
</div>
{% endblock %}