{% extends "base.html" %}

{% block container_class %}container{% endblock %}

{% block mainblock %}
{{ self.content() }}
{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('admin') }}" role="form">
  <div class="col-md-4">
    <div class="form-group">
      <h1>Application features</h1>
      <dl>
        {% for feature in features %}
        <dt>{{_(feature)}}</dt>
        <dd><input type="checkbox" name="features" class="form-control" value="{{ feature }}" {% if features[feature] %}checked="checked"{% endif %}/></dd>
        {% endfor %}
      </dl>
    </div>
    <div class="form-group">
      <h1>Application states</h1>
      <dl>
        {% for state in states %}
        <dt>{{_(state)}}</dt>
        <dd><input type="radio" name="states" class="form-control" value="{{ state }}" {% if states[state] %}checked="checked"{% endif %}/></dd>
        {% endfor %}
      </dl>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <h1>Database management</h1>
      <dl>
        <dt>{{_('Databases')}}</dt>
        {% for db in dbs %}
        <dd>{{ db }}</dd>
        {% endfor %}
        <dt>{{_('Create new backup')}}</dt>
        <dd>Backup name: <input type="text" name="db_copy" value=""/></dd>
      </dl>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="btn btn-lg btn-primary" type="submit">{{ _('Save') }}</button>
  </div>
</form>
{% endblock %}