{% extends "base.html" %}

{% block container_class %}container{% endblock %}

{% block mainblock %}
{{ self.content() }}
{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('admin') }}" role="form">
  <div class="col-md-4">
    <div class="form-group">
      <dl>
        {% for state in states %}
        <dt>{{_(state)}}</dt>
        <dd><input type="radio" name="states" class="form-control" {% if states[state] %}checked="checked"{% endif %}/></dd>
        {% endfor %}
        <dd>{{ state }}</dd>
        {% for feature in features %}
        <dt>{{_(feature)}}</dt>
        <dd><input type="checkbox" name="features" class="form-control" {% if features[feature] %}checked="checked"{% endif %}/></dd>
        {% endfor %}
      </dl>
    </div>
  </div>
  <!--<input type="hidden" name="csrf_token" class="form-control" value="{{ csrf_token() }}"/>-->
  <button class="btn btn-lg btn-primary" type="submit">{{ _('Save') }}</button>
</form>
{% endblock %}