{% if not partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!--[if IE]><![endif]-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{{ self.content_title() }}{% endblock %} - Raconteur</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nestable.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nestable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</head>

<body class="{% block body_class %}admin{% endblock %}">

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ url_for('homepage') }}">Raconteur
                <small>a story engine</small>
            </a>
    
            <ul class="nav">
                <li{% block social_active %}{% endblock %}><a href="{{ url_for('social.index') }}">Social</a></li>
                <li{% block campaign_active %}{% endblock %}><a href="{{ url_for('campaign.index') }}">Campaign</a></li>
                <li{% block world_active %}{% endblock %}><a href="{{ url_for('world.index') }}">Worlds</a></li>
                <li{% block generator_active %}{% endblock %}><a href="{{ url_for('generator.index') }}">Generators</a></li>
            </ul>
            <ul class="nav pull-right">
                {% if not session.logged_in %}
                    <li><a href="{{ url_for('auth.login') }}">log in</a></li>
                    <li><a href="{{ url_for('join') }}">join</a></li>
                {% else %}
                    <li class="navbar-text">Welcome</span>
                    <li><a
                            href="{{ url_for('social.user_list') }}">{{ user.username }}!</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">log out</a></li>
                    {% if user.admin %}
                    <li><small><a href="{{ url_for('admin.index') }}">admin dashboard</a></small></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

<div class="{% block container_class %}container-fluid{% endblock %}">

    {% block mainblock %}
    <div class="row-fluid">
        <div class="span3">
            {% block sidebar %}
                &nbsp;
            {% endblock %}
        </div>
        <!-- /sidebar -->

        <div class="span9">
            <div class="content">
                {% block middle %}
                {% block hero_box %}{% endblock %}
                <div class="page-header">
                    <h1>{% block content_title %}{% endblock %}
                        <small>{% block content_tagline %}{% endblock %}</small>
                    </h1>
                </div>
                {% include "includes/flash.html" %}
                {% block pre_content %}{% endblock %}
                {% block content %}{% endblock %}
                {% endblock %}
            </div>
            <!-- /content -->
        </div>
        <!-- /row -->
        <hr/>
        <footer>
            <p></p>
        </footer>
        <div class="modal hide fade" id="themodal">
            <div class="modal-blody">
            </div>
        </div>
        </div>
    </div>
    {% endblock %}
    {% block final %}{% endblock %}
</div>
<!-- /container-fluid -->
</body>
</html>
{# IMPORTANT this section activates if we have set the modal parameter
   That means we will not deliver a full page but merely a Bootstrap modal content
   we will still insert the normal content_title and content, so all inheriting
   templates should work almost automatically
#}
{% else %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>{{ self.content_title() }}</h3>
</div>
{% include "includes/flash.html " %}
{% block modal_body %}{% endblock %}
{% block modal_footer %}{% endblock %}
{% endif %}