{% extends 'includes/modal.html' %}

{% from 'includes/components.html' import FORM_FIELD %}

{% block content_title %}{{ _('Insert image') }}{% endblock %}

{% block content %}{% block inline %}
<form role="form" enctype="multipart/form-data" method="post" action="{{url_for('imageasset_new', out='json')}}">
    <div class="image-preview hide">
      <button type="button" class="close" aria-hidden="true"><span>&times;</span></button>
      <div class="image-container"></div>
    </div>
    <div class="form-group image-form">
      <p class="help-block">Drag or click to upload file</p>
      <label for="imagefile" class="image-upload"><span class="glyphicon glyphicon-picture"></span></label>
      <input type="file" class="invisible" name="imagefile" id="imagefile" accept="image/*">
      <p class="help-block">... or link to image online</p>
      <input type="text" class="form-control" name="source_image_url" id="source_image_url" placeholder="http://">
      </div>
    <fieldset class="image-metafields hide">
    {{ FORM_FIELD(imageasset_form.title, addcontrolcls=" image-title")}}
    {{ imageasset_form.csrf_token }}
    {{ FORM_FIELD(imageasset_form.description)}}
      <select name="imgclass" id="imgclass">
        <option value="normal" selected>Normal</option>
        <option value="full">Full</option>
        <option value="thumb">Thumb</option>
        <option value="gallery">Gallery</option>
    </select>
  </fieldset>
  
</form>
<script>
  debugger;

  $modal = $('.image-preview').parents('.modal')
  $modal_submit = $modal.find('.modal-submit')
  $modal_submit.prop('disabled', true)

  function showPreview() {
    $('.image-form').addClass('hide')
    $('.image-preview, .image-metafields').removeClass('hide')
    $('.image-preview .close').click(hidePreview)
    $modal_submit.prop('disabled', false)
  }

  function hidePreview(e) {
    e.preventDefault()
    $('#imagefile').val(null)
    $('#imagedata.source_image_url').val(null)
    $('.image-form').removeClass('hide')
    $('.image-preview, .image-metafields').addClass('hide')
    $modal_submit.prop('disabled', true)
  }

  var fileEvent = function(e) {
    if (e.dataTransfer && e.dataTransfer.files) {
      $('#imagefile').prop('files', e.dataTransfer.files)
      var files = e.dataTransfer.files
    } else {
      var files = e.target.files      
    }
    if (files && files.length) {
      var file = files[0]
      $('.image-title').val(file.name)
      reader = new FileReader()
      reader.onload = (function(tfile) {
        return function(e) {
          $('.image-container').html('<img src="' + e.target.result + '"  />')
        };
      }(file));
      reader.readAsDataURL(file);
      showPreview()
    }
    e.preventDefault()
  }
  $('#imagefile').change(fileEvent)
  $('#imagedata\\.source_image_url').change(function(e) {
    showPreview()
    $('.image-container').html('<img src="' + this.value + '"  />')
    $('.image-title').val(this.value.substr(this.value.lastIndexOf('/') + 1))
  })
  var $im = $('.image-upload')
  $im.get(0).addEventListener('dragover', function(e) {
    e.stopPropagation()
    e.preventDefault()
    e.dataTransfer.dropEffect = 'copy'
  }, false);
  $im.get(0).addEventListener('drop', fileEvent, false)

  $modal_submit.click(function(e) {
    $f = $modal.find('form')
    var formData = new FormData($f.get(0))
    var req = new XMLHttpRequest();
    req.addEventListener("load", function() {
      var res = JSON.parse(this.responseText)
      if (this.status==200 && res.next) {
        var alt=$('.image-title').val(), imgclass=$('#imgclass').val(), 
          src = res.next, href= res.next, imgstr, $activeBlock=$(editor.getActiveBlock())
        if (imgclass=="thumb" || imgclass=="gallery") {
          src = src.replace('/images/','/images/thumbs/')
        } else if (imgclass=="normal") {
          imgclass = ""
        }
        imgstr = '<a href="'+href+'"><img alt="'+alt+'"'+(imgclass ? ' class="'+imgclass+'"' : '')+' src="'+src+'" ></a>'
        if (imgclass=="gallery") {
          var $gallery
          $gallery = $activeBlock.filter('.gallerylist')
          $gallery = $gallery.length==0 ? $activeBlock.prev('.gallerylist') : $gallery 
          $gallery = $gallery.length==0 ? $('<p class="gallerylist"></p>').insertBefore($activeBlock) : $gallery 
          $gallery.append(imgstr)
        } else {
          $activeBlock.prepend(imgstr)
        }
        $modal.modal('hide')
      } else {
        $f.prepend('<div class="alert alert-warning alert-dismissable"><button type="button" class="close"'+ 
          'data-dismiss="alert" aria-hidden="true">&times;</button>'+(res.message || 'unknown error')+'</div>')
      }
    }, false);
    req.open('POST', $f.attr('action'))
    req.send(formData) // does not work in IE9 and below
    e.preventDefault()
  });
</script>
{% endblock %}{% endblock %}