{% extends "base.html" %}


{% block mainblock %}

<form method="post" action="{{ url_for('join') }}" class="form-signin" role="form">
  <h2 class="form-signin-heading">{{ _('Sign up') }}</h2>
  <input type="hidden" name="next" value="{{ next }}" />
  {% set css_class = "form-control" %}
  {{ join_form['username'](class="form-control",placeholder="Username", required="", autofocus="")}}
  {{ join_form['password'](type="password", class="form-control",placeholder="Password", required="")}}
  {{ join_form['email'](class="form-control",placeholder="Email", required="")}}
  {{ join_form['realname'](class="form-control",placeholder="Name")}}

{% include "includes/flash.html" %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Join') }}</button>
</form>

{#
  <div class="col-md-4">
      <div class="form-group">
        <dl>
          <dt>{{ _('Username') }}:</dt>
          <dd><input type="text" name="username" class="form-control"></dd>
          <dt>{{ _('Password') }}:</dt>
          <dd><input type="password" name="password" class="form-control"></dd>
          <dt>Email:</dt>
          <dd><input type="text" name="email" class="form-control">
            <p><small>(used for gravatar)</small></p>
          </dd>
          <dd><input class="btn btn-default" type="submit" value="Join">
        </dl>
      </div>
    </form>
  </div>
  #}
{% endblock %}
