{% extends "_page.html" %}

{% block container_class %}container{% endblock %}

{% block mainblock %}
  {{ self.content() }}
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1>Raconteur {{ _('is currently in maintenance') }}</h1>
    <p><i>{{ _('Check back with us shortly') }}!</i></p>
    <p>
      <a class="btn btn-primary btn-lg">{{ _('Learn more') }}</a>
      {% call IS_ENABLED("join") %}
        <a href="{{url_for('auth.join')}}" class="btn btn-success btn-lg">{{ _('Join us!') }}</a>
      {% endcall %}
    </p>
  </div>
{% endblock %}