{% extends "base.html" %}

{% block cssimports %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
{% endblock %}


{% block content_title %}Helmgast.se{% endblock %}
{% block container_class %}container{% endblock %}

{% block mainblock %}
{{ self.content() }}
{% endblock %}

{% block navbar %}
<!-- ========== HEADERWRAP ====================================================================================================
=============================================================================================================================-->
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2 mt">
        <h1 class="h-shadow">HELMGAST</h1>
        <h2 class="h-shadow">Vi gör rollspel</h2>
      </div>

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div> <!-- /headerwrap -->

<!-- ========== BLOG POSTS ====================================================================================================
=============================================================================================================================-->
<div class="container">

  <div class="row mt centered ">
    <div class="col-lg-6 col-lg-offset-3">
      <h3>KLASSISKA ROLLSPELEN "EON" OCH "NEOTECH" FINNER NY HAMN HOS HELMGAST AB</h3>
<h4>Två av Sveriges mest kända rollspel ges ut av ny utgivare. </h4>
      <hr>
    </div>
  </div>
  <!-- /row -->

{% if articles|length == 0 %}{{ _('No articles yet!') }}{% else %}
  <div class="row mt">

	{% for article in articles %}
    <div class="col-lg-4 col-sm-6 col-xs-12 desc" style="padding-bottom: 20px;">
      <a class="blog_header" href="{{url_for('world.article_view', world=world.slug, article=article.slug)}}"><h3>{{ VISIBILITY(visibility.is_private(article)) }}{{ article.title }}</h3></a>
    {% if article.feature_image %}
      <a class="pull-left" href="{{url_for('world.article_view', world=world.slug, article=article.slug)}}">
      <img class="media-object" src="{{url_for('asset_thumb', slug=article.feature_image.slug)}}">
      </a>
    {% endif %}
      <p class="lead">{% if article.description %}{{article.description}}{% else
        %}{{article.content[0:500]|markdown|striptags|truncate}}{% endif %}
        <a href="{{url_for('world.article_view', world=world.slug, article=article.slug)}}"><em
        style="white-space: nowrap;">{{ _('Read more') }}</em></a></p>
      <hr-d>
        <ul class="list-inline article-meta" style="margin-bottom: 0;">
          <li title="{{ _('Created') }}"><span class="glyphicon glyphicon-calendar"></span>
            {{article.created_date.strftime('%Y-%m-%d') }} {{ _('by') }}
          </li>
          <li title="{{ _('Creator') }}"><span class="glyphicon glyphicon-user"></span> {% if article.creator %}{% if
            g.feature and g.feature["social"] %}<a
            href="{{url_for('social.user_view', user=article.creator.username)}}">{{article.creator}}</a>{% else
            %}{{article.creator}}{%endif%}{% else %}System{%endif%}
          </li>
        </ul>
      </hr-d>
    </div>
    <!-- col-lg-4 -->
	{% endfor %}

  </div>
  {% endif %}
  <!-- /row -->
</div><!-- /container -->


<!-- ========== CALL TO ACTION 1 ==============================================================================================
=============================================================================================================================-->
<div id="cta01">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="mc_embed_signup" class="col-md-8 col-xs-12">
          <form
          action="http://helmgast.us8.list-manage.com/subscribe/post?u=4412a3ce4ac556de77513666b&amp;id=8cef8e8de6"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
            <label for="mce-EMAIL"><h2 class="h-shadow">Anmäl dig till vårt nyhetsbrev för att
              alltid få de senaste nyheterna!</h2></label>
            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL"
                   placeholder="Din e-post" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text"
                                                                   name="b_4412a3ce4ac556de77513666b_8cef8e8de6"
                                                                   value=""></div>
            <div class="clear" style="width: 100%; padding-top: 5px;"><input type="submit" value="Anmäl dig"
                                                                             name="subscribe" id="mc-embedded-subscribe"
                                                                             class="btn btn-cta btn-lg pull-right"></div>
          </form>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div><!-- /cta01 -->

<!-- ========== PORTFOLIO SECTION =============================================================================================
=============================================================================================================================-->
<div class="container portfolio">
  <div class="row mt centered ">
    <div class="col-lg-4 col-lg-offset-4">
      <h3>Visioner av våra spel</h3>
      <hr>
    </div>
  </div>
  <!-- /row -->
  <div class="row mt centered">
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port01.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port01.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>RUINERNA</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port02.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port02.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>FÅNGARNA</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port03.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port03.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>SLAGFÄLTET</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port04.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port04.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>ARKETYPEN LÄRD</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port05.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port05.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>ARKETYPEN MYSTIKER</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port06.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port06.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>ARKETYPEN KRIGARE</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port07.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port07.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>PSYCHO TRIBE</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port08.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port08.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>NATURAL CHILD</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 desc">
      <a class="b-link-fade b-animate-go" href="{{ url_for('static', filename='img/front/port09.jpg') }}"><img class="img-responsive" width="350" src="{{ url_for('static', filename='img/front/port09.jpg') }}" alt="">

        <div class="b-top-line"></div>
      </a>

      <p>LIVET I MING ESTATES</p>
    </div>
  </div>
  <!-- /row -->

</div><!-- /container -->

<!-- ========== FOOTER ========================================================================================================
=============================================================================================================================-->

<div id="f">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <h4>Kontakt</h4>

        <p>
          info@helmgast.se
        </p>

        <p>
          © 2014 Helmgast
        </p>
      </div>
      <!-- --/col-lg-3 ---->
      <div class="col-lg-3 col-xs-6">
        <h4>Helmgastarna</h4>

        <p>
          Marco Behrmann<br/>
          Paul Dali<br/>
          Martin Fröjd<br/>
          Niklas Fröjd<br/>
          Petter Nallo<br/>
          Anton Wahnström
        </p>
      </div>
      <!-- --/col-lg-3 ---->
    </div>
    <!-- --/row ---->
  </div>
  <!-- /container -->
</div>
{% endblock %}