{% extends root_template %}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ _('File assets') }}{% endblock %}
{% block content_tagline %}{% endblock %}
{% block file_asset_active %} class="active"{% endblock %}

{% block subnavbar %}
    <li><a class="{{privileged}}" href="{{ url_for('assets.FileAssetsView:index') }}"><span
            class="glyphicon glyphicon-book"></span> {{ _('List') }}</a></li>
{% endblock %}

{% block actionbar %}
    <li><a class="btn btn-primary" href="{{ url_for('assets.FileAssetsView:get', id='post') }}"><span
            class="glyphicon glyphicon-plus-sign"></span> {{ _('New') }}</a></li>
{% endblock %}
