{% extends root_template %}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ _('File assets') }}{% endblock %}
{% block content_tagline %}{% endblock %}
{% block file_asset_active %} class="active"{% endblock %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
    <li><a class="{{privileged}}" href="{{ url_for('assets.FileAssetsView:get', id='post') }}"><span
            class="glyphicon glyphicon-plus-sign"></span> {{ _('New') }}</a></li>
    <li><a class="{{privileged}}" href="{{ url_for('assets.FileAssetsView:index') }}"><span
            class="glyphicon glyphicon-book"></span> {{ _('List') }}</a></li>
</ul>
{% endblock %}
