{% extends "asset/_page.html" if not parent_template else parent_template %}
{% import 'includes/macros.html' as MACRO %}

{% block content_title %}{{ fileasset.slug if fileasset else _("New file") }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block actionbar %}{{ super() }}
    {% if op != 'new' %}
        <li><a class="btn btn-primary" href="{{ url_for('assets.FileAssetsView:get', id=fileasset.slug, intent='patch') }}"><span
                class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a></li>
        <li><a class="btn btn-default" href="{{ url_for('assets.FileAssetsView:get', id=fileasset.slug) }}"><span
                class="glyphicon glyphicon-align-justify"></span> {{ _('View') }}</a></li>
    {% endif %}
{% endblock %}

{% block content %}{% block inline %}
    {% if fileasset_form %}
        <form id="fileform" method="post" action="{{ action_url }}" enctype=multipart/form-data>
            <div class="row">
                <div class="col-md-8">
                    {{ MACRO.FORM_FIELD(fileasset_form.slug) }}
                    {{ MACRO.FORM_FIELD(fileasset_form.description, controlclass=" content-editor") }}
                    {{ MACRO.FORM_FIELD(fileasset_form.access_type) }}

                    <div class="form-group">
                        <strong>{{ _('Current file') }}</strong>: {{ fileasset.source_filename if fileasset and fileasset.file_data_exists() else _('No file') }}
                        {{ fileasset_form.file_data }}
                    </div>
                    {{ MACRO.FORM_FIELD(fileasset_form.attachment_filename) }}
                    {{ MACRO.FORM_FIELD(fileasset_form.source_file_url) }}
                    {{ MACRO.FORM_FIELD(fileasset_form.source_page_url) }}
                    {{ MACRO.FORM_FIELD(fileasset_form.tags, controlclass=' selectize-tags') }}
                    {{ fileasset_form.csrf_token }}
                </div>
                <div class="col-md-4">
                    <a class="zoomable" href="{{ url_for('image', slug = fileasset.slug) }}"><img class="img-responsive" src="{{ url_for('image', slug = fileasset.slug) }}"></a>
                </div>
            </div>
            <div class="row form-actions">
                <button type="submit" class="btn btn-primary">{{ _('Save changes') }}</button>
                <a href="{{ url_for('assets.FileAssetsView:index') }}" class="btn btn-default">{{ _('Cancel') }}</a>
                {% if op != 'new' %}
                    <a class="btn btn-danger pull-right" href="#confirm-modal" data-toggle="modal">{{ _('Delete') }}</a>
                {% endif %}
            </div>
        </form>
        {% if  op != 'new' %}
            {{ MACRO.CONFIRM_MODAL(fileasset.slug, url_for('assets.FileAssetsView:delete', id=fileasset.id, method="DELETE"), _('delete') ) }}
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <tr>
                        <th>{{ _('File') }}</th>
                        <td>
                            <small>{{ fileasset.slug }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Description') }}</th>
                        <td>
                            <small>{{ fileasset.description|default(_('No data'), true)|markdown }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Uploaded date') }}</th>
                        <td>
                            <small>{{ fileasset.created_date|dateformat(format='short') }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Owner') }}</th>
                        <td>
                            <small>{{ fileasset.owner }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Access type') }}</th>
                        <td>
                            <small>{{ fileasset.get_access_type_display() }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Tags') }}</th>
                        <td>
                            {% for t in fileasset.tags %}
                                <span class="badge">{{ t }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Source filename') }}</th>
                        <td>
                            <small>{{ fileasset.source_filename }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Source File URL') }}</th>
                        <td>
                            <small>{{ fileasset.source_file_url }}</small>
                        </td>
                    </tr>
                     <tr>
                        <th>{{ _('Source Page URL') }}</th>
                        <td>
                            <small>{{ fileasset.source_page_url }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Size') }}</th>
                        <td>
                            <small>{{ fileasset.length|filesizeformat }}</small>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ _('Content Type') }}</th>
                        <td>
                            <small>{{ fileasset.content_type }}</small>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <a class="zoomable" href="{{ url_for('image', slug = fileasset.slug) }}"><img class="img-responsive" src="{{ url_for('image', slug = fileasset.slug) }}"></a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% endblock %}
