{% extends "asset/_page.html" if not parent_template else parent_template %}

{% block content %}
{% if files %}
<table class="table">
    <thead>
    <tr>
        <td>{{_('File')}}</td>
        <td>{{_('Filename')}}</td>
        <td>{{_('Access type')}}</td>
        <td>{{_('File size')}}</td>
        <td>{{_('Actions')}}</td>
    </tr>
    </thead>
    <tbody>
    {% for fileasset in files %}
    <tr>
        <td><a href="{{ url_for('.fileasset_form_edit', fileasset=fileasset.slug)}}">{{fileasset.title}}</a></td>
        <td>{{fileasset.source_filename}}</td>
        <td>{{fileasset.get_access_type_display()}}</td>
        <td>{{fileasset.file_data.length|filesizeformat}}</td>
        <td>
          <a href="{{ url_for('link', fileasset=fileasset.slug) }}" title="{% trans %}Open file{% endtrans %}"><span class="glyphicon glyphicon-play-circle"></span></a>
          <a href="{{ url_for('download', fileasset=fileasset.slug) }}" title="{% trans %}Download file{% endtrans %}"><span class="glyphicon glyphicon-save"></span></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include "includes/pagination.html" %}

{% else %}
<h3>{{_('No file assets available!')}}</h3>
{% endif %}
{% endblock %}
