{% extends root_template %}
{% import 'includes/macros.html' as MACRO %}

{% block content_title %}{{ _('Social') }}{% endblock %}
{% block content_tagline %}{{ _('bringing you closer to other gamers') }}{% endblock %}
{% block social_active %} active{% endblock %}

{% block sidebar %}
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header">{{ _('Actions') }}</li>
  </ul>
{% endblock %}

{% block content %}
  <p>
  {% if session.logged_in %}
  {{ _('Welcome') }} <strong>{{ g.user }}</strong>!
  {% endif %}
  {{ _('Here you will be able to interact with other gamers, create and manage your game groups,
  events, etc.') }}</p>

{% endblock %}
