{% extends root_template %}
{% import 'includes/macros.html' as MACRO %}

{% block content_title %}{{ _('Social') }}{% endblock %}
{% block content_tagline %}{{ _('bringing you closer to other gamers') }}{% endblock %}
{% block social_active %} class="active"{% endblock %}

{% block sidebar %}
  <ul class="nav nav-pills nav-stacked">
    {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('list')) %}
    <li><a class="{{privileged}}" href="{{ url_for('.index') }}"><span class="glyphicon glyphicon-home"></span> {{ _('Main') }}</a></li>
    {% endcall %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('list')) %}
    <li><a class="{{privileged}}" href="{{ url_for('.user_list') }}"><span class="glyphicon glyphicon-user"></span> {{ _('Gamers') }}</a></li>
    {% endcall %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['group'].authorize('list')) %}
    <li><a class="{{privileged}}" href="{{ url_for('.group_list') }}"><span class="glyphicon glyphicon-globe"></span> {{ _('Groups') }}</a></li>
    {% endcall %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['conversation'].authorize('list')) %}
    <li><a class="{{privileged}}" href="{{ url_for('.conversation_list') }}"><span class="glyphicon glyphicon-bullhorn"></span> {{ _('Forum') }}</a></li>
    {% endcall %}
      {% call(privileged) MACRO.IS_ADMIN('hej') %}
    <li role="presentation"><a class="{{privileged}}"  data-toggle="modal" data-target="#themodal" role="menuitem" tabindex="-1" href="{{url_for('mail.mail_view', mail_type='invite', intent='post')}}"><span class="glyphicon glyphicon-hand-right"></span> {{_('Invite user')}}</a></li>
    {% endcall %}
  </ul>

  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header">{{ _('Actions') }}</li>
  </ul>
{% endblock %}

{% block content %}
  <p>
  {% if session.logged_in %}
  {{ _('Welcome') }} <strong>{{ g.user }}</strong>!
  {% endif %}
  {{ _('Here you will be able to interact with other gamers, create and manage your game groups,
  events, etc.') }}</p>

{% endblock %}
