{% extends "social/_page.html" if not parent_template else parent_template %}

{% block content_title %}{{ _('Groups') }}{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.homepage'), _('Home')),
        (url_for('social.GroupsView:index'), _('Groups'))
    ) }}{% endblock %}

{% block actionbar %}
    {% call(privileged) MACRO.AUTHORIZED(access_policy['group'].authorize('new', res=publisher)) %}
        {{ MACRO.NEW_BUTTON(url_for('social.GroupsView:get', id='post'), 'New group') }}
    {% endcall %}
{% endblock %}

{% block asides %}{{ super() }}
    {% if filter_options %}
        <div class="filter-options">

        {{ MACRO.LIST_CONTROLS(model, args, ['type', 'location', 'created', 'updated']) }}

        <h5>{% trans %}By type{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['type'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By location{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['location'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By created{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['created'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>

        <h5>{% trans %}By updated{% endtrans %}</h5>
        <div class="btn-set">
            {% for opt in filter_options['updated'] %}
                {{ MACRO.ARG_LINK(opt.label, opt.kwargs) }}
            {% endfor %}
        </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if groups %}
        {% if args.get('view', '') == 'card' %}
            <div class="cards">
                {% for group in groups %}
                    <div class="card"
                            {%- if group.get_feature_image -%}
                         style="background: url({{ url_for('image_thumb', slug=group.get_feature_image.slug) }}) center top/cover;"
                            {%- endif -%}>
                        <a class="card-cover icon150px"
                           href="{{ url_for('social.GroupsView:get', id=group.slug) }}"
                        >
                            <svg class="fablr-icon fablr-icon-stretch">
                                <use xlink:href="#fablr-group"></use>
                            </svg>
                        </a>
                        <div class="card-text">
                            <h3 class="card-title dobr">
                                <a href="{{ url_for('social.GroupsView:get', id=group.slug) }}">{{ group.title|default(_('No data'), true) }}</a>
                            </h3>
                            <div class="card-description">
                                {{ group.description|markdown }}
                            </div>
                            <ul class="card-details">
                                <li class="product-type">{{ group.location }}</li>
                                <li class="product-type">{% trans %}Created{% endtrans %}
                                    : {{ group.created|dateformat(format='short') }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'title') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'type') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'location') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'created') }}</th>
                <th>{{ MACRO.ORDER_BY_LINK(model, args, 'updated') }}</th>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td><a href="{{ url_for('social.GroupsView:get', id=group.slug) }}">
                            <strong class="message_name">{{ group.title|default(_('No data'), true) }}</strong>
                        </a></td>
                        <td>{{ group.get_field_display('type') }}</td>
                        <td>{{ group.location|default }}</td>
                        <td class="small">{{ group.created|datetimeformat(format='short') if group.created }}</td>
                        <td class="small">{{ group.updated|datetimeformat(format='short') if group.updated }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}

        {% include "includes/pagination.html" %}
    {% else %}
        <h3>{{ _('No users visible!') }}</h3>
    {% endif %}

{% endblock %}