{% set index = loop.index0 if loop %}
{% import 'includes/macros.html' as MACRO %}

{% block inline %}
  <tr class="user-tablerow">
    {%- if member_form and not member %}
   		<td name="username" colspan="2">
      		{{member_form.user(style='width:100%;')}}
      </td>
    {% else %}
      <td name="username">
      {% if member_form %}
      	<input type="hidden" name="members-{{index}}-user" value="{{member.user.identifier()}}" />
      {% endif %}
      <a href="{{ url_for('.user_view', user=member.user.identifier()) }}">
      <img class="avatar" src="{{ member.user.gravatar_url() }}" />
      <strong class="message_name">{{member.user}}</strong></a>
    </td>
    <td>{{member.user.realname if member}}</td>
    {% endif %}
    <td>
    {% if member_form %}
    {{ MACRO.FORM_FIELD(member_form.role, inline=true)}}
    {% else %}{{member.get_role()}}
    {% endif %}
    </td>
  </tr>
{% endblock %}