{% import 'includes/macros.html' as MACRO %}

{% if args.get('view', '') == 'card' %}
    <div class="cards">
            {% for user in users %}
                <div class="card"
                    {%- if user.get_feature_image -%}
                        style="background: url({{ url_for('image_thumb', slug=user.get_feature_image.slug) }}) center top/contain no-repeat;"
                    {%- else -%}
                         style="background: url({{ user.gravatar_url(size=256) }}) center top/contain no-repeat;"
                    {%- endif -%}>

                    <div class="card-text">
                    <h3 class="card-title dobr">
                        <a href="{{ url_for('social.UsersView:get', id=user.identifier()) }}">{{ user }}</a>
                    </h3>
                    <ul class="card-details">
                        <li class="product-type">{{ user.xp }} XP</li>
                        <li class="product-type">{% trans %}Joined{% endtrans %}: {{ user.join_date|dateformat(format='short')}}</li>
                    </ul>
                    </div>

                </div>
            {% endfor %}
    </div>
{% else %}
    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <th>{{ MACRO.ORDER_BY_LINK(model, args, 'username') }}</th>
        <th>{{ MACRO.ORDER_BY_LINK(model, args, 'realname') }}</th>
        <th>{{ MACRO.ORDER_BY_LINK(model, args, 'status') }}</th>
        <th>{{ MACRO.ORDER_BY_LINK(model, args, 'xp') }}</th>
        <th>{{ MACRO.ORDER_BY_LINK(model, args, 'location') }}</th>
        <th>{{ MACRO.ORDER_BY_LINK(model, args, 'join_date') }}</th>
        <th>{{ MACRO.ORDER_BY_LINK(model, args, 'last_login') }}</th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td style="position: relative"><a href="{{ url_for('social.UsersView:get', id=user.identifier()) }}">
                    <img class="avatar" src="{{ user.gravatar_url() }}"/>
                    <strong class="message_name">{{ user }}</strong>
                </a></td>
                <td>{{ user.realname|default(_('No data')) }}</td>
                <td>{{ user.get_field_display('status') }}</td>
                <td>{{ user.xp|default }}</td>
                <td>{{ user.location|default }}</td>
                <td class="small">{{ user.join_date|datetimeformat(format='short') if user.join_date}}</td>
                <td class="small">{{ user.last_login|datetimeformat(format='short') if user.last_login}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}