{% extends "social/_page.html" if not parent_template else parent_template %}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ user }}{% endblock %}
{% block content_tagline %}{{ user.xp }} XP{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.homepage'), _('Home')),
        (url_for('social.UsersView:index'), _('Users')),
        (url_for('social.UsersView:get', id=user.id), self.content_title())
    ) }}{% endblock %}

{% block actionbar %}
    {% if args.get('intent', None) == 'patch' %}
        {# We are editing #}
        {{ MACRO.SAVE_BUTTON('userform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('social.UsersView:get', id=user.id)) }}
{#        {{ MACRO.DELETE_BUTTON() }}#}
    {% elif args.get('intent', None) == 'post' %}
        {# We are creating new resource #}
        {{ MACRO.SAVE_BUTTON('userform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('social.UsersView:get', id=user.id)) }}
    {% else %}
        {# We are viewing #}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('edit')) %}
            {{ MACRO.EDIT_BUTTON(url_for('social.UsersView:get', intent='patch', id=user.identifier())) }}
{#            {{ MACRO.DELETE_BUTTON() }}#}
        {% endcall %}
    {% endif %}

    {#    {% call(privileged) MACRO.IS_ADMIN() %}#}
    {#    <li role="presentation"><a class="{{privileged}}" data-toggle="modal" data-target="#themodal" role="menuitem" tabindex="-1" href="{{url_for('mail.mail_view', mail_type='verify', user=user.id, intent='post')}}"><span class="glyphicon glyphicon-hand-right"></span> {{_('Send reset link')}}</a></li>#}
    {#    <li role="presentation"><a class="{{privileged}}" href="{{url_for('auth.join', email=user.email, email_token=user.create_token(), reset=true, username=user.username, location=user.location, realname=user.realname, _external=true, _scheme='')}}"><span class="glyphicon glyphicon-hand-right"></span> {{_('Copy reset link')}}</a></li>#}
    {#    <li role="presentation"><a class="{{privileged}}" data-toggle="modal" data-target="#themodal" role="menuitem" tabindex="-1" href="{{url_for('mail.mail_view', mail_type='remind', user=user.id, intent='post')}}"><span class="glyphicon glyphicon-hand-right"></span> {{_('Remind login')}}</a></li>#}
    {#    {% endcall %}#}
{% endblock %}

{% block content %}
    {% if user_form %}
        <form id="userform" class="form-horizontal" role="form" method="post" action="{{ action_url }}">{% endif %}
{% if user_form and user.status == 'invited' %}
    <div class="well">
        <strong>{% trans %}This user is not yet active!{% endtrans %}</strong><br>
        {% trans %}Save to complete the user and make it active.{% endtrans %}<br>
        {% trans %}If you had an existing user and made this new user by error, click merge button below:{% endtrans %}
    </div>
{% endif %}
<div class="row">
    <div class="col-md-4">
        {% if user.images %}
            <img src="{{ url_for('image', slug=user.images[0].slug) }}" class="img-polaroid img-responsive"/>
        {% else %}
            <img src="{{ user.gravatar_url(256) }}" class="img-polaroid img-responsive"/>
            {% if user_form or g.user==user %}
                {{ _('Pick your avatar at') }} <a href="https://en.gravatar.com/site/signup/">Gravatar</a>
            {% endif %}
        {% endif %}

        <div>
            <h4>{% trans %}Authentication sources{% endtrans %}</h4>

            {% for email, service, key in user.enumerate_auth_keys() %}
                <p>
                    <span class="badge">{{ service }}</span>
                    <small>{{ email }}</small>
                </p>
            {% endfor %}
            {% if user_form %}

                {% if user.status == 'invited' %}
                    <button type="button" class="btn btn-small btn-primary" id="lock-mail">
                        {% trans %}Merge with existing user{% endtrans %}</button>

                {% else %}

                    <button type="button" class="btn btn-small btn-primary" id="lock-activate">
                        {% trans %}Add authentication method{% endtrans %}</button>
                {% endif %}
            {% endif %}
        </div>
        <div class="btn-toolbar">
            {#        {% if resouxrce.op == 'view' %}
      <button type="button" class="btn btn-small m_action
        {% if g.user|is_following(user) %}" href="{{url_for('social.user_unfollow', username=user.username)}}">{{ _('Unfollow') }}
        {% else %}btn-primary" href="{{url_for('social.user_follow', username=user.username)}}">{{ _('Follow') }} ...
        {% endif %}</button>
      <div class="btn-group">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
        {{ _('Add to group') }}<span class="caret"></span></a>
        {% include "social/group_member_selector.html" %}
      </div>
      <button type="button" class="btn btn-small btn-primary m_action" href="{{url_for('social.conversation_new', recipients=user.username, fixed_recipients=true)}}" data-action-type="modal">{{ _('Send message') }}</button>
    {% endif %}
#}
        </div>
    </div>
    <div class="col-md-8">
        {% if user_form %}
            {% if user and user==g.user %}
                {{ MACRO.FORM_FIELD(user_form.username, labelclass="col-sm-3", controlwrap="col-sm-9") }}
            {% endif %}
            {{ MACRO.FORM_FIELD(user_form.realname, labelclass="col-sm-3", controlwrap="col-sm-9") }}
            {{ MACRO.FORM_FIELD(user_form.location, labelclass="col-sm-3", controlwrap="col-sm-9") }}
            {{ MACRO.FORM_FIELD(user_form.description, labelclass="col-sm-3", controlwrap="col-sm-9", controlclass="content-editor") }}
        {% else %}
            <table class="table">
                {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('edit', user)) %}
                    <tr>
                        <th>{{ _('Email') }}</th>
                        <td>
                            <small>{{ user.email }}</small>
                        </td>
                    </tr>
                {% endcall %}

                <tr>
                    <th>{{ _('Username') }}</th>
                    <td>
                        <small>{{ user.username|default(_('No data'), true) }}</small>
                    </td>
                </tr>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <td>{{ user.realname|default(_('No data'), true) }}</td>
                </tr>
                <tr>
                    <th>{{ _('Location') }}</th>
                    <td>{{ user.location|default(_('No data'), true) }}</td>
                </tr>
                <tr>
                    <th>{{ _('Joined') }}</th>
                    <td>{{ user.join_date|datetimeformat(format='short') }}</td>
                </tr>
                <tr>
                    <th>{{ _('Last login') }}</th>
                    <td>{{ user.last_login|datetimeformat(format='short') if user.last_login else _('Not logged in yet') }}</td>
                </tr>


                {% call(privileged) MACRO.IS_ADMIN() %}
                    <tr>
                        <th>{{ _('Authentication') }}</th>
                        <td>{{ user.auth_type() }}
                        </td>
                    </tr>
                    {#<tr><th>{{ _('Join link') }}</th>
        <td style="max-width: 200px; word-wrap: break-word;"><a
        href="{{ url_for('auth.join', email=user.email, email_token=user.create_token(), next=url_for('social.UsersView:get', id=user.id), reset=true) }}">{{
          url_for('auth.join', email=user.email, email_token=user.create_token(), next=url_for('shop.order_list'), reset=true, username=user.username, location=user.location, realname=user.realname) }}</a></td>
      </tr>#}
                {% endcall %}
                {#
      <tr><th>{{ _('Following') }}</th>
      <td><span class="badge">N/A</span></td></tr>
      <tr><th>{{ _('Followers') }}</th>
      <td><span class="badge">N/A</span></td></tr>
      #}
            </table>
            <div class="well">{{ user.description|default(_('No data'), true)|markdown }}</div>
            {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('edit', user)) %}

                <h3>{{ _('History') }}</h3>
                <table class="table">
                    <tr>
                        <th>{{ _('Time') }}</th>
                        <th>{{ _('Activity') }}</th>
                        <th>{{ _('XP') }}</th>
                    </tr>
                    {% for event in events %}
                        <tr>
                            <td>
                                <small>{{ event.created|datetimeformat(format='medium') }}</small>
                            </td>
                            <td>{{ event.action_string() }}</td>
                            <td>{{ event.xp }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endcall %}

        {% endif %}
    </div>
</div>

{% if user_form %}
    <div class="row form-actions">
        <div class="col-sm-12">
            {{ user_form.csrf_token }}
            {% if args.get('intent', None) %}
                <ul class="action-buttons action-buttons-footer">
                    {{ self.actionbar() }}
                </ul>
            {% endif %}
        </div>
    </div></form>{% endif %}
    {#
<div class="row">
  <div class="col-md-5">
  <h4>{{ _('Groups') }}</h4>
  {% set groups = user.groups() %}
  {% if groups and groups|length > 0 %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ _('Group name') }}</th>
        <th>{{ _('Location') }}</th>
        <th>{{ _('Members') }}</th>
        <th>{{ _('Role') }}</th>
      </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr class="user-tablerow">
          <th><a href="{{ url_for('social.GroupsView:get', id=group.slug) }}">{{group.name}}</a></th>
          <td>{{group.location}}</td>
          <td><span class="badge badge-info">{{group.members|length }}</span></td>
          <td>#TODO</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}{{ _('Not member of any groups yet!') }}{% endif %}
  </div>
  <div class="col-md-5">
    {% set message_list = user.messages() %}
    {% if message_list.count() > 0  %}
    <h4>{{ _('Messages to followers') }}</h4>
      <ul class="list-unstyled">
      {% for message in message_list %}
        <li>{% include "social/message_item.html" %}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
#}
{% endblock %}

{% block js_bottom %}
    {{ super() }} {# Execute main js first #}
    <script src="//cdn.auth0.com/js/lock-passwordless-2.2.3.min.js"></script>
    <script type="text/javascript">
        var clientID = "{{ config["AUTH0_CLIENT_ID"] }}";
        var domain = "{{ config["AUTH0_DOMAIN"] }}";
        var lock = new Auth0LockPasswordless(clientID, domain);

        var options = {
            icon: "//helmgast.se/static/img/helmgast_512px.png",
            closable: true,
            focusInput: true,
            primaryColor: "#a00",
            socialBigButtons: true,
            connections: ["facebook", "google-oauth2"],

            rememberLastLogin: false,
            callbackURL: "{{ url_for('auth.callback', _external=true, _scheme=request.url.split(':')[0]) }}"
        };
        $('#lock-activate').click(function (e) {
            lock.socialOrEmailcode($.extend(options, {
                dict: {
                    title: '{{ _("Add to %(account)s", account=user.display_name()) }}'
                },
                email: {
                    headerText: '{{ _("Enter a new email to add by verification") }}'
                }
            }));
        })
        $('#lock-mail').click(function (e) {
            lock.emailcode($.extend(options, {
                dict: {
                    title: '{{ _("Merge this account") }}',
                    email: {
                        headerText: '{{ _("Enter the email you signed up your previous account to.") }}'
                    }
                }
            }));
        })
    </script>
{% endblock %}
