{% extends "base.html" %}

{% from 'includes/components.html' import FORM_FIELD, FORM_FIELD_INLINE %}

{% block mainblock %}
{% include "includes/flash.html" %}

<form method="post" action="{{ url_for('auth.join') }}" class="col-sm-6 col-sm-offset-3" role="form">
  {% include "includes/flash.html" %}
  <h2 class="form-signin-heading">{{ _('Sign up') }}</h2>
  <input type="hidden" name="next" value="{{ next }}" />
  {{ FORM_FIELD_INLINE(join_form.username, controlclass="input-lg") }}
  {{ FORM_FIELD_INLINE(join_form.password, controlclass="input-lg") }}
  {{ FORM_FIELD_INLINE(join_form.confirm_password, controlclass="input-lg") }}
  {{ FORM_FIELD_INLINE(join_form.email, controlclass="input-lg", type='email') }}
  {{ FORM_FIELD_INLINE(join_form.realname, controlclass="input-lg")}}
  {{ join_form.csrf_token }}

  <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Join') }}</button>
</form>

{% endblock %}