<!--
http://www.jonathantneal.com/blog/understand-the-favicon/
Most basic version of favicon implemented, should support IE6-10 (with additional features), Safari, Firefox and Chrome.
While IE8-10 will display the favicon on first load of the page.
IE7 will skip the first load and display the favicon during repeat visits
IE6 will only display the favicon once the site has been bookmarked and reopened in the browser.

--->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/icon/favicon.ico') }}">
