{% extends "world/publisher_root.html" if not publisher_theme else publisher_theme %}

{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ _('File assets') }}{% endblock %}
{% block content_tagline %}{% endblock %}
{% block file_asset_active %} class="active"{% endblock %}

{% block subnavbar %}
    <li><a class="{{privileged}}" href="{{ url_for('assets.FileAssetsView:index') }}">
        <span class="glyphicon glyphicon-book"></span> {{ _('List') }}</a>
    </li>
    {% call(privileged) MACRO.AUTHORIZED(access_policy['files'].authorize('new', res=None)) %}
        {{ MACRO.NEW_BUTTON(url_for('assets.FileAssetsView:get', id='post')) }}
    {% endcall %}
{% endblock %}
