{%- macro OG_ARTICLE(article) -%}
{% if article %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@helmgast">
<meta name="twitter:url" property="og:url" content="{{ current_url(_external=true) }}">
<meta name="twitter:title" property="og:title" content="{{article.title}}">
<meta name="twitter:description" property="og:description" content="{{article.description}}">
<meta property="og:type" content="article" />
{% if article.feature_image %}
<meta name="twitter:image" property="og:image" content="{{url_for('image_thumb', slug=article.feature_image.slug, _external=true)}}" />
{% else %}
<meta name="twitter:image" property="og:image" content="{{ url_for('static', filename='img/helmgast_512px.png', _external=true) }}" />
{% endif %}
<meta property="article:published_time" content="{{article.created_date.isoformat()}}" /> {# yyyy-mm-dd #}
<meta property="article:author" content="{{article.user}}" />
<meta property="article:section" content="{{article.world}}" />
<meta property="og:site_name" content="Helmgast" />
{% endif %}
{%- endmacro -%}

{%- macro action_buttons(submit_title, cancel_title="Cancel", submit_class="primary") -%}
<div class="actions">
  <input type="submit" class="btn {{submit_class}}" value="{{submit_title}}">
  &nbsp;
  <button type="reset" class="btn">{{cancel_title}}</button>
</div>
{%- endmacro -%}

{%- macro FORM_FIELD_LIST(field) -%}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</dd>
{%- endmacro -%}

{%- macro FORM_FIELD(field, controlclass="", labelclass="", groupclass="", inline=false) -%}
  {% set fieldargs = {'class':'form-control '+controlclass} %}
  {% do fieldargs.update({'required':true}) if field.flags.required %}
  {% do fieldargs.update(kwargs) if kwargs %}
  {% if inline %}
    {% set labelclass = "sr-only "+labelclass %}
    {% do fieldargs.update({'placeholder':field.label.text}) if field.label %}
  {% endif %}
  {{ field._name }}
  <div class="form-group{{ ' has-error has-feedback' if field.errors }}{{' '+groupclass if groupclass}}">
    {{ field.label(class="control-label "+labelclass) if field.label }}
    {{ field(**fieldargs) }}
    {%- if field.errors -%}
    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    <span class="help-block">{{ field.errors|join(' ') }}</span>
    {%- endif -%}
  </div>
{%- endmacro -%}

{%- macro FORM_FIELD_COLS(field, labelcol, inputcol, controlclass="", labelclass="", groupclass="") -%}
  {% set fieldargs = {'class':'form-control '+controlclass} %}
  {% do fieldargs.update({'required':true}) if field.flags.required %}
  {% do fieldargs.update(kwargs) if kwargs %}
  <div class="form-group{{ ' has-error has-feedback' if field.errors }}{{' '+groupclass if groupclass}}">
    {{ field.label(class="control-label "+labelclass+" "+labelcol) if field.label }}
    <div class="{{inputcol}}">
    {{ field(**fieldargs) }}
      {%- if field.errors -%}
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      {%- endif -%}
    </div>
  </div>
{%- endmacro -%}

{%- macro AUTHORIZED(auth) -%}
  {% if auth %}
    {{ caller("privileged" if auth.is_privileged() else '') }}
  {% endif %}
{%- endmacro -%}

{%- macro IS_USER(user=none) -%}
  {% if g.user and (not user or g.user == user or g.user.admin) %}
     {{ caller() }}
  {% endif %}
{%- endmacro -%}

{%- macro IS_ADMIN(auth) -%}
  {% if g.user and g.user.admin %}
     {{ caller('privileged') }}
  {% endif %}
{%- endmacro -%}

 {%- macro IS_ENABLED(feature) -%}
  {% if g.feature and g.feature[feature] %}
     {{ caller() }}
  {% endif %}
{%- endmacro -%}

{%- macro VISIBILITY(condition) -%}
  {%- if condition -%}<small title="{{_('Your access rights allow you to view this resource in this view')}}"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;</small>{%- endif %}
{%- endmacro -%}

{%- macro LIST_CONTROLS(model_class, fields, show=['view','order','page']) -%}
<form class="form-inline">
<div class="btn-toolbar">

{% if 'view' in show %}
{% set view = request.args.get('view','table') %}
<div class="btn-group">
<a href="{{ current_url(view='card') }}" title="{% trans %}Card view{% endtrans %}" class="btn btn-default btn-sm{{ ' active' if view=='card'}}"><span class="glyphicon glyphicon-th-large"></span></a>
<a href="{{ current_url(view='table') }}" title="{% trans %}Table view{% endtrans %}" class="btn btn-default btn-sm{{ ' active' if view=='table'}}"><span class="glyphicon glyphicon-list-alt"></span></a>
<a href="{{ current_url(view='list') }}" title="{% trans %}List view{% endtrans %}" class="btn btn-default btn-sm{{ ' active' if view=='list'}}"><span class="glyphicon glyphicon-align-justify"></span></a>
</div>
{% endif %}

{% if 'order' in show %}
<div class="btn-group">
  {% if 'order_by' in request.args %}
  <a href="{{ current_url(order_by=none) }}" title="{% trans %}Click to reset current ordering{% endtrans %}" class="btn btn-info btn-sm">{% trans %}Order by{% endtrans %}: {{request.args.get('order_by')}} &times;</a>
  {% else %}
  <button type="button"  title="{% trans %}Select ordering{% endtrans %}" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans %}Order by{% endtrans %} <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
      {% for f in fields %}
      {% set name = model_class._fields[f].verbose_name %}
      {% if name %}
      <li><a href="{{current_url(order_by='-'+f)}}">{{name}} <span class="caret"></span></a></li>
      <li><a href="{{current_url(order_by=f)}}">{{name}} <span class="caret caret-up"></span></a></li>
      {% endif %}
      {% endfor %}
  </ul>
  {% endif %}
</div>
{% endif %}

{% if 'page' in show %}
<div class="btn-group">
  {% if 'per_page' in request.args %}
  <a href="{{ current_url(per_page=none)}}" title="{% trans %}Click to reset items per page{% endtrans %}" class="btn btn-info btn-sm">{% trans %}Per page{% endtrans %}: {{request.args.get('per_page')}} &times;</a>
  {% else %}
  <button type="button"  title="{% trans %}Choose number of items per page{% endtrans %}" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans %}Per page{% endtrans %}: 20 <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
      <li><a href="{{ current_url(per_page=20) }}">20</a></li>
      <li><a href="{{ current_url(per_page=50) }}">50</a></li>
      <li><a href="{{ current_url(per_page=100) }}">100</a></li>
      <li><a href="{{ current_url(per_page=-1) }}">{% trans %}All{% endtrans %}</a></li>
  </ul>
  {% endif %}
</div>
{% endif %}

<!-- <div class="btn-group">
<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filter <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
      <li><a href="#">Equals</a></li>
      <li><a href="#">Less than</a></li>
      <li><a href="#">Greater than</a></li>
      <li><a href="#">Not equal</a></li>
  </ul>
</div> -->

{% if 'search' in show %}
<div class="input-group input-group-sm">
  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
  <input type="text" class="form-control" placeholder="Search">
</div>
{% endif %}

</div>
</form>
{%- endmacro -%}

{%- macro TABLE_HEADER(model_class, fields) -%}
{% set order_by = request.args.get('order_by', None) %}
<thead>
	<tr>
    {% for f in fields %}
    {% set name = model_class._fields[f].verbose_name %}
		<th>
      {% if name %}
      {% if order_by== f %}
      <a href="?order_by=-{{f}}">{{name}} <span class="caret caret-up"></span></a>
      {% elif order_by=='-'+f %}
      <a href="?order_by={{f}}">{{name}} <span class="caret"></span></a>
      {% else %}
      <a href="?order_by={{f}}">{{name}} </a>
      {% endif %}
      {% endif %}
    </th>
    {% endfor %}
	</tr>
</thead>
{%- endmacro -%}

{%- macro DELETE_MODAL(title, action_url) -%}
<div class="modal fade bs-modal-sm" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ _('Are you sure you want to delete') }} "{{ title }}"?</h4>
      </div>
      <div class="modal-body">
        <form id='deleteform' method="post" action="{{ action_url }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
          <button type="submit" class="btn btn-danger">{{ _('Yes') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{%- endmacro -%}

{%- macro CARD(title, text, image) -%}
<div class="card">
  <div class="bgimg" style="background-image: url('{{image}}');"></div>
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">{{text}}</p>
  </div>
</div>
{%- endmacro -%}