{%- macro OG_ARTICLE(article) -%}
    {% if article %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@helmgast">
        <meta name="twitter:url" property="og:url" content="{{ current_url(_external=true, _scheme='') }}">
        <meta name="twitter:title" property="og:title" content="{{ article.title }}">
        <meta name="twitter:description" property="og:description" content="{{ article.description }}">
        <meta property="og:type" content="article"/>
        {% if article.get_feature_image %}
            <meta name="twitter:image" property="og:image"
                  content="{{ url_for('image_thumb', slug=article.get_feature_image.slug, _external=true, _scheme='') }}"/>
        {% else %}
            <meta name="twitter:image" property="og:image"
                  content="{{ url_for('static', filename='img/helmgast_512px.png', _external=true, _scheme='') }}"/>
        {% endif %}
        <meta property="article:published_time" content="{{ article.created_date.isoformat() }}"/> {# yyyy-mm-dd #}
        <meta property="article:author" content="{{ article.user }}"/>
        <meta property="article:section" content="{{ article.world }}"/>
        <meta property="og:site_name" content="Helmgast"/>
    {% endif %}
{%- endmacro -%}

{%- macro action_buttons(submit_title, cancel_title="Cancel", submit_class="primary") -%}
    <div class="actions">
        <input type="submit" class="btn {{ submit_class }}" value="{{ submit_title }}">
        &nbsp;
        <button type="reset" class="btn">{{ cancel_title }}</button>
    </div>
{%- endmacro -%}


{%- macro FORM_FIELD_LIST(field) -%}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
{%- endmacro -%}


{%- macro FILEASSET_SELECT_FIELD(field, controlclass="", labelclass="", groupclass="") -%}

{%- endmacro -%}

{%- macro FORM_FIELD(field, controlclass="", labelclass="", groupclass="", controlwrap="", inline=false, formgroup=true, labeltext="", helptext="") -%}
    {% set fieldargs = {'class':'form-control '+controlclass} %}
    {% do fieldargs.update({'required':true}) if field.flags.required %}
    {% do fieldargs.update(kwargs) if kwargs %}
    {% if inline %}
        {% set labelclass = "sr-only "+labelclass %}
        {% do fieldargs.update({'placeholder':field.label.text}) if field.label %}
    {% endif %}
    {% if formgroup %}<div class="form-group{{ ' has-error has-feedback' if field.errors }}{{ ' '+groupclass if groupclass }}">{% endif %}
        {% if field.label %}
            {% if labeltext %}
                {{ field.label(class="control-label "+labelclass, text=labeltext) }}
            {% else %}
                {{ field.label(class="control-label "+labelclass) }}
            {% endif %}
        {% endif %}
        {%- if controlwrap -%}<div class="{{ controlwrap }}">{%- endif -%}
        {{ field(**fieldargs) }}
        {%- if field.errors -%}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <span class="help-block">{{ field.errors|join(' ') }}</span>
        {%- elif helptext -%}
            <span class="help-block">{{ helptext }}</span>
        {%- endif -%}
        {%- if controlwrap -%}</div>{%- endif -%}
    {% if formgroup %}</div>{% endif %}
{%- endmacro -%}


{% macro MAKE_INPUT(label, id='', cols=10, labelcols=2, type='text', placeholder='', suffix='', prefix='', rows=3, class="nosubmit") %}
    {% set readonly = true if args.get('intent','')!='patch' else false %}
    {% if not id %}
        {% set id = label.lower() %}
    {% endif %}
    <label for="{{ id }}" class="col-sm-{{ labelcols }} control-label">{{ label }}</label>
    <div class="col-sm-{{ cols }}">
        {% if suffix or prefix %}
            <div class="input-group">
            {% if prefix %}
                <span class="input-group-addon">{{ prefix }}</span>
            {% endif %}
        {% endif %}

        {% if type=='text' %}
            <input type="{{ type }}" class="form-control {{ class }}" id="{{ id }}" name="{{ id }}"
                   placeholder="{{ placeholder }}" {{ 'readonly' if readonly }}>
        {% elif type=='textarea' %}
            <textarea class="form-control {{ class }}" id="{{ id }}" name="{{ id }}" rows="{{ rows }}"
                      placeholder="{{ placeholder }}" {{ 'readonly' if readonly }}></textarea>
        {% endif %}
        {% if suffix or prefix %}
            {% if suffix %}
                <span class="input-group-addon">{{ suffix }}</span>
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro MAKE_TD_INPUT(label, id='', placeholder='', class="nosubmit", min=0, max=12) %}
    {% set readonly = true if args.get('intent','')!='patch' else false %}
    {% if not id %}
        {% set id = label.lower() %}
    {% endif %}
    <td><label for="{{ id }}" class="control-label">{{ label }}</label></td>
    <td><input type="number" min={{ min }} max={{ max }} class="form-control {{ class }}" id="{{ id }}" name="{{ id }}" {{ 'readonly' if readonly }}>
    </td>
{% endmacro %}

{%- macro AUTHORIZED(auth) -%}
    {% if auth %}
        {{ caller("privileged" if auth.is_privileged() else '') }}
    {% endif %}
{%- endmacro -%}


{%- macro IS_USER(user=none) -%}
    {% if g.user and (not user or g.user == user or g.user.admin) %}
        {{ caller() }}
    {% endif %}
{%- endmacro -%}


{%- macro IS_ADMIN(auth) -%}
    {% if g.user and g.user.admin %}
        {{ caller('privileged') }}
    {% endif %}
{%- endmacro -%}


{%- macro IS_ENABLED(feature) -%}
    {% if g.feature and g.feature[feature] %}
        {{ caller() }}
    {% endif %}
{%- endmacro -%}


{%- macro VISIBILITY(condition) -%}
    {%- if condition -%}
        <small title="{{ _('Your access rights allow you to view this resource in this view') }}"><span
                class="glyphicon glyphicon-eye-close"></span>&nbsp;</small>{%- endif %}
{%- endmacro -%}


{%- macro LIST_CONTROLS(model_class, args, fields, show=['view','order','page'], set_view=None, default='table') -%}
    <div class="btn-set">
        {% if 'view' in show %}
            <h5>{% trans %}View{% endtrans %}</h5>
            {% set view = set_view or request.args.get('view', default) %}
            <div class="btn-group">
                <a href="{{ current_url(view='card') }}" title="{% trans %}Card view{% endtrans %}"
                   class="btn btn-default btn-sm{{ ' active' if view=='card' }}"><span
                        class="glyphicon glyphicon-th-large"></span></a>
                <a href="{{ current_url(view='table') }}" title="{% trans %}Table view{% endtrans %}"
                   class="btn btn-default btn-sm{{ ' active' if view=='table' }}"><span
                        class="glyphicon glyphicon-list-alt"></span></a>
                <a href="{{ current_url(view='list') }}" title="{% trans %}List view{% endtrans %}"
                   class="btn btn-default btn-sm{{ ' active' if view=='list' }}"><span
                        class="glyphicon glyphicon-align-justify"></span></a>
            </div></br>
        {% endif %}

        {% if 'order' in show %}
            <div class="btn-group">
                {% if in_current_args(['order_by']) %}
                    {% set clean_order_by = args['order_by'][0]|replace('-','')|replace('+','') %}
                    <a href="{{ current_url(order_by=none) }}"
                       title="{% trans %}Click to reset current ordering{% endtrans %}" class="btn btn-info btn-xs">
                        {% trans %}Order by{% endtrans %}
                        : {{ model_class._fields[clean_order_by].verbose_name }} &times;</a>
                {% else %}
                    <button type="button" title="{% trans %}Select ordering{% endtrans %}"
                            class="btn btn-default  btn-xs dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">{% trans %}Order by{% endtrans %} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for f in fields %}
                            {% set name = model_class._fields[f].verbose_name %}
                            {% if name %}
                                <li><a href="{{ current_url(order_by='-'+f) }}">{{ name }} <span
                                        class="caret"></span></a></li>
                                <li><a href="{{ current_url(order_by=f) }}">{{ name }} <span
                                        class="caret caret-up"></span></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {% if 'page' in show %}
            <div class="btn-group">
                {% if in_current_args(['per_page']) %}
                    <a href="{{ current_url(per_page=none) }}"
                       title="{% trans %}Click to reset items per page{% endtrans %}" class="btn btn-info  btn-xs">
                        {% trans %}Per page{% endtrans %}: {{ args['per_page'] }} &times;</a>
                {% else %}
                    <button type="button" title="{% trans %}Choose number of items per page{% endtrans %}"
                            class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">{% trans %}Per page{% endtrans %}: 15 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ current_url(per_page=30) }}">30</a></li>
                        <li><a href="{{ current_url(per_page=60) }}">60</a></li>
                        <li><a href="{{ current_url(per_page=90) }}">90</a></li>
                        <li><a href="{{ current_url(per_page=-1) }}">{% trans %}All{% endtrans %}</a></li>
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {% if 'search' in show %}
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        {% endif %}

    </div>
{%- endmacro -%}

{%- macro ARG_LINK(name, argdict, combine=False, full_url=False) -%}
    {#    {{ 'req ' +request.args|urlencode+' vs new '+url_with}}#}
    {% do argdict.update({'page':none}) %} {# Remote page reference as may not be valid after filtering #}
    {% if in_current_args(argdict) %} {# all non-zero argdict in query_string #}
        {# query_string without all parameters in argdict #}
        <a href="{{ current_url(combine, full_url=full_url, **dict.fromkeys(argdict.keys(), none)) }}"
           class="btn btn-info btn-xs">{{ name }} &times;</a>

    {% else %}
        {# query_string with all parameters in argdict added #}
        <a href="{{ current_url(combine, full_url=full_url, **argdict) }}" class="btn btn-default btn-xs">{{ name }}</a>
    {% endif %}
{%- endmacro -%}


{%- macro ORDER_BY_LINK(model_class, args, field_name) -%}
    {% set order_by = args['order_by'] %}
    {% set name = model_class._fields[field_name].verbose_name %}
    {% if field_name in order_by %}
        <a href="{{ current_url(order_by='-'+field_name) }}">{{ name }} <span class="caret caret-up"></span></a>
    {% elif '-'+field_name in order_by %}
        <a href="{{ current_url(order_by=field_name) }}">{{ name }} <span class="caret"></span></a>
    {% else %}
        <a href="{{ current_url(order_by=field_name) }}">{{ name }} </a>
    {% endif %}
{%- endmacro -%}


{%- macro CONFIRM_MODAL(title, action_url, action) -%}
    <div class="modal fade bs-modal-sm" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ _('Are you sure you want to') }} {{ action }}
                        "{{ title }}"?</h4>
                </div>
                <div class="modal-body">
                    <form id="confirmform" method="post" action="{{ action_url }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                        <button type="submit" class="btn btn-danger">{{ _('Yes') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%- endmacro -%}

{%- macro EDIT_BUTTON(patch_url) -%}
    <li>
        <a class="btn btn-success" href="{{ patch_url }}">
            <span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}
        </a>
    </li>
{%- endmacro -%}

{%- macro SAVE_BUTTON(form) -%}
    <li>
        <button type="submit" form="{{ form }}" class="btn btn-success">
            <span class="glyphicon glyphicon-cloud-upload"></span> {{ _('Save') }}
        </button>
    </li>
{%- endmacro -%}

{%- macro CANCEL_BUTTON(cancel_url) -%}
    <li>
        <a class="btn btn-default" href="{{ cancel_url }}">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ _('Cancel') }}
        </a>
    </li>
{%- endmacro -%}

{%- macro DELETE_BUTTON() -%}
    <li>
        <a class="btn btn-danger" href="#confirm-modal" data-toggle="modal">
            <span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}
        </a>
    </li>
{%- endmacro -%}

{%- macro NEW_BUTTON(new_url, title='New') -%}
    <li>
        <a class="btn btn-info" href="{{ new_url }}"><span
            class="glyphicon glyphicon-plus-sign"></span> {{ _(title) }}
        </a>
    </li>
{%- endmacro -%}

{%- macro CARD(title, text, image) -%}
    <div class="card">
        <div class="bgimg" style="background-image: url('{{ image }}');"></div>
        <div class="card-block">
            <h4 class="card-title">{{ title }}</h4>
            <p class="card-text">{{ text }}</p>
        </div>
    </div>
{%- endmacro -%}

{%- macro GALLERY_ITEM_STYLE(aspect_ratio, max_aspect=4.0) -%}
    width: {{ 100.0*aspect_ratio/max_aspect }}%; flex-grow: {{ aspect_ratio }}
{%- endmacro -%}

{%- macro BREADCRUMBS() -%} {# positional args will be added to varargs, assumed to be tuples of (url, title) #}
    <a href="{{ varargs[0][0] }}"><span class="glyphicon glyphicon-home"></span></a>
    {%- for i in range(1, varargs|length-1) -%}<span style="font-family: serif"> &raquo; </span><a href="{{ varargs[i][0] }}">{{ varargs[i][1] }}</a>{%- endfor -%}
    &nbsp;<span style="font-family: serif"> &raquo; </span><span class="active">{{ varargs[-1][1] }}</span>
{%- endmacro -%}