{% extends "mail/one_column_mail.html" %}

{% set invite_url = 'bla' %}

{% block preview %}{{subject}}{% endblock %}

{% block content %}
<p>{%- trans -%}
We would be very happy if you would join us as user of Helmgast.se! It's a web platform
for roleplaying gamers - game masters, players and publishers alike. If you want to 
join, just click below and register!
{%- endtrans -%}</p>
<table>
    <tr>
        <td class="padding">
            <p><a class="btn btn-primary " title="{{_('Verify email')}}" href="{{invite_url}}" target="_blank">{% trans %}Join Helmgast{% endtrans %}</a></p>
        </td>
    </tr>
</table>
{% endblock %}