{% extends "mail/_page.html" if not parent_template else parent_template %}

{% block header %}
<h4 class="modal-title">{{_('Send email')}}</h4>
{% endblock %}

{% block body %}

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <!-- content -->
            <div class="content">

            <table>
                <tr>
                    <td>
                        <p><em>{% block preview %}Email from Helmgast... {% endblock %}</em></p>
                        <img alt="Helmgast" src="https://gallery.mailchimp.com/4412a3ce4ac556de77513666b/images/52203b43-b091-40c9-b4f5-ee3e5df197ae.jpg" width="100%" style="max-width:900px; padding-bottom: 0; display: inline !important; vertical-align: bottom;">

                        <h1>{{ self.subject() }}</h1>
                        {% block content %}
                        <h2>How do I use it?</h2>
                        <p>All the information you need is on GitHub.</p>
                        <table>
                            <tr>
                                <td class="padding">
                                    <p><a href="https://github.com/leemunroe/html-email-template" class="btn btn-primary">View the source and instructions on GitHub</a></p>
                                </td>
                            </tr>
                        </table>
                        {% endblock %}
                    </td>
                </tr>
            </table>
            </div>
            <!-- /content -->
            
        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">
            
            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                        <p><a href="https://www.facebook.com/helmgast"><img style="vertical-align: middle;margin-right: 5px;" width="72" height="30" src="https://gallery.mailchimp.com/4412a3ce4ac556de77513666b/images/adc42642-7da1-49c2-b9af-b7e9a3a41a97.png">Helmgast on Facebook!</a></p>
                            <p>You are receiving this email to {{user.email if user}} as a user of <a href="http://helmgast.se" class="utilityLink">http://helmgast.se</a></p>
                            <p><em>Copyright © 2015 Helmgast AB, All rights reserved.<br>
                            Surbrunnsgatan 33, Stockholm 113 48, Sweden</em></p>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->
            
        </td>
        <td></td>
    </tr>
</table>

{% endblock %}

{% block form %}
<form method="post" action="{{request.url}}" class="form-horizontal">
    {% block in_form %}
    <div class="form-group form-group-sm">
    <label for="to_field" class="col-xs-2 control-label">To:</label>
    <div class="col-xs-10">
        {{mailform.to_field(class="form-control input-sm")}}
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label for="from_field" class="col-xs-2 control-label">From:</label>
    <div class="col-xs-10">
        {{mailform.from_field(class="form-control input-sm")}}
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label for="subject" class="col-xs-2 control-label">Subject:</label>
    <div class="col-xs-10">
        {{mailform.subject(class="form-control input-sm")}}
    </div>
  </div>
   {% endblock %}
</form>
{% endblock %}

{% block submit_title %}{{ _('Send') }}{% endblock %}

