{# 
Order confirmation email.
Should be sent when an ordered is created (checkout) and when
an ordered is changed for any reason. If the order is changed, make sure to 
highlight what is changing, e.g. status or address.

Should be sent to lekbergs as well, e.g. a copy?

Data:

user
order (receipt)

Also has a variant for crowdfunding.
#}

{% extends "mail/base.html" %}

{% block subject %}Thank you for your order!{% endblock %}

{% block preview %}Order confirmation on helmgast.se{% endblock %}

{% block content %}

<p>Thank you NN for your order at helmgast.se! Please see your receipt below:</p>

<p>Your order NN have been updated, please see the updates below. If you have
any concern with this update, please contact us at <a href="mailto:info@helmgast.se">
info@helmgast.se</a><p>

<p><em>You received this email as a confirmation of your purchase order at helmgast.se.
Please read the terms and conditions of purchase here.</em></p>
{% endblock %}