
{% extends "mail/one_column_mail.html" %}

{% block preview %}{% trans %}Order confirmation on helmgast.se{% endtrans %}{% endblock %}

{% block content %}

{% trans user=user.display_name() %}<p>Thank you {{user}} for your order at helmgast.se! Please see your receipt below:</p>{% endtrans %}

{% include "shop/order_table.html" %}

{% trans %}<p><em>You received this email as a confirmation of your purchase order at helmgast.se.
Please read the terms and conditions of purchase here.</em></p>{% endtrans %}
{% endblock %}