{% extends "social/_root.html" if not parent_template else parent_template %}

{% set members=group.members if group else [] %}

{% block content_title %}{{ group.title if group }}{% endblock %}
{% block content_tagline %}{% endblock %}

{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.homepage'), _('Home')),
        (url_for('social.GroupsView:index'), _('Groups')),
        (url_for('social.GroupsView:get', id=group.slug), self.content_title())

    ) }}{% endblock %}

{% block actionbar %}{{ super() }}
    {% if args.get('intent', None) == 'patch' %}
        {# We are editing #}
        {{ MACRO.SAVE_BUTTON('groupform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('social.GroupsView:get', id=group.slug)) }}
        {{ MACRO.DELETE_BUTTON() }}
    {% elif args.get('intent', None) == 'post' %}
        {# We are creating new resource #}
        {{ MACRO.SAVE_BUTTON('groupform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('social.GroupsView:get', id=group.slug)) }}
    {% else %}
        {# We are viewing #}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['group'].authorize('edit', res=group)) %}
            {{ MACRO.EDIT_BUTTON(url_for('social.GroupsView:get', id=group.slug, intent='patch')) }}
            {{ MACRO.DELETE_BUTTON() }}
        {% endcall %}
    {% endif %}
{% endblock %}

{% block content %}{% block inline %}
    {% if group_form %}
        <form id="groupform" method="post" action="{{ action_url }}">
    {% endif %}
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ _('Username') }}</th>
                <th>{{ _('Real name') }}</th>
                <th>{{ _('Role') }}</th>
            </tr>
            </thead>
            <tbody>
            {%- for member in members -%}
                {% set member_form = group_form.members[loop.index0] if group_form %}
                {% include "social/member_item.html" %}
            {%- endfor -%}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h5>{{ _('Details') }}</h5>
        {{ MACRO.FORM_FIELD(group_form.description, controlclass=' content-editor') if group_form else group.description|markdown }}
        {{ MACRO.FORM_FIELD(group_form.title) if group_form else group.title }}
        {{ MACRO.FORM_FIELD(group_form.location) if group_form else group.location }}

        <table class="table">
            <tr>
                <th>{{ _('Members') }}</th>
                <td></td>
            </tr>
            <tr>
                <th>{{ _('Meetings') }}</th>
                <td><span class="badge">0</span></td>
            </tr>
        </table>

    </div>
</div>
{% if group_form %}
    {{ group_form.csrf_token }}
    <div class="row form-actions">
        <div class="col-sm-12">
        {% if args.get('intent', None) %}
            <ul class="action-buttons action-buttons-footer">
                {{ self.actionbar() }}
            </ul>
        {% endif %}
        </div>
    </div></form>{% endif %}
{% endblock %}{% endblock %}
