{% extends "social/_root.html" if not parent_template else parent_template %}
{% import 'includes/macros.html' as MACRO %}


{% block content_title %}{{ user }}{% endblock %}
{% block content_tagline %}{{ user.xp }} XP{% endblock %}

{% block cssimports %}
    {{ super() }}
    {# Makes the avatar have the background image specific to the current user's gravatar #}
    <style>
        .avatar:empty {
            background-image: url({{ user.gravatar_url(256)|safe }});
        }
    </style>
{% endblock %}


{% block breadcrumbs %}{{ MACRO.BREADCRUMBS(
    (url_for('world.homepage'), _('Home')),
        (url_for('social.UsersView:index'), _('Users')),
        (url_for('social.UsersView:get', id=user.id), self.content_title())
    ) }}{% endblock %}

{% block actionbar %}
    {% if args.get('intent', None) == 'patch' %}
        {# We are editing #}
        {{ MACRO.SAVE_BUTTON('userform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('social.UsersView:get', id=user.id)) }}
        {#        {{ MACRO.DELETE_BUTTON() }}#}
    {% elif args.get('intent', None) == 'post' %}
        {# We are creating new resource #}
        {{ MACRO.SAVE_BUTTON('userform') }}
        {{ MACRO.CANCEL_BUTTON(url_for('social.UsersView:get', id=user.id)) }}
    {% else %}
        {# We are viewing #}
        {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('edit', res=user)) %}
            {{ MACRO.EDIT_BUTTON(url_for('social.UsersView:get', intent='patch', id=user.identifier())) }}
            {#            {{ MACRO.DELETE_BUTTON() }}#}
        {% endcall %}
    {% endif %}

    {#    {% call(privileged) MACRO.IS_ADMIN() %}#}
    {#    <li role="presentation"><a class="{{privileged}}" data-toggle="modal" data-target="#themodal" role="menuitem" tabindex="-1" href="{{url_for('mail.mail_view', mail_type='verify', user=user.id, intent='post')}}"><span class="glyphicon glyphicon-hand-right"></span> {{_('Send reset link')}}</a></li>#}
    {#    <li role="presentation"><a class="{{privileged}}" href="{{url_for('auth.join', email=user.email, email_token=user.create_token(), reset=true, username=user.username, location=user.location, realname=user.realname, _external=true, _scheme='')}}"><span class="glyphicon glyphicon-hand-right"></span> {{_('Copy reset link')}}</a></li>#}
    {#    <li role="presentation"><a class="{{privileged}}" data-toggle="modal" data-target="#themodal" role="menuitem" tabindex="-1" href="{{url_for('mail.mail_view', mail_type='remind', user=user.id, intent='post')}}"><span class="glyphicon glyphicon-hand-right"></span> {{_('Remind login')}}</a></li>#}
    {#    {% endcall %}#}
{% endblock %}

{% block header %}
    {{ super() }}
    {% if user_form %}
        <form id="userform" class="form-horizontal" role="form" method="post" action="{{ action_url }}">
    {% endif %}
{% endblock %}

{% block post_content %}
    {% if user_form %}
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.admin %}
        <div class="alert alert-info">User is an admin</div>
    {% endif %}
    {% if user_form and user.status == 'invited' %}
        <div class="well">
            <strong>{% trans %}This user is not yet active!{% endtrans %}</strong> {% trans %}Save to complete the user and make it active.{% endtrans %}<br>
            {% trans %}If you've had an account before and don't wish to create this new user, press Cancel, log in with the old user, and then click "Merge" below to add more login methods.{% endtrans %}
        </div>
        
    {% endif %}

    {% if user_form %}
        <div class="form-group">
            <label class="control-label col-sm-3" for="auth_sources">{% trans %}Linked accounts{% endtrans %}</label>
            <div class="col-sm-9">
            <table class="table" id="authsources">
                {% for email, providers in user.identities_by_email().items() %}
                    <tr>
                        <td>{{ email }}{%- if loop.first -%}{{_(' (primary)')}}{%- endif-%}</td>
                        <td>{%- for p in providers -%}<span class="badge">{{p}}</span>{%- endfor -%}</td>
                    </tr>
                {% endfor %}
            </table>
            {% if user_form %}
                {# {% if user.status == 'invited' %}
                    <button type="button" class="btn btn-small btn-primary" id="lock-mail">
                        {% trans %}Merge with existing user{% endtrans %}</button>
                {% else %} #}
                    <a href="{{auth0_url(callback_args={'link': user.email, 'next': request.url}, prompt='login')}}"  class="btn btn-small btn-primary" id="lock-activate">
                    {% trans %}Link other email{% endtrans %}</a>
                {# {% endif %} #}
            {% endif %}
            </div>
        </div>
        {% if user and user==g.user %}
            {{ MACRO.FORM_FIELD(user_form.username, labelclass="col-sm-3", controlwrap="col-sm-9") }}
        {% endif %}
        {{ MACRO.FORM_FIELD(user_form.realname, labelclass="col-sm-3", controlwrap="col-sm-9") }}
        {{ MACRO.FORM_FIELD(user_form.location, labelclass="col-sm-3", controlwrap="col-sm-9") }}
        {{ MACRO.FORM_FIELD(user_form.description, labelclass="col-sm-3", controlwrap="col-sm-9", controlclass="content-editor") }}
        {{ MACRO.FORM_FIELD(user_form.newsletter, labelclass="col-sm-3", controlwrap="col-sm-9") }}

    {% else %}
        <table class="table">       
            {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('edit', res=user)) %}
            <tr><th>{{ _('Linked accounts') }}</th>
                <td>
                <table class="table" id="authsources">
                    {% for email, providers in user.identities_by_email().items() %}
                        <tr>
                            <td>{{ email }}{%- if loop.first -%}{{_(' (primary)')}}{%- endif-%}</td>
                            <td>{%- for p in providers -%}<span class="badge">{{p}}</span>{%- endfor -%}</td>
                        </tr>
                    {% endfor %}
                </table>
                <td>
            </tr>  
                <tr>
                    <th>{{ _('Email') }}</th>
                    <td>
                        <small>{{ user.email }}</small>
                    </td>
                </tr>
            {% endcall %}

            <tr>
                <th>{{ _('Username') }}</th>
                <td>
                    <small>{{ user.username|default(_('No data'), true) }}</small>
                </td>
            </tr>
            <tr>
                <th>{{ _('Name') }}</th>
                <td>{{ user.realname|default(_('No data'), true) }}</td>
            </tr>
            <tr>
                <th>{{ _('Location') }}</th>
                <td>{{ user.location|default(_('No data'), true) }}</td>
            </tr>
            <tr>
                <th>{{ _('Joined') }}</th>
                <td>{{ user.join_date|datetimeformat(format='short') }}</td>
            </tr>
            <tr>
                <th>{{ _('Last login') }}</th>
                <td>{{ user.last_login|datetimeformat(format='short') if user.last_login else _('Not logged in yet') }}</td>
            </tr>

            {#
    <tr><th>{{ _('Following') }}</th>
    <td><span class="badge">N/A</span></td></tr>
    <tr><th>{{ _('Followers') }}</th>
    <td><span class="badge">N/A</span></td></tr>
    #}
        </table>
        <div class="well">{{ user.description|default(_('No data'), true)|markdown }}</div>
        {% call(privileged) MACRO.AUTHORIZED(access_policy['user'].authorize('edit', res=user)) %}

            <h3>{{ _('History') }}</h3>
            <table class="table">
                <tr>
                    <th>{{ _('Time') }}</th>
                    <th>{{ _('Activity') }}</th>
                    <th>{{ _('XP') }}</th>
                </tr>
                {% for event in events %}
                    <tr>
                        <td>
                            <small>{{ event.created|datetimeformat(format='medium') }}</small>
                        </td>
                        <td>{{ event.action_string() }}</td>
                        <td>{{ event.xp }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endcall %}

    {% endif %}

{% if user_form %}
    <div class="row form-actions">
        <div class="col-sm-12">
            {{ user_form.csrf_token }}
            {% if args.get('intent', None) %}
                <ul class="action-buttons action-buttons-footer">
                    {{ self.actionbar() }}
                </ul>
            {% endif %}
        </div>
    </div></form>{% endif %}

{% endblock %}

{% block asides %}
    <img id="avatar" src="{{ user.avatar_url if user.avatar_url else user.gravatar_url(256)}}" 
        class="img-polaroid img-responsive">
    {% if user_form %}
        <small>{{ _('Click to upload your avatar, by default we will use your <a href="https://en.gravatar.com/site/signup/">Gravatar</a>') }}</small>
        <div class="form-group">
        {{user_form.avatar_url(class="form-control input-sm", form_id="userform")}}
        </div>
        
    {% endif %}
{% endblock asides %}

{% block topjs %}
    {{ super() }}
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  
{% endblock topjs %}

{% block js_bottom %}
    {{ super() }}
    <script type="text/javascript">

    {% if user_form %}

    var avatarWidget = cloudinary.createUploadWidget({
        cloud_name: 'helmgast',
        upload_preset: 'vzg4qkqx',
        sources: ['local', 'url'],
        theme: 'minimal',
        multiple: 'false',
        resourceType: 'image',

    }, (error, result) => { 
        if (!error && result && result.event === "success") {
            $('#avatar_url').val(result.info.secure_url);
            $('#avatar').attr("src", result.info.secure_url);
            avatarWidget.close();
        } else if (error) {
            utils.flash_error("Error uploading avatar: "+error);
        }        
    });
    $('#avatar').click(function (e) {
        avatarWidget.open();
    });

    
    {% endif %}
    </script>

{% endblock %}
